[2019-11-19 11:54] wxmerkt commented on #594
In GitLab by @proyan on Nov 7, 2019, 15:37

Makes sense. I tried with
[code]
and it failed. Thanks, I'll fix the above.

[2019-11-19 11:54] wxmerkt commented on #594
In GitLab by @proyan on Nov 7, 2019, 15:43

Is @jcarpent okay with an `updateCentroidalDynamics` in pinocchio?

[2019-11-19 11:54] wxmerkt commented on #594
In GitLab by @proyan on Nov 7, 2019, 19:59

changed this line in [version 5 of the diff](/loco-3d/crocoddyl/merge_requests/257/diffs?diff_id=1344&start_sha=84f1818f26ee2b25c7c1ee12c5f843902db13d1d#2d4620fc274f2c6a1f4f318e00f3c4beaab7d5ce_25_25)

[2019-11-19 11:54] wxmerkt commented on #594
In GitLab by @proyan on Nov 7, 2019, 19:59

changed this line in [version 5 of the diff](/loco-3d/crocoddyl/merge_requests/257/diffs?diff_id=1344&start_sha=84f1818f26ee2b25c7c1ee12c5f843902db13d1d#134fee63eb662951908273c0bb5957a8a0a32050_18_18)

[2019-11-19 11:54] wxmerkt commented on #594
In GitLab by @proyan on Nov 7, 2019, 19:59

changed this line in [version 5 of the diff](/loco-3d/crocoddyl/merge_requests/257/diffs?diff_id=1344&start_sha=84f1818f26ee2b25c7c1ee12c5f843902db13d1d#4f8234831ed69af54bf55b49c2478c9b1800651e_68_71)

[2019-11-19 11:54] wxmerkt commented on #594
In GitLab by @proyan on Nov 7, 2019, 19:59

added 11 commits

<ul><li>84f1818f...df4f47cc - 5 commits from branch <code>loco-3d:devel</code></li><li>a65df96f - [costs][momentum] create momentum cost</li><li>77f8143d - [actionmodel][contactdyn] compute centroidal info as well.</li><li>cc01719f - [cost][centroidal-momentum] binding for hg cost</li><li>d316f9aa - [cost][momentum][cmake] install cost<

[2019-11-19 11:54] wxmerkt commented on #594
In GitLab by @proyan on Nov 7, 2019, 20:04

I would rather propose to create an issue on pinocchio, and if it is accepted, we change it here. I don't think we need to hold up this PR until this new function is accepted. This PR should be ready to go now.

[2019-11-19 11:54] wxmerkt commented on #594
In GitLab by @proyan on Nov 7, 2019, 20:20

added 1 commit

<ul><li>2dbfb543 - [unittest][momentum] simple python test to check the deriv of momentum cost...</li></ul>

[Compare with previous version](/loco-3d/crocoddyl/merge_requests/257/diffs?diff_id=1345&start_sha=e107cf95fed5144ac7791ddc423aa19c8de19b12)

[2019-11-19 11:54] wxmerkt commented on #594
In GitLab by @proyan on Nov 7, 2019, 20:21

I've added a simple unittest using diff-action-num-diff to verify the class.

[2019-11-19 11:54] wxmerkt commented on #594
In GitLab by @proyan on Nov 7, 2019, 20:35

added 1 commit

<ul><li>1a51f732 - [unittest][momentum] simple python test to check the deriv of momentum cost...</li></ul>

[Compare with previous version](/loco-3d/crocoddyl/merge_requests/257/diffs?diff_id=1346&start_sha=2dbfb543e7ed9eaaee3b4c4f11ab039707aed732)

[2019-11-19 11:54] wxmerkt commented on #594
In GitLab by @proyan on Nov 7, 2019, 20:42

added 9 commits

<ul><li>1a51f732...1c60c4db - 2 commits from branch <code>loco-3d:devel</code></li><li>338df84e - [costs][momentum] create momentum cost</li><li>71e99e64 - [actionmodel][contactdyn] compute centroidal info as well.</li><li>4fa40e80 - [cost][centroidal-momentum] binding for hg cost</li><li>4ad7a735 - [cost][momentum][cmake] install cost</

[2019-11-19 11:55] wxmerkt commented on #594
In GitLab by @cmastalli on Nov 8, 2019, 00:55

I would prefer to work on Pinocchio first. There is no reason to decrease efficiency since we are not using these types of cost now.

@proyan I believe you could handle in a day of work, could you do it tomorrow?

[2019-11-19 11:55] wxmerkt commented on #594
In GitLab by @cmastalli on Nov 8, 2019, 00:55

You need to fix the Python format:

[2019-11-19 11:55] wxmerkt commented on #594
In GitLab by @proyan on Nov 8, 2019, 10:32

added 15 commits

<ul><li>bf7c62dd...05825d28 - 7 commits from branch <code>loco-3d:devel</code></li><li>b9a93fe2 - [costs][momentum] create momentum cost</li><li>0ffdc807 - [actionmodel][contactdyn] compute centroidal info as well.</li><li>5754cdf7 - [cost][centroidal-momentum] binding for hg cost</li><li>5b5f23a8 - [cost][momentum][cmake] install cost<

[2019-11-19 11:55] wxmerkt commented on #594
In GitLab by @proyan on Nov 8, 2019, 10:32

Formatting done. THanks.

[2019-11-19 11:55] wxmerkt commented on #594
In GitLab by @cmastalli on Nov 14, 2019, 11:54

@proyan due to the transition to Github, I can't wait for the Pinocchio release.

So, it's OK to merge this PR as it is.

I have created an issue in this topic (https://github.com/loco-3d/crocoddyl/issues/5). Could you handle it asap as the Pinocchio release it's done?

[2019-11-19 11:55] wxmerkt commented on #594
In GitLab by @cmastalli on Nov 14, 2019, 11:54

resolved all threads

[2019-11-19 11:55] wxmerkt commented on #594
In GitLab by @cmastalli on Nov 14, 2019, 11:56

added 79 commits

<ul><li>5f7b484b...26e00101 - 78 commits from branch <code>loco-3d:devel</code></li><li>108b4d61 - Merge branch &#39;devel&#39; into &#39;topic/cmomentum&#39;</li></ul>

[Compare with previous version](/loco-3d/crocoddyl/merge_requests/257/diffs?diff_id=1387&start_sha=5f7b484b386ecdfff07215a459412cc4df7bdfcc)

[2019-11-19 11:55] wxmerkt commented on #594
In GitLab by @cmastalli on Nov 14, 2019, 12:12

added 2 commits

<ul><li>d1213ff3 - [cleanup] Formatted the Python code</li><li>eedb6d03 - [cleanup] Used Vector6d to expose the momentum reference in both: c++ and Python</li></ul>

[Compare with previous version](/loco-3d/crocoddyl/merge_requests/257/diffs?diff_id=1388&start_sha=108b4d6134a2af10983a9b80f679179967ccbf57)

[2019-11-19 11:55] wxmerkt commented on #594
In GitLab by @cmastalli on Nov 14, 2019, 12:12

enabled an automatic merge when the pipeline for eedb6d03d3ddde8e836eb8ee161114a372e46a03 succeeds

[2019-11-19 11:55] wxmerkt commented on #594
In GitLab by @proyan on Nov 14, 2019, 12:49

These changes have nothing to do with this PR. It would be difficult to keep track of such changes if they are all merged together in an unrelated PR. Let's not do that :)

[2019-11-19 11:55] wxmerkt commented on #594
In GitLab by @proyan on Nov 14, 2019, 12:52

I see this was a previous merge.

[2019-11-19 11:55] wxmerkt commented on #594
In GitLab by @proyan on Nov 14, 2019, 12:52

resolved all threads

[2019-11-19 11:55] wxmerkt commented on #594
In GitLab by @cmastalli on Nov 14, 2019, 13:12

merged

[2019-11-19 11:55] wxmerkt commented on #594
In GitLab by @cmastalli on Nov 14, 2019, 13:12

mentioned in commit 7f2abde86aa95c64bfd8610132a818f3eacbdc67

[2019-11-19 11:55] #594 closed

[2019-11-19 11:55] wxmerkt opened #595 "Update Crocoddyl with latest changes in example-robot-data + use ANYmal for examples - [merged]"
In GitLab by @cmastalli on Nov 7, 2019, 16:54

_Merges topic/update-robot-data -> devel_

[2019-11-19 11:55] wxmerkt commented on #595
In GitLab by @cmastalli on Nov 7, 2019, 16:54

enabled an automatic merge when the pipeline for ee88d2df0b46bbd4665d335d5e43038431308a29 succeeds

[2019-11-19 11:55] wxmerkt commented on #595
In GitLab by @cmastalli on Nov 7, 2019, 17:28

merged

[2019-11-19 11:55] wxmerkt commented on #595
In GitLab by @cmastalli on Nov 7, 2019, 17:28

mentioned in commit df4f47cc5e696b56acd01f0404fb532cfc363794

[2019-11-19 11:56] #595 closed

[2019-11-19 11:56] wxmerkt opened #596 "Fixed documentation of contacts, reported in #281 - [merged]"
In GitLab by @cmastalli on Nov 7, 2019, 17:09

_Merges topic/cleanup-doc -> devel_

[2019-11-19 11:56] wxmerkt commented on #596
In GitLab by @cmastalli on Nov 7, 2019, 17:09

enabled an automatic merge when the pipeline for 1fc63594dce6af703fdb5c9b2805300d118b46cc succeeds

[2019-11-19 11:56] wxmerkt commented on #596
In GitLab by @cmastalli on Nov 7, 2019, 20:04

merged

[2019-11-19 11:56] wxmerkt commented on #596
In GitLab by @cmastalli on Nov 7, 2019, 20:04

mentioned in commit 1c60c4db716098004e35d0c22c84ca88fe40026d

[2019-11-19 11:56] #596 closed

[2019-11-19 11:56] wxmerkt opened #597 "Cleanup and minor bugs (boxddp plot and exposition of data_x/u in DAMNumDiff) - [merged]"
In GitLab by @cmastalli on Nov 7, 2019, 19:44

_Merges topic/cleanup -> devel_

This PR does:
 - solved #282,
 - fixed problem with plot in quadruped-boxddp example
 - added feature to the plotter

fyi @proyan

[2019-11-19 11:56] wxmerkt commented on #597
In GitLab by @cmastalli on Nov 7, 2019, 19:45

enabled an automatic merge when the pipeline for 80634a343bb78a7bb4e4022c42c42c015680fef3 succeeds

[2019-11-19 11:56] wxmerkt commented on #597
In GitLab by @cmastalli on Nov 7, 2019, 23:00

merged

[2019-11-19 11:56] wxmerkt commented on #597
In GitLab by @cmastalli on Nov 7, 2019, 23:00

mentioned in commit 05825d28e97750a7457af267400b33543200a74d

[2019-11-19 11:56] #597 closed

[2019-11-19 11:56] wxmerkt opened #598 "[action] Addded actuation to DAMFreeFwdDynamics - [merged]"
In GitLab by @jmarti on Nov 8, 2019, 07:48

_Merges DifferentialActionModelFreeFwdDynamics_overloaded -> devel_

*Current behavior*:
The DAMFreeFwdDynamics (DAMFFD) assumes that the actuation model is the fully actuated one.

*Desired behavior*:
Pass the actuation model to the DAMFFD as a parameter in the constructor.

[2019-11-19 11:56] wxmerkt commented on #598
In GitLab by @jmarti on Nov 8, 2019, 07:49

changed the description

[2019-11-19 11:56] wxmerkt commented on #598
In GitLab by @cmastalli on Nov 8, 2019, 09:58

If you're missing that the actuation model might depends on $`\mathbf{x}`$, i.e, $`\boldsymbol{\tau}(\mathbf{x},\mathbf{u})`$. Therefore you need to add the following lines of code:
[code]

[2019-11-19 11:56] wxmerkt commented on #598
In GitLab by @cmastalli on Nov 8, 2019, 09:59

Eigen creates an internal object with this expression, to avoid that we use `noalias()`, i.e.:
[code]

[2019-11-19 11:56] wxmerkt commented on #598
In GitLab by @cmastalli on Nov 8, 2019, 10:07

same as https://gepgitlab.laas.fr/loco-3d/crocoddyl/merge_requests/262#note_7824. Write all these lines as:
[code]

[2019-11-19 11:56] wxmerkt commented on #598
In GitLab by @cmastalli on Nov 8, 2019, 10:20

There are other actions to be done:
 1. Update the Python bindings
 - https://gepgitlab.laas.fr/loco-3d/crocoddyl/blob/devel/bindings/python/crocoddyl/multibody/actions/free-fwddyn.hpp#L27. See how it's done in the contact case
 2. Update arm examples, notebooks and benchmark
 - https://gepgitlab.laas.fr/loco-3d/crocoddyl/blob/devel/examples/arm_manip

[2019-11-19 11:56] wxmerkt commented on #598
In GitLab by @cmastalli on Nov 8, 2019, 10:28

assigned to @cmastalli

[2019-11-19 11:56] wxmerkt commented on #598
In GitLab by @jmarti on Nov 8, 2019, 11:20

don't you have to add also `d->pinocchio.ddq_dq`?

i.e.: `d->Fx.leftCols(nv) = d->pinocchio.ddq_dq - d->pinocchio.Minv * d->pinocchio.dtau_dq`

[2019-11-19 11:57] wxmerkt commented on #598
In GitLab by @jmarti on Nov 8, 2019, 12:16

changed this line in [version 2 of the diff](/loco-3d/crocoddyl/merge_requests/262/diffs?diff_id=1353&start_sha=40d6e015f39c9c1e129798f4f6573eac77aac953#7b8d8bc3d5171b82046945c4d0c62bb8767a7695_90_89)

[2019-11-19 11:57] wxmerkt commented on #598
In GitLab by @jmarti on Nov 8, 2019, 12:16

changed this line in [version 2 of the diff](/loco-3d/crocoddyl/merge_requests/262/diffs?diff_id=1353&start_sha=40d6e015f39c9c1e129798f4f6573eac77aac953#7b8d8bc3d5171b82046945c4d0c62bb8767a7695_91_89)

[2019-11-19 11:57] wxmerkt commented on #598
In GitLab by @jmarti on Nov 8, 2019, 12:16

added 2 commits

<ul><li>1b28eff2 - [action] modified python bindings</li><li>1a92c089 - Bindings modified</li></ul>

[Compare with previous version](/loco-3d/crocoddyl/merge_requests/262/diffs?diff_id=1353&start_sha=40d6e015f39c9c1e129798f4f6573eac77aac953)

[2019-11-19 11:57] wxmerkt commented on #598
In GitLab by @jmarti on Nov 8, 2019, 12:18

added 1 commit

<ul><li>d9d312ef - Added the actuationModel to the arm example</li></ul>

[Compare with previous version](/loco-3d/crocoddyl/merge_requests/262/diffs?diff_id=1354&start_sha=1a92c0894c96e6a4e9ead41fcc1618c6f3a3ee38)

[2019-11-19 11:57] wxmerkt commented on #598
In GitLab by @jmarti on Nov 8, 2019, 12:22

added 1 commit

<ul><li>8118c7e6 - [example cpp]</li></ul>

[Compare with previous version](/loco-3d/crocoddyl/merge_requests/262/diffs?diff_id=1355&start_sha=d9d312eff2419825ebca292258877abc5dd024ec)

[2019-11-19 11:57] wxmerkt commented on #598
In GitLab by @jmarti on Nov 8, 2019, 12:48

added 1 commit

<ul><li>6da29fa8 - [arm manipulation ipynb] Added actuation to DAMFFD</li></ul>

[Compare with previous version](/loco-3d/crocoddyl/merge_requests/262/diffs?diff_id=1356&start_sha=8118c7e6ffa41c7b0419dc699b9d4da936b4d697)

[2019-11-19 11:57] wxmerkt commented on #598
In GitLab by @jmarti on Nov 8, 2019, 13:08

added 1 commit

<ul><li>7af4cb8e - Added actuation</li></ul>

[Compare with previous version](/loco-3d/crocoddyl/merge_requests/262/diffs?diff_id=1357&start_sha=6da29fa8e38ba52026cfca53520dc53968645fbc)

[2019-11-19 11:57] wxmerkt commented on #598
In GitLab by @cmastalli on Nov 9, 2019, 15:28

Yes, you're right. It was a typing error, this is what I meant:
[code]

[2019-11-19 11:57] wxmerkt commented on #598
In GitLab by @cmastalli on Nov 9, 2019, 15:30

I updated these lines. I also had the typing error

[2019-11-19 11:57] wxmerkt commented on #598
In GitLab by @jmarti on Nov 12, 2019, 07:02

added 1 commit

<ul><li>2ff5cbce - Action model derivatives</li></ul>

[Compare with previous version](/loco-3d/crocoddyl/merge_requests/262/diffs?diff_id=1363&start_sha=7af4cb8e2ff59b4d3dd0bee9366220be31aa67f8)

[2019-11-19 11:57] wxmerkt commented on #598
In GitLab by @cmastalli on Nov 12, 2019, 16:58

added 50 commits

<ul><li>2ff5cbce...e8b1db38 - 42 commits from branch <code>loco-3d:devel</code></li><li>3eca6463 - [action] Addded actuation to DAMFreeFwdDynamics</li><li>1a89b219 - [action] modified python bindings</li><li>8c32863a - Bindings modified</li><li>f1810573 - Added the actuationModel to the arm example</li><li>2a180fd7 - [example cpp]</

[2019-11-19 11:57] wxmerkt commented on #598
In GitLab by @cmastalli on Nov 12, 2019, 18:47

added 1 commit

<ul><li>134c2378 - [action] Added last details of actuation model + fixed all examples, benchmarks and notebooks</li></ul>

[Compare with previous version](/loco-3d/crocoddyl/merge_requests/262/diffs?diff_id=1369&start_sha=1e64e7445b45495d90f8a8c551a374c63451181e)

[2019-11-19 11:57] wxmerkt commented on #598
In GitLab by @cmastalli on Nov 12, 2019, 18:47

resolved all threads

[2019-11-19 11:57] wxmerkt commented on #598
In GitLab by @cmastalli on Nov 12, 2019, 18:48

@jmarti I have finished the remaining task in this PR:
 - Added the derivatives of the actuation model for the RNEA case (c++ and Python)
 - Fixed all benchmarks, examples and notebooks

[2019-11-19 11:57] wxmerkt commented on #598
In GitLab by @cmastalli on Nov 12, 2019, 22:58

merged

[2019-11-19 11:57] wxmerkt commented on #598
In GitLab by @cmastalli on Nov 12, 2019, 22:58

mentioned in commit f75bb8aa30126c005d94e61f37e42693c0957532

[2019-11-19 11:57] wxmerkt commented on #598
In GitLab by @jmarti on Nov 14, 2019, 08:11

mentioned in merge request !251

[2019-11-19 11:57] #598 closed

[2019-11-19 11:57] wxmerkt opened #599 "Added trapezoidal integration of the cost in Euler integration - [merged]"
In GitLab by @cmastalli on Nov 11, 2019, 17:52

_Merges topic/integrate-cost -> devel_

Previously, the sympletic Euler integrator didn't include any integration rule for the cost function. In practice, it means that the cost model defined by the user was in discrete time.

The problem with this approach is that cost function changes if the user changes the step integration. Therefore, I included

[2019-11-19 11:58] wxmerkt commented on #599
In GitLab by @cmastalli on Nov 11, 2019, 17:53

changed the description

[2019-11-19 11:58] wxmerkt commented on #599
In GitLab by @cmastalli on Nov 11, 2019, 17:53

enabled an automatic merge when the pipeline for 44025877497875eb75c8b78939fa2efdff6096cb succeeds

[2019-11-19 11:58] wxmerkt commented on #599
In GitLab by @cmastalli on Nov 11, 2019, 18:11

merged

[2019-11-19 11:58] wxmerkt commented on #599
In GitLab by @cmastalli on Nov 11, 2019, 18:11

mentioned in commit 8bb4e73fb04ebabeb48f9d790ca79c575811558a

[2019-11-19 11:58] wxmerkt commented on #599
In GitLab by @wxmerkt on Nov 11, 2019, 18:56

We should document this and the variable `enable_integration_` in code as comments. We cannot expect the history of merge requests from Gepgitlab or GitHub to persist - while comments in code or in the git commit messages do.

[2019-11-19 11:58] #599 closed

[2019-11-19 11:58] wxmerkt opened #600 "Add Travis CI - [merged]"
In GitLab by @wxmerkt on Nov 12, 2019, 20:07

_Merges wxm-add-travis -> devel_

This is currently active and tested on my GitHub fork as described and referenced in https://gepgitlab.laas.fr/loco-3d/crocoddyl/issues/276#note_7962.

I have sent a request to activate Travis CI on GitHub's loco-3d organisation. From then on it will run on any PR made/commit pushed against GitHub once this PR is merge

[2019-11-19 11:58] wxmerkt commented on #600
In GitLab by @nim65s on Nov 12, 2019, 22:44

Hi @wxmerkt, and thanks for this work.

You are not going to like that, but we have a git submodule for this: https://github.com/jrl-umi3218/jrl-travis :)

[2019-11-19 11:58] wxmerkt commented on #600
In GitLab by @nim65s on Nov 12, 2019, 22:44

I think we should start forgetting about Python 2

[2019-11-19 11:58] wxmerkt commented on #600
In GitLab by @nim65s on Nov 12, 2019, 22:45

This should not be required ; the PYTHONPATH should be computed by CMake for the tests.

[2019-11-19 11:58] wxmerkt commented on #600
In GitLab by @nim65s on Nov 12, 2019, 22:46

Can't we use docker on travis ? This is duplicating what the linters are doing, which means we will have to think about updating all this for each change in the linters ?

[2019-11-19 11:58] wxmerkt commented on #600
In GitLab by @cmastalli on Nov 13, 2019, 00:16

assigned to @nim65s

[2019-11-19 11:58] wxmerkt commented on #600
In GitLab by @wxmerkt on Nov 13, 2019, 11:11

I am happy to change that at a later stage. For now it doesn't make a difference in unit testing.

[2019-11-19 11:58] wxmerkt commented on #600
In GitLab by @wxmerkt on Nov 13, 2019, 11:14

It has trouble importing `crocoddyl` otherwise which resides in `build/bindings/python`. This problem only gets resolved if you `make install`.

[2019-11-19 11:58] wxmerkt commented on #600
In GitLab by @wxmerkt on Nov 13, 2019, 11:16

We could use Docker. I believe that `.clang-format` should be included in the repository itself (so no `wget`) as is the `setup.cfg`. This should be fine for now. If there is a change in linter for the Gepetto team, it should not immediately mean an automatic update for Crocoddyl - as thus this solution should work.

[2019-11-19 11:58] wxmerkt commented on #600
In GitLab by @wxmerkt on Nov 13, 2019, 11:16

I have been aware of it, but don't want to rely on it here.

@cmastalli When you re-assign an open pull request to someone, please indicate what action you expect...

[2019-11-19 11:58] wxmerkt commented on #600
In GitLab by @cmastalli on Nov 13, 2019, 11:24

@wxmerkt when we run a test, examples or benchmarks, e.g.
[code]
the $PYTHONPATH is retrieved automatically by Cmake.

[2019-11-19 11:58] wxmerkt commented on #600
In GitLab by @wxmerkt on Nov 13, 2019, 11:27

changed this line in [version 2 of the diff](/loco-3d/crocoddyl/merge_requests/264/diffs?diff_id=1377&start_sha=ddd4f9864a5326744235aec51e6d9667835f9a96#12e6097b9df4c581ea8b5617adc7b82ceac29a5e_9_9)

[2019-11-19 11:58] wxmerkt commented on #600
In GitLab by @cmastalli on Nov 13, 2019, 11:27

@nim65s is the right person to review these changes, and I believe better than me.

I will delegate the responsibility to approve this PR.

[2019-11-19 11:59] wxmerkt commented on #600
In GitLab by @wxmerkt on Nov 13, 2019, 11:27

added 1 commit

<ul><li>cf8e6656 - [CI] Travis: Remove export of pythonpath</li></ul>

[Compare with previous version](/loco-3d/crocoddyl/merge_requests/264/diffs?diff_id=1377&start_sha=ddd4f9864a5326744235aec51e6d9667835f9a96)

[2019-11-19 11:59] wxmerkt commented on #600
In GitLab by @cmastalli on Nov 15, 2019, 15:00

@wxmerkt what is the status with this work?

Are we able to do the "move" today?

@nim65s do you have any further feedback?

[2019-11-19 11:59] wxmerkt commented on #600
In GitLab by @nim65s on Nov 15, 2019, 15:15

Well, these are only new files, and there is no impact on anything that was working before. It can be perfected, but that can be done outside of this MR ; so as long as it works, we can merge it.

[2019-11-19 11:59] wxmerkt commented on #600
In GitLab by @wxmerkt on Nov 15, 2019, 15:16

Yep, it is ready to merge and can be improved on later as required.

[2019-11-19 11:59] wxmerkt commented on #600
In GitLab by @nim65s on Nov 15, 2019, 15:46

resolved all threads

[2019-11-19 11:59] wxmerkt commented on #600
In GitLab by @nim65s on Nov 15, 2019, 15:47

enabled an automatic merge when the pipeline for cf8e66569701d31033eaa0623a0d31450403f16b succeeds

[2019-11-19 11:59] wxmerkt commented on #600
In GitLab by @nim65s on Nov 15, 2019, 17:51

merged

[2019-11-19 11:59] wxmerkt commented on #600
In GitLab by @nim65s on Nov 15, 2019, 17:51

mentioned in commit a8108207e9caf8b795ac6366fa41b6cb18c283df

[2019-11-19 11:59] wxmerkt commented on #600
In GitLab by @wxmerkt on Nov 15, 2019, 17:57

Thank you for merging. Can you please activate the Travis on the Loco-3D organisation on GitHub? I don't have the rights to do so.

[2019-11-19 11:59] wxmerkt commented on #600
In GitLab by @nim65s on Nov 16, 2019, 09:00

Done. And I triggered a build on devel: https://travis-ci.org/loco-3d/crocoddyl/builds/612738940

[2019-11-19 11:59] #600 closed

[2019-11-19 11:59] wxmerkt opened #601 "Now state can handle systems with root joints as S03 or Euclidean groups - [merged]"
In GitLab by @cmastalli on Nov 13, 2019, 11:40

_Merges topic/state-multibody-fix -> devel_

A proper solution needs to be developed in Pinocchio. For more details see the following issue:
https://github.com/stack-of-tasks/pinocchio/issues/949

I have provided this temporary-fix, since it's limiting us to apply the `StateMultibody` in fixed-base system with less than 6 DoF.
This issue was reported

[2019-11-19 11:59] wxmerkt commented on #601
In GitLab by @cmastalli on Nov 13, 2019, 11:40

enabled an automatic merge when the pipeline for b90350c6edd930954b8c78225b0534749e11e86f succeeds

[2019-11-19 11:59] wxmerkt commented on #601
In GitLab by @cmastalli on Nov 13, 2019, 14:29

merged

[2019-11-19 11:59] wxmerkt commented on #601
In GitLab by @cmastalli on Nov 13, 2019, 14:29

mentioned in commit c41d2e8db12586353e5e4661d18345c0fa9fcf17

[2019-11-19 11:59] #601 closed

[2019-11-19 11:59] wxmerkt opened #602 "Updated the authorship list and reference citation in README - [merged]"
In GitLab by @cmastalli on Nov 13, 2019, 18:26

_Merges topic/readme-doc -> devel_

[2019-11-19 11:59] wxmerkt commented on #602
In GitLab by @cmastalli on Nov 13, 2019, 18:26

enabled an automatic merge when the pipeline for 21945f52440934c1f8fb2a6457b371213b78020b succeeds

[2019-11-19 11:59] wxmerkt commented on #602
In GitLab by @cmastalli on Nov 13, 2019, 18:57

merged

[2019-11-19 12:00] wxmerkt commented on #602
In GitLab by @cmastalli on Nov 13, 2019, 18:57

mentioned in commit 72bb97c59e30ab65f80e14a4a05a92bc3a1d047c

[2019-11-19 12:00] #602 closed

[2019-11-19 12:00] wxmerkt opened #603 "Fixed bug in actuation integration of free-fwd dynamincs + added explanation of joint types - [merged]"
In GitLab by @cmastalli on Nov 13, 2019, 18:44

_Merges topic/fre-dyn-fix-actuation -> devel_

@jmarti I fixed the bug that you reported to me

@wxmerkt I included the explanation inside the code that you reported to me

[2019-11-19 12:00] wxmerkt commented on #603
In GitLab by @cmastalli on Nov 13, 2019, 21:39

merged

[2019-11-19 12:00] wxmerkt commented on #603
In GitLab by @cmastalli on Nov 13, 2019, 21:39

mentioned in commit 26e001012e9619ca24866a00f1e4aa4e305547ba

[2019-11-19 12:00] #603 closed

[2019-11-20 15:39] #481 closed

[2019-11-20 15:40] wxmerkt commented on #281
An announcement has been sent to the Crocoddyl mailing list and the switchover completed.

[2019-11-20 15:40] #281 closed

[2019-11-20 15:41] #509 closed

[2019-11-20 15:41] #512 closed

[2019-11-22 16:01] edantec opened #605 "Feet sliding in Talos simulation"
[Talos_reduced.py.zip](https://github.com/loco-3d/crocoddyl/files/3880278/Talos_reduced.py.zip)

Hello,

I don't know if it's a bug or feature, but I got a problem with sliding feet when trying to simulate a movement in which Talos stands still while reaching a target with its left hand. In this problem the feet should not be moving, but they end up  interpenetrating each other.

I use the DDP met

[2019-11-22 16:12] cmastalli commented on #605
It seems your are having numerical integration errors. This is expected in any DAE, not a bug, and note that the contact dynamics is a DAE.

To mitigate this numerical issue, you should increase the proportional -- Baumgarte  -- gain in your contact models (line 74 and 77 of your code).

For more details about these gains you might want to read the Crocoddyl paper: https://cmastalli.github.io/publ

[2019-11-22 16:12] cmastalli commented on #605
Please let me know if this solves your problem.

[2019-11-22 16:45] cmastalli commented on #605
It seems you are using incorrectly the Baumgarte stabilization (i.e. contact gains in line 74 and 77), so it is expected to see sliding motions. Note that the reference placement is the origin of the inertial frame (i.e. world frame). So you have to options:
 1. Do not use proportional gain (zero value)
 2. Define the properly the reference placement, desired placement of the contact

I suggest to

[2019-11-22 16:47] cmastalli commented on #605
I will close this issue since it is expected behavior.

Feel free to reopen it, if it is needed for you

[2019-11-22 16:47] #605 closed

[2019-11-22 17:20] #292 closed

[2019-11-22 17:32] wxmerkt commented on #292
Can you please use "Fixes #issuenumber" or "Resolves #issuenumber" in the pull request? This way as soon as it gets merged, the issue gets auto-closed (and until it is merged the issue isn't addressed).

[2019-11-27 10:42] cmastalli opened #610 "Activation model for handling inequality constraints"
This task refers to this Python class: https://github.com/loco-3d/crocoddyl/blob/devel/unittest/python/crocoddyl/activation.py#L71.

And it also includes the Python bindings + unit-test code.

[2019-11-27 10:48] cmastalli opened #611 "Numerical differentiation of cost models"
This task refers to writing the c++ class of: https://github.com/loco-3d/crocoddyl/blob/devel/unittest/python/crocoddyl/cost.py#L70.

And it also includes the Python bindings.

[2019-11-27 10:50] cmastalli opened #612 "Cost for linear frame velocity"
This task refers to writing the c++ class of: https://github.com/loco-3d/crocoddyl/blob/devel/unittest/python/crocoddyl/cost.py#L313

And it also includes the Python bindings + unittest code.

[2019-11-27 10:54] cmastalli opened #613 "Cost for handling linear friction-cone constraints"
This task refers to writing the c++ class of: https://github.com/loco-3d/crocoddyl/blob/devel/unittest/python/crocoddyl/cost.py#L627

And it also includes to add the Python bindings + unittest code.

Note that this task requires to be solved first #295.

[2019-11-27 10:57] cmastalli opened #614 "Cost for penalization of impulse velocity"
This task refers to write the c++ code of https://github.com/loco-3d/crocoddyl/blob/devel/unittest/python/crocoddyl/impact.py#L245.

And it also includes to add Python bindings + unittest code.

it requires to be solved first #615

[2019-11-27 10:58] cmastalli opened #615 "Sharing data for impulse-based cost functions"

[2019-11-27 11:07] cmastalli opened #616 "Euler integrator test"
This task basically requires to include the euler integrator (action model) in the action factory. It should run tests for all the differential action models.

Probably we need to develop a differential-action factory.

[2019-11-27 11:13] cmastalli opened #617 "Create an activation factory to easily spawn multiple tests"

[2019-11-27 11:17] cmastalli opened #618 "Create factory of actuation models + unittest code"

[2019-11-27 11:19] cmastalli opened #619 "Create factory of contact models + unittest code"

[2019-11-27 11:20] cmastalli opened #620 "Create factory of cost model + unittest code"
It requires to create the activation factory to test with multiple activation models: #617

[2019-11-27 11:22] cmastalli opened #621 "Create factory for differential action models"

[2019-11-27 11:24] cmastalli opened #622 "Add unittest of free-fwd dynamics"
It requires to first solve #620, #618 and #621

[2019-11-27 11:29] cmastalli opened #623 "Create the factory for impulse models + unittest code"
It requires to create the differential action factory #621

[2019-11-27 11:32] cmastalli opened #624 "Add unittest for impulse dynamics"
The impulse dynamics are action models, so it requires to
  1. include it in the action factory
  2. to develop first the unittest for impulse models #623

[2019-11-27 11:34] cmastalli opened #625 "New board on Github"
I have created a new board for easily organize the various developments / points: https://github.com/loco-3d/crocoddyl/projects/1

The board is currently organized as follows:
 1. **open**: any general topic, feature proposal or open question
 2. **c++ missing features**: a list of missing c++ classes.
 3. **unittest**: c++ unittest code and features missing in already developed c++ classes.
 4. *

[2019-11-27 12:46] MaximilienNaveau commented on #625
Thanks Carlos for the organization of the tools! It is very helpful!

[2019-11-28 12:20] wxmerkt opened #626 "Document notation in each of the classes"
Members and scientific notation has not been referenced or documented. Sometimes it is quite hard to guess what variables are. We should document them in each header.

[2019-11-30 19:07] cmastalli commented on #283
I will close this issue since it's an esthetic suggestion. After thinking about it, I decided to use specific names of each reference object.

[2019-11-30 19:07] #283 closed

[2019-11-30 19:24] cmastalli commented on #246
This issue it was solved before !224

[2019-11-30 19:24] #246 closed

[2019-12-01 17:16] #282 closed

[2019-12-01 18:42] cmastalli commented on #232
Duplicated in #612

[2019-12-01 18:42] #232 closed

[2019-12-02 11:40] wxmerkt opened #631 "Contributing guidelines vs credits"
The `CONTRIBUTING.md` currently lists who has contributed in the past (list of contributors). However, GitHub interprets this special file as the "Contributing guidelines". So when someone opens an issue/pull request they are shown "Contributing guidelines", which aren't guidelines but a list of contributors. Is this intended?

![image](https://user-images.githubusercontent.com/1664508/69956687-8f

[2019-12-02 12:17] cmastalli commented on #631
is this the same https://github.com/loco-3d/crocoddyl/wiki/Developer-Guide?

[2019-12-02 12:33] wxmerkt commented on #631
Adding the content of the wiki link you said into CONTRIBUTING.md would likely do the trick (or no CONTRIBUTING.md at all). The point is: Having credits in CONTRIBUTING.md is confusing

[2019-12-02 14:18] cmastalli opened #634 "Add developer guide in CONTRIBUTING.md"

[2019-12-02 14:19] cmastalli commented on #631
Roger that! I created an issue #634

[2019-12-03 08:44] jcarpent opened #638 "selfadjointView may be a bottle neck"
https://github.com/loco-3d/crocoddyl/blob/d59b9be9f6c3f90b07dda12e5c14d8889cdc2214/src/multibody/actions/impulse-fwddyn.cpp#L122

From my knowledge of Eigen, `selfadjointView` may lead to slow computations. It may be better to fill the entire mass matrix M and then performing the dense computations.

[2019-12-03 08:48] jcarpent opened #639 "Memory allocation may be avoided"
https://github.com/loco-3d/crocoddyl/blob/d59b9be9f6c3f90b07dda12e5c14d8889cdc2214/src/multibody/actions/impulse-fwddyn.cpp#L127

This former expression will lead to a temporary evaluation of `f_partial_da * d->impulses->dv0_dq`.

[2019-12-03 08:49] jcarpent opened #640 "Use const ref"
https://github.com/loco-3d/crocoddyl/blob/d59b9be9f6c3f90b07dda12e5c14d8889cdc2214/src/core/optctrl/shooting.cpp#L114

[2019-12-03 08:53] jcarpent opened #641 "Consider passing the ouput as argument"
https://github.com/loco-3d/crocoddyl/blob/d59b9be9f6c3f90b07dda12e5c14d8889cdc2214/src/core/optctrl/shooting.cpp#L103

In the former code, at each time the rollout is called, there are some dynamic memory allocations. This can be avoided as all the dimensions are know before hand. You might consider passing the output as argument.

[2019-12-03 09:42] cmastalli commented on #641
This is an optional method, and not the recommended one. We have another rollout function that doesn't allocate memory: https://github.com/loco-3d/crocoddyl/blob/d59b9be9f6c3f90b07dda12e5c14d8889cdc2214/src/core/optctrl/shooting.cpp#L82

I will close this issue, feel free to reopen it.

[2019-12-03 09:42] #641 closed

[2019-12-03 09:59] cmastalli commented on #639
I am using `noalias()`, did you notice it? There is two matrices multiplication, not three!

It shouldn't allocate memory as explained here: https://github.com/libigl/eigen/blob/master/Eigen/src/Core/NoAlias.h#L83

I will close this issue, feel free to reopen it

[2019-12-03 09:59] #639 closed

[2019-12-03 10:00] cmastalli commented on #638
Thanks for the feedback. I will benchmark it asap!

[2019-12-03 14:16] #634 closed

[2019-12-03 14:16] #640 closed

[2019-12-03 14:45] wxmerkt opened #643 "Profile non-const-ref for primitive type (double) as function argument"
Follow-up from #642

[2019-12-03 20:37] jcarpent commented on #639
It seems that the Eigen doc is not up to date, and does not track such kind of information contained in the source code of Eigen ;)

[2019-12-03 20:40] jcarpent commented on #641
Sounds fine.

[2019-12-05 22:54] cmastalli opened #645 "CI fails in Debug mode for Xenial after updating Pinocchio to v2.2.1"
The previous merged PR #642 passed the test with v2.1.9 as you can see here:
 - https://travis-ci.org/loco-3d/crocoddyl/jobs/620066192?utm_medium=notification&utm_source=github_status

but it fails during merging to the devel branch:
 - https://travis-ci.org/loco-3d/crocoddyl/jobs/620142296?utm_medium=notification&utm_source=github_status

The only difference between these two jobs is the version

[2019-12-05 23:03] jcarpent commented on #645
To simplify the debugging, can you isolate the model, the reference configuration used?

[2019-12-05 23:07] jcarpent commented on #645
@cmastalli Can you also give me the write access to the crocodyl. I will force push on your PR for debugging ;)

[2019-12-05 23:46] cmastalli commented on #645
The PR was merged two days ago. You can test it using the devel branch.

[2019-12-06 09:45] cmastalli opened #648 "Review computation of the Jacobians in the centroidal-momentum cost"
Which quantity do you want to compute here?

_Originally posted by @jcarpent in https://github.com/loco-3d/crocoddyl/pull/644#discussion_r354490593

[2019-12-06 10:57] #295 closed

[2019-12-06 12:53] wxmerkt commented on #645
Is 2.2.1 already on robotpkg?

[2019-12-06 12:54] wxmerkt commented on #645
I want to make it a priority to switch to C++14 by default on both Xenial and Bionic. Note that when upgrading minimum required versions... if they are not yet fully synced on robotpkg, Travis will fail

[2019-12-06 12:54] wxmerkt commented on #648
Can we please use more specific issue titles? :-)

[2019-12-06 13:03] wxmerkt opened #650 "Unit test pybinds-momemtum_cost failing on all configurations"

[2019-12-06 13:55] jcarpent commented on #645
@wxmerkt Why do want to switch to C++14?

[2019-12-06 14:56] jcarpent commented on #645
@cmastalli Everything goes fine for Crocoddyl on my mac, with Pinocchio 2.2.1.

[2019-12-06 15:38] cmastalli commented on #645
It is the same for Ubuntu 18.04, the problem is Ubuntu 16.04 and in Debug mode.

[2019-12-06 15:47] jcarpent commented on #645
Maybe the bug is comming from robotpkg. I would suggest to test it with a fresh 16.04 envrionment without using robotpkg.

[2019-12-06 15:48] wxmerkt commented on #645
C++98 is an unnecessary limitation and there is no reason to stay with it and without the new language features. We are resorting to unnecessary workarounds and need to be super careful not to introduce bugs that would be handled by more modern features.

[2019-12-06 15:49] cmastalli commented on #645
I don't think the problem is robotpkg. I tried in my Ubuntu 16.04 with everything installed by source.

[2019-12-06 15:53] jcarpent commented on #645
What is the output then?

[2019-12-06 15:53] cmastalli commented on #645
We don't know if c++98 is the source of the problem.

[2019-12-06 15:59] cmastalli commented on #645
It's written in the description of this issue

[2019-12-06 16:07] cmastalli commented on #645
This is not the right issue to discuss about it. I suggest to write an issue where each person can give a feedback.

In any case, I am not sure if we should go for c++14. Crocoddyl code should be flexible, it's always user choice the compilation mechanism. We have made an effort to support c++98, I don't see yet a value to throw it at this point of the development.

[2019-12-06 16:21] jcarpent commented on #645
@cmastalli This is not clear at all: can you provide a small snipset to reproduce it in a descent manner?

[2019-12-10 09:08] proyan commented on #648
I'll answer here instead of https://github.com/loco-3d/crocoddyl/pull/644#discussion_r354490593.

We are computing the derivatives of the residue (hg-href). The computation of hg in pinocchio is done in the com frame of reference. The computation of the derivatives is then also done in the same frame.

When you want to compute the derivative, you are trying to do lim (dq->0) (hg(q) - hg(q+dq))/dq.

[2019-12-10 09:22] jcarpent commented on #648
@proyan I think you're making some confusions here:
- `dAg/dq` expressed the variations of the centroidal momentum due to the change in the configuration (taking into account the change of the center of mass positions of all the bodies).
This is true in any with respect to any Plücker coordinate systems.
- the second term you're computing is with respect to the motion of Plücker coordinate systems

[2019-12-10 09:27] jcarpent commented on #650
@proyan I think the test you mentioned in #648 are also refereed here.

[2019-12-10 10:11] jcarpent commented on #648
@proyan To conclude the previous discussion, you don't have to translate the reference frame by a small amount. It is like spatial vs classic acceleration ;)

[2019-12-10 10:33] cmastalli commented on #650
What is this issue? This unit-test is passing, and you can checked here: https://travis-ci.org/loco-3d/crocoddyl/jobs/622599972

I will close this issue, feel free to reopen it.

[2019-12-10 12:30] proyan commented on #648
@jcarpent
I don't think #650 is related here. I'm not sure why that error is happening, but it is not because of this topic.

I know that we are taking care of the moving reference frame when doing derivatives. However, what we actually need to get is the descent direction, and this includes the movement of the reference frame as well. This, as you mentioned, is the difference between the spatial

[2019-12-10 13:01] cmastalli commented on #648
There is no error, this unittest is passing

[2019-12-10 13:16] jcarpent commented on #648
You have an error here:
[code]
When you do finite differences over Lie groups, you have to be sure that you're expressing all the terms in the same frame. Here, `f0` and `func(pinocchio.integrate(model, q, dq))` are not expressed at the same point, explaining the difference above.

What it is not clear to me is: do you really need to translate your Jacobians inside the DDP itself? I'm not sure of

[2019-12-10 15:48] cmastalli commented on #650
This issue was solved it. I will close it

[2019-12-10 15:48] #650 closed

[2019-12-10 17:10] proyan commented on #648
I agree, but in DDP what we are eventually trying to find lies in different frames, since the CoM frame also evolves. Definitely it would be easier if all references were in the global frame, but that would introduce additional computations.

I don't really see an alternative to doing this here. Eventually we need to have our own compute-all-terms, and then perhaps we can simplify the translations

[2019-12-10 17:12] jcarpent commented on #648
No, you can expresse all the quantities at the origin. You just need to translate them ;)

[2019-12-10 17:16] proyan commented on #648
So I would translate hg and href to origin. Then I would translate the dhg to origin. And then I would translate everything back to local frame to communicate with centroidal solver?

On December 10, 2019 10:42:01 PM GMT+05:30, Justin Carpentier <notifications@github.com> wrote:

[2019-12-10 17:36] jcarpent commented on #648
Yep. It should be something like that. You can be even more efficient. We can discuss that by Skype if you want.

[2019-12-10 18:09] cmastalli commented on #648
Is there a reason of why the centroidal solver expressed the `href` in the local frame?

For me, it makes sense to have everything expressed at the origin.

[2019-12-10 18:20] jcarpent commented on #648
Yes, and not. We are following the original notations of Orin et al. to express the centroidal wrench around the CoM (which is invariant by translation).
But, we may think to have the choice of expressing at another reference frame of course. We can add an optional argument to these functions to express at the origin too.

[2019-12-10 18:22] jcarpent commented on #648
@cmastalli I think in fact your question was asked to @proyan.
My answer makes no sense then. I will remove it.

[2019-12-10 23:40] proyan commented on #648
Yes, it makes sense. I think an argument, if you are receptive, of adding a ReferenceFrame.World/Local might be useful here.

I'll do the changes next week.

On December 10, 2019 11:50:25 PM GMT+05:30, Justin Carpentier <notifications@github.com> wrote:

[2019-12-11 08:56] jcarpent commented on #648
It will be much more something like WORLD/LOCAL_WORLD_ALIGNED ;)

[2019-12-11 18:20] jcarpent commented on #645
v2.2.2 is now available. @nim65s Do you have a timeline in mind to push it on robotpkg?

[2019-12-11 18:50] nim65s commented on #645
I should be able to do that tomorrow :)

[2019-12-11 21:49] cmastalli commented on #645
Just to clarify -- I am not sure this will fix rhis

[2019-12-17 18:59] gfadini commented on #101
Hello, I'm facing some similar issues with a contact definition that I'm using in a friction cone cost that I'm trying to implement on solo. Inside the cost I initialize the contact data ```self.contact_data=self.contact.createData(self.data)``` where ```self.contact``` is a ```crocoddyl.ContactModel3D```. Apparently the force in ```self.contact_data.f.linear``` is always a null vector. Has someon

[2019-12-17 19:20] cmastalli commented on #101
I think you are using an old version of Crocoddyl. I recently mentioned it.

Everything you need is developed in devel branch.

[2019-12-17 19:20] #101 closed

[2019-12-19 08:06] nim65s opened #655 "Boost tests with the same name"
Hi,

According to [Boost Test Changelog](https://www.boost.org/doc/libs/1_72_0/libs/test/doc/html/boost_test/change_log.html):

This is a breaking change introduced in Boost v1.67.

In Crocoddyl, this raises issues in 5 test files, eg.:
[code]

A quick fix for Boost >= v1.69 (as it uses `BOOST_TEST_CASE_NAME`) is provided in https://github.com/nim65s/crocoddyl/commit/533c3dd5a9be55aa20dcf700198b0b

[2019-12-19 09:18] jcarpent commented on #655
#647 has changed the behavior of the test (for the ones existing). I think following the rules will be sufficient, without the worry of the Boost.Version.

[2019-12-19 10:17] nim65s commented on #655
Ok, then I'll add #647 in the v1.0.0 release, thanks @jcarpent !

[2019-12-19 10:20] cmastalli commented on #655
@nim65s could you test this solution? If it works, it will simplify the code

[2019-12-19 10:55] cmastalli commented on #655
Do we need to add it for v1.0.0? I would prefer to tackle for next release, my point is I have concerns about the Pinocchio data issue in 16.04 Debug mode.

[2019-12-19 11:09] nim65s commented on #655
As you prefer, but a v1.0.0 which doesn't work on OSX might be a bit strange.

[2019-12-19 11:21] cmastalli commented on #655
If we fix the issue with latest Pinocchio, then I don't have any opposition to include it in v1.0.0. @nim65s could you spend some of your time to fix it?

[2019-12-19 14:46] nim65s commented on #645
The issue was on robotpkg side, between C++98 & C++11.

The fix is straightforward, and will be applied on robotpkg. I'll also try to ensure this whole kind of errors will not occur again, robotpkg wide.

I should have been able to look at this on this sooner and prevent you from loosing your time on such stuff, sorry for that.

[2019-12-19 14:46] #645 closed

[2019-12-19 15:21] cmastalli commented on #645
When is going to be available? Could you share here the issue reported in robotpkg?

When is going to be available? Could you share here the issue reported in robotpkg?

[2019-12-19 15:31] nim65s commented on #645
It will be available tonight. I'll share here the issue I will report on robotpkg, but I'll need a bit more time to report that and think about the solution, so this might wait tomorrow.

[2019-12-20 15:38] wxmerkt commented on #645
What was the nature of the C++98 and C++11 conflict?

[2020-01-05 21:05] #243 closed

[2020-01-07 17:30] cmastalli commented on #610
This activation model is already merged

[2020-01-07 17:30] #610 closed

[2020-01-09 20:53] cmastalli opened #665 "Substitute std::to_string to << in throw and assert"

[2020-01-16 15:19] proyan commented on #615
Why was this closed? Has this been resolved already?

[2020-01-16 16:43] cmastalli commented on #615
Yes, it has. I will later add friction cone cost for impulse dynamics (now only for contact one).

[2020-01-16 16:43] #615 closed

[2020-01-16 21:52] skleff1994 opened #666 "Rollout with IAMEuler diverges"
I implemented a `DAM` for the point mass model (following the [cartpole tutorial](https://gepgitlab.laas.fr/loco-3d/crocoddyl/blob/master/examples/notebooks/cartpole_swing_up.py)) and used `DAMNumDiff` and `IAMEuler` to integrate my model. For sanity check, I perform a forward rollout with initial position 0, initial velocity 1 m/s and control sequence us = 0. But `ShootingProblem.rollout(us)` res

[2020-01-17 11:31] cmastalli commented on #666
You have a problem in the the point-mass DAM. `data.xout` has to be the acceleration of the point-mass system (see here: https://gepgitlab.laas.fr/loco-3d/crocoddyl/blob/master/examples/notebooks/cartpole_swing_up.py#L44).

Note that we have developed a sympletic Euler integrator (not just Euler one). Our integrator preserves the geometric of the system by performing an implicit integration in the

[2020-01-17 15:17] wxmerkt commented on #278
This just came back to bite me badly with overrides in Python and C++. We should make fixing the polymorphism and cleaning up the API a priority. There's a lot of duplication that can be removed with proper inheritance.

[2020-01-17 15:52] cmastalli commented on #278
Could you handle this task?
Unfortunately, I don't have any bandwidth to work on it before beginning of February.

[2020-01-17 16:08] wxmerkt commented on #278
I won't have bandwidth before March. New action + contact model takes priority for me.

[2020-01-17 16:22] bpltdm commented on #666
Ok I see! Yes that helps, thank you !

[2020-01-17 17:11] cmastalli commented on #666
I will close this issue.

Feel free to re-open it, if it is needed!

[2020-01-17 17:11] #666 closed

[2020-01-17 22:04] proyan commented on #631
I believe this is done. I'll close this.

[2020-01-17 22:04] #631 closed

[2020-01-24 17:52] proyan opened #672 "Create a non-const reference to get_models in solver-base"
I would like to be able to update the models once they have been created inside the solver class. If you are running the MPC, it is counter-productive to re-define the entire problem again and again just for a small change in one feature.

If you are okay, I can push the changes immediately

[2020-01-24 18:13] wxmerkt commented on #672
I've asked for a similar API change before but was told that this requires to make sure that the data matches the updated models which would require further added checks. I.e., such a non-const change needs to include data checks in the calc/calcDiff calls.
An alternative would be to update the references in the costs etc. (which is what we currently do).

[2020-01-24 18:19] proyan commented on #672
Could you elaborate please? Once the SolverModel object has been created, it has the CostModel and the cost references inside the action models. In order to update the references without re-creating the problem, you would need to access and modify the action models which are in SolverModel. How do you do that?

[2020-01-24 18:27] wxmerkt commented on #672
An example from our MPC code is e.g.:
[code]

[2020-01-24 18:37] proyan commented on #672
I see. I'm working in c++, and I think the only way around for me would be to save a pointer to the cost reference which is being shared, and update it this way.

I think I can make do, but I don't think this would be the right approach. This would still avoid the data checks that supposedly are preventing a proper solution. Moreover, this is limiting to specific problem types. For example if we h

[2020-01-24 18:37] proyan commented on #672
Thanks for your solution @wxmerkt

[2020-01-25 16:28] cmastalli commented on #672
This is not the right way of doing it. If we need to change the model, then we have to interact with the shooting problem object directly.

However, I agree that we should have the following changes:
 - remove `get_models` and `get_datas` since it contains in the shooting problem
 - give freedom to set a different shooting problem

I will provide a solution soon!

**Additional comment**
I am curre

[2020-01-25 16:29] cmastalli commented on #672
I will close this issue, feel free to open it.

[2020-01-26 20:51] proyan commented on #672
The issue is not whether we change the model through solver class or the shooting problem class. I think the user should simply _have_ the ability to change the model. Currently, every access to any element of the model is const. All elements of the ddp class are const. I find it really limiting.

[2020-01-26 21:30] proyan opened #674 "We don't need x0 inside the ShootingProblem class"
Hi guys,

- Currently we have two ways to set the initial state (the first state only) for the ddp problem. We can set it through init_xs[0] inside the Solver class, or we can set it through x0 inside the ShootingProblem class

- Currently x0 inside the shooting problem class is being used for:
   - to start the ShootingProblem::rollout method.
   - to start the SolverDDP::calc method.

- Currentl

[2020-01-26 22:10] ddliugit commented on #4
I checked out devel branch, but it doesn't work!
The following is the log.

~/landing/src/crocoddyl$ python
Python 2.7.12 (default, Oct  8 2019, 14:14:10)
[GCC 5.4.0 20160609] on linux2
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: cannot import name ActionModelImpact

[2020-01-26 22:14] proyan commented on #4
It is named `ActionModelImpulseFwdDynamics`
`from crocoddyl import ActionModelImpulseFwdDynamics`

[2020-01-26 22:25] ddliugit commented on #4
Thanks.

I also met some similar problems:

[code]

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: No module named ActivationModelInequality

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: cannot import name ActivationModelInequality

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: c

[2020-01-26 22:27] ddliugit commented on #4
It works!
`from crocoddyl import ActionModelImpulseFwdDynamics`

[2020-01-26 22:28] ddliugit commented on #4
Can you help check above other issue?
Thanks.

[2020-01-27 12:36] cmastalli commented on #4
The examples are updated with the new API, you need to use them.

[2020-01-27 12:50] cmastalli commented on #674
You are misunderstanding things, 'init_xs[0]' is the warm-start point, not 'x0'.

If there is a different between 'init_xs[0]' and 'x0', then it is accounted in the gaps which through the next iterations (i.e. xs_try[i]) is closed; there is not any "giant" bug, it is the expected behavior. Additionally, note that the solvers always use ShootingProblem::'x0'.

I agree it would be nice to use Shooti

[2020-01-27 12:56] cmastalli commented on #672
I will provide a solution soon (I will let you know), through shooting problem interface.

Note that this proposition is not correct since we have decoupled problem and solvers.

[2020-01-27 14:52] proyan commented on #674
It is not possible to change the initial condition in DDP. DDP updates the control variables, and there is no control that can act on the first state and change the first state. Could you please explain where we are changing the initial state in DDP?

[2020-01-27 16:21] ddliugit commented on #4
do you have an updated example code for jump?

I think I found an old version in the repo.

[2020-01-27 16:51] cmastalli commented on #4
Unfortunately, I don't have it yet.

However, I just merged now an example with a quadrupedal jump, its name is boxfddp_vs_boxddp.

This is a backup file, which is not yet migrated to the new API.
I will migrate later, but this is not top priority now.
You can help me to boost this task, of course. But I suggest you to learn first the new API with the current working examples.

[2020-01-27 17:04] cmastalli commented on #674
I see clearly your point.

The xs_try[0] is defined given problem_->get_x0() while we allocate data, see:
 - https://github.com/loco-3d/crocoddyl/blob/devel/src/core/solvers/ddp.cpp#L341
which avoids the problem because after accepting the first step we introduce that value.

However, it wouldn't happen in the next calls of 'solve' which occurs in a MPC implementation. Therefore, it is important t

[2020-01-27 17:29] proyan commented on #674
Unfortunately, to use crocoddyl right now, you would need to
1) Define x0 in shooting problem
2) Define x_init{0} in ddp class.

And you need to do this in exactly the above order, because if we change the above order, then the problem_->get_x0() call inside allocateData is meaningless.

From my part, I already wasted multiple hours because of this small step, and I'm sorry I don't see the point o

[2020-01-27 17:56] ddliugit commented on #4
Thanks, I am interested in the biped example. Can I do that instead?

I learned new API with current working examples. It worked fine actually.

I am trying to rewrite the code for talos from the `/examples/npydata/jump.py` using new API.

For the new API, until now I found two old API `ActivationModelInequality` and `CostModelImpactCoM` cannot be replaced with current C++ API.

Anything I can do

[2020-01-27 20:51] ddliugit commented on #4
Is there a way to define properties by querying name like previous method?

impact.costs['track16'].cost.activation = crocoddyl.ActivationModelWeightedQuad(np.matrix(wx**2).T)

[2020-01-28 09:03] cmastalli commented on #4
The `ActivationModelInequality` has been renamed by `ActivationModelQuadraticBarrier`. Note that the API has been improved, you need to check the documentation.

The `CostModelImpactCoM` is not available at the moment.  I will work on it next week, however you can start without it.

No, thank you. We have already started the development of `CostModelImpactCoM`. Furthermore, it requires deeper unde

[2020-01-28 09:16] cmastalli commented on #674
I understand your concerns, and I tend to agree with you. However, I believe there is a clear difference between x0 and x_init[0], and this is especially important for feasibility-prone solvers.

Maybe we should ask ourselves, do we want to warm-start an infeasible initial condition? does it make sense? -- @nmansard, what is your answer?

@proyan if there is no a clear answer for this question. I

[2020-01-28 09:59] proyan commented on #674
Again, as I said before, you cannot change the initial value of a ddp (or fddp) simulation :)

Just to illustrate, this is what happens to one joint angle, when you run an MPC with different x_init and x0:

![without](https://user-images.githubusercontent.com/12423606/73253300-8b99f000-41bc-11ea-8d98-8448172931c6.png)

The solver always starts from the x0, even though the value being given in x_in

[2020-01-28 10:15] cmastalli commented on #674
Both propositions (mine and yours) could fix it, the former will still keep `x0` in shooting problem. The main difference from user perspective is that he/she will require to `set_x0` in the shooting problem.

Thanks for sharing the pic! Looking forward to see the MPC working on Talos!

[2020-01-28 12:21] wxmerkt commented on #674
I think I already exposed `set_x0` for the shooting problem - it's what I use in MPC.

[2020-02-04 14:20] julesser opened #678 "Installing crocoddyl for python 3.6"
Hi,

I've installed crocoddyl through following the instructions within the repo via `sudo apt install robotpkg-py36-crocoddyl`.

Starting examples e.g. `python3 arm_manipulation.py` works fine. However, setting attributes for plotting or displaying the solution throws an error.

E.g. for `python3 arm_manipulation.py plot`:

 File "arm_manipulation.py", line 88, in <module>
    crocoddyl.plotConve

[2020-02-04 15:08] proyan commented on #678
Hi Julian,

'GepettoVisualizer' object has no attribute 'viewer' is typically a sign
that the gepetto-gui/gepetto-viewer-server is not running.
Could you please try to run gepetto-gui in a separate terminal, and then
run the double_pendulum example?
Rohan

On 2/4/20 3:20 PM, julesser wrote:

[2020-02-04 16:38] cmastalli commented on #678
To run the gepetto-viewer, you need to run on another terminal as follows:
[code]

[2020-02-04 16:39] cmastalli commented on #678
I will close this issue.
Feel free to add more questions if you still have troubles

[2020-02-04 16:39] #678 closed

[2020-02-05 08:38] julesser opened #679 "Missing Dependency: robotpkg-gepetto-viewer-corba"
Following up to #678:
`gepetto-gui` does not work since it is not available.
Might there be a missing dependency in the CMakeList.txt to automatically install this package?

[2020-02-05 08:40] wxmerkt commented on #679
Crocoddyl works without the viewer on its own - it's more of an optional dependency so shouldn't be automatically installed.

[2020-02-05 08:47] julesser commented on #679
Okay, thanks for clarification.

[2020-02-05 08:47] #679 closed

[2020-02-05 08:53] julesser opened #680 "AttributeError: 'DifferentialActionDataContactFwdDynamics' object has no attribute 'contacts'"
Hi,
`python bipedal_walk.py` successfully runs.
When adding the `display` argument for visualization, the following error occurs:

    ddp[i].solve(xs, us, 100, False, 0.1)
  File "/opt/openrobots/lib/python3.6/site-packages/crocoddyl/__init__.py", line 158, in __call__
    self.visualization.displayFromSolver(solver)
  File "/opt/openrobots/lib/python3.6/site-packages/crocoddyl/__init__.py", line

[2020-02-05 09:40] cmastalli commented on #680
Hi @julesser,

Thanks for showing interests in our software. Hopefully, you could contribute to our effort.

To display any example, you need to launch the gepetto-gui in another terminal.
For doing so, you can to:
 1. install gepetto-viewer with osg-dae plugin (needed for robots with DAE meshes)
 2. type the commant ```gepetto-gui```

I will close this issue. Feel free to open or ask for more que

[2020-02-05 09:40] #680 closed

[2020-02-05 09:59] julesser commented on #680
Thanks for the quick following up.
As you suggested in #678 I already installed the gepetto viewer and successfully could display some examples, e.g. `python3 double_pendulum.py display` works fine.
Nevertheless  some examples fail with the `display` option, for example the bipedal_walk as mentioned above.
Any idea on how to properly handle the "contact" attribute error?

[2020-02-05 10:00] cmastalli commented on #614
duplicated in #285

[2020-02-05 10:00] #614 closed

[2020-02-05 20:16] ddliugit opened #682 "cost function to minimize the acceleration of torso while impact"
I am new to crocoddyl. Is there a cost function to minimize the acceleration of torso while robot lands on the ground?

I checked the jumping example. It seems no soft landing after jumping.

[2020-02-07 09:13] cmastalli commented on #682
Acceleration cannot be penalize, instead we could penalize velocities (or impact velocities).

During landing phases, we often use a impulse dynamics; however, it is also possible to use contact dynamics + high velocity penalization (soft-constraint). For reference about the impulse dynamics see Eq (7): https://cmastalli.github.io/publications/crocoddyl20unpub.pdf.

## Contact dynamic + high veloc

[2020-02-07 16:18] ddliugit commented on #682
What's the API name that penalizes the impact velocity at the CoM?

BTW, can you recommend some references if I want to write explicit math representations for model and cost compiled in crocoddyl?

[2020-02-07 16:28] cmastalli commented on #682
`crocoddyl::CostModelImpulseCoM`

You could derive action models (or differential action models) and costs using Python or c++.
For differential action model in Python code, you can find an example here: https://github.com/loco-3d/crocoddyl/blob/devel/examples/notebooks/cartpole_swing_up.ipynb.

For the cost models, you can follow similar approach but you need to inheritance from CostModelAbstract

[2020-02-09 05:38] guru-florida commented on #680
I am also getting the same error on biped_walk. ty

[2020-02-09 09:02] cmastalli commented on #680
Are you running the gepetto viewer? The error message is due to it does not find it.

Additionally, a recent modification in example-robot-data triggers another error. Please update this package to v3.1.2..

New releases are going to appear soon.

[2020-02-10 09:11] julesser commented on #680
I am running the gepetto viewer and have updated all packages to the newest version, i.e. the robot data to v3.1.2.
The 'contacts' error message still remains the same.

[2020-02-10 16:41] cmastalli commented on #680
How did you install gepetto viewer? from robotpkg binaries?
If so, do you have ubuntu 16.04?
Are you having the same display problem in other examples?

I am asking all these questions because I believe gepetto-viewer from Ubuntu 16.04 binaries are not compatible (old version) to the display.

[2020-02-11 02:50] guru-florida commented on #680
Hi cmastalli. Thanks for your time! I cannot seem to get the biped_walk to work. I have gepettogui running, when running biped_walk I for a second see the talos hips, then it flickers to only its foot(?), then crashes.

- I am using python3.7 on Ubuntu19 on amd64
- I installed via apt install robotpkg-py37-crocoddyl, robotpkg-py37-qt4-gepetto-viewer-corba, robotpkg-osg-dae
- strangely, robotpkg-os

[2020-02-11 06:03] guru-florida commented on #680
FYI  I compiled osg-dae from source and it does in fact create a so file. So it seems the robotpkg-osg-dae package is missing the target artifact. I was able to install the so file but gepetto gui doesnt like it. It finds it but says "unknown error" trying to load it.

osg-dae build steps (in git cloned osg-dae dir):
[code]

[2020-02-11 09:11] julesser commented on #680
- I am using python3.6.9 on Ubuntu18.04
- I installed via apt install robotpkg-py36-crocoddyl, robotpkg-py36-qt4-gepetto-viewer-corba

- The following examples are displayed successfully:
[code]

- These one fail with the error message stated above:
[code]

[2020-02-11 09:11] julesser commented on #680
These show even other error messages without the `display` option:
`python3 boxfddp_vs_boxddp.py`

[code]

[2020-02-11 09:47] cmastalli commented on #680
I think you guys might have an installation issue.
Probably it is related to Python version.

Please install again Crocoddyl and double check that you're using the right version of Python.
For instance, it could be that you install Crocoddyl using Python 2.

[2020-02-11 11:59] julesser commented on #680
I've tried some modifications regarding the python version to use:

- Reinstalled binaries for **python3.6.9**
(sudo apt install robotpkg-py36-crocoddyl, robotpkg-py36-qt4-gepetto-viewer-corba) and call example via `python3 bipedal_walk.py display`.
- Completely removed robotpkg and installed binaries for **python2.7.17**
(sudo apt install robotpkg-py27-crocoddyl, robotpkg-py27-qt4-gepetto-viewer-

[2020-02-11 13:57] cmastalli commented on #680
The problem we didn't release this code yet. So you need:
 1. to remove `robotpkg-py36-crocoddyl`
 2. to install crocoddyl by source

In any case I am trying to make a new release of Crocoddyl. It could take around a week from now.

[2020-02-11 16:43] cmastalli opened #687 "Release v1.1.0"
Hi @nim65s,

In this release, we have done the following tasks:
 - added few cost functions related to forces and impulses (e.g. friction-cone, com impulse)
 - improved the display tools (friction cone, contact forces and end-effector trajectories)
 - fixed a problem in the printed message by the callback
 - fixed a problem in the box-qp
 - improved the box-ddp
 - added a new solver called box-fdd

[2020-02-11 17:18] wxmerkt commented on #687
Can we please use tags rather than branches for releases? Otherwise it will get cluttered. After you create a tag, you can make a new release in the GitHub interface and add the comments there rather than in an issue.

Here's how:
1. Create a tag and push it to GitHub
2. Go to releases -> tags. Click on "x newer tags". Next to the tag there is a ".." dropdown. Click on "Create a release". You can

[2020-02-11 17:42] cmastalli commented on #687
This branch is used by @nim65s to create the tags and release the code on robotpkg.
Certainly, I could handle the tag by myself, but it is better that one person deals with everything.

Note that this branch will be deleted once the release is done. This is how it is also done in Pinocchio.

[2020-02-11 17:47] ddliugit opened #688 "float division by zero"
I have an error while trying to solve a ddp program. My model is based on cart pole example.

[code]
I print out one variable `r` . It is zero at the beginning and I think that's why it can rise this error. Different from cart pole, there is one variable `r` which is at the denominator of the equation in my model.
[code]

Is there any way to solve this problem?

[2020-02-11 17:57] wxmerkt commented on #687
Okay, thank you for the explanation. I was under the impression that the `make release` would take care of `git tag` etc.

[2020-02-12 08:42] cmastalli commented on #688
In the first iteration r is equals to zero because you are warm-starting the solver with zeros. Thus, you could improve the warm-start.

Your EoMs presents a singularity point in r=0. A common approach to handle it, it will be by applying an tiny regulation (or like damping in the pseudo inverse). Therefore rnew=r+mu with mu as the tiny regularisation (e.g. 1e-9).

As side comment, I do not unders

[2020-02-12 08:45] cmastalli commented on #688
I will close this issue since it is not related with Crocoddyl.
Feel free to ask more questions, I am happy to help you.

[2020-02-12 08:45] #688 closed

[2020-02-12 17:02] julesser commented on #680
Ok, thanks for the effort put in. In order to get things running now, I
1. Removed `robotpkg-py36-crocoddyl`
2. Will install crocoddyl by source executing the following steps in the cloned crocoddyl dir
[code]
The related question is:
How can I make shure to install it with the python 3.6 bindings?

[2020-02-12 17:16] julesser commented on #680
Following the build process stated above for the latest `devel` branch of crocoddyl, the `make` command returns an **error**:

[code]

[2020-02-12 17:23] cmastalli commented on #680
You need to properly define the `PYTHONPATH`. The you need to run the right python interpreter each time that you call a script.

[2020-02-12 17:31] cmastalli commented on #680
We are unit testing our code under your setup: Ubuntu 18.04. Do you install multiple versions of Eigen? Which version did you install?
@nim65s do you any idea what could be the possible sources of this compilation problem?

[2020-02-12 17:31] julesser commented on #680
Okay, if that's all there is to do I'm on the right track.

[2020-02-12 17:38] julesser commented on #680
From the previous binary installation of `robotpkg-py36-crocoddyl` the following dependencies are still installed:
![robotpkgs](https://user-images.githubusercontent.com/58429634/74361061-7e891d80-4dc6-11ea-8a7f-058c189eafe4.png)

Additionally I can find  `libeigen3-dev` installed in version 3.3.4-4 (for the case that's relevant for you).

[2020-02-12 17:47] cmastalli commented on #680
Could be that you are running out of RAM? Did you try to compile few times with a single thread (or less threads)?

[2020-02-12 23:14] ddliugit commented on #688
we want to bound r within r1 and r2 and right now we are using activation function `tanh`, but it doesn't work well. Is there other method to add bounding box constraint for a variable in a simple customized mode like cartpole?

[2020-02-12 23:32] cmastalli commented on #688
Yes, it is possible through quadratic barrier. However, this is easy to integrate for our action models, you will need to handle by yourself.

[2020-02-13 00:32] ddliugit commented on #688
Yes, you are right. But I am not familiar with crocoddyl structure.

Can you give some hints or an example which I can follow?

I tried to add a constraint like following in the `DifferentialActionModelCartpole`, but it doesn't work well.
[code]

Can you help me?

[2020-02-13 09:15] jcarpent commented on #682
You can penalize the acceleration if you want. There is no limit of the formulation in its onw. Maybe of the current API only.

[2020-02-13 10:26] cmastalli commented on #688
1. You create your cost model using `CostModelAbstract` (e.g. https://github.com/loco-3d/crocoddyl/blob/devel/bindings/python/crocoddyl/utils/__init__.py#L382)
2. You use the `ActivationModelQuadraticBarrier` as your activation model.
3. You add the data produced by this cost in each `calc` and `calcDiff` function.

If you have checked our notebooks, then you will have a clear idea about point 3.

[2020-02-14 03:18] ddliugit commented on #688
First, I just copied the code to my code and rename the class.
[code]
Second, I just changed it to follow the following code.

[code]

For `calc` and `calcDiff`, I still have no clue after going through notebook.

In your examples, there are two totally different examples: one is for customized example, like cart pole. The other is Urdf model and all the costs are constructed with specific API.

M

[2020-02-14 08:42] #687 closed

[2020-02-14 09:15] cmastalli commented on #687
Thanks @nim65s :)

[2020-02-14 09:17] cmastalli commented on #680
@julesser did you solve your compilation issue?
If not, we have just released the binaries of v1.1.0 and contains all the modifications needed for running all examples and notebooks.

[2020-02-14 19:00] guru-florida commented on #680
Sweet!!! :)  I can confirm the updated release packages (robotpkg/python37) run the Talos biped walking simulation!

FYI  I just read your whitepaper from last month on using HPP Loco3D + Crocoddyl to create a database memory of joint trajectories for warm starts....very interesting. I had a similar idea I called "shape memory" or kinesthetic memory that is much the same idea. I wasn't sure how I

[2020-02-15 18:05] ddliugit commented on #688
In cart pole example, I cannot create a `state` as the input of `CostModelAbstract `. How to do the following work without `state`?

[2020-02-15 20:33] ddliugit commented on #688
About the quadratic barrier, I only know the following way to do that, is there a other way to integrate with the mode?

[code]

[2020-02-15 21:03] ddliugit commented on #4
Did you implement `CostModelImpactCoM`,  I still cannot find it in the library.

[2020-02-15 21:55] ddliugit commented on #688
[code]

[2020-02-15 22:09] ddliugit commented on #688
The point 1 you mentioned cannot be applied to the cart pole example, can you help to solve this urgent issue?

[2020-02-17 09:14] julesser commented on #680
@cmastalli
Compiling the the most current sources (this morning) worked fine.
Displaying with bipedal walking of the Talos legs runs successful with the updated release packages (robotpkg/python36).
 **Thanks a lot for taking care and your great support :-)**

[2020-02-17 09:52] cmastalli commented on #680
Crocoddyl is a core toolbox for our EU project called MEMMO (stands for Memory of Motion). For more details visit https://www.memmo-project.eu/.

[2020-02-17 09:52] cmastalli commented on #680
Happy to know that the code works for both :)

[2020-02-17 09:54] cmastalli commented on #688
At the time being, this class is made for robotics problem. I am afraid you will need to implement yourself the quadratic barrier function.

[2020-02-17 09:56] cmastalli commented on #4
Yes, it is available now, its name is `CostModelImpulseCoM`

[2020-02-17 10:21] proyan opened #691 "Code restructuring."
@wxmerkt @PepMS @VladimirIvan @nim65s @cmastalli @MaximilienNaveau

In order to use CodeGen on crocoddyl ActionModels, I'm restructuring the code on the `Scalar` template. This PR would be available in this week.
There would be no change in API, and it wouldn't affect your dependent code.
Nevertheless, I opened this issue so you could let me know if you see any way this might affect your ongoing w

[2020-02-17 10:34] cmastalli commented on #691
Please do not modify anything that is not in the scope of this task.
I am trying to prevent much bigger PRs.

Consider that there is 20% of the code that it is not currently tested in our CI.

[2020-02-17 13:35] ddliugit commented on #688
Is it easy to do that? Is there  a simplified way? Do you have the code I can followv

[2020-02-17 15:46] cmastalli commented on #688
Yes, I would say so.
I don't have any code to provide you. You must want to see the c++ implementation of the quadratic barrier class.

[2020-02-17 16:05] ddliugit commented on #688
Would that be possible if I encode the following into the cost function?

-mu*log[(y1-y)(y-y2)] and mu is a small number, say 1e-5

[2020-02-17 19:25] wxmerkt opened #693 "Assertion from pinocchio explog triggered in examples"
I am on 18.04 and  have the latest Pinocchio devel compiled with `CMAKE_BUILD_TYPE=MinSizeRel -Os` and Crocoddyl compiled with `CMAKE_BUILD_TYPE=RelWIthDebInfo -O3`. Running any of the examples (e.g. `boxddp_vs_boxfddp` or `quadrupedal_walk_ubound`) results in the following assertion:

This is on an Intel(R) Core(TM) i7-9850H CPU @ 2.60GHz which has been freshly installed. I did not see these issu

[2020-02-17 22:08] wxmerkt commented on #693
I cannot reproduce this on another machine (i7-8565U) that should be set up in the same way. Any ideas why this could happen though? I saw it a few times in the past. Clean builds did not resolve it.

[2020-02-18 10:05] cmastalli commented on #693
I found the problem. I will make a PR that solves it.
You will see more details there.

[2020-02-18 10:12] cmastalli commented on #693
Please see the PR.

[2020-02-18 18:10] wxmerkt commented on #693
Thank you for the quick turn-around and fix :-) I did not expect it to be in the `quadruped.py`.

[2020-02-18 23:59] cmastalli commented on #693
You're welcome, and thank you for the report.
Unfortunately, we are not testing the examples in Debug mode because it takes few minutes to run them. Did you have any suggestion on the topic?

[2020-02-18 23:59] #693 closed

[2020-02-19 07:06] wxmerkt commented on #693
I think having them run on CI even if it takes minutes is fine. Pull requests shouldn't be merged that quickly for the jobs not to complete. We have a 50 minute limit on the jobs and are currently at <20min

[2020-02-19 09:41] cmastalli commented on #693
We could include the examples in Debug mode, not problem at all.

Are you sure about your last statement? As far as I understand, we use Pinocchio header files in Crocoddyl CI jobs. Thus, this problem should be triggered as well in Travis, right?

[2020-02-19 09:58] wxmerkt commented on #693
This is only partially true (for Crocoddyl itself). The Python bindings link [the original argument for Boost.Python to utilise the Pinocchio bindings] and thus it's dependant on how Pinocchio was compiled

[2020-02-24 09:10] julesser opened #697 "Q: How are joint limits considered?"
Hi all,
I generally would like to know how joint limits (e.g. effort limit), specified in the URDF, are considered in crocoddyl. The specific questions are:
- Are the limits integrated into the cost functions and therefore optimized, or somehow set as fixed boundaries for the solver?
- How is the solution currently implemented?

[2020-02-24 10:17] wxmerkt commented on #697
a) Control limits can be handled by `BoxDDP` and `BoxFDDP` explicitly
b) State limits (position, velocity) are handled as cost terms/penalisations

[2020-02-24 11:43] cmastalli commented on #697
`BoxDDP` is similar to Tassa method (https://homes.cs.washington.edu/~todorov/papers/TassaICRA14.pdf), with the improvement that you could warm-start the state trajectory.

Instead `BoxFDDP` is a novel solver that its contribution is under-review (we can't share with you the paper now). This solver is superior to the `BoxDDP`, and you can check it with the above example.

The control limits are ha

[2020-02-24 13:21] julesser commented on #697
Many thanks for the quick answers. As expected:

Then in turn, I don't quite understand how the control inputs, for example in the Manipulator example, can exceed the limits of the URDF for the Talos arm so much:

![TalosArmPlotEffort](https://user-images.githubusercontent.com/58429634/75155744-f3d2e780-5710-11ea-94e8-de18544d455d.png)

[2020-02-24 13:37] cmastalli commented on #697
The arm-manipulation example uses `DDP` solver, thus we are not adding constraints to this problem.

Furthermore, it is fairly simple optimal control formulation, without any joint limits.

All examples with '_ubound` are implementing torque limits.

[2020-02-24 13:56] julesser commented on #697
Got it. Thanks for your comprehensible explanation.

[2020-02-24 13:56] #697 closed

[2020-02-26 09:25] julesser opened #699 "Displaying Robot Poses without Solving the OC"
Hi all,
I am wondering why robots do not seem to be displayed correctly in the gepetto viewer until the `.solve()` of the according shooting problem is called.

**Consider e.g. the bipedal_walking.ipynb**
Executing the script until `.solve()` gives:
![BipedDisplayBeforeSolving](https://user-images.githubusercontent.com/58429634/75330211-09671f00-5881-11ea-8a53-fda09d05d1f6.png)
After calling `.sol

[2020-02-26 09:40] cmastalli commented on #699
Yes, it is possible. There are two ways:
  1. Directly interacting with gepetto-viewer, something like this:
[code]
 2. Using the crocoddyl display (see https://github.com/loco-3d/crocoddyl/blob/devel/bindings/python/crocoddyl/__init__.py#L74):
[code]

---

Solver runs any callback function that it has been defined. When you active the display in the examples, then we include a callback function t

[2020-02-26 12:04] julesser commented on #699
That was exactly what I was searching for - works very well.
Thanks for your explanation.

[2020-02-26 12:04] #699 closed

[2020-02-26 12:07] cmastalli commented on #699
You're welcome :)

[2020-02-29 21:53] ddliugit opened #701 "Hybrid simplified model"
Hi, folks!

I am wondering if it is possible to solve a hybrid simplified model (i.e. spring loaded inverted pendulum) problem with crocoddyl.

The problem is constructed as two models with different variables.
For the flight phase, we are using x_c, y_c, theta to represent the model.
While it is contacted with ground, we need to use polar coordinate to represent the model.

I am following the car

[2020-03-02 09:40] cmastalli commented on #701
Hi @ddliugit

The API is flexible enough to implement any model you want, including the cart-pole model.
Some of the cost functions are related to Pinocchio, e.g. angular momentum. And of course, you can't use them without Pinocchio model.

You can also use all the activation functions, which are an important component to build a cost function.

Carlos

[2020-03-02 17:45] proyan commented on #691
Fixed with #695

[2020-03-02 17:45] #691 closed

[2020-03-02 18:10] gfadini opened #702 "Gepetto display doesn't show the motion animation"
Hello, I'm using the file ```arm_manipulation.py``` trying to show the motion of the arm manipulator,
however it seems to not be working for the ddp solver anymore
This:
[code]
doesn't produce an animation
Moreover also with the fddp, GepettoDisplay doesn't show the overall motion at the end, just the callbacks.
I think this may be an easy bug to solve, @cmastalli how was the function conceived?

[2020-03-02 18:46] cmastalli commented on #702
Hi @gfadini

It works just the motion is very fast because you're asking the viewer to sample it. Do as follows:
[code]

I will close this issue since there is no any bug.
Feel free to ask more question in this thread.

[2020-03-02 18:46] #702 closed

[2020-03-02 20:14] gfadini commented on #702
Ok, got it, thanks

[2020-03-02 23:29] ddliugit commented on #701
What is the difference between `ActivationModelQuadraticBarrier` and `ActivationModelInequality`?
It seems both can control the variable between `lowerlimit` and `upperlimit`.

[2020-03-03 09:37] cmastalli commented on #701
`ActivationModelInequality` has been renamed to `ActivationModelInequality` with futher improvements in the API.

Note that `ActivationModelInequality` is deprecated, as any class inside unittest/python/crocoddyl.

[2020-03-04 06:59] #620 closed

[2020-03-04 06:59] cmastalli commented on #620
Solved in #661

[2020-03-04 07:02] cmastalli commented on #112
Solved in #661

[2020-03-04 07:02] #112 closed

[2020-03-04 07:04] cmastalli commented on #611
Solved in #661

[2020-03-04 07:04] #611 closed

[2020-03-04 09:53] julesser opened #703 "Model multiple point-contacts per foot"
Hi all,
I am trying to model multiple point-contacts per foot in the context of bipedal walking. Currently it seems shooting problem can not be solved properly (plotConvergence graphics stay all empty, Robot does not move at all).
To this end, I've modified the **biped_utils** as follows:
1. Pass the main frame (for foot tracking) and the contact frames (4 additional per foot) to the utils:
`def _

[2020-03-04 13:14] cmastalli commented on #703
**About your developed method**
Adding 4 per each foot is mathematically wrong within this context.
Each point-contact introduces a 3d constraint Jacobian, i.e. 12 constraints.
Furthermore, for the case of the double support phase, you will have a total of 24 constraints but the system DoFs is 18.
In conclusion, you are over-constraining the dynamical systems.
See the equations of this paper for m

[2020-03-04 20:31] gfadini opened #704 "Pickling issues"
Hello,
can crocoddyl be pickled yet? I rember that @cmastalli said that there were issues with eigen for that, but maybe I'm mistaken and that is not the case anymore .
I have a runtime error related to this using multiprocessing, it would be great if it could be fixed/was supported.

[2020-03-04 20:34] cmastalli commented on #704
You cannot pickle entire Crocoddyl data. However you could pickle some data, e.g. Pinocchio data, NumPy, etc.

Unfortunately I don't have time now for adding this feature.

[2020-03-05 18:03] cmastalli commented on #648
@proyan I have merged the cost unittest, and effectively the centroidal-momentum is not passing.

Do you have time to solve this issue?

[2020-03-05 18:03] #665 closed

[2020-03-05 18:03] cmastalli commented on #665
solved in #664

[2020-03-05 18:05] cmastalli commented on #643
I don't have time to handle this, and it has been for a while.
@wxmerkt feel free to re-open it, if you want to make this benchmarking

[2020-03-05 18:05] #643 closed

[2020-03-05 18:06] cmastalli commented on #613
solver in #657

[2020-03-05 18:06] #613 closed

[2020-03-05 18:08] cmastalli commented on #265
@proyan could you handle this task?
I would be good to have profiles for the quadruped

[2020-03-05 18:10] cmastalli commented on #279
@wxmerkt is there any update regarding this?

I'm not sure what if I understand the issue, could you explain me?

[2020-03-05 18:11] cmastalli commented on #147
This was solved

[2020-03-05 18:11] #147 closed

[2020-03-05 18:16] cmastalli commented on #655
In #705, I propagated the #647 changes.

This should fix the problem.

[2020-03-05 18:16] #655 closed

[2020-03-05 18:22] cmastalli commented on #617
solved

[2020-03-05 18:22] #617 closed

[2020-03-05 18:23] cmastalli commented on #623
done

[2020-03-05 18:23] #623 closed

[2020-03-05 18:37] wxmerkt commented on #279
It's to update the `CMakeLists` setup so that a `crocoddyl-config.cmake` is generated such that users/dependent projects can:

[code]

No need for PkgConfig and setting CFLAGS_OTHERS etc.

[2020-03-06 08:16] nim65s commented on #279
Hi,

I'm already doing this on all SoT packages, loco-3d ones will follow.

[2020-03-06 12:24] julesser commented on #703
Thanks for pointing this out. Actually I thought these redundant constraints could be handled by the dynamic solvers. For now,  we will simply stick with modelling one point contact per foot.

No, currently this is not crucial for us.

[2020-03-06 12:24] #703 closed

[2020-03-06 16:55] wxmerkt opened #706 "crocoddyl_LIBRARIES does not include crocoddyl"
[code]

And then outputting `${crocoddyl_LIBRARIES}` yields:

1. eigenpy
2. boost_python-py27
3. pinocchio
4. boost_filesystem
5. boost_serialization
6. boost_system
7. urdfdom_sensor
8. urdfdom_model_state
9. urdfdom_model
10. urdfdom_world
11. console_bridge

... but not `crocoddyl`.

[2020-03-09 05:23] guru-florida commented on #674
I am wondering if I am encountering this issue. I have adapted the bipedal_walk.py example to use my own robot (my own urdf/srdf). I get successful feasability on the Walking phase 0, but infeasable phase 2, the 'stop' value quickly jumps to over 1e20 in 6 iterations. Gepetto has a good looking first step, it takes a half step with the right, then a full step with the left. At this point the left

[2020-03-09 18:43] cmastalli commented on #674
@guru-florida I don't think your problem is related with this thread.

I have implemented a fairly simple formulation for the examples. They need to be hand-tuned for each robot (dynamics).

I am currently working in a formulation that will automatize this process.
However, it is not bad idea if you spend time trying to formulate such kind of problems.
You will learn a lot through this process.

[2020-03-10 02:56] guru-florida commented on #674
@cmastalli Yes, agreed. I've been digging around the biped.py support code, robot loaders, and even in the C++ headers to get API clarity. It's getting clearer but I still have lots to learn. I'll keep plugging away at it.

[2020-03-10 15:10] wxmerkt commented on #672
I'd like to revisit this topic for the C++ API on order to be able to update cost weights. What is the current status of discussions to enable this?

1. Add a setter to every const-item?
2. Add a non-const reference getter?

Example that fails:
[code]

[2020-03-10 15:30] cmastalli commented on #672
I am in favor of with adding  a setter function (option 1).

However, it shouldn't fail that example code if you `my_differential_model` is type of `DifferentialActionModelContactFwdDynamics` or `DifferentialActionModelFreeFwdDynamics`.

Note that `get_costs` appears only in multibody DAM, not in the base class (i.e. `DifferentialActionModelAbstract`).

I am in favor (and almost to implement) to a

[2020-03-10 15:35] wxmerkt commented on #672
I tried Option 1. It fails because the returned container map (`get_costs()`) is a const-ref. As thus, we cannot change the weight on an element belonging to that container - unless it's a shared_ptr.

[2020-03-10 15:40] cmastalli commented on #672
Then there are two options:
 1. Define CostItem as shared ptr, i.e.
[code]
 2. Return a nonconst-ref of the `CostModelContainer`, i.e.
[code]

For me, it makes more sense option 1.

[2020-03-10 16:42] #619 closed

[2020-03-10 17:04] wxmerkt commented on #672
I am not a fan of changing the API too often - and we do have some inconsistencies with raw-references vs pointers already (e.g. with Pinocchio models). Happy with either solution.

@proyan, what are your thoughts?

[2020-03-10 17:15] proyan commented on #672
This sounds more intuitive to me than setters. Moreover, creating setters means that you need to create a new object and set it as the old one, and I don't like the idea of doing that. I prefer tinkering with the objects that are already defined.

[2020-03-10 17:36] cmastalli commented on #672
The user solution is quite simple. You store each cost model in your MPC class, you really don't need to interact with them through the action models as they are shared pointers.

[2020-03-10 18:08] wxmerkt commented on #672
This is a valid point, as long as we do not mess up the original object. For costs, that should be fine. I wasn't happy with the API in Python where we needed to create a full copy to modify a single term to then assign it back via the setter.

As long as we modify properties within the shared pointer, I am also happy with that solution.

I'd like to wrap up this discussion shortly to go ahead wit

[2020-03-10 18:13] wxmerkt commented on #672
Proposal:
(1) We change the `get_costs()` return type to non-const-ref now.
(2) If we want to revisit to a shared_ptr interface, we do that at a later stage, with proper transition plan and announcement, and major version increase. The `Cost` itself is already a shared_ptr, just not the `CostItem`.

This is the minimal and least disruptive effort to get this resolved. What are your thoughts?

[2020-03-10 18:19] cmastalli commented on #672
We don't need to pursue any of the options since the users can store the cost models and modify by your own.

I don't like option (1), the getter function are just for retrieving things. If we pursue option 1, then there is no consistency in the code.

[2020-03-10 18:30] wxmerkt commented on #672
Except the weight!

[2020-03-10 18:40] cmastalli commented on #672
I believe the solution is `shared_ptr` option, this is how it is done along the entire library. It would create tiny changes in the internal API, but the other option creates inconsistencies and we need to propagate in the whole library.

Since nobody can't set cost properties as you're pointing out, then nobody will be affected by the used of `shared_ptr`.

We still expect to have changes in the

[2020-03-10 18:50] cmastalli opened #708 "Numerical differentiation of 2nd order derivatives in cost numdiff"

[2020-03-10 19:15] wxmerkt commented on #672
Are you tackling it in an atomic PR, and if so, what is your timeline? Otherwise I can pick it up.

[2020-03-10 19:28] cmastalli commented on #672
I could do it this Thursday. Feel free to create an atomic PR if this is not quick enough for you.

[2020-03-11 11:58] wxmerkt opened #711 "Memory usage skyrocketed since moving to header-only"
Since moving to header-only in #695, the memory usage during compilation sky-rocketed:

![image](https://user-images.githubusercontent.com/1664508/76414617-98029280-638f-11ea-8b88-8cea70d5c786.png)

Is there any way to use precompiled headers or something to make it more manageable?

[2020-03-11 12:12] proyan commented on #711
Some of it is expected. How many threads are you using for compilation?

[2020-03-11 12:20] wxmerkt commented on #711
12 threads/full CPU by default but it exceeds 16GB after 3 threads. I am aware it's expected but is there a way to reduce it though?

[2020-03-11 14:30] proyan commented on #711
I think we can be a bit smarter when including headers. This would be the first step.

[2020-03-12 14:08] julesser opened #713 "Bipedal walking: CoM decreases with every gait phase"
Hi all,
for the bipedal walking of talos there emerges an inperiodicity in the joint positions (knee, ankle joints) during a 6-step gait.
![TalosGait_Solution](https://user-images.githubusercontent.com/58429634/76529411-8940dc00-6472-11ea-95b0-7650d5cfee23.png)
This leads to a decresaing CoM with every gait phase.
I've tried

- Increasing the weight for the CoM cost item and
- Increasing the weigh

[2020-03-12 14:31] cmastalli commented on #713
The optimal control (OC) formulation needs to be improved, and I am working on it.

With the current formulation, we build a CoM reference (for cost tracking) that starts in the initial position on the robot. However, the relative CoM positions w.r.t the foot placements varies from each OC problem. It leads with different OC problems and solutions

As mentioned in another thread, the current OC fo

[2020-03-12 14:38] julesser commented on #713
Thanks for your quick answer. We are looking forward to progress in this direction :-)

[2020-03-12 14:42] cmastalli commented on #713
Feel free to ask any further question if it is needed.

I will close this issue.

[2020-03-12 14:42] #713 closed

[2020-03-13 18:45] #278 closed

[2020-03-16 09:24] #285 closed

[2020-03-18 09:55] #621 closed

[2020-03-18 09:56] #622 closed

[2020-03-18 09:56] #237 closed

[2020-03-18 15:30] cmastalli commented on #711
The memory could be reduced it by splitting the implementation of a classe. Let's say for the `DifferentialActionModelContactFwdDynamcs` class, we have
 1. `contact-fwddyns-calc.hpp` and `contact-fwddyns-calcdiff.hpp`
 2. `contact-fwddyns-calc.cpp` and `contact-fwddyns-calcdiff.cpp`

This could be done for few classes that are needed (such contact and impulses differential action models)
@nim65s i

[2020-03-18 15:32] cmastalli commented on #701
I will close this thread since there is no issue on the code.
Feel free to keep asking if you need further help.

[2020-03-18 15:32] #701 closed

[2020-03-18 15:33] ddliugit commented on #701
Thanks.

[2020-03-18 15:37] #625 closed

[2020-03-18 15:39] #569 closed

[2020-03-18 15:41] nim65s commented on #711
It's easier to compile many smaller .o and link them later in a big .so, yes.

Smaller source files comes with a better readability, a more granular recompilation and caching, and easier merges.

[2020-03-18 15:52] cmastalli commented on #711
@nim65s thanks for the answer

@wxmerkt could you let me know which classes are memory hungry?
Let's figure out a plan of attack for this issue.

[2020-03-18 16:18] #503 closed

[2020-03-18 16:18] #579 closed

[2020-03-18 16:39] wxmerkt commented on #711
The most memory hungry were `free-fwd-dyn.hxx` and `contact-fwd-dyn.hxx`. You can measure before/after using `/usr/bin/time -v make -j1`

[2020-03-20 14:41] andreadelprete opened #721 "Bug in expected improvement computation?"
Hi,

I may have found a bug, or maybe just an incoherence between the notation of the paper and the code. In the computation of the expected improvement, both in [DDP](https://github.com/loco-3d/crocoddyl/blob/devel/src/core/solvers/ddp.cpp#L146) and in [FDDP](https://github.com/loco-3d/crocoddyl/blob/devel/src/core/solvers/fddp.cpp#L136), the value `dq` (or `d1`) is computed as
[code]
In the pape

[2020-03-20 15:10] jcarpent commented on #706
Solved by #710.

[2020-03-20 15:10] #706 closed

[2020-03-20 15:25] cmastalli commented on #721
Hi @andreadelprete

The problem is a changed of notation inside the Crocoddyl code and paper (and also Tassa notation). Unfortunately, I didn't notice this different when I wrote the paper.

Concretely speaking, `dV` in our code has opposite sign of `dV` in the paper (and also Tassa notation). Therefore, the liner quadratic representation of the expected improvement has opposite sign.
Additionally

[2020-03-20 16:04] cmastalli commented on #672
I think we could close this issue since it was solved in #712.

If you want to handle more specific changes regarding a similar topic, then let's do it through another issue.

[2020-03-20 16:04] #672 closed

[2020-03-20 16:56] cmastalli commented on #674
I will close this issue since it was solved in #677 (the method that I proposed).

@proyan I hope you feel OK with this solution.
I am afraid that it is not possible to go through your method.
Note that we might want to wrap the shooting problem class into off-the-shelf solvers with initial constraint.

[2020-03-20 16:56] #674 closed

[2020-03-20 17:08] cmastalli commented on #163
I will close this since it has been zero activity from few months.

Feel free to re-open it!

[2020-03-20 17:08] #163 closed

[2020-03-20 17:09] #119 closed

[2020-03-20 17:10] #45 closed

[2020-03-20 17:11] #135 closed

[2020-03-20 17:12] #162 closed

[2020-03-20 17:36] wxmerkt commented on #265
Is this complete or just closed as wontdo?

[2020-03-20 17:38] cmastalli commented on #265
I do not see any activity, and I won't do it (overbooked).

@proyan are you planning to create some benchmarks with CppAD?

[2020-03-20 17:41] wxmerkt commented on #265
Ok, thanks, good to have this noted done as it helps to follow along whether an issue was addressed or closed as wontdo.

[2020-03-20 17:43] cmastalli commented on #265
I tagged with #wontfix, is this sounds good for you?

[2020-03-20 18:18] proyan commented on #711
@cmastalli are you taking care of this?

[2020-03-20 18:19] proyan commented on #265
Yes, I'm creating a benchmark with cppAD. I'm using the arm as an example.

[2020-03-20 18:20] proyan commented on #265
Currently there is an issue with using pinocchio with code-gen. I'll make a PR next week for that. I've been quite busy with another task, so code-gen has gone back to my to-do list.

[2020-03-20 19:29] cmastalli commented on #265
@proyan thank for pushing this task.

Could you let me know (or pointing out) the issue of Pinocchio?

[2020-03-20 19:32] cmastalli commented on #711
I'm not working on it now.

If you decide to work on it, then assign this issue to you. I'll do the same.

[2020-03-26 17:35] cmastalli commented on #708
A Gauss-Newton method was deployed in #709. I will close this issue!

[2020-03-26 17:35] #708 closed

[2020-03-26 17:37] cmastalli commented on #184
Solved in #715

[2020-03-26 17:37] #184 closed

[2020-03-27 13:56] edantec opened #728 "Bad initialization of dx0 in the forward pass"
The gap f0 should be used to initialize the first dx0, rather than force it to be dx0 = 0. In practice, f0 should be equal to the difference of the initial constrained state x0 (provided during the creation of the shooting problem) and the first state of the warm state trajectory, provided during the ddp->solve.

[2020-03-27 14:13] cmastalli commented on #728
@edantec -- Nicolas explained the solution, could you provide a PR with this work?
If so, note that you will need to review:
  1. `SolverDDP`
  2. `SolverFDDP`
  3. `SolverKKT`
and check that the unit-tests are passing.

[2020-03-28 20:12] cmastalli opened #731 "Release v1.2.0"
Hi @nim65s,

In this release, we have done the following tasks:
 - templatized all the classes and structures with the scalar (for codegen and autodiff).
 - fixed a bug in the formulation for the quadrupedal problem (state bounds).
 - reduced the compilation time in Python bindings (re-structured the code).
 - fixed error in the expected improvement computation for terminal action in `SolverFDDP`.

[2020-03-30 12:02] cmastalli commented on #728
@edantec, @proyan and @nmansard

I review a second time the code for both: DDP and FDDP, and **I conclude that we don't have this issue. I mean the solvers are properly handling the initial condition**. Let me to explain it as easy as possible.

However, before starting the explanation, we need to say that `dx` has `T` length (not `T+1` length). In practice means that `dx0` isn't associated to the

[2020-03-30 17:24] cmastalli commented on #728
I will close this issue.
Feel free to re-open if that the case.

[2020-03-30 17:24] #728 closed

[2020-03-31 15:43] ddliugit opened #737 "A simple model cannot be optimized"
I built a simple example with crocoddyl. There is zero gravity and zero friction environment. a point mass of 1kg that can only be pushed along one direction with a force f.

I want to optimize the mass to distance 1m with least force f.

The code is like the following:
I got nothing from the result.

[code]

[2020-03-31 22:33] #202 closed

[2020-04-01 09:58] cmastalli commented on #737
Hi @ddliugit

Recently, the Python interface of Crocoddyl allows us to write internal data in NumPy objects such as `data.xnext`. For instance the operation:
[code]
is not allowed, instead you could do (Crocoddyl v1.1.0 or lower)
[code]
However, I suggest you to update Crocoddyl. This stuff will be release soon under v1.2.0.

If you decide to move to v1.2.0, then you need to clean other stuff in y

[2020-04-02 07:18] #618 closed

[2020-04-02 10:44] julesser opened #742 "Cannot import name 'ActionModelImpact'"
Hi all,
It seems to me as if the examples for highly-dynamics movements (jump.py/salto.py) became out-of-date. I wanted to report that currently both files are not executable, because of (at least) the above dependency error.
Best,
Julian

[2020-04-02 10:47] cmastalli commented on #742
Yes, they are backup files. We'll soon removed them!

These examples use an old API interface, based on pure Python code.

[2020-04-02 13:01] julesser commented on #742
Okay, thanks for the comment. Will also a new version for these maneuvers be uploaded again, matching the new API interface?

[2020-04-02 13:27] wxmerkt opened #743 "Numerical impact of changes to BoxQP"
In https://github.com/loco-3d/crocoddyl/pull/658, the BoxQP was changed substantially.

From the PR description:

Can you please elaborate and provide an example / line numbers from the old solver?

Correct, this step was omitted and is new.

The old solver relied on the general inverse (`.inverse()`), which in our benchmarks wasn't too much of an overhead. In fact, with compiler optimisations I s

[2020-04-02 13:48] cmastalli commented on #742
At the moment, I have not the resource to do it. But I will attend to do it with a new formulation! Therefore, it won't look like those example codes.

[2020-04-02 14:03] wxmerkt commented on #743
I found one bug in the old active-set for the special case that it converged during the first iteration. In this case `free_idx` was not set correctly, which lead to the feedback matrix `K` being incorrect. However, it does not have an effect on convergence (coincides with the orange line).

[2020-04-02 14:15] cmastalli commented on #743
@wxmerkt did you check that all the cases use the same regularization in each iteration?

It looks `OLD - X` cases are starting closer to the steepest descent direction. Note that the new Box-QP uses a very small default regularization as default.

[2020-04-02 15:03] julesser commented on #742
Okay, thanks for the clarification.

[2020-04-02 15:03] #742 closed

[2020-04-02 15:05] wxmerkt commented on #743
Regularization is fixed and the same (1e-5) in all cases.

[2020-04-02 15:32] cmastalli commented on #704
I would like to take this thread to discuss which classes / structures should be pickleable. I was thinking in this set of classes / structures:
 1. All data structures
 2. All model classes
 3. All solver classes
 4. `Python list` to/from `std::vector`
 4. `Python Dict` to/from `std::map`

What do you think? @proyan @gfadini @jcarpent @wxmerkt

---

This also requires a lot of work. I notice that

[2020-04-02 15:33] cmastalli commented on #638
@proyan you might want to handle this issue.

[2020-04-02 15:44] jcarpent commented on #704
@cmastalli You should take inspiration from https://github.com/stack-of-tasks/pinocchio which is using the serialization for the pickling of large data structure, which is in the end much more efficient and allows to export in C++ too.

[2020-04-02 15:45] jcarpent commented on #704
The solver should not be pickable at first glance. Only data and model in the first place.
By the way, for Python list, you should use the code from Pinocchio too.

[2020-04-02 18:41] wxmerkt commented on #743
I have been digging deeper:

- The regularization is now passed in from DDP and adapted.
- The old-BoxQP active set bug was fixed (one line, as above).
- The timing is the same for old and new BoxQP (within 0.5 1e-8). We also tested them with random problems against SciPy's TNC and L-BFGS-B.

![image](https://user-images.githubusercontent.com/1664508/78289180-a751a780-7519-11ea-8fd7-79c0033ae811.p

[2020-04-02 22:56] cmastalli commented on #743
Are you using the same BoxDDP algorithm when you generate these results?

[2020-04-03 08:57] #731 closed

[2020-04-03 10:03] wxmerkt commented on #743
Yes, it's the same BoxDDP. I have exposed the ability to switch the underlying BoxQP with a configuration flag and ran several tests (different line search, different BoxQP, etc.). I understand the numerical behaviour of both very well now.

The only difference I cannot grasp is: All else being equal, swapping Cholesky/LLT for the general inverse changes the convergence behaviour of the BoxDDP sig

[2020-04-03 10:12] jcarpent commented on #743
@wxmerkt Which one is giving you better convergence rate?

[2020-04-03 10:23] wxmerkt commented on #743
The generalized inverse (I think it uses `PivLU` under the hood). Note, we are checking the `ComputationInfo` of the LLT and would throw an exception if it failed. And the inverse matrices appear to be the same.

I am currently working on a new plot looking into these different changes more closely.

[2020-04-03 10:26] cmastalli commented on #743
I wonder if the Cholesky decomposition creates numerically very small unsymmetric in `Hff_inv`.

Could you try to impose symmetric? or check it?
For the former, you need to modify [118 line](https://github.com/loco-3d/crocoddyl/blob/devel/src/core/solvers/box-qp.cpp#L118) as follows:
[code]

[2020-04-03 10:29] jcarpent commented on #743
@wxmerkt You should try with LDLt and LLT. It is much more stable.

[2020-04-03 11:10] wxmerkt commented on #743
Thank you for the suggestions - I tested both:

1. Enforcing symmetry has no effect on the convergence of the BoxDDP.
2. Using the PivLU appears to lead to better convergence than LLT. I did not test LDLT. [I usually always go straight for LDLT or LLT and not the regular inverse, so am quite surprised and confused by this stark difference]

[2020-04-03 12:11] jcarpent commented on #743
Could you try LDLt, for sure it will be more stable at the numerical level.

[2020-04-03 16:47] ddliugit commented on #737
Thanks, Carlos!

I saw you released v1.2.0 version a few hours ago. Can you update robotpkg package with the latest version. I tried to build from source, but some errors happen.

[code]

[2020-04-03 19:46] cmastalli commented on #737
You might have a problem with cmake files. Please remove the cmake files and start from scratch

[2020-04-04 15:28] ddliugit commented on #737
Currently my code is based on cartpole example you provided the `example` folder and `bipedal_walk.py`,

After updating to v1.2.0, both of them don't work normally.

See the following errors:
[code]

[code]

[2020-04-06 08:05] cmastalli commented on #737
Sorry for the problems in the `cartpole_swing_up` script. I have updated the notebooks, I created a PR that fixes it.

Regarding your own code, you need to retrieve the models through the problem. Basically, you need to replicate this line:
https://github.com/loco-3d/crocoddyl/blob/devel/examples/bipedal_walk.py#L73

[2020-04-06 08:20] TaeilJin opened #746 "Questions about crcoddyl framework"
Hi
I am installed crocoddyl on Linux, my code editor is a VScode and I use a python.

I am a beginner about optimal control and crocoddyl framework, so it might be a silly question.

I am trying to set a inequality constraints to constrain effector-position of quadruped have to be inside of convex hull.

Is there a way to adding new equality/inequality constraints?

I also trying to see a c++ code

[2020-04-06 08:48] cmastalli commented on #746
Hi @TaeilJin

Thank you for being interested in Crocoddyl.
You have different questions, I will address them individually.

Before answering the questions. You need to consider that Crocoddyl solvers are based on differential dynamic programming (or better) the Bellman principle. They use the Markoviam assumption to implement dynamics, constraint and cost functions. You might want to spend some ti

[2020-04-06 16:14] ddliugit commented on #737
Thanks. I replicate the code `ActionModelUnicycle`. Now the carpool works fine!

Do you have any schedule to replicate the `jump.py` in `npydata` folder. Now I am still using the v0.2.0 the pure python version for that optimization. I really hope to restore this example by using the latest API.

[2020-04-06 16:25] cmastalli commented on #737
I do not have a hard deadline, but I will finish it within the next weeks. In any case, you might be interested in the example about the quadrupedal jump, this is already available.

I will close this issue. Feel free to re-open it!

[2020-04-06 16:25] #737 closed

[2020-04-07 18:49] ddliugit commented on #682
Thanks. I will look into that.

Another issue is about example `quadrupedal_gaits.py` in example folder.

After running example, this issue happens:

[code]

[2020-04-08 02:52] ddliugit opened #747 "Questions about the framework of crocoddyl"
Hi,

I noticed you updated the library with most c++ code. I am using API to construct an optimization problem and wondering if I can write new cost function for Pinocchio-based model with Python.
Can you show me some examples?

[2020-04-08 08:31] cmastalli commented on #747
Yes, it is possible to inheritance `CostModelAbstract` in Python. You only need to consider that it is not possible to derived new cost data structures (from `CostDataAbstract`), which in practice means that you have to create internal data inside the model class.

For more details see this example:
https://github.com/loco-3d/crocoddyl/blob/devel/bindings/python/crocoddyl/utils/__init__.py#L439

[2020-04-08 08:33] cmastalli commented on #747
My previous reply answers your question.
I will close this issue, feel free to re-open it.

[2020-04-08 08:33] #747 closed

[2020-04-08 08:33] cmastalli commented on #746
I will close this issue since there is no any activity.

Feel free to re-open it if you need further help.

[2020-04-08 08:33] #746 closed

[2020-04-08 08:40] cmastalli commented on #682
I has already fixed in the devel branch but for some reason we did not include it in the release.

You have two solutions:
  1. Install Crocoddyl from source using the latest devel branch
  2. Remplace the `GepettoViewer` class (as defined in https://github.com/loco-3d/crocoddyl/blob/devel/bindings/python/crocoddyl/__init__.py#L21) into your installed `__init__` file.

[2020-04-08 08:42] cmastalli commented on #682
I will close this thread since there are various topics here.

For trackability purpose (to other users and developers), I suggest you to open an issue regarding a single topic.

[2020-04-08 08:42] #682 closed

[2020-04-08 08:50] cmastalli opened #748 "Release v1.2.1"
Hi @nim65s,

In this release, we have done the following tasks:

 1. fixed backup files inside notebook folder
 2. fixed an issue with the friction cone display
 3. added quadcopter actuation model

Note that I have created the branch as we used to do: release/v1.2.1

Yours,
Carlos

PD: I forgot to include point 2 on v1.2.0, the point 1 appears because we're not testing those files. They are not r

[2020-04-08 19:04] ddliugit opened #749 "is crocoddyl a library of iLQR based solver or DDP based solver?"
It seems this solver only used the first derivatives of the dynamics instead of second derivatives which should be included in DDP.

[2020-04-08 21:43] cmastalli commented on #749
We use only the Jacobian of the dynamics. It is equivalent to an iterative LQR algorithm.

Despite that, we prefer to think that our solver it is a DDP algorithm with Gauss-Newton assumption.

[2020-04-08 21:46] cmastalli commented on #749
Crocoddyl has different solvers. One of our novel solver is called feasibility-driven DDP which it is a remarkable improved version of the DDP algorithm.

Additionally, our DDP algorithm is not exactly the classical implementation. We make a relinearization of the Value function to be able to accept the state trajectory as warm-start.

For more details see the Crocoddyl paper described in Readme f

[2020-04-08 21:51] cmastalli commented on #743
@wxmerkt do you have any update regarding this topic?

When it could be possible to try out the improvement that you did?

[2020-04-09 09:22] wxmerkt commented on #743
My laptop motherboard died last night - and it is unclear whether there is on-site support during Easter or the lockdown at all. I will hear more from IT next week after the Easter shutdown.
In parallel, I am trying to get access to the data on the laptop but waiting for parts from Amazon for that... I'll keep you posted.

[2020-04-09 12:25] cmastalli commented on #743
Oh bad thing for this period.
It could work if you try to push the code, I could finish if this the case.

[2020-04-10 07:30] julesser opened #752 "AttributeError: 'CostModelContactFrictionCone' object has no attribute 'frame'"
Hey guys,
It seems that  some change in v1.2.0 caused `python3 bipedal_walk.py display` to fail.
**Output**:
[code]
Hopefully this report is useful to you :)

[2020-04-10 08:19] cmastalli commented on #752
Hi @julesser,

This issue has fixed in v1.2.1 but we are still waiting for the release.
Alternatively, you could install Crocoddyl by source.

I will close this issue since it has been fixed.

Carlos

[2020-04-10 09:44] julesser commented on #752
Okay, great.

[2020-04-10 09:44] #752 closed

[2020-04-13 11:14] TaeilJin opened #753 "AttributeError: 'CostModelContactFrictionCone' object has no attribute 'frame'"
Hi
Today I compiled a qudurpedal_gaits.py, and I got a error message "AttributeError: 'CostModelContactFrictionCone' object has no attribute 'frame'"

I am curious about this error message. Because it happens after updating robotpkg, and it also has a same error after I re-install the crocoddyl using robotpkg.

Is there a change on the crocoddyl library?

[2020-04-13 12:03] #748 closed

[2020-04-13 15:06] cmastalli commented on #753
This issue is duplicate. See here for more details: https://github.com/loco-3d/crocoddyl/issues/752.

[2020-04-13 15:06] #753 closed

[2020-04-14 12:29] julesser commented on #752
FYI: Updating robotpkg-py36-crocoddyl to version 1.2.1 has fixed the problem for me.

[2020-04-14 12:47] julesser opened #754 "BoxDDP capabilities under v1.2.1"
A few weeks ago I created a shooting problem under v1.1.0 based on your `bipedal_walking_ubound.py` and solved it successfully with the BoxDDP for our robot.
After updating to the latest version the solution does not converge anymore after the fourth footstep.

Have there been any changes in the solver structure or similar that could account for this? If not, do you see other possible explanations

[2020-04-14 13:06] wxmerkt commented on #754
Changes to `BoxQP` were between `v1.0.0` and `v1.1.0` - and there are numerical differences in the behaviour (cf. #743). It mostly relates to the old BoxQP working better with BoxDDP, and the new BoxQP working better with BoxFDDP.

The [release notes](https://github.com/loco-3d/crocoddyl/releases) do not indicate related changes between `v1.1.0` and `v1.2.1` - apart from adding the `virtual` keywo

[2020-04-14 13:56] julesser commented on #754
Thanks for your response.
The current log looks like this: [logNewBoxDDP.txt](https://github.com/loco-3d/crocoddyl/files/4475677/logNewBoxDDP.txt). Previously it has been solved within ~30-40 iterations.
Apparently, I can't reproduce the previous solution with my current setup.

[2020-04-14 13:57] cmastalli commented on #754
@wxmerkt -- @julesser reported to develop his problem under v1.1.0, not v1.0.0.

In `v1.0.0`, we have an experimental code for the `BoxQP` and the `BoxDDP. Both were buggy and fixed in `v1.1.0`. The latest version of `BoxQP` uses Cholesky decomposition, we are investigating if this affects the numerical behavior.

---

I have introduced a quadratic penalization of the friction cone. I suspect this

[2020-04-14 14:05] julesser commented on #754
Thank you for pointing that out. Unfortunately, excluding these costs has **not resolved the issue**.

Just posted it in the previous comment.

[2020-04-14 14:45] cmastalli commented on #754
It is weird because we have not modified any solver / algorithm between v1.1.0 - v1.2.0. It would be helpful if you could share the exact commit you were using.

I personally checked that the examples have the same behavior. However, we have observed that sometimes happen differences between different PCs. Are you using the same PC?

The bipedal formulation needs to be improved. When you move from

[2020-04-15 08:12] julesser commented on #754
I used the binary versions, i.e. `robotpkg-py36-crocoddyl`, both on the same PC.

Using `BoxFDDP` works! In contrast to `BoxDDP`, the solution converges after  ~20 iterations: [logBoxFDDP.txt](https://github.com/loco-3d/crocoddyl/files/4479777/logBoxFDDP.txt)

You mean the `maxIter` parameter? Increasing it to 1e3 brought no success.

How would your preferred solution look like?
Maybe I could cont

[2020-04-15 08:18] cmastalli commented on #754
Box-FDDP always outperforms Box-DDP. It is a novel method that I have submitted few weeks ago. As soon the paper get accepted, I will share it.

No, I meant `th_stop`. Try something like `1e-9`, it seems you're using a value around `1e-6`.

[2020-04-15 08:22] cmastalli commented on #754
It would be great! Probably, you should described (in private via email) your project. With this, I will have a better idea how you could contribute.

[2020-04-15 09:00] julesser commented on #754
Thanks for pointing this out.
`1e-9` does not seem to be feasible. `th_stop = 1e-8 ` again fails after the second shooting problem:
[logBoxDDP_th_stop_e-8.txt](https://github.com/loco-3d/crocoddyl/files/4480108/logBoxDDP_th_stop_e-8.txt).

[2020-04-15 09:10] cmastalli commented on #754
Thank you for sharing these results. It would be useful if you can share your script (or give me access to your code).

[2020-04-15 10:43] julesser commented on #754
Thanks for your quick following up. The working version (adapted from `bipedal_walk_ubound.py`) is located here:
https://github.com/julesser/crocoddyl/blob/devel/examples/RH5/walk.py

[2020-04-16 08:18] cmastalli commented on #754
@julesser I reviewed the code twice. It is hard to give you an answer if you do not provide the commits (and replicate the conditions) in which your script was working.

I have strong doubts that the `BoxDDP` explains your problem. I believe you started to write your script (because it is based on our examples) after the `BoxDDP` was working (integrated in January 5 and release February 13 (under

[2020-04-17 13:04] TaeilJin opened #756 "Inquiry about debugging binding c++ code"
Hi
I am always thanks for your quick responses.
I have a another question, Is there a way to debug binded c++ code?

I want to debug a function, for example, I want to debug the steps inside of crocoddyl.CostModelCoMPosition which is written by c++ code and binded

[2020-04-17 13:19] cmastalli commented on #756
You need to install Crocoddyl in DEBUG mode, and then you could use `gdb` (including with a Python script).

[2020-04-17 13:21] cmastalli commented on #756
But note that we have unittest code for checking the behavior of our functions. You could run it with
[code]

[2020-04-17 14:03] TaeilJin commented on #756
Thank you for quick response!,

To be honest, I was just following installation procedure (using robotpkg, or build from source).
Is there a way to change a "mode"?

[2020-04-17 14:32] cmastalli commented on #756
Using normal cmake compilation, i.e.
[code]

For robotpkg, you're installing Crocoddyl through a pre-compile binary. If you did it, you will need to first uninstall it.

[2020-04-17 14:41] TaeilJin commented on #756
Thank you so much!

[2020-04-17 15:06] cmastalli commented on #756
You're welcome

[2020-04-17 15:06] #756 closed

[2020-04-19 19:43] cmastalli commented on #754
I will close this issue since there is no activity or evidence to have an issue in the `BoxDDP`.

Feel free to re-open it if things change.

[2020-04-19 19:43] #754 closed

[2020-04-19 19:44] cmastalli commented on #749
I will close this issue.

Feel free to ask further questions in other issues.

[2020-04-19 19:44] #749 closed

[2020-04-22 21:53] proyan opened #762 "Casting an ActionModel from Scalar to a NewScalar type"
This issue is concerned with easy transcription and use of the templated classes in crocoddyl.

We currently need a virtual member function in all classes that can cast the class from one scalar type to another. This would be useful in codegenerating actionmodels. The typical use would be to cast the actionmodel to the CodeGen Scalar Type. So instead of Lines 145-245 in https://github.com/proyan/c

[2020-04-24 11:21] cmastalli commented on #762
Let's do an exercise since it requires a lot modifications.
Could you write a simple example of how you would do it in the action model class with a simple c++ derivation?

Additionally, let's break this milestone in the three main PRs: one per point that you have mentioned.

[2020-04-27 12:36] TaeilJin opened #763 "Action or Cost model for following desired trajectories"
Hi

I plan to optimize the CoM and foot trajectories, and than create the whole quadruped motion that follows the trajectories which I have created.

Looking at the example, it seems to create their own trajectories from the user input. (ex: number of knots, step height and length ..)

- Can you tell me which functions I should refer to ?

- If you can, I want to know which is the cost function an

[2020-04-27 13:50] julesser opened #764 "Computations Regarding Which CS?"
Hi all,

Could you tell me in which frames the
- twist of the floating base and the
- spatial acceleration of the floating base

are expressed in Crocoddyl? Is it the regarding body frame or in world coordinates?

Having this piece of information would be meaningful in order to validate the generated trajectories in other simulators.

[2020-04-27 20:06] cmastalli commented on #764
The floating base velocity and acceleration is expressed in its body coordinate system (local frame).

Please let me know if this helped you

[2020-04-27 20:14] cmastalli commented on #763
You could definitely formulate an optimal control problem that tracks a desired centroidal dynamics trajectory (i.e. CoM position, angular momentum regulation, and force tracking). And you are right, our examples are written to track a set of foothold locations.

Unfortunately, at the moment, we don't have any example of how to formulate these kind of problem. However, you could explore the differ

[2020-04-28 07:31] julesser commented on #764
Thanks for the quick feedback.

[2020-04-28 07:31] #764 closed

[2020-04-28 21:18] cmastalli commented on #279
@nim65s I think you integrated this thing. Can we close this issue?

[2020-04-28 21:39] nim65s commented on #279
yep

[2020-04-28 21:39] #279 closed

[2020-04-30 07:36] cmastalli commented on #743
In the box-QP, as well as in the DDP, we are using a LLT Cholesky decomposition. I have written a very simple code to bench it:
[code]

and the results for 76 and 36 matrix dimensions are
[code]
and
[code]
respectively.

The question is "what do we prefer?". The stability of LDLT or the speed of the LLT solver.
We might also propose a solution were the default solver is LLT and the user can change

[2020-04-30 08:09] cmastalli commented on #291
solved in #765

[2020-04-30 08:09] #291 closed

[2020-04-30 08:10] cmastalli commented on #230
@proyan you have been working in the efficiency of the euler integrator.

Could you let me know if you check that there is no memory allocation?

[2020-04-30 08:40] jcarpent commented on #743
@cmastalli I think the way you perform the bench is not fair. Why are you using floats for your bench? you are always using the same matrix for the decomposition?
You are also doing online memory allocation when doing the first call.

You've printed two outputs. What is the second?

[2020-04-30 08:54] cmastalli commented on #743
I agreed with you, but it is a fact that LLT is faster than LDLT. The explanation is that "the LLT implementation leverage cache-friendly matrix-matrix operations, while the LDLT implementation involves pivoting and matrix-vector operations only" [cit. https://stackoverflow.com/questions/23309596/eigen-ldlt-slower-than-llt]

Results for different matrix dimension (first, 76; second, 36).

[2020-04-30 08:57] jcarpent commented on #743
Yes, but in your case, you should advocate for numerical stabillity rather than performances (with only minor diff here).

[2020-04-30 09:00] jcarpent commented on #743
Can you redo the bench for double matrices too?

[2020-04-30 09:12] cmastalli commented on #743
To be honest, I run all the examples using LDLT approach in both QP and DDP algorithms. I didn't find a significant difference with the LDLT approach. For instance, the number of iterations and final cost values are the same, with an exception in the `bipedal_walk` where the LDLT requires around 8 iterations more than LLT.

My preliminary test shows no benefits of using LDLT, but I truly believe w

[2020-05-01 17:51] cmastalli commented on #265
Solved by #758

[2020-05-01 17:51] #265 closed

[2020-05-04 15:27] cmastalli commented on #255
It seems I found the explanation of this issue.
The problem happens during the creation of data since `make_shared` does not honor requested alignment. For solving this, we need to use the `allocate_shared` thing.

I am working in providing a fix to this issue.

[2020-05-05 19:24] cmastalli commented on #255
solved by #768

[2020-05-05 19:24] #255 closed

[2020-05-08 16:58] cmastalli commented on #763
I will close this issue since there is no activity or actual bug or feature to be implemented

[2020-05-08 16:58] #763 closed

[2020-05-08 17:04] cmastalli commented on #711
@proyan I won't work on this task.
These details are not near to be priority for me.
I am imposing myself to follow the rule *if it ain't broke don't fix it* since I can't spend my time on these activities.

If someone doesn't offer his/her help within a week, then I would close this issue.
It is not useful to keep issues that are not going to be handle.

Does somebody disagree?

[2020-05-08 17:07] cmastalli commented on #274
I will close this issue since it is not useful for me to track it.
I am working on MPC controller.

[2020-05-08 17:07] #274 closed

[2020-05-08 17:26] wxmerkt commented on #711
We should keep the issue open. Issues should only be closed if they are resolved. This issue is a real problem unless you have 64GB RAM.

[2020-05-15 19:48] GlenHenshaw opened #774 "gepetto-gui core dumps on Ubuntu 18.04"
robotpkg *wants* to install gepetto-viewer=4.4, but gepetto-viewer-corab requires gepetto-viewer=4.2.

Manually specifying gepetto-viewer=4.2 installs fine, but trying to run gepetto-gui results in:

    Gtk-Message: 15:47:42.823: Failed to load module "canberra-gtk-module"
    libpng warning: iCCP: known incorrect sRGB profile
    terminate called after throwing an instance of 'CORBA::TRANSIENT'

[2020-05-15 19:50] GlenHenshaw opened #775 "Example notebook bipedal_walking.ipyn fails"
display = crocoddyl.MeshcatDisplay(talos_legs, 4, 4, False)
    ddp.setCallbacks([crocoddyl.CallbackLogger(),
                  crocoddyl.CallbackVerbose(),
                  crocoddyl.CallbackDisplay(display)])

    ---------------------------------------------------------------------------
    AttributeError                            Traceback (most recent call last)
    <ipython-input-7-5eb8da

[2020-05-15 21:26] nim65s commented on #774
Hi @GlenHenshaw
gepetto-viewer 4.4 is really old.
I think you are looking for `sudo apt install robotpkg-py27-qt4-gepetto-viewer-corba`
You can adapt your python version, but for Qt, we are still bound to ubuntu's packaging of OSG with only qt4.

[2020-05-15 21:36] GlenHenshaw commented on #774
I'm just barely starting to learn about robotpkg, but I have a fresh Ubuntu 18.04 install and I installed the current robotpkg from their apt repository. And 4.4 is what it wants to install.

Building everything from source -- all the urdfdom dependencies, then gepetto -- seems to work. But the instructions indicate you can install via robotpkg, and that doesn't appear to work at least for me.

I'

[2020-05-15 21:37] GlenHenshaw commented on #774
On the other hand, installing from source and then trying to run one of the crocoddyl exaples gives me this:

    python -m crocoddyl.examples.quadrupedal_gaits "display" "plot"
    *** SOLVE walking ***
    Traceback (most recent call last):
      File "/home/glenhenshaw/anaconda3/envs/crocoddyl/lib/python3.6/runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
      File "/home/

[2020-05-15 21:39] nim65s commented on #774
`robotpkg-gepetto-corba` and `robotpkg-gepetto-viewer-corba` are obsolete packages. You can now choose your python and (soon) qt versions, with eg. `robotpkg-py27-qt4-gepetto-viewer-corba`.

Your ModuleNotFoundError is probably because the python sitelib of your installation (eg. `/opt/openrobots/lib/python2.7/site-packages` for robotpkg & python 2.7) is not available in the `sys.path` of your pyt

[2020-05-15 21:49] proyan commented on #774
Hi @GlenHenshaw
`gepetto-gui` is used for visualizations, which are indeed good to have :).
If you've followed the installation instructions, you would have access to `crocoddyl` already.

For installing gepetto-gui, please follow the instructions given by @nim65s `sudo apt install robotpkg-py27-qt4-gepetto-viewer-corba`

[2020-05-15 21:55] proyan commented on #774
Looking at your error log from when you install by source, it looks like your only problem is the missing gepetto-gui python package. You seem to have everything else already.

[2020-05-17 07:38] syundo0730 opened #776 "ValueError: Mesh package://example-robot-data/robots/ ..."
Hello. Error raises when I run the command bellow. Actually I couldn't launch any models.
[code]

Model files exists
[code]

I'm using Ubuntu xenial and python 3.5.2
[code]

How can I fix the file path error?

[2020-05-17 07:51] cmastalli commented on #776
You need to define the ROS_PACKAGE_PATH. For a more detailed instruction, see the README file of the example-robot-data repository.

[2020-05-17 11:59] syundo0730 commented on #776
it worked. Thank you!

[2020-05-17 11:59] #776 closed

[2020-05-17 12:03] proyan commented on #774
Hi @GlenHenshaw
Could you please verify that you have a functioning installation?

[2020-05-18 15:21] julesser opened #777 "Verifying Satisfaction of Constraints"
Hi all,

I was wondering if there are already tools available in order to check if (or how good) constraints are actually satisfied from the optimal solution. It would be particularly interesting to know for

1. Inequality constraints (friction cone and joint limits)
2. Task constraints (e.g. tracking of desired foot placement)

Or do you validate the constraint satisfaction via simple post-proces

[2020-05-18 16:51] cmastalli commented on #777
We don't have yet any code that post-process the constraint satisfaction.
However, you could retrieve it by accessing the value of the residual vector inside the cost functions.

[2020-05-18 17:58] GlenHenshaw commented on #774
So when I install from the robotpkg-py36-qt4-gepetto-viewer-corba package the install succeeds. I can run the resulting binary and it does not core dump.

However, I have been spectacularly unsuccessful in getting crocoddyl to communicate with the viewer. Neither the command-line tests nor the jupyter notebook scripts provided in the docs work.

From the command line:
    $ python -m crocoddyl.exa

[2020-05-18 19:42] GlenHenshaw commented on #774
Update: when I manually add the path to libcrocoddyl_pywrap.cpython-36m-x86_64-linux-gnu.so to my LD_LOAD_PATH (in my case, /opt/openrobots/lib/python3.6/site-packages/crocoddyl), then the command-line example works.

The jupyter notebook, which is what I would prefer to use, still does not work.

[2020-05-19 09:48] proyan commented on #774
If you already have the `/opt/openrobots/lib/python3.6/site-packages` taken care of by your PYTHONPATH, I don't think you would have needed to manually specify the crocoddyl folder for linking.

Looking at your error log, I have a feeling that it is because you seem to be using `python3.7` instead of `python3.6` here. (You are calling `/home/glenhenshaw/anaconda3/lib/python3.7/runpy.py`)

Could yo

[2020-05-19 14:26] proyan commented on #775
Thanks for the report @GlenHenshaw
MeshcatDisplay was recently integrated to make the display easier with jupyter notebooks. However, it looks like the recent release `v1.2.1r3` in robotpkg only updated the examples, and not the python bindings.
@nim65s Do you know why this is? This looks to be broken after the changes in #759.

[2020-05-19 14:27] proyan commented on #775
From #776 , you mentioned that you also installed crocoddyl from source. Are you able to run the examples with installation from source?

[2020-05-19 15:20] proyan commented on #775
My bad, robotpkg doesn't have meshcat support yet.
@GlenHenshaw do you get this error when running from source?

[2020-05-19 15:59] nim65s commented on #775
This has nothing to do with robotpkg. Meshcat is not available in any release yet.

I think @GlenHenshaw just cloned the project to get the notebook. And the clone is on devel by default. So the notebooks from a freshly cloned project are broken by default, because they are ahead of the binaries.

@GlenHenshaw : to fix this, you can use `git checkout master`.

@cmastalli @proyan : I don't think us

[2020-05-19 17:06] GlenHenshaw commented on #774
"Could you please fix this and try again?"

Yes -- I apologize, that was operator error. When I properly activate the Conda environment with python 3.6 *and* I properly install the most up-to-date crocoddyl packages, the command line example *mostly* works.

The problem I get now is that with the ANYmal example, it complains about not having the right plugin to read the model files.

The humanoid

[2020-05-19 17:08] GlenHenshaw commented on #775
"you mentioned that you also installed crocoddyl from source. Are you able to run the notebooks with installation from source?"

I did it from source originally because I couldn't get it to install properly via robotpkg. But I never successfully got everything to build, I got hung up on building gepetto-viewer-corba. Then I figured out what was wrong with my robotpkg install, so I removed the buil

[2020-05-19 17:09] GlenHenshaw commented on #775
"So the notebooks from a freshly cloned project are broken by default, because they are ahead of the binaries."

This is precisely what I did - I wanted to the notebooks and I am trying to run them against the robotpkg binary.

[2020-05-19 19:27] cmastalli commented on #775
@nim65s I understand your point, however, your propose solution doesn't necessary avoids these user mistakes. For instance, other problems could arise by exchanging versions of `robotpkg` binaries with source files. Maybe a solution could be to install the Jupyter notebooks as well, do @nim65s agree with it? If so, could you help me with this?

Regarding to the default branch topic, I agree that i

[2020-05-19 20:08] proyan commented on #774
@GlenHenshaw You are turning out to be a good beta user :)

I think the issue is a missing `robotpkg-osg-dae`. Please install this package and let me know if there is any further issue?

[2020-05-20 00:02] GlenHenshaw commented on #774
Yes, that works!

[2020-05-20 00:03] GlenHenshaw commented on #775
Well, hold on - I still don't have a working notebook.

Is the recommendation that I install crocoddyl from source instead of binary? Or is there an older example notebook I could use?

[2020-05-20 00:04] GlenHenshaw commented on #774
I do still get the following error:

    Traceback (most recent call last):
      File "/home/glenhenshaw/anaconda3/envs/crocoddyl/lib/python3.6/runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
      File "/home/glenhenshaw/anaconda3/envs/crocoddyl/lib/python3.6/runpy.py", line 85, in _run_code
    exec(code, run_globals)
      File "/opt/openrobots/lib/python3.6/site-packages

[2020-05-20 06:37] proyan commented on #775
As @nim65s mentioned, the examples in the `devel` branch, (which you currently use) are ahead of the current binary release (which I suspect you are using). So please simply try to do
[code]
and try the examples, using the current binary installation from robotpkg.

[2020-05-20 06:42] cmastalli commented on #775
There are recent features that haven't been  released yet in robotpkg, e.g Meshcat viewer. If you cannot wait for the release, then you could install by source the devel branch. Note that for this particular case it would be enough with replacing the display with GepettoDisplay.

[2020-05-20 06:46] proyan commented on #774
#778 should take care of this last issue. It is because of change in the API between python 2 and 3.

Thanks for the reports @GlenHenshaw, please let us know if there are further issues. If not, could you please close this issue?

[2020-05-20 14:08] cmastalli opened #780 "Data allocation in solvers doesn't consider contact-phase MPC applications"
Hi guys,

Let me first explain you quickly the problem.
I have a MPC formulation that smartly updates cost, contacts and impulse given an externally-defined contact-phase.
As you might see, when the motion evolves is imperatively to update the running nodes without allocating memory.
During this procedure, we introduce impulse models in different nodes with the original (or first) optimal control

[2020-05-21 12:00] cmastalli opened #781 "Release v1.3.0"
Hi @nim65s,

In this release, we have done the following tasks:
 1. Minor improvement in state-base class (enabling limits once we define only one component).
 2. Added functions to print the active/inactive status of costs, contacts and impulses.
 3. Running computations in the contact / impulse dynamics using the active number of contacts / impulses, respectively.
 4. Used NumPy Array in example

[2020-05-21 14:25] #774 closed

[2020-05-21 15:05] nim65s commented on #781
Thanks. This is holliday here, so I'll handle that on Monday :)

[2020-05-21 15:21] GlenHenshaw commented on #775
OK, so... I checkout out the master branch and used that notebook.

It doesn't work.

The notebook (bipedal_walking.ipyn) runs. It doesn't throw any errors. The plots look good. Gepetto-viewer shows the robot on the screen.

But it doesn't actually move. There's no animation. I assume there is supposed to be?

[2020-05-21 15:22] cmastalli commented on #781
Sounds good! I hope you're enjoying your holidays!

[2020-05-21 15:28] cmastalli commented on #775
No, you should see the robot motion when you type `display.displayFromSolver(ddp, rate)`.

[2020-05-21 15:31] GlenHenshaw commented on #775
Nope... I get a static robot.

When I run examples from the command line I see a moving robot. When I run similar examples from the jupyter notebook I see a static robot.

[2020-05-21 15:37] GlenHenshaw commented on #775
In case it helps, when I run gepetto-viewer I get the following output

[code]

[2020-05-21 15:39] GlenHenshaw commented on #775
ANd when I run the notebook, I get the following output in the terminal:

[code]

[2020-05-21 15:43] GlenHenshaw commented on #775
...but I get similar errors when running the example from the command line.

[2020-05-21 15:47] cmastalli commented on #775
@GlenHenshaw it seems there is something wrong in the gepetto-viewer installation.
It is hard to me understand how it is going on.

Could you check that you're not mixing Python versions of installed libraries?

[2020-05-21 16:30] GlenHenshaw commented on #775
I suspect that the issue may be how my python installation transfers from conda to my jupyter notebooks. I have a conda environment configured for crocoddyl. I instantiate jupyter from a terminal with that environment activated but I am not convinced notebook actually sees the python paths the same as the terminal does.

I am new at conda and fairly new at jupyter as well, so this might be pilot e

[2020-05-21 18:24] nim65s commented on #775
Conda is cancer. Now, you are aware :)

[2020-05-21 18:40] cmastalli commented on #775
@GlenHenshaw we have decided to do not support Conda. In future we want to release Crocoddyl using pip, @nim65s is working hard on it.

I believe this issue is out of our scope, and we unfortunately have our hands tied.
I hope you can understand our point. To a smooth transition for you, I suggest you to clean up your installation and follow the instructions written in the REAME file.

[2020-05-21 20:47] GlenHenshaw commented on #775
1) Re: conda support. Fine. Personally I think that all python package management is cancer but I'm certainly not going to argue over that, I'll use whatever you guys support.

2) I seem to have solved my problem. I'm not sure exactly *how* I've solved it. What I did was open the bipedal_walking.py file as a notebook instead of opening the bipedal_walking.ipyn file. The code in these two files is

[2020-05-22 15:41] cmastalli commented on #775
@GlenHenshaw I have a similar message error after updating `gepetto-viewer` and `gepett-viewer-corba` in my system (reported in https://github.com/Gepetto/gepetto-viewer-corba/issues/147).

Could you try to revert the versions (this works for me)?
[code]

[2020-05-22 19:15] #780 closed

[2020-05-27 15:45] #781 closed

[2020-05-27 15:46] cmastalli commented on #781
Thank you @nim65s :)

[2020-06-01 20:23] zzhou387 opened #785 "Cannot install robotpkg-collada-dom to visualize the quadruped example"
Hello,

So I got the same issue in #774 when I was trying to visualize the quadruped example:
[code]
And I tried to install `robotpkg-osg-dae` but got this error:
[code]
Is there a way to fix it? Thanks!

[2020-06-01 20:30] cmastalli commented on #785
This issue is related with recent problem in the binaries of `gepetto-viewer`.
Hopefully, it is already solved, right @nim65s?

@zzhou387 if you're urgent, then you could try to convert the dae files manually as the error message suggests you, i.e.
[code]

The biped / humanoid examples don't use collada files. So, they should work for you :)

[2020-06-01 20:33] nim65s commented on #785
@zzhou387 : can you try `sudo apt install robotpkg-collada-dom=2.3.1r2`, and see if this is better ?

@cmastalli : I asked you to try that, to check if this can be a workaround until the bigger issue is fixed. ref https://github.com/Gepetto/gepetto-viewer/pull/143

[2020-06-01 20:45] zzhou387 commented on #785
Yea it works when I install 2.3.1r2. Thanks!

[2020-06-04 09:42] cmastalli commented on #785
@nim65s sorry for the delay. I was extremely busy.

This solution doesn't work for me, this is the error message:
[code]
and if I downgrade gepetto-viewer and gepetto-viewer-corba as
[code]
then it doesn't crash but it cannot render the DAE files (no robot is displayed).

[2020-06-04 14:58] nim65s commented on #785
`COMM_FAILURE` ? This has nothing to do with collada. Can you just try again ?

[2020-06-05 06:46] julesser opened #786 "Load Model: How to Fix Joints at Specified Values?"
Hi all,

I was wondering whether it's possible to load a full urdf model and then selectively fix some joints at some specified values?

Right now I am using the robot wrapper that comes along with Pinnochio in order to build a floating base model of a humanoid robot like this:
[code]

[2020-06-05 08:43] jcarpent commented on #786
This issue is related to Pinocchio much more. You may have a look to the `uildReducedModel`.

[2020-06-05 08:46] cmastalli commented on #786
Yes, indeed, I suggest you to post it in Pinocchio if you still have questions regarding this topic.

I will close to this issue.

[2020-06-05 08:46] #786 closed

[2020-06-08 18:07] cmastalli commented on #785
I tried again after upgrading `gepetto-viewer` and `gepetto-viewer-corba` to 4.9.0 and 5.4.0, respectively, and it didn't work. Concretely speaking, I don't have `COMM_FAILURE` but still I cannot display the collada files.

I don't have any idea what it is going on.

[2020-06-08 18:09] cmastalli commented on #775
@GlenHenshaw  do you still have this issue?

[2020-06-08 18:17] GlenHenshaw commented on #775
Yes and no. I have determined that the issue seems to be with the python code and not the notebook-gepetto interface. The code in the notebook example does not result in the robot moving, no matter where it is run. Other code (the example provided for humanoid walking that is a python script and not a notebook file) does result in robot motion whether it is run from the command line or from within

[2020-06-12 10:59] cmastalli commented on #648
@jcarpent let me understand this statement. We need to transform the coordinate vector that expresses the spatial momentum in frame coordinates to a Cartesian vector, is that correct?

If so, then my understanding is that the force conversion to Cartesian vector is as follows
[code]
right?

But I don't know how to convert the momenta derivatives

[2020-06-12 11:17] jcarpent commented on #648
Same strategy.

[2020-06-12 11:45] cmastalli commented on #648
@jcarpent  I have another general question for you.

I don't understand the motivation behind tracking a spatial vector in frame coordinates. Instead I would expect to build a cost function that tracks a Cartesian vector because the users can easily define a reference in the Cartesian space. Is there something that I missed here?

I asked myself the same question for the force tracking cost in ong

[2020-06-12 12:15] jcarpent commented on #648
It really depends on your application. From the local Frame, it might be a sensor based tracking.

[2020-06-12 13:16] cmastalli commented on #648
Then, should we define an API cost that accepts all options?, e.g. for the centroidal momenta cost will be like:
  - spatial momenta expresses in local coordinates (body coordinates)
  - spatial momenta expresses in frame coordinates (CoM frame coordinates)
  - Cartesian momenta expresses in the world frame

[2020-06-12 13:16] cmastalli commented on #648
Or should we write independent cost functions?

[2020-06-19 16:17] skleff1994 opened #791 "pybind / python unittests fail when building from source"
Hello,

I am trying to install Crocoddyl from source on Ubuntu 18.04 with the multi-threading option. I cloned the `devel` branch and did

[code]
I get the following output

[code]

Then I tried the same installation _without_ the multi-threading option and it still fails. I also (naively) tried with an additional -DPYTHON_EXECUTABLE='/usr/bin/python2' to see if it would change anything, but it do

[2020-06-19 17:16] cmastalli commented on #791
All unittests are passing in non multithreading mode. Are you sure you don't have multiple installed copies of Crocoddyl.

For the multhreading mode, there is a known issue that needs to be tackle. The problem is that some of the python unittests creates internal data (not possible to avoid). However, it could be possible to create different copies of a Python model, which could be handle inside t

[2020-06-19 19:51] skleff1994 commented on #791
I made sure to uninstall Crocoddyl before building from source and was able to reproduced the same output. In non multithreading mode I get the following

[code]

Concerning the multithreading mode, I tried to run a simple program despite the failure of the unitttests and I got memory allocations errors upon instantiation of `ShootingProblem` and `Solver` objects (both in python and C++). Is this

[2020-06-19 22:33] cmastalli commented on #791
It is hard to know what it's going on, you could run the test with in verbose mode: `ctest -v`. However, given the recent changes in `example-robot-data`, I would say that you need to check that it is updated and working the repository. For instance, could you run the Crocoddyl examples?

Again, it is hard to give you an answer without further details. Which program were you running? Which action

[2020-06-22 19:31] skleff1994 commented on #791
Thank you for your detailed answer. So if I understand correctly, this memory allocation issue only affects action models created in Python, and the fix would be to enable copying these action models in order to avoid conflicts in the data when running the computations in parallel.

Let me be try to be more specific : I made sure `example-robot-data` works fine and ran the tests with `ctest -v` (b

[2020-06-23 08:00] cmastalli commented on #791
Yes, it is correct.

All the examples are passing, with exception of `example-python-double-pendulum`. To be precise, the unittests that should fail, only under multithreading compilation, are:
  - `pybinds-shooting`
  - `example-python-double-pendulum`

I think you should use `gdb` to find where your issue is happening. This might help us to spot the problem. Another action could be to check whic

[2020-06-24 00:00] skleff1994 commented on #791
Thank you for your advices. It appears that re-installing Crocoddyl from scratch solved the problem :

[code]

I did :

[code]

My best guess is that I must have forgotten to clean the `cmake` directory in prior installations...

[2020-06-24 08:33] cmastalli commented on #791
Yes, sometimes `cmake clean` is not enough. I always recommend to to `rm -rf *`.

Since everything seems to be resolved, could you close this issue?

[2020-06-24 12:10] #791 closed

[2020-07-02 15:16] gfadini opened #795 "Memory leak issue"
I encountered this problem since I have to solve a great number of crocoddyl fddp problems in loop.
I found that after some iterations during an optimization routine the memory consumption increased significantly.

To test this I'm attaching some examples of the robot manipulation in a loop.
https://gist.github.com/gfadini/df00b6d8a245acf40d68771403946eb8
In one of them the problem is initialized

[2020-07-02 15:22] jcarpent commented on #795
This might be related to https://github.com/stack-of-tasks/eigenpy/issues/156. Please consider including `eigenpy/eigenpy.hpp` inside a `fwd.hpp` for the Python bindings.
The issue is coming from Boost.Python which has a specific way of destroying the memory of allocated objects. In the present context, we need to overload the destroying of `Eigen::MatrixBase` which is only done by including the m

[2020-07-02 15:42] gfadini commented on #795
@jcarpent Hi, thanks for the quick reply. So to apply this fix I should compile eigenpy from scratch?
At the moment I was still working with the up-to-date binary version of crocoddyl for convenience.
I also mention that in my original problem I also need to continuously modify the pinocchio model in the loop so that too would be another possible source of leak if I don't apply the fix in the issu

[2020-07-02 15:43] nim65s commented on #795
@gfadini : I can try to reproduce your issue and check @jcarpent fix if you prefer

[2020-07-02 15:44] jcarpent commented on #795
No, Python bindings of Croco should include the header that I've mentioned.

[2020-07-02 15:47] gfadini commented on #795
@nim65s ok for me if you can do it it would be the best to quickly check if this solves the problem.
However as discussed I was planning to compile crocoddyl also on the second pc sooner or later

[2020-07-02 15:50] gfadini commented on #795
@jcarpent is there any reason/downside that you are aware of for which they were not included in the first place?

[2020-07-02 15:55] jcarpent commented on #795
I don't have any answer for your question.

[2020-07-02 16:02] gfadini commented on #795
Ok, @jcarpent for the reply. I guess that if what you propose is solving this problem without too much hassle it'll be the way to go.
Thanks

[2020-07-03 16:34] nim65s commented on #795
Actually, the fix proposed by @jcarpent is already in place, and I can reproduce @gfadini issue with it:

https://github.com/loco-3d/crocoddyl/blob/c31a27432f9f2b365faec31b5e7cb37d90b7abb0/bindings/python/crocoddyl/fwd.hpp#L12

[2020-07-03 17:33] cmastalli commented on #795
@gfadini I think you might want to try the Python code reported in Pinocchio, just to check that you don't have that issue in your systems. If this passes, then try again at Pinocchio level.

Please report the results in this thread.

[2020-07-03 18:14] gfadini commented on #795
Hi @cmastalli ,

I freshly installed the system at the lab and everything there is installed with the apt packages provided through robotpkg. I hardly doubt the issue is coming from the configuration there, that would be **extremely** unlikely.

To further support this conclusion I'm able to reproduce this specific issue with 3 different machines at the moment, on my two personal ones with compile

[2020-07-03 20:45] cmastalli commented on #795
@gfadini could you conduct three other test?
1) use an unicycle model instead of the FreeFwdDyn + euler integrator
2) use a DiffLQR instead of FreeFwdDyn one
3) Instead of creating each time a model inside  make_problem, let's use a fixed running and terminal model.

Please report the results of each case

[2020-07-04 11:12] gfadini commented on #795
@cmastalli
Sure I can help you to isolate the problem, the scripts tried are here https://gist.github.com/gfadini/df00b6d8a245acf40d68771403946eb8

RESULTS

# Test 1

- no memory leak if the unicycle is solved in the cycles ```test1.py```
![test1](https://user-images.githubusercontent.com/56651708/86511211-28f5f180-bdf7-11ea-97e0-9d9cbff12c41.png)

- memory leak if the models are initialized insid

[2020-07-09 16:01] jcarpent commented on #795
Sorry @nim65s, but this file is not visible for the function instiation, meaning that all the `bp::def` should see the file `<eigenpy/eigenpy.hpp>`

[2020-07-09 16:29] cmastalli commented on #795
So, where should we include it?

[2020-07-16 12:04] proyan opened #799 "Downcasting classes in python"
We have a good set of python bindings, where we are able to create classes in python and use them as they are. However, there is one problem with the current bindings, where we are not able to downcast from an Abstract class to the class instance that is being developed.

For example, when creating a class `IntegratedActionModelEuler` in python, the `calc(self, data, x, u)` needs access to the obj

[2020-07-16 12:31] cmastalli commented on #799
In c++, I have enable the automatic downcast of Python bings. You could observe this but typing:
[code]

However, it is right that we cannot derive data classes in Python. If you look the code, I didn't define `createData` as a virtual function for the Python bindings. So, what it happens is we create the base data for any model written in Python.
To be honest, I have tried to defined this functio

[2020-07-17 12:07] nmansard commented on #799
I think I agree with your remark, @cmastalli. Here, the problem is that createData is not virtual, and the re-implementation in the inheriting class is not called. Consequently, a ActionData is created instead of an InheritedActionData.

[2020-07-17 12:29] nmansard commented on #795
My understanding is that we should include the fwd declaration "#include <eigenpy/eigenpy.hpp>"  in all crocoddyl bindings, the same way Pinocchio bindings are doing. @jcarpent is that correct?
Is somebody taking care for that in Crocoddyl?

[2020-07-17 12:30] jcarpent commented on #795
Yes, this is exactly that.

[2020-07-17 12:31] jcarpent commented on #795
I think anyone is able to do that, this is a very simple task. @gfadini Are you willing to fix this bug?

[2020-07-17 12:48] cmastalli commented on #795
@gfadini I could help with this task since I understood how to solve. But at least I will need that you test it for me.

[2020-07-17 13:14] proyan commented on #799
I don't understand why this would prevent `createData` from being binded as virtual. Could you please explain?

[2020-07-17 13:18] gfadini commented on #795
Hi, @jcarpent   @cmastalli  well this bug is something that is preventing me to move forward with some larger scale tests so I'd need it to be solved for sure.
I think that also some other gepetto team members may benefit from this.
However I'm not sure if I'm able to fix it by myself since I've never actively coded with crocoddyl in C++, but I can try my best.
If @cmastalli  understood how to fix

[2020-07-17 13:20] jcarpent commented on #795
@gfadini This is a very simple fix. Just put the `#include <eigenpy/eigenpy.hpp>` in all the cpp files of the Croco bindings. Don't be afraid ;)

[2020-07-17 13:39] cmastalli commented on #795
@jcarpent the solution is shorter by adding the header in specifics files, not all of the `cpp` ones. @gfadini I will handle today for you :)

[2020-07-17 13:40] jcarpent commented on #795
In fact, you should do as in Pinocchio, including the `fwd.hpp` everywhere. You have to do that for all the functions having an Eigen argument which is something like: `Eigen::MatrixBase<>`

[2020-07-17 14:45] gfadini commented on #799
Related to this issue I report a minimal case in which it can be seen that the ```ShootingProblem``` is not using the definition of the ```createData``` method in the definition of the abstract class.
While in python this is possible to do and set the differential ad an attribute of a custom defined Data class

[code]

[2020-07-20 14:54] gfadini commented on #795
Hi, thanks @cmastalli and @jcarpent  for the support.
I've applied the #800 and run the test as before but there's no improvement with respect to this specific issue. Apparently the only case that is not affected by the issue is still the test1.py where the same ddp unicycle problem is solved in a loop.
Even when the simple unicycle ddp problem is initialized and solved in a loop there's the memor

[2020-07-20 15:32] gfadini commented on #795
@cmastalli so I tried what you suggested, and the problem is still showing up in the case the ShootingProblem is created in a loop
![test1_variant2](https://user-images.githubusercontent.com/56651708/87956002-c49d8800-caae-11ea-86c7-fa6e8288b94c.png)

[2020-07-21 09:58] julesser commented on #777
Does someone know how to retrieve the value of the residual vector for a specific cost term?
I can access the cost terms via `solver.problem.runningModels[i].differential.costs.costs`

[2020-07-21 10:28] cmastalli commented on #777
`solver.problem.runningDatas[i].differential.costs["myCostName"].r`

[2020-07-21 16:21] cmastalli commented on #777
Is this answer your question? Could we close this issue?

[2020-07-21 16:34] cmastalli commented on #795
The memory leaks occur in the custom converter from  Python list `std::vector<T>` (the same for dictionary / std map). In Crocoddyl we have many places where we used them:
  - stack of action models / datas in `ShootingProblem`
  - warm-start of the solvers
  - `calc`, `calcDiff` functions of the `ShootingProblem`, among others

**Explanation**
In the custom converter, you could see how I allocate

[2020-07-21 16:44] jcarpent commented on #795
Use the one from Pinocchio!

[2020-07-21 16:49] cmastalli commented on #795
Yes, indeed this is the alternative that I referred. However, it will break the Python API. I will use it as last resource.
@jcarpent do you have experience building custom converters? I have checked if someone has faced this issue without any success.

[2020-07-21 16:51] jcarpent commented on #795
In Pinocchio, you can see std::vector as list, and this is the way to do to avoid memory allocation and having shared memory between both. Again, see how I do in Pinocchio.

[2020-07-21 17:05] julesser commented on #777
Thanks for your convenient answers!

[2020-07-21 17:05] #777 closed

[2020-07-21 17:13] jcarpent commented on #795
Pinocchio does it well at this level.

[2020-07-21 17:25] cmastalli commented on #795
As far I know, Pinocchio defines an extra class that has the the option of retrieving a a dictionary. Then if I am correct, the API will change to something like this
[code]

[2020-07-21 17:27] jcarpent commented on #795
No, not necessarily. There is a mechanism to transform the list as an std::vector and then returning the right results.

[2020-07-22 10:28] cmastalli commented on #795
This issue was solved in #802.

@jcarpent thank you for the letting me know the additional mechanism developed in Pinocchio. Indeed the PR follows the same approach :)

[2020-07-22 20:08] cmastalli commented on #795
solved in #802

[2020-07-22 20:08] #795 closed

[2020-07-23 13:59] cmastalli commented on #704
I reviewed again this code, and I have two questions.
 1. It seems to me that `getinitargs` assumes that there are no arguments for the object construction. So if I understand correctly, this function can be removed, right?
 2. Does this code assume that the state of the instance is always a public member?

Ideally I would like to reuse this code for pickling action models and datas, however, it s

[2020-07-23 15:20] zzhou387 commented on #785
Hello, thanks for all the help before. Right now the downgraded collada-dom=2.3.1r2 and osg-dae works fine for Anymal example. However, when I was trying to import my own robot model, I can only visualize part of the links and the mesh files are all dae files. Geptto-gui is reporting errors similar to before in terms of the broken links:
`Unable to locate visual scene!
Load failed in COLLADA DOM c

[2020-07-23 15:36] cmastalli commented on #785
From this message:
```Reset up_axis to Z_UP.```
It seems the normal vectors that describes each triangle in the mesh are going inward. You can change them using blender.

However, @nim65s might provide you precise information about it.

[2020-07-23 16:32] zzhou387 commented on #785
Thanks for the prompt reply. I checked the dae files in blender and it seems like it is already Z up. The good thing is that I exported the dae files to be obj files and the geptto-gui can visualize it now! I think there is still a problem there when parsing the dae files in geptto-gui but everything works okay now. Thanks anyway.

[2020-07-24 18:51] cmastalli commented on #230
This has been solved in #695

[2020-07-24 18:51] #230 closed

[2020-07-24 18:55] cmastalli commented on #785
I will close this issue. If you are still having problems with gepetto viewer, then I suggest you to create an issue there. Definitely you will have a better support, none of the Crocoddyl developers knows the implementation details of Gepetto viewer neither are maintainers of it.

Feel free to reopen it if you have troubles with the Crocoddyl interface to it ;)

[2020-07-24 18:55] #785 closed

[2020-07-24 19:28] cmastalli commented on #762
I am planning to start to work in this task. However, before that, I would like to propose a modification of this request.

Instead of creating a `cast<scalar>` function, I propose to do `toCoGen` function. My points are:
 - we don't want to support other scalars (already with this single scalar there is a lot of to be written for each single class in Crocoddyl)
 - there is no need for casting sca

[2020-07-24 19:51] tannerliu347 opened #805 "C++ runs much slower compared to Python"
Hi,

I was running the benchmark/quadrupdal-gaits-optctrl C++ example and it seemed to take a lot longer to compute compared to using Python binding. Is this normal? Thank you.

[2020-07-25 21:22] cmastalli commented on #805
The performance is similar for both cases. If you compile the c++ library in Debug mode, then you will see a very slow performance when you compared with release mode Python binds.

Are you sure you're installing and comparing both using the same mode?

[2020-07-26 12:17] proyan commented on #762
Hi Carlos,

Don't bother, I had already started implementing it. If you need it, I can try to finish it as a priority, but I don't see why you would need this immediately?

On July 24, 2020 9:29:08 PM GMT+02:00, Carlos Mastalli <notifications@github.com> wrote:

[2020-07-27 07:54] cmastalli commented on #762
Thanks for taking care. Yes, it is important to me because I want to start with its Python bindings. The objective is to try it within my MPC algorithm written in Python. I am trying to avoid to write it in c++, so I could easily develop in future more advance ideas.

[2020-07-27 11:08] cmastalli commented on #799
@gfadini it seems I found the solution. I am working on it, it requires to do work on each single thing: action, diff-action, cost, contacts, impulses, actuation and activation

[2020-07-27 11:59] gfadini opened #807 "General underactuated root actuation model"
Hi,

I need a model of a robot for which there's an under-actuated base free to move along a prismatic guide.
Now one solution would be to develop a custom model from the ```ActuationAbstract``` and this would lead to writing a new actuation model either with bindings or in C++.
However I think that all this not necessary, and the class ```ActuationModelFloatingBase``` can be extended to include a

[2020-07-27 13:17] cmastalli commented on #807
What it could be done is to parse the first joint of the URDF?
Then, we could be able to define any kind of floating-base joint (i.e. not only the free-flyer case).
Is this what you need?

[2020-07-27 17:47] gfadini commented on #807
Hi @cmastalli, yes that's roughly what I had in mind. With the URDF the thing should be the same, just that now I have a pinocchio model built from scratch. The class ```ActuationModelFloatingBase``` by itself can deal with a wider set of robots than what is implemented just by processing the model differently and neglecting always the first joint DOF

[2020-07-27 17:47] gfadini commented on #807
Hi @cmastalli, yes that's roughly what I had in mind. With the URDF the thing should be the same, just that now I have a pinocchio model built from scratch. The class ```ActuationModelFloatingBase``` by itself can deal with a wider set of robots than what is implemented just by processing the model differently and neglecting always the first joint DOF

[2020-07-27 18:31] cmastalli commented on #807
When is your deadline? or is this something that you feel you can modify inside Crocoddyl?

[2020-07-27 20:34] cmastalli commented on #799
solved in #808

[2020-07-27 20:34] #799 closed

[2020-07-28 08:55] gfadini commented on #807
Hi @cmastalli at the moment I can simply prototype with the bindings,
In the floating-base.hpp there's a check for the first joint to be explicitly of the free flyer type
[code]
I think this can be generalized to also for the prismatic types, it was a general idea that would require little effort and that I may try

[2020-07-28 09:07] cmastalli commented on #807
Yes, that's correct!
You could create an ongoing PR. With it, we could give you a precised feedback.

[2020-07-28 14:24] ksyy opened #810 "[NumDiff / Maybe other files as well] calcDiff dependency on calc should be enforced"
Hi,

I recently ran into some problems while doing the [Cartpole Jupyter notebook](https://github.com/loco-3d/crocoddyl/blob/devel/examples/notebooks/cartpole_swing_up.py) provided as tutorials for Crocoddyl, because of the *not-so-well* documented dependency that the `calcDiff` function of `DifferentialActionModelNumDiff` has on its own `calc` function.

Indeed, if one calls [`calcDiff`](https://

[2020-07-28 14:33] cmastalli commented on #810
Hi @kssy,

We have removed `recalc=True` to avoid branchiation when we code generate a `calcDiff` function. It is expected to run first `calc`. Furthermore, this behavior should be followed in the numdiff routine.

It is truth that we are missing to add documentation in many places of the library. This is a difficult task since we are at the same time pushing forward our research projects (we lack

[2020-07-28 17:16] cmastalli opened #812 "`WORLD` and `LOCAL_WORLD_ALIGNED` reference for force / impulse cost functions"
It is important to allow users to define various reference for contact force / impulse cost functions as well. This will require tricky conversion of forces --and their derivatives-- from `LOCAL` to `WORLD` and `LOCAL_WORLD_ALIGNED`. Note that our contact dynamics computes everything at the LOCAL level.

This task could be done potentially done inside Pinocchio (i.e. the new contact dynamics). @pr

[2020-07-28 17:27] cmastalli commented on #810
I will close this issue since this request goes against our design choice.

Feel free to make questions if you still have doubts about our design choice.

In any case, thank you for making propositions.

[2020-07-28 17:33] nim65s commented on #810
Well, isn't this still wrong https://github.com/loco-3d/crocoddyl/blob/devel/examples/notebooks/solutions/cartpole_fxfu.py ?

[2020-07-28 17:37] cmastalli commented on #810
Oh, I didn't see this issue. I understood the idea was to change the design choice. I will fix it immediately so we can integrate it in the release

[2020-07-28 17:40] cmastalli commented on #810
done. I pushed it in the release branch. I will handle it at the devel branch now

[2020-07-29 07:49] ksyy commented on #810
I disagree. Without looking at the implementation details, I could not have known what the problem was with this call to `calcDiff`.

[2020-07-29 08:20] cmastalli commented on #810
Now you know it, the proposition was after giving you the explanation :)

[2020-07-30 13:33] nmansard commented on #810
A minimal check could be to verify (assert) that calc was at least called once before calling calcDiff. It is not covering all the scenarios, but at least makes sure that the user is aware of the existence of the calc function. What do you think?

[2020-07-30 23:53] ddliugit opened #819 "About cancel 'crocoddyl.switchToNumpyMatrix()'"
I need to integrate several piece of codes and is it possible to cancel the function `crocoddyl.switchToNumpyMatrix()` after declaring the `crocoddyl.switchToNumpyMatrix()` in the code first?

[2020-07-31 07:16] cmastalli commented on #819
Hi @ddliugit,

We indeed want to deprecate each piece of code using numpy matrix. We have these dependencies in internal code: unittest and examples. I just wanted to point out that the library itself doesn't depend on it.

Saying that, which code are you referring? Are you using the devel branch?

Feel free to help us to migrate some code to numpy array.

[2020-07-31 07:38] cmastalli commented on #810
I am not sure about this. It will require to define an extra boolean variable for each single data structure (action, multiple contacts / impulses / costs, contacts, ...

In contrast, I believe the solution is having a well documented library. To do that, we need to do:
  1. doxygen documentation of c++ classes
  2. (maybe) revise the documentation in the Python bindings
  3. have notebooks that e

[2020-07-31 07:41] #807 closed

[2020-07-31 07:41] gfadini commented on #807
Fixed in #816

[2020-07-31 10:25] proyan commented on #810
I agree with Carlos here. I think what is missing here is the documentation. We have some similar issues in pinocchio, where some function calls are dependant on other functions being called first. However, the documentation clearly specifies that in pinocchio's case.

[2020-08-06 11:16] cmastalli opened #825 "Allowing derivation of `quasiStatic` in Python"
Hi @proyan,

From the previous merged PR (i.e. #809), this is the only missing piece of work.
If I understood correctly, you would prefer if I can handle this task, right?
This task is not fundamental now, but it will be useful if we want to prototype dedicated solutions of `quasiStatic` in Python.

On the other hand,  I see the other changes and I thank you for simplifying the API (my only concer

[2020-08-07 01:51] ddliugit commented on #819
Thanks. I am using the code `biped.py` and previously used some code with old version of pinocchio.

I figured that out and I will close it.

[2020-08-07 01:51] #819 closed

[2020-08-07 02:01] ddliugit opened #827 "Add frame translation or rotation bound"
Is there a API to add the quadratic barrier function with a upper or lower bound to a specific frame?

Its purpose is to avoid geometry collision with ground or self -collision.

[2020-08-07 17:42] cmastalli commented on #827
It is possible to add barrier to a given reference frame placement. You need to use the `CostModelFramePlacement` cost and the `ActivationModelQuadraticBarrier` activation.

The above solution won't avoid collision with a specific geometry. However, it is possible to do it but this is ongoing work.

Is this answer your questions?

[2020-08-08 00:57] ddliugit commented on #827
Yes. It solved my problem well.

[2020-08-08 00:57] #827 closed

[2020-08-10 16:53] tannerliu347 commented on #805
Changing to release build did fix it. Thank you!

[2020-08-10 16:53] #805 closed

[2020-08-10 20:55] ddliu365 opened #829 "Line contact issue"
I want to add a line contact for an endeffector but  I didn't find such a contact type in crocoddyl.
I found that for a quadruped we have a 3D contact `ContactModel3D` and for a humanoid we have a 6D contact `ContactModel6D`.

So I try to use 2-3D contacts to represent a line contact(similiar to a hinge joint on the ground), however, the optimization failed.

Can you help to solve this issue?

[2020-08-11 18:03] cmastalli commented on #829
A line contact constrains 5 dimensions, it could only rotate along the axis. Using two 3d contacts impose 6 constraints, however, and depending on how they are configured, one (or a few) of them could be redundant.

This certainly will produce a numerical issue with our contact dynamics since the analytical solution cannot remove this extra redundancy. In other words, the analytical solution assum

[2020-08-13 10:49] cmastalli opened #832 "Improving CI in both: Travis and gitlab-ci"
We are not running the benchmarks in any of the jobs neither. So, what we has is
  - for Release jobs: unittest (c++ / python) and examples
  - for Debug jobs: unittest (c++ / python)

However, I agree with you, we could have a better set of tests, however I am not sure what it is the best way to optimize it. For instance, we could do something like this:
  - Job 1: c++ unittest
  - Job 2: python

[2020-08-13 10:51] cmastalli commented on #832
@nim65s @proyan and @wxmerkt
I am very keen to improve this. Could we discuss it here?

Otherwise, this discussion could be lost.

[2020-08-14 14:59] wxmerkt commented on #832
I believe Guilhem has the most experience and is the best to comment on this.

I don't know if our builds are amenable to artefact re-use or caching or how splitting jobs would work. I just opened #834 to see if we see any gains in compilation time using ccache (for repeated builds within each distro + build type). Alternatively, we could try having one job build the artefacts, then cache, and ano

[2020-08-14 15:15] cmastalli commented on #832
Hi @wxmerkt -- this is already happening but in getgit-ci, are you OK with this approach?
We don't have it in Travis due to the needed time is often reaching the allowed 90 mins per job.

[2020-08-17 10:04] jcarpent commented on #829
This analysis is wrong. The two 3d contacts should be sufficient to mimic the hinge joint. The issue may come from some numerical issues or from the non-robustness of the optimization solver.

[2020-08-17 10:35] cmastalli commented on #829
It is not the optimal control solver, it is the contact dynamics solver. Note that we have an analytical solver for that.
Furthermore, our analytical contact solver should be able to remove redundant active constraints as in any active-set method.

The analysis is correct, I believe you misunderstood the comment.

[2020-08-17 10:37] cmastalli commented on #829
It is correct because we have designed like that. Of course, we could think to improve the contact solver in future but this creates an extra complexity in the contact solver which might not be desired.

[2020-08-17 11:28] wxmerkt commented on #832
I didn't realise it's now integrated and a pre-merge check - this is great. No objections to turn Debug to allowed to fail on Travis.
Sadly, #834 does not work as hoped because the settings (CMAKE_BUILD_TYPE, Distro, etc.) are not re-used. Happy to proceed as you see fit.

[2020-08-17 12:06] proyan commented on #829
I agree that there is redundancy introduced because of the 2 3-d contacts. But this should be dealt with at the contact-dynamics level.

@ddliu365 I think you could try to increase the damping factor (`JMinvJt_damping`) to handle some of this rank-deficiency?

[2020-08-17 12:09] jcarpent commented on #829
This was the sens of my previous comment.

[2020-08-17 12:26] cmastalli commented on #829
In my experience, I don't think the damping procedure is the correct way of dealing. Actually, I believe it will produce numerical issues. I say this due to the fact that QP solvers don't rely on regularization for handling redundancies. The redundancy is removed by using active-set procedure, for instance.

In any case, @ddliu365 could you report the results of the @proyan's suggestion?

[2020-08-17 12:28] cmastalli commented on #829
There is something else to consider here. I think we are not handling the derivatives of the regularized version of the contact dynamics. This for sure will produce more issues, so it will be important to solve it first.

I just want to everyone know this missing task.

[2020-08-18 02:08] ddliu365 commented on #829
@cmastalli @jcarpent @proyan Thanks for your response. Actually I try to avoid this issue in my problem. I am still working on this problem and will report @proyan suggestion ASAP.

This method is similar to  a technique used in TSID when I got the summer training. For their case, they also used the analytical solution for the optimization. Maybe the solver can automatically remove the redundant c

[2020-08-18 12:59] PepMS opened #837 "Doubt about JIntegrateTransport in IntegratedActionModelEuler::calcDiff()"
Hi,

I was about to implement a RK4 integrator. That is why I've taken a look into how the Euler's integrator has been implemented. I have some doubts about it.

The first one is in [this line](https://github.com/loco-3d/crocoddyl/blob/1370fa32b4028e93a88f753520362a8a21c3521d/include/crocoddyl/core/integrator/euler.hxx#L113). I'll try to explain the steps I'm following to calculate the Jacobians.

[2020-08-18 14:11] cmastalli commented on #837
Yes, it lies in the tangent space but at `x_k` state point. `dIntegrateTransport` is applying a parallel transport of this tangent vector (i.e. Jacobian) from `x_k` to `x_next`.

I took this picture from [Calinon's paper](https://calinon.ch/papers/Calinon-RAM2020.pdf), which I believe it is quite communicative.

![image](https://user-images.githubusercontent.com/3601935/90523419-c4071880-e164-11ea

[2020-08-18 14:21] PepMS commented on #837
Still confused...quoting the Pinocchio's wiki:
"This function performs the parallel transportation of an input matrix whose columns are expressed in the tangent space of the integrated element q+v, to the tangent space at q".

So according to this, what it is really doing is to transport from x_next to x_k, right? I understand that the terminal is x_next and the origin is x_k.

[2020-08-18 14:45] proyan commented on #837
Hi @PepMS

You are right. This function is meant to "move" a matrix from one point to another. Think of the example of defining a velocity at point A and defining the same velocity at point B. You need to "transport" the velocity based on some relation between A and B.

Now, for the case of Integrator, what you want to do is to differentiate (I use (+) to denote the "addition" operation).
x_next =

[2020-08-18 14:52] PepMS commented on #837
Ok...so, if we have the Jacobian at x_next, that should mean that the x at:
https://github.com/loco-3d/crocoddyl/blob/1370fa32b4028e93a88f753520362a8a21c3521d/include/crocoddyl/core/integrator/euler.hxx#L101
is actually x_next. Isn't it? :sweat_smile:

[2020-08-18 15:37] PepMS commented on #837
Ah I think that I know where my confusion came from.

You are doing the transport because your dp is actually dp=v_{k+1}*dt (because of the semiImplicit Euler). I was confused because I was looking at the expansion of this equation that turns out to be dp=v_k*dt+a_k*dt^2, so I assumed that dp already was at x as all subindices are k (not k+1).

My bad, sorry for the noise.

[2020-08-18 16:04] proyan commented on #837
Hi @PepMS,
I hope it was as simple as that (I hate lie algebra). `dp` index does not hold any significance here, since for lie operations on x(+)dx, it does not matter "what" index dx is.

let me write the sum operation x(+)dx as sum(x,dx)

If you look at how we compute the derivative of our state, you notice that it is:
**D(sum(x,dx)/D(x) = D(sum)/D(x) * D(x)/D(x) + D(sum)/D(dx) D(dx)/D(x)**

Jus

[2020-08-18 16:09] proyan commented on #837
By the way, for the RK4 Integrator, there is a python version already in crocoddyl:
https://github.com/loco-3d/crocoddyl/blob/4708428676f596f93ffe2df739faeb5cc38d2326/unittest/python/crocoddyl/integrated_action.py#L89

Are you converting this to c++?

[2020-08-18 16:51] PepMS commented on #837
Ah ok, I think now I get...let's try another time.

So, applying the chain rule to the sum, we get:
D(sum(x,dx)/D(x) = D(sum)/D(x)\*D(x)/D(x) + D(sum)/D(dx)\*D(dx)/D(x)

1. Is the second component (D(x)/D(x)) in the first term the identity?
2. According to the equations in this image,
![image](https://user-images.githubusercontent.com/38432035/90541609-31c23d00-e183-11ea-9de0-42f4e88b9c8c.png)
D(s

[2020-08-18 17:11] proyan commented on #837
Yes

First of all, I'm glad that you are citing a paper with 193 equations to understand lie algebra :). But yes, we were calculating the same Jacobian before in crocoddyl. Since https://github.com/stack-of-tasks/pinocchio/pull/1172, we are using this approach.

[2020-08-18 17:16] proyan commented on #837
@PepMS Please close this issue if you feel that your doubt is cleared :)

[2020-08-18 17:17] #837 closed

[2020-08-18 17:20] jcarpent commented on #837
@PepMS @proyan Just to be a bit more precise: we have started the project Pinocchio (with @jmirabel and @jcarpent for supporting the development) with in mind the wish of supporting correctly the notion of Lie groups with their underlying geometry. Since then, many projects rely on Pinocchio for this support, mainly https://github.com/humanoid-path-planner and of course Croco.

[2020-08-19 09:21] joansola commented on #837
Hi guys, thanks for sharing this great work and sorry for insisting on this topic still a little further. I have not fully understood the conclusion of this conversation.

Once we have this expression:

[code]
and after computing the partials using (80) and (81) [here](https://github.com/loco-3d/crocoddyl/issues/837#issuecomment-675593787), what is the conclusion?

1) we are done and `D(sum)/D(dx)

[2020-08-19 15:18] proyan commented on #837
Hi @joansola

The dIntegrateTransport operation is equivalent to the multiplication operator `D(sum)/D(dx)*`.
So if needed, you can get the `Dsum/D(dx)` from the dIntegrate operation in pinocchio, and dIntegrateTransport operation is reducing this multiplication operation for us.

[2020-08-19 16:03] joansola commented on #837
I see. Thanks for this clarification!

[2020-08-21 22:08] wxmerkt opened #841 "Default arguments for SolverAbstract::solve override initial guess provided via setCandidate, setRegInit"
This relates primarily to the following - but it might also be present in other places:

- `ddp.solve(xs, us)` sets the initial guess during the solve call
- `ddp.setCandidate(xs, us); ddp.solve()` overrides the previously set candidate with `[]`, `[]` - the default argument thus making `setCandidate` ineffective.

As thus, the overloaded arguments in `SolverAbstract::solve` can actually break arg

[2020-08-21 22:24] wxmerkt opened #842 "Boost.Python: Optional arguments in overloaded function break Python-derived models"
Managed to reliably reproduce the issue I referred to in #841. Here is a MWE:

Note, that each of the `ddp.solve(...)` options below should work the same. However, the only one that calls the `calc` method in our Python-derived class (which prints x and u and raises an exception to test) is the one with no arguments. The other calls to `ddp.solve(xs, us, etc.)` never call back into the Python-deri

[2020-08-24 18:46] cmastalli commented on #842
I have tested a bit more the issue.
If you use `crocoddyl.StdVec_VectorX()` for constructing `xs_init` and `us_init`, then there is no problem, e.g.
[code]

I need to investigate a bit more how to solve this issue. It seems that boost option doesn't recognize List objects.

[2020-08-24 18:55] cmastalli commented on #842
More updates.

@wxmerkt you have an error in the code, the dimension of the xs_init should be 4, not 2.
This is the reason why it doesn't recognize the list. Maybe there is a way to make a warning message for these cases.

[2020-08-24 20:22] cmastalli commented on #841
This is the designed behavior, is there are reason why we shouldn't do it?
Let say that we don't expect the user run him(her)self this function since it is going to be call by `solve`.

[2020-08-24 21:42] wxmerkt commented on #842
Indeed, thanks for spotting it! This resolves the observed issue. Interesting that the silent overwriting hence memory messing up had this effect.

[2020-08-24 21:42] #842 closed

[2020-08-24 21:44] wxmerkt commented on #841
Makes sense and agree. I believe this was a red herring on the way to diagnosing #842.

[2020-08-24 21:44] #841 closed

[2020-08-25 07:48] cmastalli commented on #829
@ddliu365 did you have time to analyze the effect of damping the contact dynamics?

[2020-08-28 01:13] ddliu365 commented on #829
Sorry for a late response. I am still working on this issue, but the solver seems to work well after I changed the time step. From the optimization process, it seems a line contact constraint is added to the robot because two points are fixed and the robot can rotate around the axis shaped by these two points.

But the whole problem has not been solved properly.

[2020-09-07 19:58] ddliu365 opened #847 "'module' object has no attribute 'StateMultibody'"
After updating the following packages in ubuntu 16.04, the crocoddyl has this error:

[code]
[code]
Is there any update which is relevant to cancel this attribute?

I checked the biped example in the `crocoddyl` which still has this attribute in the repo.

Can you help to check this problem @cmastalli @jcarpent

As I checked the update log, no update about `crocoddyl` and I think the error is caus

[2020-09-07 20:47] ddliu365 commented on #847
The problem is solved!

[2020-09-07 20:47] #847 closed

[2020-09-10 07:32] gfadini opened #849 "SolverBoxFDDP bounding the control only in contact phase"
Hi, I'm experiencing a problem with the ```SolverBoxFDDP``` solver that I was testing in a contact scenario and I'm not fully able to grasp why this is happening.
If I understood correctly this solver aim, ideally the control should be restrained in the bounds defined by the vectors -/+```Model.effortLimit``` in all the time window of the problem regardless of the model underlying dynamics.
Howeve

[2020-09-10 07:49] cmastalli commented on #849
Hi @gfadini,

You can set manually the torque limits. However, you are right. For some reason we miss to automatically set them.
Now I am off of office, but you might want to add these routine in the c++ code, see this example https://github.com/loco-3d/crocoddyl/blob/master/include/crocoddyl/multibody/actions/contact-fwddyn.hxx.

Btw, you don't need to use the free fwd-dynamics for flying phases.

[2020-09-10 08:04] gfadini commented on #849
Thanks @cmastalli , I see now that for all the models in the second phase as you said they're not set, the same is also true for the ```SolverBoxDDP```

[code]
I think I can manually set them, for future reference how do I deactivate all the contacts?

[2020-09-10 11:33] cmastalli commented on #849
There is a function named 'setContactStatus', which you could call by getting the contacts.

[2020-09-11 11:32] #849 closed

[2020-09-11 11:32] gfadini commented on #849
Closed in #850

[2020-09-18 07:49] PepMS opened #852 "Specifying costs that should not be integrated"
I wanted to specify a cost for a single node placed in the middle of the problem. Thus, this cost should not be integrated with time. We have the same case with a terminal node, that it is not integrated with time and, instead, the cost considered in the IntegratedActionModel is directly taken from the DifferentialActionModel.

When creating the IntegratedActionModel, we use time_step=0 to indicat

[2020-09-18 08:03] cmastalli commented on #852
Hi @PepMS,

Your request doesn't look compatible with standard theory behind optimal control (i.e. Mayer form).

Could you justify a bit more this requirement? For instance, tell us about the formulation.

However, you can work around this issue with current code. For instance, you could set the step integration to 1. Note that we have a trapezoidal integrator in this case.

[2020-09-18 08:22] PepMS commented on #852
I was thinking of a multi-stage problem, where you concatenate several OCP and then specify a continuity constraint between stages.

In any case, I might be confused. I will try to put my ideas straight and will write back here if needed. I think I'll close this by now. Sorry for the noise.

[2020-09-18 08:35] #852 closed

[2020-09-21 08:08] cmastalli opened #854 "Release v1.5.0"
In this release, we have achieved the following points:
  * Improved and cleaned up the bench-marking code for code-generation
  * Fixed bug for computing quasicStatic torques under inactive contacts
  * Added unit-test code that disables contacts
  * Created CoP cost with Python bindings and unit-test
  * Multi-threading support for quasicStatic computation in shooting problem
  * Modifications i

[2020-09-21 08:09] #195 closed

[2020-09-21 08:10] cmastalli commented on #195
solver in #839

[2020-09-25 16:54] edantec opened #859 "No to_python (by-value) converter found for C++ type: boost::shared_ptr<crocoddyl::SolverFDDP>"
When prototyping in Python, I noticed there is no python to C++ binding for a shared pointer of SolverFDDP object. There is one for `boost::shared_ptr<crocoddyl::SolverDDP>` though.

[2020-09-25 17:08] cmastalli commented on #859
Because we don't need to bind any shared pointer for any solver. The code that you mentioned (for the DDP solver) is indeed not needed.

Are you facing an issue with this?

[2020-09-27 11:30] edantec commented on #859
I have a C++ function which returns a `boost::shared_ptr<crocoddyl::SolverFDDP>` object, and I have Python bindings for this function. When trying to use this function in Python I encounter the error `No to_python (by-value) converter found for C++ type: boost::shared_ptr<crocoddyl::SolverFDDP>`. I do not have this error when I change the type from SolverFDDP to SolverDDP in C++.

[2020-09-27 15:58] proyan commented on #859
Are you changing the #include to fddp as well?

On September 27, 2020 1:30:13 PM GMT+02:00, edantec <notifications@github.com> wrote:

[2020-09-29 08:24] edantec commented on #859
Yes, I included `#include <crocoddyl/core/solvers/fddp.hpp>` but still the same error

[2020-09-29 08:28] cmastalli commented on #859
I don't understand this comment.  You get this message when you haven't register a converter.
Check out the latest devel branch, it should be solved.

[2020-09-29 08:30] proyan commented on #859
@edantec could you rebase on top of the current devel? #861 should have solved your issue.

[2020-09-30 14:18] cmastalli commented on #859
solved by #861

[2020-09-30 14:18] #859 closed

[2020-10-01 18:28] #854 closed

[2020-10-02 10:39] cmastalli commented on #832
@nim65s can we close this issue?

[2020-10-02 10:41] cmastalli commented on #775
I will close this issue since I cannot reproduce it and there is no activity.
@GlenHenshaw feel free to re-open it :)

[2020-10-02 10:41] #775 closed

[2020-10-02 23:31] ddliu365 commented on #829
Yes. I think it works well. The only thing we need to take care is the time step when we choose.

[2020-10-02 23:31] #829 closed

[2020-10-07 11:56] proyan opened #864 "Memory alignement issue with boost python"
I'm facing a memory alignment issue, which I hope @jmirabel or @jcarpent could help with:

When trying to access the `reference` oject of `CostModelContactForce`  in python, (which is of type `crocoddyl::FrameForceTpl<double>` defined [here](https://github.com/loco-3d/crocoddyl/blob/devel/include/crocoddyl/multibody/frames.hpp#L121)), sometimes I encounter a segfault. It doesn't come always, somet

[2020-10-07 13:02] jmirabel commented on #864
1. is there any possibility that crocoddyl is compiled with different compilation options that other Eigen based projects it depends on ? Anything from robotpkg ?
2. can you check with `gdb` that the reference return by `get_reference`, just before the SEGV, is a valid object.
3. if the issue is a misaligned object, you should be able to create a minimal example.

[2020-10-07 13:02] jcarpent commented on #864
I think you are not saying to Python that you are returning an internal reference ;)

[2020-10-07 13:04] jcarpent commented on #864
The second thing is that you should maybe need to use EIGENPY_DEFINE_STRUCT_ALLOCATOR_SPECIALIZATION to make things correctly aligned in memory. In Pinocchio, this is done for SE3 and other objects

[2020-10-07 13:15] cmastalli commented on #864
@proyan I don't have this issue when I enable the vectorization option. Are you compiling with `native` all the Crocoddyl dependencies?

[2020-10-07 13:47] proyan commented on #864
Thanks @jcarpent I think this is the solution I was looking for. I can't reproduce the error now (which may not mean that the problem is solved, since I cannot consistently reproduce the issue.)

    can you check with gdb that the reference return by get_reference, just before the SEGV, is a valid object.
    if the issue is a misaligned object, you should be able to create a minimal example.

cr

[2020-10-07 16:29] proyan opened #866 "Changing API of costModel.reference"
Dear Crocoddyl developers,

It looks like the `get_reference` function in the costmodel is creating a copy of the object in python ([here](https://github.com/loco-3d/crocoddyl/blob/devel/include/crocoddyl/core/cost-base.hxx#L84)) and returning that copy. We don't want that. We need to return an internal reference.

Unfortunately, the returning of internal references is being made complicated by th

[2020-10-07 16:32] jcarpent commented on #866
Everything that makes Crocoddyl closer to the Pinocchio API is always, both in terms of maintainability and extensions. I'm in favour of this change.

[2020-10-07 17:39] cmastalli commented on #866
Hi @proyan,

Each reference cannot fit into a vector, e.g. SE(3) placement.
Furthermore, the reference are also describing the frame index.
So, if you define a vector (and put everything there) then you will need to convert it to the right object.
Note that this conversion is strictly needed since `calc` and `calcDiff`use it.

On the other hand, having to create an object indeed is not desired, I

[2020-10-07 17:49] proyan commented on #866
Regarding your points, I'll try to go one by one.

Yes it can.

I think you are misunderstanding what the issue is. We should not be defining the frame indices in the reference object in the first place. Currently, the API is
`CostModelContactForce->fref->id`
`CostModelContactForce->fref->force`

However, this means that if a user wants to update the reference force, he/she would need to update th

[2020-10-07 18:00] cmastalli commented on #866
It means that you need to create a virtual function for setting index, this is not the case for state and control cost, for instance.

The question is how much are we saving at runtime? Without a number it looks like a unnecessary optimization. It is also good have a user-friendly interface, there is a trade-off to be pay.

There are many more important matters, e.g. codegen of QP solver.

[2020-10-07 18:02] cmastalli commented on #866
The API is simple, why do you say the opposite?

What it could be a bit more complex is the implementation, not API.

[2020-10-07 18:09] cmastalli commented on #866
@jcarpent what do you mean closer to Pinocchio? Note that the current solution is closer to Pinocchio, i.e. It uses Pinocchio SE(3) and Motion.

[2020-10-07 18:11] proyan commented on #866
Again, I'll try to go through your points one by one.

Again, this is not a performance improvement. This is meant to simplify the API where it is consistent through all classes. And to remove unnecessary wrappers which are not needed to be maintained in crocoddyl.

This is again not related to codegen.

It is definitely good to have overloads, and it is good to have set_reference that can accept

[2020-10-08 08:15] cmastalli commented on #866
@proyan I believe you are not seeing the whole picture. It is not only about the indexes, we also have other terms such as friction coefficient, surface normal, etc. Furthermore, the reference of a cost function could be anything, not only a Pinocchio object.

Said that, the design logic is to have a single function that allows us to set any reference without the need of down casting the function.

[2020-10-08 11:46] proyan commented on #864
Fixed with #865

[2020-10-08 11:46] #864 closed

[2020-10-08 13:46] nmansard commented on #866
I don't really understand why the frame objects have been introduced. The argument of @jcarpent is very sound: keeping Pinocchio API as often as possible is very sounds, otherwise rely on plain vector objects. I cannot figure out what you feel not being able to do, @cmastalli, that pushed you to introduce this object.

Could we discuss that orally?

[2020-10-08 13:50] cmastalli commented on #866
Yes, let's discuss it.
Let's arrange our meeting on riot.

[2020-10-20 10:23] proyan opened #872 "FIx API change introduced from #857"
The change in the header files, introduced in #857 breaks downstream packages which were using the previous header structure.

@cmastalli could you please take care of this.
Could you please
1) recreate the original files as empty header files.
2) include the new header files inside the original headers
3) and deprecate the original?

[2020-10-20 10:59] cmastalli commented on #872
Hi @proyan,

Yes, it could. Do you have a deadline for that?
I hope this is not priority for you because I have many things in my TODO list.

In any case, I promise to handle it before the next release.
Let me know if this is fine for you :)

Best,
Carlos

[2020-10-20 11:16] proyan commented on #872
There is never a deadline for a broken API. If it isn't fixed, people would be forced to update their code anyways.

On October 20, 2020 12:59:44 PM GMT+02:00, Carlos Mastalli <notifications@github.com> wrote: