[2019-09-02 10:07] wxmerkt opened #1 "No package example_robot_data"
I've installed crocoddyl from the robotpkg binaries and it is correctly sourced. The package `robotpkg-example-robot-data` is installed. However, I get:

[code]

[2019-09-02 10:12] cmastalli commented on #1
I think you should upgrade robot-example-data. Did you do it?

[2019-09-02 10:14] wxmerkt commented on #1
Yes... I just installed and it's the latest version on the binaries (2.0.0).

Also, the croccodyl version doesn't import any of the action models:

[code]

Is it possible that the build server hasn't released the new binaries yet?

[2019-09-02 10:49] cmastalli commented on #1
@nim65s can tell you more about the binary release. I didn't try it myself yet.

There are few classes that haven't been release yet, e.g.:
 - ActionModelImpact,  ImpactModel3D, ImpactModel6D
 - ActivationModelInequality,
 - SolverFDDP, among others.

We tagged this version 0.9.0 because there is not yet everything there.

[2019-09-02 10:51] cmastalli commented on #1
Regarding the examples and notebooks, it almost everything working with the exception of:
 - jump.py
 - walk.py
 - salto.py

The problem with these examples is we need to release some of the classes that I mentioned above.

[2019-09-02 10:52] wxmerkt commented on #1
Similarly @nim65s, the 2.0.0 tag on `example-robot-data` in the binaries does not contain the Python loader either.

[2019-09-02 10:53] wxmerkt commented on #1
@cmastalli thank you for the update! Looking forward to Guilhem's response and will re-try then.

[2019-09-02 11:02] nim65s commented on #1
@wxmerkt Python loaders are available in `robotpkg-pyXY-example-robot-data`, depending of your major / minor version of python.

I am fixing the dependency from `robotpkg-pyXY-crocoddyl` to `robotpkg-pyXY-example-robot-data` right now.

[2019-09-02 11:10] cmastalli commented on #1
I added in the README file instruction of how to install the Python loaders in example-robot-data. This information also appears in the README file of Crocoddyl.

[2019-09-07 22:02] cmastalli commented on #1
I believe this issue has been solved. If not, feel free to reopen it

[2019-09-07 22:02] #1 closed

[2019-10-09 14:52] ddliu365 opened #3 "How to install crocoddyl on Mac"
I followed the procedure of instructions in GitHub, but it doesn't work on Mac

[2019-10-09 17:46] cmastalli commented on #3
Thanks for showing interest in Crocoddyl.

Unfortunately we don't Mac support yet. Nonetheless, it's in our list of priorities.

At the moment, we have very low bandwidth, and this support could take few weeks.

Could you help us to make this support and move things faster? I believe it shouldn't take so much time.

Yours,
Carlos

[2019-11-08 14:11] ddliugit commented on #3
I will try to do that. Once it is done, I will let you know.

[2019-11-08 14:44] ddliugit opened #4 "cannot import action modellimpact in example"
Hi, I try to run example in crocoddyl, but the library seems outdated in python.

Can you check?

No actionmodelimpact model appears.

Traceback (most recent call last):
  File "walk.py", line 5, in <module>
    from crocoddyl import (ActionModelImpact, ActivationModelWeightedQuad, ActuationModelFreeFloating, CallbackDDPLogger,
ImportError: cannot import name ActionModelImpact

[2019-11-08 14:49] cmastalli commented on #4
Please use the devel branch if you cannot wait for the next release.

[2019-11-08 14:54] cmastalli commented on #3
Great! Do not forget to start from the devel branch.

I invite you to read this wiki: https://gepgitlab.laas.fr/loco-3d/crocoddyl/wikis/Developer-Guide

[2019-11-11 22:56] cmastalli commented on #3
Any updates regarding this topic?

[2019-11-11 22:57] cmastalli commented on #4
I will close this issue since it is solved in devel branch.

Feel free to reopen it if it is needed

[2019-11-11 22:57] #4 closed

[2019-11-12 17:23] ddliugit commented on #3
I am working on that, but it doesn't work pretty well. This is the first time I am working on this.
Do you have some materials or examples to recommend?
I would appreciate that!

[2019-11-12 17:26] ddliugit commented on #3
For Mac I just want to the install procedure like so:

brew tap gepetto/homebrew-gepetto
brew install crocoddyl

[2019-11-12 17:38] wxmerkt commented on #3
This is an actively developed project and providing a `brew` recipe may not be on the immediate timeline/horizon. After installing dependencies you can still run `mkdir build ; cd build; cmake .. ; make`.

[2019-11-12 17:44] jcarpent commented on #3
I think copy/paste of pinocchio.rb file in https://github.com/Gepetto/homebrew-gepetto/tree/master/Formula and replacing pinocchio by the right names should make the job.

[2019-11-12 19:19] cmastalli commented on #3
@ddliugit it would be great if you can provide the solution as @jcarpent advised you.

Unfortunately, I don't have bandwidth for working on it on short-term. If you manage to do it, then we'll welcome your PR

[2019-11-12 21:22] ddliugit commented on #3
Thank you very much @jcarpent .
I will work on that. @cmastalli

[2019-11-14 11:53] cmastalli opened #5 "Update the centroidal momentum cost using `pinocchio::updateCentroidalDynamics`"

[2019-11-18 14:37] wxmerkt opened #6 "Uniformize the computation for once per node"
In GitLab by @proyan on Oct 4, 2018, 13:36

* Do no more than one computation per time step.
* Collect system-data and cost-data elements

[2019-11-18 14:37] wxmerkt commented on #6
In GitLab by @proyan on Oct 31, 2018, 10:47

mentioned in merge request !10

[2019-11-18 14:37] wxmerkt commented on #6
In GitLab by @proyan on Nov 13, 2018, 15:42

I think this issue is finished now.

[2019-11-18 14:37] wxmerkt commented on #6
In GitLab by @proyan on Nov 13, 2018, 15:42

closed

[2019-11-18 14:37] #6 closed

[2019-11-18 14:37] wxmerkt opened #7 "Contact Information"
In GitLab by @proyan on Oct 11, 2018, 16:30

Create class structure for storing contact information.

[2019-11-18 14:37] wxmerkt commented on #7
In GitLab by @proyan on Oct 31, 2018, 10:47

mentioned in merge request !10

[2019-11-18 14:37] wxmerkt commented on #7
In GitLab by @cmastalli on Nov 15, 2018, 10:37

unassigned @rbudhira

[2019-11-18 14:37] wxmerkt commented on #7
In GitLab by @nmansard on Jan 21, 2019, 15:30

done in refact.

[2019-11-18 14:37] wxmerkt commented on #7
In GitLab by @nmansard on Jan 21, 2019, 15:30

closed

[2019-11-18 14:37] #7 closed

[2019-11-18 14:38] wxmerkt opened #8 "Add linear dynamics (spring-damper system) inside the new code structure"
In GitLab by @proyan on Nov 2, 2018, 04:46

The API of the dynamic class has been changed. We need to put back the equations this system in the new code structure.

[2019-11-18 14:38] wxmerkt commented on #8
In GitLab by @proyan on Nov 9, 2018, 06:38

assigned to @rbudhira

[2019-11-18 14:38] wxmerkt commented on #8
In GitLab by @cmastalli on Nov 15, 2018, 10:31

changed title from **Add linear dynamics {-and update the unittests-}** to **Add linear dynamics {+(spring-damper system)+}**

[2019-11-18 14:38] wxmerkt commented on #8
In GitLab by @cmastalli on Nov 15, 2018, 10:31

changed the description

[2019-11-18 14:38] wxmerkt commented on #8
In GitLab by @cmastalli on Nov 15, 2018, 10:31

changed title from **Add linear dynamics (spring-damper system)** to **Add linear dynamics (spring-damper system){+ inside the new code structure+}**

[2019-11-18 14:38] wxmerkt commented on #8
In GitLab by @cmastalli on Nov 15, 2018, 10:38

unassigned @rbudhira

[2019-11-18 14:38] wxmerkt commented on #8
In GitLab by @cmastalli on Nov 15, 2018, 10:39

assigned to @rbudhira

[2019-11-18 14:38] wxmerkt commented on #8
In GitLab by @cmastalli on Nov 21, 2018, 18:01

unassigned @rbudhira

[2019-11-18 14:38] wxmerkt commented on #8
In GitLab by @cmastalli on Nov 21, 2018, 18:02

This task requires an integrator and discretizer. Both can be generalized from the one code in floating-base dynamics. Replicating the integrator and discretizer for the linear system isn't a smart option.

This task was reported in #30, which needs to tackle before #26.

[2019-11-18 14:38] wxmerkt commented on #8
In GitLab by @cmastalli on Nov 22, 2018, 17:48

I pushed today's commit related to the spring-mass problem (branch topic/spring-mass). Before a PR, I do need to analyse the DDP solution of this problem, and double check that everything is alright.

[2019-11-18 14:38] wxmerkt commented on #8
In GitLab by @cmastalli on Nov 23, 2018, 10:36

assigned to @cmastalli

[2019-11-18 14:38] wxmerkt commented on #8
In GitLab by @cmastalli on Nov 23, 2018, 12:44

I will close this task since it was tackled in !20.

[2019-11-18 14:38] wxmerkt commented on #8
In GitLab by @cmastalli on Nov 23, 2018, 12:44

closed

[2019-11-18 14:38] #8 closed

[2019-11-18 14:38] wxmerkt opened #9 "[bug] introduce a new pinocchiodata for finite differencing. maintain the sanctity of the forward pass"
In GitLab by @proyan on Nov 2, 2018, 04:47

Currently during backward pass the pinocchioData is being changed because of the finite differences.

[2019-11-18 14:38] wxmerkt commented on #9
In GitLab by @proyan on Nov 2, 2018, 05:17

mentioned in merge request !12

[2019-11-18 14:38] wxmerkt commented on #9
In GitLab by @cmastalli on Nov 15, 2018, 12:26

unassigned @rbudhira

[2019-11-18 14:38] wxmerkt commented on #9
In GitLab by @cmastalli on Nov 15, 2018, 12:31

We need to solve first the #21 task.

[2019-11-18 14:38] wxmerkt commented on #9
In GitLab by @cmastalli on Dec 7, 2018, 21:06

Finite differentiation doesn't needed to affect the values if it's properly done. Furthermore we want to support abstraction for NumDiff. Here you can see an example of NumDiff abstraction for general systems where the last step computes the values in the current state and control (https://gepgitlab.laas.fr/loco-3d/cddp/blob/devel/cddp/dynamics/dynami

[2019-11-18 14:39] wxmerkt commented on #9
In GitLab by @cmastalli on Dec 7, 2018, 21:06

closed

[2019-11-18 14:39] #9 closed

[2019-11-18 14:39] wxmerkt opened #10 "Add manipulation example inside the new code structure"
In GitLab by @cmastalli on Nov 9, 2018, 14:03

An important benchmarking task is the manipulation one. It also help us to debug the performance of the new code structure

[2019-11-18 14:39] wxmerkt commented on #10
In GitLab by @cmastalli on Nov 26, 2018, 10:10

assigned to @cmastalli

[2019-11-18 14:39] wxmerkt commented on #10
In GitLab by @cmastalli on Nov 27, 2018, 10:12

This task was tackled in !24. There is needed, as double check, to compare the derivatives against NumDiff.

[2019-11-18 14:39] wxmerkt opened #11 "Fixing the DDP behaviour, same as in the previous version"
In GitLab by @cmastalli on Nov 9, 2018, 14:06

We need to have the same behaviour for the HyQ and Talos arm problems. So first we need to work on issue #5.

[2019-11-18 14:39] wxmerkt commented on #11
In GitLab by @cmastalli on Nov 15, 2018, 10:48

changed title from **{-Debugging DDP solver behaviour for the new code structure-}** to **{+Fixing the DDP behaviour, same as in the previous version+}**

[2019-11-18 14:39] wxmerkt commented on #11
In GitLab by @cmastalli on Nov 15, 2018, 10:48

changed the description

[2019-11-18 14:39] wxmerkt commented on #11
In GitLab by @cmastalli on Nov 15, 2018, 13:22

Currently the DDP solver has a reasonable behaviour. I believe that I can work on it without waiting for unit-test.

[2019-11-18 14:39] wxmerkt commented on #11
In GitLab by @cmastalli on Nov 15, 2018, 17:36

This task requires to solve first the issue #27

[2019-11-18 14:39] wxmerkt commented on #11
In GitLab by @cmastalli on Nov 15, 2018, 17:46

mentioned in merge request !14

[2019-11-18 14:39] wxmerkt commented on #11
In GitLab by @cmastalli on Nov 16, 2018, 12:37

I found the slight differences between the first version and the under development.

First, there are a numerical difference when it's used fu through the inversion of the matrix. However, this difference doesn't affect the DDP behaviour. As a remark we need to have an abstraction for NumDiff (#21).

Another difference comes from different implementa

[2019-11-18 14:39] wxmerkt commented on #11
In GitLab by @cmastalli on Nov 16, 2018, 12:37

closed

[2019-11-18 14:39] #11 closed

[2019-11-18 14:39] wxmerkt opened #12 "Abstraction for geometric dynamical system in the new code structure"
In GitLab by @cmastalli on Nov 9, 2018, 14:08

This abstract class will help to implement both quadruped and manipulator task. This was a previous feature that it has been removed

[2019-11-18 14:40] wxmerkt commented on #12
In GitLab by @cmastalli on Nov 15, 2018, 10:25

unassigned @cmastalli

[2019-11-18 14:40] wxmerkt commented on #12
In GitLab by @cmastalli on Nov 16, 2018, 08:54

This task it was reported in #19. I will close it

[2019-11-18 14:40] wxmerkt commented on #12
In GitLab by @cmastalli on Nov 16, 2018, 08:54

closed

[2019-11-18 14:40] #12 closed

[2019-11-18 14:40] wxmerkt opened #13 "Data class for each individual cost and writing get functions as static ones"
In GitLab by @cmastalli on Nov 9, 2018, 14:34

This feature was partially developed in the previous code structure, and it completely removed in the ongoing one.
Having these data classes will allow us to have additionally improvements such as zero computation of Jacobian or Hessian which are constant.

@rbudhira Do you have any feedback regarding this topic?

[2019-11-18 14:40] wxmerkt commented on #13
In GitLab by @cmastalli on Nov 9, 2018, 14:34

changed the description

[2019-11-18 14:40] wxmerkt commented on #13
In GitLab by @cmastalli on Nov 13, 2018, 17:14

closed

[2019-11-18 14:40] wxmerkt commented on #13
In GitLab by @proyan on Nov 14, 2018, 04:57

mentioned in merge request !13

[2019-11-18 14:40] #13 closed

[2019-11-18 14:40] wxmerkt opened #14 "[bug] separate cost data terms for each interval"
In GitLab by @proyan on Nov 13, 2018, 15:40

Relate to #8

[2019-11-18 14:40] wxmerkt commented on #14
In GitLab by @cmastalli on Nov 13, 2018, 17:21

mentioned in merge request !13

[2019-11-18 14:40] wxmerkt commented on #14
In GitLab by @proyan on Nov 14, 2018, 04:58

closed with pr !13

[2019-11-18 14:40] wxmerkt commented on #14
In GitLab by @proyan on Nov 14, 2018, 04:58

closed

[2019-11-18 14:40] #14 closed

[2019-11-18 14:40] wxmerkt opened #15 "Move to Pinocchio 2.0"
In GitLab by @proyan on Nov 13, 2018, 15:41

[2019-11-18 14:40] wxmerkt commented on #15
In GitLab by @cmastalli on Jan 20, 2019, 17:12

assigned to @cmastalli

[2019-11-18 14:40] wxmerkt commented on #15
In GitLab by @cmastalli on Jan 20, 2019, 22:47

I modified the code in order to use Pinocchio v2.0.0; this works on my PC.
Currently we cannot install Pinocchio v2.0.0 binaries from robotpkg.
As a consequence, the CI cannot properly evaluate these changes.

[2019-11-18 14:40] wxmerkt commented on #15
In GitLab by @nmansard on Jan 21, 2019, 15:26

Done in refact.

[2019-11-18 14:40] wxmerkt commented on #15
In GitLab by @nmansard on Jan 21, 2019, 15:26

closed

[2019-11-18 14:41] #15 closed

[2019-11-18 14:41] wxmerkt opened #16 "Move the dynamics class to c++"
In GitLab by @proyan on Nov 14, 2018, 08:44

I have started moving the dynamics class, since it is the most independent one. I will create the python bindings and keep the current API

[2019-11-18 14:41] wxmerkt commented on #16
In GitLab by @cmastalli on Nov 15, 2018, 10:24

assigned to @cmastalli and unassigned @rbudhira

[2019-11-18 14:41] wxmerkt commented on #16
In GitLab by @cmastalli on Nov 15, 2018, 10:24

unassigned @cmastalli

[2019-11-18 14:41] wxmerkt commented on #16
In GitLab by @cmastalli on Nov 15, 2018, 10:24

assigned to @rbudhira

[2019-11-18 14:41] wxmerkt commented on #16
In GitLab by @nmansard on Nov 15, 2018, 11:42

Working toward C++ should not be considered before we have a complete Python solver. I close it for now. Let' s consider it again, hopefully in 15 days.

[2019-11-18 14:41] wxmerkt commented on #16
In GitLab by @nmansard on Nov 15, 2018, 11:42

closed

[2019-11-18 14:41] #16 closed

[2019-11-18 14:41] wxmerkt opened #17 "Fixing unit-test for LQR"
In GitLab by @cmastalli on Nov 15, 2018, 10:42

This unit-test uses the spring-damper system. So first we need to work on issue #3.

[2019-11-18 14:41] wxmerkt commented on #17
In GitLab by @nmansard on Nov 15, 2018, 11:47

This test is super important and should be fixed first. Once it is done, let's proceed to the other existing unit-tests #13 #14 .

[2019-11-18 14:41] wxmerkt commented on #17
In GitLab by @cmastalli on Nov 23, 2018, 13:02

assigned to @cmastalli

[2019-11-18 14:41] wxmerkt commented on #17
In GitLab by @cmastalli on Nov 23, 2018, 14:41

mentioned in merge request !21

[2019-11-18 14:41] wxmerkt commented on #17
In GitLab by @cmastalli on Nov 23, 2018, 14:41

This task was accomplished in !21. I will close it.

[2019-11-18 14:41] wxmerkt commented on #17
In GitLab by @cmastalli on Nov 23, 2018, 14:41

closed

[2019-11-18 14:41] #17 closed

[2019-11-18 14:41] wxmerkt opened #18 "Fixing unit-test regarding the comparison with the KKT solution"
In GitLab by @cmastalli on Nov 15, 2018, 10:44

This unit-test uses the spring-damper system. So first we need to work on issue #3.

[2019-11-18 14:41] wxmerkt commented on #18
In GitLab by @cmastalli on Nov 23, 2018, 15:56

mentioned in merge request !22

[2019-11-18 14:41] wxmerkt commented on #18
In GitLab by @cmastalli on Nov 23, 2018, 15:57

This task was merged in !22. I will close it.

[2019-11-18 14:41] wxmerkt commented on #18
In GitLab by @cmastalli on Nov 23, 2018, 15:57

closed

[2019-11-18 14:42] #18 closed

[2019-11-18 14:42] wxmerkt opened #19 "Fixing the unit-test regarding the regularization and Vxx"
In GitLab by @cmastalli on Nov 15, 2018, 10:45

This unit-test uses the spring-damper system. So first we need to work on issue #3.

[2019-11-18 14:42] wxmerkt commented on #19
In GitLab by @cmastalli on Nov 26, 2018, 10:02

mentioned in merge request !23

[2019-11-18 14:42] wxmerkt commented on #19
In GitLab by @cmastalli on Nov 26, 2018, 10:02

assigned to @cmastalli

[2019-11-18 14:42] wxmerkt commented on #19
In GitLab by @cmastalli on Nov 26, 2018, 10:03

This task was tackled in !23. I will close it.

[2019-11-18 14:42] wxmerkt commented on #19
In GitLab by @cmastalli on Nov 26, 2018, 10:03

closed

[2019-11-18 14:42] #19 closed

[2019-11-18 14:42] wxmerkt opened #20 "Add the phase dynamics"
In GitLab by @cmastalli on Nov 15, 2018, 10:49

[2019-11-18 14:42] wxmerkt commented on #20
In GitLab by @nmansard on Jan 21, 2019, 15:30

done in refact.

[2019-11-18 14:42] wxmerkt commented on #20
In GitLab by @nmansard on Jan 21, 2019, 15:30

closed

[2019-11-18 14:42] #20 closed

[2019-11-18 14:42] wxmerkt opened #21 "Adding the analytic differentiation for contact dynamics"
In GitLab by @cmastalli on Nov 15, 2018, 10:50

Analytic derivatives of the constrained forward dynamics (i.e. floating-base dynamics).

[2019-11-18 14:42] wxmerkt commented on #21
In GitLab by @cmastalli on Nov 26, 2018, 23:10

changed the description

[2019-11-18 14:42] wxmerkt commented on #21
In GitLab by @cmastalli on Dec 24, 2018, 14:30

changed title from **Adding the analytic differentiation** to **Adding the analytic differentiation{+ for contact dynamics+}**

[2019-11-18 14:42] wxmerkt commented on #21
In GitLab by @cmastalli on Jan 14, 2019, 22:11

This issue was duplicated in #52 and there you can find a long discussion. I will close this task.

**Before creating a issue/task please check first if this exists!**

[2019-11-18 14:42] wxmerkt commented on #21
In GitLab by @cmastalli on Jan 14, 2019, 22:11

closed

[2019-11-18 14:42] #21 closed

[2019-11-18 14:42] wxmerkt opened #22 "Adding stopping criteria unit-test"
In GitLab by @cmastalli on Nov 15, 2018, 10:51

[2019-11-18 14:43] wxmerkt commented on #22
In GitLab by @nmansard on Nov 15, 2018, 11:48

@cmastalli started to work on this issue and should be the one taking this task. Refer to him if you would like to take the lead on this task.

[2019-11-18 14:43] wxmerkt commented on #22
In GitLab by @cmastalli on Nov 27, 2018, 17:41

Qu represents the gradient of a DDP interval given an updated Hessian of the Value function Vxx_p. If Vxx_p provides a good estimation of the problem, then we can assume that Qu is the gradient of our OC problem.

Instead Qu.T * Quu^-1 * Qu represents the progression of the optimization. In fact, this is used as Armijo rule.

General speaking, we cou

[2019-11-18 14:43] wxmerkt commented on #22
In GitLab by @cmastalli on Dec 3, 2018, 13:20

mentioned in merge request !27

[2019-11-18 14:43] wxmerkt commented on #22
In GitLab by @cmastalli on Dec 3, 2018, 13:34

I included an simple test for stopping criteria in the LQR case (!27). Basically, I build and solve a KKT problem for LQR problem. Then I checked that the gradient of the Lagrangian is equals zero.

Note that this test only works for linear system with quadratic cost functions.

Please check the code here: https://gepgitlab.laas.fr/loco-3d/cddp/blob/d

[2019-11-18 14:43] wxmerkt commented on #22
In GitLab by @cmastalli on Dec 3, 2018, 13:37

assigned to @cmastalli

[2019-11-18 14:43] wxmerkt commented on #22
In GitLab by @nmansard on Dec 4, 2018, 07:58

We have the jacobian of the constraint to be (with explicit x0 variable and constraint x0=x0ref):

J = [   I             0              ]
    [ -fx   I        -fu             ]
    [     -fx   I         -fu        ]
    [           ...          ...     ]

![image](/uploads/82956d3508b6571e84844574b5b103c6/image.png)

The transpose multiplies one lambda

[2019-11-18 14:43] wxmerkt commented on #22
In GitLab by @cmastalli on Dec 6, 2018, 17:39

I implemented an unit-test for stopping criteria in LQR problems. After solving the analogous KKT problem, I computed the gradient of the Lagrangian from the multipliers (see https://gepgitlab.laas.fr/loco-3d/cddp/blob/topic/unittest/unittest/ddp.py#L104). Then I check that its norm is equals to zero.

[2019-11-18 14:43] wxmerkt commented on #22
In GitLab by @cmastalli on Dec 6, 2018, 17:49

I will close this task since it's been merged in !29.

[2019-11-18 14:43] wxmerkt commented on #22
In GitLab by @cmastalli on Dec 6, 2018, 17:49

closed

[2019-11-18 14:43] #22 closed

[2019-11-18 14:43] wxmerkt opened #23 "Adding automatic regularization tuning"
In GitLab by @cmastalli on Nov 15, 2018, 10:51

[2019-11-18 14:43] wxmerkt commented on #23
In GitLab by @nmansard on Nov 15, 2018, 11:35

locked this issue

[2019-11-18 14:43] wxmerkt commented on #23
In GitLab by @nmansard on Nov 15, 2018, 11:36

unassigned @cmastalli

[2019-11-18 14:43] wxmerkt commented on #23
In GitLab by @nmansard on Nov 15, 2018, 11:36

assigned to @cmastalli

[2019-11-18 14:43] wxmerkt commented on #23
In GitLab by @nmansard on Nov 15, 2018, 11:36

unlocked this issue

[2019-11-18 14:43] wxmerkt commented on #23
In GitLab by @cmastalli on Nov 15, 2018, 12:25

unassigned @cmastalli

[2019-11-18 14:43] wxmerkt commented on #23
In GitLab by @nmansard on Jan 21, 2019, 15:25

Solved by refact. Could be improved, but let's make this improvement a new task when ready.

[2019-11-18 14:43] wxmerkt commented on #23
In GitLab by @nmansard on Jan 21, 2019, 15:25

closed

[2019-11-18 14:43] #23 closed

[2019-11-18 14:43] wxmerkt opened #24 "Dynamic system abstract class"
In GitLab by @cmastalli on Nov 15, 2018, 11:00

All dynamic problem as the form of:
 [v; a] = [v; f(x,v,u)]

and its linearise model is:

 [dv; da] = [0, I; fx, fv]*[dx; dv] + [0; fu]*du

where dx is the linearised configuration point. Note that the linearised point belongs to the tangential space.

This abstraction allows us to implement ABA dynamics, constrained forward dynamics, linear systems,

[2019-11-18 14:44] wxmerkt commented on #24
In GitLab by @cmastalli on Nov 16, 2018, 08:57

Note that this task describes the system in a way that it can be used for geometrical system. For that, we need to solve issue #26.

[2019-11-18 14:44] wxmerkt commented on #24
In GitLab by @cmastalli on Nov 19, 2018, 22:59

assigned to @cmastalli

[2019-11-18 14:44] wxmerkt commented on #24
In GitLab by @cmastalli on Nov 20, 2018, 17:43

This task isn't done. I pushed today's changes in topic/dynamics branch (d49c81eff420097df0ce91ae927d7c3aa7dc694a). I will working on it.

[2019-11-18 14:44] wxmerkt commented on #24
In GitLab by @cmastalli on Nov 21, 2018, 09:31

mentioned in merge request !17

[2019-11-18 14:44] wxmerkt commented on #24
In GitLab by @cmastalli on Nov 21, 2018, 09:34

This task was merged in !17. I will close it

[2019-11-18 14:44] wxmerkt commented on #24
In GitLab by @cmastalli on Nov 21, 2018, 09:34

closed

[2019-11-18 14:44] #24 closed

[2019-11-18 14:44] wxmerkt opened #25 "Renaming of abstract methods for defining a system"
In GitLab by @cmastalli on Nov 15, 2018, 11:06

An user should be able to change only two main things:
  1) the computation of f(x,v,u), and
  2) the linear approximation of f(x,v,u).

The current names are forwardCalc and backwardCalc. This names have a sense for DDP but no meaning inside the concept of the dynamics. Indeed DDP during its forward-pass needs to update the dynamics and its backward

[2019-11-18 14:44] wxmerkt commented on #25
In GitLab by @cmastalli on Nov 21, 2018, 14:56

mentioned in merge request !18

[2019-11-18 14:44] wxmerkt commented on #25
In GitLab by @cmastalli on Nov 21, 2018, 14:57

This task was merged in !18. I will close it.

[2019-11-18 14:44] wxmerkt commented on #25
In GitLab by @cmastalli on Nov 21, 2018, 14:57

closed

[2019-11-18 14:44] #25 closed

[2019-11-18 14:44] wxmerkt opened #26 "NumDiff abstraction for dynamics systems"
In GitLab by @cmastalli on Nov 15, 2018, 11:10

We should provide an abstraction for computing the NumDiff, so the users can quickly test a system. NumDiff routines are needed to compute the linear approximation of the dynamics (see issue #19). Having solved the issue #19 and #20, we can defined by default the updateLinearAppr by running a NumDiff routine.

The user can still deploy its analytical

[2019-11-18 14:44] wxmerkt commented on #26
In GitLab by @cmastalli on Nov 27, 2018, 10:05

mentioned in merge request !24

[2019-11-18 14:44] wxmerkt commented on #26
In GitLab by @cmastalli on Dec 7, 2018, 20:57

mentioned in merge request !31

[2019-11-18 14:44] wxmerkt commented on #26
In GitLab by @cmastalli on Dec 7, 2018, 20:57

This task was merged in !31.

[2019-11-18 14:44] wxmerkt commented on #26
In GitLab by @cmastalli on Dec 7, 2018, 20:57

closed

[2019-11-18 14:44] #26 closed

[2019-11-18 14:45] wxmerkt opened #27 "Name for the library"
In GitLab by @cmastalli on Nov 15, 2018, 11:26

cddp isn't a good name, it's not fun neither.

I put few keywords and generate the different options. @rbudhira and @nmansard please feel free to have a feedback/opinion.

![image](/uploads/c8d7729e21aef3067d55bf8226207f4b/image.png)
![image](/uploads/a694db2e3bb30b91443dbf54f1a534d3/image.png)
![image](/uploads/7a2ce46f6980b57ce3215e474aae0cf1/image

[2019-11-18 14:45] wxmerkt commented on #27
In GitLab by @nmansard on Nov 15, 2018, 11:37

Marathon
WalkOpt
WOPT or WOP

[2019-11-18 14:45] wxmerkt commented on #27
In GitLab by @nmansard on Nov 28, 2018, 10:08

crocoddyl for "contact robot control by differential dynamic programing library"

crocoddyp  for "contact robot control by differential dynamic programing"

[2019-11-18 14:45] wxmerkt commented on #27
In GitLab by @cmastalli on Dec 3, 2018, 13:50

crocoddyL ("Contact RObot COntrol by Differential Dynamic programming Library") is a very cool name. I like it. What do you think? @rbudhira

[2019-11-18 14:45] wxmerkt commented on #27
In GitLab by @cmastalli on Dec 7, 2018, 13:02

It seems crocoddyl is a name that everyone like. Maybe we should start to plan a logo. Any contributor?

[2019-11-18 14:45] wxmerkt commented on #27
In GitLab by @cmastalli on Dec 12, 2018, 12:46

mentioned in merge request !33

[2019-11-18 14:45] wxmerkt commented on #27
In GitLab by @nmansard on Dec 19, 2018, 09:36

What have you used for the so-corporate logos up there? We should do the same with a nice crocodyl.

Without the joke: I dont think using a capital in the library name is smart. Let's rename it (again and finally) with crocodyl (no capital L at the end). And close this issue.

[2019-11-18 14:45] wxmerkt commented on #27
In GitLab by @cmastalli on Dec 19, 2018, 13:15

I used a website that generates logo given a set of keywords. Unfortunately it's not possible to generate a logo for crocoddyl. Maybe we should ask someone that is good doing this stuff.

I didn't realize that we're using a capital L (in the Readme file and folder name), I apologize for that mistake. I will fix it!

[2019-11-18 14:45] wxmerkt commented on #27
In GitLab by @cmastalli on Dec 19, 2018, 15:48

assigned to @cmastalli

[2019-11-18 14:45] wxmerkt commented on #27
In GitLab by @cmastalli on Dec 19, 2018, 16:56

mentioned in merge request !37

[2019-11-18 14:45] wxmerkt commented on #27
In GitLab by @cmastalli on Dec 19, 2018, 17:01

I renamed the folder as requested, this was merged in !37. Additionally I opened a new issue for the crocoddyl logo (#40). I will close this taks.

[2019-11-18 14:45] wxmerkt commented on #27
In GitLab by @cmastalli on Dec 19, 2018, 17:01

closed

[2019-11-18 14:45] wxmerkt commented on #27
In GitLab by @nmansard on Dec 19, 2018, 20:37

I see the named has changed. What about the url? we have cddp url still active. Is it a clone / mirror of crocodyL? Are you planning to remove the capital of the url too?

[2019-11-18 14:45] wxmerkt commented on #27
In GitLab by @cmastalli on Dec 19, 2018, 20:39

For some reason that I don't know, I can't change the repository URL. @nim65s do you know what it's going on?

[2019-11-18 14:45] wxmerkt commented on #27
In GitLab by @cmastalli on Dec 19, 2018, 20:41

Yes, I am planning to do it.

If you forked this repository with old name (e.g. cddp), then you have to change your forked URL too. However this is not mandatory for you!

[2019-11-18 14:45] wxmerkt commented on #27
In GitLab by @cmastalli on Dec 19, 2018, 20:41

reopened

[2019-11-18 14:45] wxmerkt commented on #27
In GitLab by @nim65s on Dec 20, 2018, 09:06

@cmastalli I don't understand your issue.
For me, it looks like this page is `https://gepgitlab.laas.fr/loco-3d/crocoddyL/issues/22` and if I click on the git clone url on the main page, I get `git@gepgitlab.laas.fr:loco-3d/crocoddyL.git`, and I assume both are correct.

[2019-11-18 14:45] wxmerkt commented on #27
In GitLab by @nmansard on Dec 20, 2018, 09:27

I believe that the issue is the capital L at the end of the repo name. I suggested that it was a bad idea to use capital in url, although i might be overconservative here.

[2019-11-18 14:45] wxmerkt commented on #27
In GitLab by @nim65s on Dec 20, 2018, 09:57

Oh, I see, thanks.
Fixed :)

[2019-11-18 14:45] wxmerkt commented on #27
In GitLab by @cmastalli on Dec 20, 2018, 13:13

Thanks @nim65s. I will close this issue

[2019-11-18 14:46] wxmerkt commented on #27
In GitLab by @cmastalli on Dec 20, 2018, 13:13

closed

[2019-11-18 14:46] #27 closed

[2019-11-18 14:46] wxmerkt opened #28 "Add humanoid model"
In GitLab by @nmansard on Nov 15, 2018, 11:45

[2019-11-18 14:46] wxmerkt commented on #28
In GitLab by @cmastalli on Nov 15, 2018, 12:29

changed title from **{-a-}dd humanoid model** to **{+A+}dd humanoid model**

[2019-11-18 14:46] wxmerkt commented on #28
In GitLab by @nmansard on Dec 20, 2018, 10:11

assigned to @rbudhira

[2019-11-18 14:46] wxmerkt commented on #28
In GitLab by @ostasse on Dec 20, 2018, 10:15

Do not hesitate to use the simple humanoid package.

[2019-11-18 14:46] wxmerkt commented on #28
In GitLab by @nmansard on Dec 20, 2018, 10:44

No here we need talos.

[2019-11-18 14:46] wxmerkt commented on #28
In GitLab by @ostasse on Dec 20, 2018, 10:46

Then please use talos_data to get a plain urdf.

[2019-11-18 14:46] wxmerkt commented on #28
In GitLab by @cmastalli on Dec 20, 2018, 13:15

I have formulated a simple example of Talos humanoid. I will merged today. At the moment we are using the talos-data binaries, including in the Pipeline.

[2019-11-18 14:46] wxmerkt commented on #28
In GitLab by @cmastalli on Dec 20, 2018, 13:15

assigned to @cmastalli and unassigned @rbudhira

[2019-11-18 14:46] wxmerkt commented on #28
In GitLab by @cmastalli on Dec 20, 2018, 19:36

mentioned in merge request !38

[2019-11-18 14:46] wxmerkt commented on #28
In GitLab by @cmastalli on Dec 20, 2018, 19:37

I included a simple example of the Talos humanoid robot. I will close this issue!

[2019-11-18 14:46] wxmerkt commented on #28
In GitLab by @cmastalli on Dec 20, 2018, 19:37

closed

[2019-11-18 14:46] #28 closed

[2019-11-18 14:46] wxmerkt opened #29 "Allocated, on-going, priority ... labels"
In GitLab by @nmansard on Nov 15, 2018, 11:56

As we are not using a trello-like board (not available in gitlab), we have to play with labels to obtain a similar effect. I suggest using "assignee"  to "book" a task, which means you intend to work on this task now or in the future. Then, label a task as "on-going" if you are effectively working on the task. It is intended that you have only ***ONE*

[2019-11-18 14:46] wxmerkt commented on #29
In GitLab by @nmansard on Nov 15, 2018, 11:56

Please answer to this thread if you accept it.

[2019-11-18 14:46] wxmerkt commented on #29
In GitLab by @nmansard on Nov 15, 2018, 11:56

assigned to @cmastalli

[2019-11-18 14:46] wxmerkt commented on #29
In GitLab by @nmansard on Nov 15, 2018, 11:56

assigned to @rbudhira and unassigned @cmastalli

[2019-11-18 14:47] wxmerkt commented on #29
In GitLab by @nmansard on Nov 15, 2018, 11:56

assigned to @cmastalli and unassigned @rbudhira

[2019-11-18 14:47] wxmerkt commented on #29
In GitLab by @cmastalli on Nov 15, 2018, 12:24

I've been created the label "on-going", and I invite you to have a look of all labels.

I accept this working protocol.

[2019-11-18 14:47] wxmerkt commented on #29
In GitLab by @cmastalli on Nov 21, 2018, 18:07

There is a reasonable set of tacks to be done and labels. I will keep updating all required task.
I will close this issue since there is enough labels, feel free to open it if that the case.

[2019-11-18 14:47] wxmerkt commented on #29
In GitLab by @cmastalli on Nov 21, 2018, 18:07

closed

[2019-11-18 14:47] #29 closed

[2019-11-18 14:47] wxmerkt opened #30 "Integrator doesn't depend on ddpModel and ddpData"
In GitLab by @cmastalli on Nov 15, 2018, 17:27

Instead the integrator class depends on dynamicModel and dynamicData. This task requires to solve first #20.

[2019-11-18 14:47] wxmerkt commented on #30
In GitLab by @cmastalli on Nov 15, 2018, 17:28

Instead the integrator class depends on dynamicModel and dynamicData

[2019-11-18 14:47] wxmerkt commented on #30
In GitLab by @cmastalli on Nov 15, 2018, 17:29

changed the description

[2019-11-18 14:47] wxmerkt commented on #30
In GitLab by @cmastalli on Nov 23, 2018, 12:43

mentioned in merge request !20

[2019-11-18 14:47] wxmerkt commented on #30
In GitLab by @cmastalli on Nov 23, 2018, 12:44

I will close this task since it was tackled in !20.

[2019-11-18 14:47] wxmerkt commented on #30
In GitLab by @cmastalli on Nov 23, 2018, 12:44

closed

[2019-11-18 14:47] wxmerkt commented on #30
In GitLab by @cmastalli on Nov 23, 2018, 12:44

assigned to @cmastalli

[2019-11-18 14:47] wxmerkt commented on #30
In GitLab by @cmastalli on Nov 26, 2018, 22:57

unassigned @cmastalli

[2019-11-18 14:47] #30 closed

[2019-11-18 14:47] wxmerkt opened #31 "Abstract methods for advanceConfiguration and differenceConfiguration"
In GitLab by @cmastalli on Nov 15, 2018, 17:34

This defines addition and difference operators of the geometrical manifold of a given system. advanceConfiguration is typically used to integrate the geometrical system, instead differenceConfiguration to differentiate a geometrical system (for instance for computing a state feedback).

[2019-11-18 14:47] wxmerkt commented on #31
In GitLab by @cmastalli on Nov 22, 2018, 16:13

mentioned in merge request !19

[2019-11-18 14:47] wxmerkt commented on #31
In GitLab by @cmastalli on Nov 22, 2018, 16:15

This task has been merged in !19. Feel free to open it if you think we need to improve it a bit more.

[2019-11-18 14:47] wxmerkt commented on #31
In GitLab by @cmastalli on Nov 22, 2018, 16:15

closed

[2019-11-18 14:47] wxmerkt commented on #31
In GitLab by @cmastalli on Nov 23, 2018, 12:43

mentioned in merge request !20

[2019-11-18 14:48] #31 closed

[2019-11-18 14:48] wxmerkt opened #32 "Plotting variables to analyse the DDP performance"
In GitLab by @cmastalli on Nov 15, 2018, 17:35

null

[2019-11-18 14:48] wxmerkt commented on #32
In GitLab by @cmastalli on Nov 15, 2018, 17:46

mentioned in merge request !14

[2019-11-18 14:48] wxmerkt commented on #32
In GitLab by @cmastalli on Nov 15, 2018, 17:47

assigned to @cmastalli

[2019-11-18 14:48] wxmerkt commented on #32
In GitLab by @cmastalli on Nov 16, 2018, 08:49

closed

[2019-11-18 14:48] #32 closed

[2019-11-18 14:48] wxmerkt opened #33 "Fixing bug in the computation of the SE3's residual and its derivaties"
In GitLab by @cmastalli on Nov 16, 2018, 12:31

null

[2019-11-18 14:48] wxmerkt commented on #33
In GitLab by @cmastalli on Nov 16, 2018, 12:45

The residual vector represents the local velocity of the frame expressed in the reference frame, i.e. d^V^f where d is the reference frame and f the local frame (see https://gepgitlab.laas.fr/loco-3d/cddp/blob/devel/cddp/costs/multibody_dynamics/se3_cost.py#L41).

Instead the Jacobian of the residual is expressed in the local frame, i.e. f^J^f (see h

[2019-11-18 14:48] wxmerkt commented on #33
In GitLab by @cmastalli on Nov 16, 2018, 13:49

assigned to @cmastalli

[2019-11-18 14:48] wxmerkt commented on #33
In GitLab by @cmastalli on Nov 16, 2018, 14:05

mentioned in merge request !15

[2019-11-18 14:48] wxmerkt commented on #33
In GitLab by @cmastalli on Nov 19, 2018, 09:27

The task was tackled in !15. I am closing this task!

[2019-11-18 14:48] wxmerkt commented on #33
In GitLab by @cmastalli on Nov 19, 2018, 09:27

closed

[2019-11-18 14:48] wxmerkt commented on #33
In GitLab by @proyan on Jan 2, 2019, 15:34

Thanks for the correction.

Currently, we are doing moving the jacobian from the world to the local frame (when we call the pinocchio function 'getjacobian'), and then we are moving from the local to the desired frame.

This is just a minor point, but it would be faster to compute in the world frame, then apply the action matrix to move the derivative fr

[2019-11-18 14:48] wxmerkt commented on #33
In GitLab by @proyan on Jan 2, 2019, 15:34

reopened

[2019-11-18 14:48] wxmerkt commented on #33
In GitLab by @nmansard on Jan 21, 2019, 15:24

This is solved by refact. I am closing.

[2019-11-18 14:48] wxmerkt commented on #33
In GitLab by @nmansard on Jan 21, 2019, 15:24

closed

[2019-11-18 14:48] #33 closed

[2019-11-18 14:48] wxmerkt opened #34 "State and control updates inside DDPModel"
In GitLab by @cmastalli on Nov 19, 2018, 19:25

Currently, these vectors are updated inside the DynamicsModel.

[2019-11-18 14:49] wxmerkt commented on #34
In GitLab by @cmastalli on Nov 19, 2018, 19:27

changed the description

[2019-11-18 14:49] wxmerkt commented on #34
In GitLab by @cmastalli on Nov 19, 2018, 20:14

assigned to @cmastalli

[2019-11-18 14:49] wxmerkt commented on #34
In GitLab by @cmastalli on Nov 19, 2018, 22:54

changed title from **State and control {-vectors inside DDP data-}** to **State and control {+updates inside DDPModel+}**

[2019-11-18 14:49] wxmerkt commented on #34
In GitLab by @cmastalli on Nov 19, 2018, 22:54

changed the description

[2019-11-18 14:49] wxmerkt commented on #34
In GitLab by @cmastalli on Nov 19, 2018, 23:06

mentioned in merge request !16

[2019-11-18 14:49] wxmerkt commented on #34
In GitLab by @cmastalli on Nov 19, 2018, 23:07

This task was done in !16. I will close it

[2019-11-18 14:49] wxmerkt commented on #34
In GitLab by @cmastalli on Nov 19, 2018, 23:07

closed

[2019-11-18 14:49] #34 closed

[2019-11-18 14:49] wxmerkt opened #35 "Generalization of integrator and discretizer"
In GitLab by @cmastalli on Nov 21, 2018, 17:55

The FloatingBaseMultibodyEuler(Integrator/ExpDiscretizer) classes describes general integration or discretization rules. This is possible thanks to task #29. However, before doing such kind of generalization, we need deal with #26.

[2019-11-18 14:49] wxmerkt commented on #35
In GitLab by @cmastalli on Nov 21, 2018, 17:59

changed title from **{-Integrator and discretizer can be generalized-}** to **{+Generalization of integrator and discretizer+}**

[2019-11-18 14:49] wxmerkt commented on #35
In GitLab by @cmastalli on Nov 21, 2018, 17:59

changed the description

[2019-11-18 14:49] wxmerkt commented on #35
In GitLab by @nmansard on Nov 22, 2018, 13:46

I yet remove the priority task: I think no task should be taken before the unittests are fixed.

[2019-11-18 14:49] wxmerkt commented on #35
In GitLab by @cmastalli on Nov 23, 2018, 12:43

mentioned in merge request !20

[2019-11-18 14:49] wxmerkt commented on #35
In GitLab by @cmastalli on Nov 23, 2018, 12:45

assigned to @cmastalli

[2019-11-18 14:49] wxmerkt commented on #35
In GitLab by @cmastalli on Nov 23, 2018, 12:45

I will close this task since it was tackled in !20.

[2019-11-18 14:49] wxmerkt commented on #35
In GitLab by @cmastalli on Nov 23, 2018, 12:45

closed

[2019-11-18 14:49] #35 closed

[2019-11-18 14:49] wxmerkt opened #36 "Created the RK4 integrator and discretizer"
In GitLab by @cmastalli on Nov 23, 2018, 12:45

This integrator and discretizer were defined in the previous software structure. You can see the code here:
  - **integrator**: https://gepgitlab.laas.fr/loco-3d/cddp/blob/master/cddp/math/integrator.py#L134
  - **discretizer**: https://gepgitlab.laas.fr/loco-3d/cddp/blob/master/cddp/math/discretizer.py#L152

[2019-11-18 14:50] wxmerkt commented on #36
In GitLab by @cmastalli on Nov 23, 2018, 12:46

changed the description

[2019-11-18 14:50] wxmerkt commented on #36
In GitLab by @cmastalli on Nov 23, 2018, 12:48

changed title from **Created the RK4 integrator** to **Created the RK4 integrator{+ and discretizer+}**

[2019-11-18 14:50] wxmerkt commented on #36
In GitLab by @cmastalli on Nov 23, 2018, 12:48

changed the description

[2019-11-18 14:50] wxmerkt commented on #36
In GitLab by @nmansard on Jan 21, 2019, 15:31

See #55

[2019-11-18 14:50] wxmerkt commented on #36
In GitLab by @nmansard on Jan 21, 2019, 15:31

closed

[2019-11-18 14:50] #36 closed

[2019-11-18 14:50] wxmerkt opened #37 "Improve the DDP printing message"
In GitLab by @cmastalli on Nov 23, 2018, 13:14

I suggest to have different level of printing, and follows the same rules of Ipopt.

[2019-11-18 14:50] wxmerkt commented on #37
In GitLab by @cmastalli on Nov 23, 2018, 13:15

changed the description

[2019-11-18 14:50] wxmerkt commented on #37
In GitLab by @cmastalli on Dec 12, 2018, 15:03

assigned to @cmastalli

[2019-11-18 14:50] wxmerkt commented on #37
In GitLab by @cmastalli on Dec 12, 2018, 15:04

mentioned in merge request !34

[2019-11-18 14:50] wxmerkt commented on #37
In GitLab by @cmastalli on Dec 12, 2018, 15:05

I will close this issue since there is a basic version (!32). Feel free to open it if you think this printing message isn't good enough.

[2019-11-18 14:50] wxmerkt commented on #37
In GitLab by @cmastalli on Dec 12, 2018, 15:05

closed

[2019-11-18 14:50] #37 closed

[2019-11-18 14:50] wxmerkt opened #38 "NumDiff abstraction for cost functions"
In GitLab by @cmastalli on Nov 27, 2018, 10:04

null

[2019-11-18 14:50] wxmerkt commented on #38
In GitLab by @cmastalli on Nov 27, 2018, 10:05

mentioned in merge request !24

[2019-11-18 14:50] wxmerkt commented on #38
In GitLab by @nmansard on Jan 21, 2019, 15:29

Done in refact

[2019-11-18 14:50] wxmerkt commented on #38
In GitLab by @nmansard on Jan 21, 2019, 15:29

closed

[2019-11-18 14:50] #38 closed

[2019-11-18 14:51] wxmerkt opened #39 "Python Unit Tests & MR"
In GitLab by @nim65s on Nov 27, 2018, 15:57

Hi,

JFYI, @nmansard asked me to launch python unit tests in merge requests. This will be done soon.

[2019-11-18 14:51] wxmerkt commented on #39
In GitLab by @nim65s on Nov 27, 2018, 17:51

mentioned in merge request !25

[2019-11-18 14:51] wxmerkt commented on #39
In GitLab by @nim65s on Nov 27, 2018, 17:52

mentioned in merge request !26

[2019-11-18 14:51] wxmerkt commented on #39
In GitLab by @cmastalli on Nov 28, 2018, 23:55

mentioned in commit 2c07156c5306da119c92c873a7498dd887ede9cd

[2019-11-18 14:51] wxmerkt commented on #39
In GitLab by @cmastalli on Dec 6, 2018, 17:35

@nim65s There is an important task to be done regarding this topic. I reported here #38.

[2019-11-18 14:51] wxmerkt commented on #39
In GitLab by @cmastalli on Dec 6, 2018, 20:58

@nim65s and @nmansard the CI jobs are starting to work. I turned off few broken unit-test that I will put them back asap

[2019-11-18 14:51] wxmerkt commented on #39
In GitLab by @nmansard on Dec 7, 2018, 09:42

assigned to @cmastalli and unassigned @nim65s

[2019-11-18 14:51] wxmerkt commented on #39
In GitLab by @nim65s on Dec 12, 2018, 14:12

I think we can close this issue, as !26 has been merged

[2019-11-18 14:51] wxmerkt commented on #39
In GitLab by @nim65s on Dec 12, 2018, 14:12

closed

[2019-11-18 14:51] wxmerkt commented on #39
In GitLab by @cmastalli on Dec 12, 2018, 14:58

I agree. Thanks for your support @nim65s

[2019-11-18 14:51] wxmerkt commented on #39
In GitLab by @cmastalli on Dec 14, 2018, 17:06

mentioned in commit 58174d6e99949e04384dd5aeadd122ccbd85c323

[2019-11-18 14:51] #39 closed

[2019-11-18 14:51] wxmerkt opened #40 "Define and add unit test for regularization tuning"
In GitLab by @nmansard on Nov 28, 2018, 09:43

[2019-11-18 14:51] wxmerkt commented on #40
In GitLab by @nmansard on Nov 28, 2018, 09:47

Follows #18

[2019-11-18 14:51] wxmerkt commented on #40
In GitLab by @nmansard on Jan 21, 2019, 15:28

This is still valid for refact: the unittest on automatic tunic are not there yet. I keep it open for the refact branch, but this is not a top priority task yet.

[2019-11-18 14:51] wxmerkt commented on #40
In GitLab by @nmansard on Jan 30, 2019, 17:51

closed

[2019-11-18 14:51] #40 closed

[2019-11-18 14:52] wxmerkt opened #41 "Close unit-test milestone"
In GitLab by @nmansard on Nov 28, 2018, 09:52

The unit test list should be as follows:
1. DDP converges in 1 step for LQR systems
2. DDP and KKT for LQR matches
3. num-diff versus algo diff
4. stopping criteria unit test (tbf, possibly compare with KKT)
5. regularization unit test (test that backward pass with regularization or with control cost is equal)
6. regularization tuning test (tbf)

We m

[2019-11-18 14:52] wxmerkt commented on #41
In GitLab by @cmastalli on Dec 3, 2018, 13:35

changed the description

[2019-11-18 14:52] wxmerkt commented on #41
In GitLab by @cmastalli on Dec 3, 2018, 13:36

For the moment, we have solved the point 1. @nmansard I need that you check a proposed solution for the point 4.

[2019-11-18 14:52] wxmerkt commented on #41
In GitLab by @cmastalli on Dec 6, 2018, 17:47

mentioned in merge request !29

[2019-11-18 14:52] wxmerkt commented on #41
In GitLab by @cmastalli on Dec 6, 2018, 22:54

@nmansard  I am not sure if I understand the point 5. How is possible that the control cost is equals to the regularization?

For instance the control cost (0.5 * u^T * Q * u^T) has a gradient different to zero (i.e. Q * u), and often this isn't zero in the optimal solution neither. On the other hand, regularization scheme affects only Quu (mu * I), n

[2019-11-18 14:52] wxmerkt commented on #41
In GitLab by @nmansard on Dec 7, 2018, 09:43

Currently working:
1,2,4

[2019-11-18 14:52] wxmerkt commented on #41
In GitLab by @cmastalli on Dec 7, 2018, 20:57

mentioned in merge request !31

[2019-11-18 14:52] wxmerkt commented on #41
In GitLab by @cmastalli on Dec 7, 2018, 20:58

And now working 3.

[2019-11-18 14:52] wxmerkt commented on #41
In GitLab by @cmastalli on Dec 11, 2018, 18:20

mentioned in merge request !32

[2019-11-18 14:52] wxmerkt commented on #41
In GitLab by @cmastalli on Dec 11, 2018, 18:20

At the moment it's missing only the point 6.

[2019-11-18 14:52] wxmerkt commented on #41
In GitLab by @nmansard on Jan 21, 2019, 15:27

Done.

[2019-11-18 14:52] wxmerkt commented on #41
In GitLab by @nmansard on Jan 21, 2019, 15:27

closed

[2019-11-18 14:52] #41 closed

[2019-11-18 14:52] wxmerkt opened #42 "Share, read and analyze the paper comparing plain newton with ddp"
In GitLab by @nmansard on Dec 3, 2018, 07:57

[2019-11-18 14:52] wxmerkt commented on #42
In GitLab by @nmansard on Jan 21, 2019, 15:26

Done, solved by refact.

[2019-11-18 14:52] wxmerkt commented on #42
In GitLab by @nmansard on Jan 21, 2019, 15:26

closed

[2019-11-18 14:52] #42 closed

[2019-11-18 14:52] wxmerkt opened #43 "Adding np.block for CI jobs (Job Failed #8702)"
In GitLab by @cmastalli on Dec 6, 2018, 17:33

Job [#8702](https://gepgitlab.laas.fr/loco-3d/cddp/-/jobs/8702) failed for f45792afca3eed149414ce6de0dcabc0d495272b:

@nim65s I think we need to include numpy block.

[2019-11-18 14:52] wxmerkt commented on #43
In GitLab by @cmastalli on Dec 6, 2018, 17:35

changed title from **{-Job Failed #8702-}** to **{+Adding np.block for CI jobs (Job Failed #8702)+}**

[2019-11-18 14:53] wxmerkt commented on #43
In GitLab by @nim65s on Dec 6, 2018, 19:05

This issue comes from the fact that [block has been added in numpy 1.13](https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.block.html), but ubuntu 16.04 ships numpy 1.11.

So I am sorry, but with respect to the team's standards, we have to respect the versions provided by ubuntu. (honestly, this is a nightmare for me, but I respect that…)

[2019-11-18 14:53] wxmerkt commented on #43
In GitLab by @cmastalli on Dec 6, 2018, 20:07

I didn't know about this team policy. I will remove asap all block routines. @nim65s

[2019-11-18 14:53] wxmerkt commented on #43
In GitLab by @cmastalli on Dec 6, 2018, 20:07

closed

[2019-11-18 14:53] wxmerkt commented on #43
In GitLab by @cmastalli on Dec 6, 2018, 20:56

mentioned in merge request !30

[2019-11-18 14:53] wxmerkt commented on #43
In GitLab by @ostasse on Dec 7, 2018, 07:12

The rational behind sticking to the releases library for a given distribtion, is that if you authorized more advanced releases, you end up with inconsistent code with some part relying on one version and other relying on a different version. In addition you have to make sure that the packages live together peacefully. I was asked to do that for boost an

[2019-11-18 14:53] #43 closed

[2019-11-18 14:53] wxmerkt opened #44 "Refactoring"
In GitLab by @nmansard on Dec 19, 2018, 11:05

I pushed a new branch topic/refact. The name is possibly not properly chosen. It contains a DDP and a KKT solver developed from scratch with the complete unittest (without regularization yet). Here is a description of the work.

- Dynamic and cost functions are merged into a single class, named ActionModel and ActionData. The class is mostly able to c

[2019-11-18 14:57] #44 closed

[2019-11-18 14:57] wxmerkt opened #45 "Logo for the library"
In GitLab by @cmastalli on Dec 19, 2018, 16:58

Before incorporating any logo, we should have first few proposals. Feel free to make your contribution :)

[2019-11-18 14:57] wxmerkt commented on #45
In GitLab by @cmastalli on Dec 19, 2018, 16:59

changed the description

[2019-11-18 14:57] wxmerkt commented on #45
In GitLab by @nmansard on Dec 19, 2018, 20:22

That is mostly for fun, right?

[2019-11-18 14:57] wxmerkt commented on #45
In GitLab by @cmastalli on Dec 19, 2018, 20:24

Yes, this is very low priority :). But feel free to close if you think is noise

[2019-11-18 14:57] wxmerkt commented on #45
In GitLab by @nmansard on Feb 28, 2019, 11:32

![image](/uploads/9020ecd3f90c8ecf6f7b02cfe89a0845/image.png)

[2019-11-18 14:57] wxmerkt commented on #45
In GitLab by @nmansard on Feb 28, 2019, 11:32

![image](/uploads/95c03153205fd075662e321c41c2ab6f/image.png)

[2019-11-18 14:57] wxmerkt commented on #45
In GitLab by @nmansard on Feb 28, 2019, 11:32

![image](/uploads/bbe6820566b1a66579eafe1d007f9780/image.png)

[2019-11-18 14:57] wxmerkt commented on #45
In GitLab by @nmansard on Feb 28, 2019, 11:33

![image](/uploads/14c84ec19ba49af4ff54e315008dac9f/image.png)

[2019-11-18 14:57] wxmerkt commented on #45
In GitLab by @nmansard on Feb 28, 2019, 11:33

![image](/uploads/09a4c559bff2f5cbef344a32c0bb718f/image.png)

[2019-11-18 14:57] wxmerkt commented on #45
In GitLab by @nmansard on Feb 28, 2019, 11:34

![image](/uploads/9e139bf305ff6ef6e16268b91ed4e51f/image.png)

[2019-11-18 14:57] wxmerkt commented on #45
In GitLab by @nmansard on Feb 28, 2019, 11:36

![image](/uploads/f275e6df3534df7c7597d7294b95404c/image.png)

[2019-11-18 14:57] wxmerkt commented on #45
In GitLab by @nmansard on Feb 28, 2019, 11:36

![image](/uploads/4fdec1eedb51db1fbbf2bcf542ce6e77/image.png)

[2019-11-18 14:57] wxmerkt commented on #45
In GitLab by @ostasse on Feb 28, 2019, 11:40

All free of charge ?

[2019-11-18 14:57] wxmerkt commented on #45
In GitLab by @nmansard on Feb 28, 2019, 11:40

![image](/uploads/e41952859d5c06abb865051a7b06e748/image.png)

[2019-11-18 14:58] wxmerkt commented on #45
In GitLab by @nmansard on Feb 28, 2019, 11:41

ahah, procrastination time is contaminating!
No I am doing research for a friend that would produce something for fun (maybe)

[2019-11-18 14:58] wxmerkt commented on #45
In GitLab by @cmastalli on Feb 28, 2019, 12:57

I vote for this: https://gepgitlab.laas.fr/loco-3d/crocoddyl/issues/40#note_3053.

@nmansard I appreciate your dedication to this despite all important task that you have to accomplished.

Merci

[2019-11-18 14:58] wxmerkt opened #46 "Initializing with unconsistant xs,us"
In GitLab by @nmansard on Dec 20, 2018, 10:47

The DDP solver is an SQP solver which optimize with the decision variables xs,us, so that F(xs,us) = 0, with F a stack of dynamic constraints f(x,u) - xnext = 0. The main difference between a DDP solver and a classical SQP solver (for example KKT based) is that in DDP there is a explicit way to project a candidate xs,us on the constraint (by making a

[2019-11-18 14:58] wxmerkt commented on #46
In GitLab by @proyan on Jan 2, 2019, 13:59

assigned to @rbudhira

[2019-11-18 14:58] wxmerkt commented on #46
In GitLab by @proyan on Jan 2, 2019, 14:03

In order to relinearize Vx by taylor expansion, you would have to assume that xguess'-xguess is delta small.
Are you making that assumption here, or do you think that this scheme would work for all xguess?

[2019-11-18 14:58] wxmerkt commented on #46
In GitLab by @nmansard on Jan 4, 2019, 14:33

Not exactly: we assume a LQR model. If LQR, then any x and u modification is acceptable. If not LQR, then you have to keep the modification small. But it is always working like that. Indeed, this proposition has the same behavior than a classical KKT formulation.

[2019-11-18 14:58] wxmerkt commented on #46
In GitLab by @nmansard on Jan 21, 2019, 15:26

This is done, working and tested. It could be improved, but let's open a new task when ready for investigating this improvement.

[2019-11-18 14:58] wxmerkt commented on #46
In GitLab by @nmansard on Jan 21, 2019, 15:26

closed

[2019-11-18 14:58] #46 closed

[2019-11-18 14:58] wxmerkt opened #47 "Prospective tasks"
In GitLab by @nmansard on Dec 21, 2018, 16:05

Here is a quick list of the main tasks for the next 15 days.

### Make sure the solver run good and nice.
1. unittest the regularization auto setup (#18, #35).
2. validate with integrative tests on the manipulator arm (#43).

### Implement the phased dynamics on the quadruped
3. validate the solver for tracking a COM on fixed contact.
4. validate the

[2019-11-18 14:58] wxmerkt commented on #47
In GitLab by @nmansard on Dec 21, 2018, 16:06

I would appreciate that somebody open all these points as new tasks (double check first that do not exist).

[2019-11-18 14:58] wxmerkt commented on #47
In GitLab by @cmastalli on Dec 22, 2018, 23:57

changed the description

[2019-11-18 14:58] wxmerkt commented on #47
In GitLab by @cmastalli on Dec 23, 2018, 00:04

I will try to define all the tasks. However 3 and 9 are already solved.

I have extra questions regarding to these points.
  1. What do you have in mind with the integration test of the Talos arm?
  2. What is exactly the flat contact constraints? (define the mathematical model)
  3. What kind of tracking error should we expect?

[2019-11-18 14:58] wxmerkt commented on #47
In GitLab by @nmansard on Dec 25, 2018, 12:11

1. Create a test in unittest that automatically validates the behaviour of the solver with the arm model. I believe that matching the convergence with the one of Kkt solver is the proper way (check values of primal and dual at convergence on both solvers).

[2019-11-18 14:58] wxmerkt commented on #47
In GitLab by @nmansard on Dec 25, 2018, 12:13

2. I believe we should follow Rohan's prototype here. If I am correct the constraint is written in term of log SE3 to be constant, with PD terms as corrector to prevent the drift.

[2019-11-18 14:58] wxmerkt commented on #47
In GitLab by @nmansard on Dec 25, 2018, 12:13

Maybe Rohan can take care of this task while you push further with the quadruped.

[2019-11-18 14:58] wxmerkt commented on #47
In GitLab by @nmansard on Dec 25, 2018, 12:14

I don't understand your question 3.

[2019-11-18 14:58] wxmerkt commented on #47
In GitLab by @cmastalli on Dec 25, 2018, 16:02

@nmansard reviewing the Rohan's code I can see:
 1. It used a PD term for stabilizyng active contacts (i.e. Baumgarte's stabilization).
 2. This constraint stabilization (or constraint regularization) is there for having good numerical integration, they don't define log SE3 to be constant.
 3. There isn't terminal constraint (hard or soft) to ensure

[2019-11-18 14:58] wxmerkt commented on #47
In GitLab by @cmastalli on Dec 25, 2018, 16:05

My question 3 is regarding CoM tracking for sine task (prospective task 3). Our DDP solver is able to track CoM sine task for both: quadruped and biped in full support phase. I just wonder which metric we should use for validating a proper tracking of this task. And then to create a integrative unit-test.

[2019-11-18 14:58] wxmerkt commented on #47
In GitLab by @cmastalli on Dec 25, 2018, 17:01

changed the description

[2019-11-18 14:59] wxmerkt commented on #47
In GitLab by @cmastalli on Dec 25, 2018, 17:01

changed the description

[2019-11-18 14:59] wxmerkt commented on #47
In GitLab by @cmastalli on Jan 14, 2019, 22:11

changed the description

[2019-11-18 14:59] wxmerkt commented on #47
In GitLab by @nmansard on Jan 30, 2019, 17:51

closed

[2019-11-18 14:59] #47 closed

[2019-11-18 14:59] wxmerkt opened #48 "Validate with integrative tests on the manipulator arm"
In GitLab by @cmastalli on Dec 24, 2018, 14:17

null

[2019-11-18 14:59] wxmerkt commented on #48
In GitLab by @cmastalli on Dec 24, 2018, 14:21

@nmansard do you have an idea how to properly validate it?

[2019-11-18 14:59] wxmerkt commented on #48
In GitLab by @nmansard on Dec 25, 2018, 12:20

Main guess: against the Kkt solver. Additionally: with physical intuition that what we get is what the cost function should lead to.

[2019-11-18 14:59] wxmerkt commented on #48
In GitLab by @nmansard on Jan 21, 2019, 15:29

done in refact.

[2019-11-18 14:59] wxmerkt commented on #48
In GitLab by @nmansard on Jan 21, 2019, 15:29

closed

[2019-11-18 14:59] #48 closed

[2019-11-18 14:59] wxmerkt opened #49 "Single contact phase with terminal contact constraint"
In GitLab by @cmastalli on Dec 24, 2018, 14:18

The constraint can be modeled by any possible mean, although we should first validate that penalty based method with simple gain tuning is sufficient.

[2019-11-18 14:59] wxmerkt commented on #49
In GitLab by @cmastalli on Dec 24, 2018, 14:19

changed the description

[2019-11-18 14:59] wxmerkt commented on #49
In GitLab by @nmansard on Jan 21, 2019, 15:28

done in refact.

[2019-11-18 14:59] wxmerkt commented on #49
In GitLab by @nmansard on Jan 21, 2019, 15:28

closed

[2019-11-18 14:59] #49 closed

[2019-11-18 14:59] wxmerkt opened #50 "Two contact phases in the quadruped"
In GitLab by @cmastalli on Dec 24, 2018, 14:22

First phase with a flying contact and a terminal "constraint" and a a second phase with only fixed constraint.

[2019-11-18 14:59] wxmerkt commented on #50
In GitLab by @cmastalli on Dec 24, 2018, 14:26

changed title from **{-Multiple-contact phases with DDP-}** to **{+Two contact phases in the quadruped+}**

[2019-11-18 14:59] wxmerkt commented on #50
In GitLab by @cmastalli on Dec 24, 2018, 14:26

changed the description

[2019-11-18 15:00] wxmerkt commented on #50
In GitLab by @nmansard on Jan 22, 2019, 22:46

done in refact (for the biped)

[2019-11-18 15:00] wxmerkt commented on #50
In GitLab by @nmansard on Jan 22, 2019, 22:46

closed

[2019-11-18 15:00] #50 closed

[2019-11-18 15:00] wxmerkt opened #51 "Multi-contact phases for quadrupedal locomotion"
In GitLab by @cmastalli on Dec 24, 2018, 14:28

Extend #45 for multiple-phases.

[2019-11-18 15:00] wxmerkt commented on #51
In GitLab by @cmastalli on Dec 24, 2018, 14:29

changed the description

[2019-11-18 15:00] wxmerkt commented on #51
In GitLab by @nmansard on Jan 21, 2019, 15:29

I believe @rbudhira opened a similar task with a more accurate target. I close this one.

[2019-11-18 15:00] wxmerkt commented on #51
In GitLab by @nmansard on Jan 21, 2019, 15:29

closed

[2019-11-18 15:00] #51 closed

[2019-11-18 15:00] wxmerkt opened #52 "Study KKT dynamics against state constraints in OCP"
In GitLab by @cmastalli on Dec 24, 2018, 14:32

It is possible that the two problems are equivalent. In such a case, it might be better to directly handle the contact constraint as a state constraint, either with penalty or aug-lag.

From KKT analyses, equality constraints (e.g. holonomic contact models) can be described as
 1. Laine Forrest and Claire Tomlin. *[Efficient Computation of Feedback C

[2019-11-18 15:00] wxmerkt commented on #52
In GitLab by @cmastalli on Dec 24, 2018, 14:33

changed the description

[2019-11-18 15:00] wxmerkt commented on #52
In GitLab by @cmastalli on Dec 25, 2018, 16:33

changed the description

[2019-11-18 15:00] wxmerkt commented on #52
In GitLab by @cmastalli on Dec 25, 2018, 16:52

changed the description

[2019-11-18 15:00] wxmerkt commented on #52
In GitLab by @cmastalli on Jan 14, 2019, 22:03

changed the description

[2019-11-18 15:00] wxmerkt commented on #52
In GitLab by @cmastalli on Jan 14, 2019, 22:03

changed the description

[2019-11-18 15:00] wxmerkt commented on #52
In GitLab by @cmastalli on Jan 14, 2019, 22:05

@nmansard do you have any though regarding this topic? I am eager to explore method number 1 for DDP case. My plan would be to use it for one single locomotion phase, and next to move for multiple phases.

I could start to work on this immediately!

[2019-11-18 15:00] wxmerkt commented on #52
In GitLab by @cmastalli on Jul 18, 2019, 17:30

closed

[2019-11-18 15:00] #52 closed

[2019-11-18 15:00] wxmerkt opened #53 "Understand the refact code, and discuss it."
In GitLab by @cmastalli on Dec 24, 2018, 14:34

@nmansard has been working in new code structure base on action models paradigm. All the code is pushed in topic/refact branch. You can find an open discussion in #39.

[2019-11-18 15:00] wxmerkt commented on #53
In GitLab by @cmastalli on Dec 24, 2018, 14:38

changed the description

[2019-11-18 15:01] wxmerkt commented on #53
In GitLab by @nmansard on Jan 21, 2019, 15:31

closed

[2019-11-18 15:01] #53 closed

[2019-11-18 15:01] wxmerkt opened #54 "integration on manifold, floating robots"
In GitLab by @nmansard on Dec 25, 2018, 12:17

I guess this question is already partly answered in the code. Sorry if I am wasting time.

What formal property/algorithm do we have for integrating on non Euclidean manifold, like for taking care of the quaternion of the floating basis. Yet we have a simple implicit Euler, so calling pinocchio.integrate algorithm makes the job. What if we want to use

[2019-11-18 15:01] wxmerkt commented on #54
In GitLab by @cmastalli on Dec 25, 2018, 21:22

## Formal algorithm for sympletic Euler integrator
Concretely, we have coded a sympletic Euler integrator (not implicit Euler integrator) but in the Lagrangian coordinates, i.e.:
 - v+ = v + h a(q,v,u)
 - q+ = q + h v+

for a dynamic system of the form:
 - (d/dt)[q; v] = [v; a(q,v,u)]

and you can see that we use implicit velocities v+ to integrate t

[2019-11-18 15:01] wxmerkt commented on #54
In GitLab by @proyan on Jan 21, 2019, 12:15

closed

[2019-11-18 15:01] #54 closed

[2019-11-18 15:01] wxmerkt opened #55 "Adding Baumgarte's stabilization for contact dynamics"
In GitLab by @cmastalli on Dec 25, 2018, 16:07

This constraint stabilization (or constraint regularization) helps to have good numerical integration of the DAE (a.k.a. KKT dynamics). In this follow paper you can see the proposed methods for tuning the stabilization gains (i.e. PD gains):
 - Hajzman, M. and Polach, P. *[Application of stabilization techniques in the dynamic analysis of multibody s

[2019-11-18 15:01] wxmerkt commented on #55
In GitLab by @cmastalli on Dec 25, 2018, 16:11

changed the description

[2019-11-18 15:01] wxmerkt commented on #55
In GitLab by @nmansard on Jan 21, 2019, 15:28

Done in refact for euler scheme.

[2019-11-18 15:01] wxmerkt commented on #55
In GitLab by @nmansard on Jan 21, 2019, 15:28

closed

[2019-11-18 15:01] #55 closed

[2019-11-18 15:01] wxmerkt opened #56 "Talos model"
In GitLab by @nmansard on Dec 28, 2018, 15:47

Simple question: what is the procedure to obtain the talos model used in Crocodyl? Thanks.

[2019-11-18 15:01] wxmerkt commented on #56
In GitLab by @cmastalli on Jan 1, 2019, 17:07

You should install the talos-data binary through robot package.

[2019-11-18 15:01] wxmerkt commented on #56
In GitLab by @cmastalli on Jan 1, 2019, 17:07

I will close this issue, feel free to re-open it.

[2019-11-18 15:01] wxmerkt commented on #56
In GitLab by @cmastalli on Jan 1, 2019, 17:07

closed

[2019-11-18 15:01] wxmerkt commented on #56
In GitLab by @nmansard on Jan 13, 2019, 13:38

reopened

[2019-11-18 15:01] wxmerkt commented on #56
In GitLab by @nmansard on Jan 13, 2019, 13:39

Could you give me the repo link, and a minimal python example that load the Talos model?
Thx

[2019-11-18 15:01] wxmerkt commented on #56
In GitLab by @proyan on Jan 14, 2019, 15:09

the repo is ssh://git@redmine.laas.fr/laas/users/ostasse/pyrene-talos/talos-data.git

I basically install it in my ROS_PACKAGE_PATH, and use

import rospkg

rospack = rospkg.RosPack()

MODEL_PATH = rospack.get_path('talos_data')

MESH_DIR = MODEL_PATH

URDF_FILENAME = "talos_reduced.urdf"
URDF_MODEL_PATH = MODEL_PATH + "/urdf/" + URDF_FILENAME
robot = R

[2019-11-18 15:01] wxmerkt commented on #56
In GitLab by @nmansard on Jan 14, 2019, 16:39

I do not have the perms for that, plus I am doubtful about us using a repo of ostasse directly.
I opened a chat on slack with GSaurel.

[2019-11-18 15:02] wxmerkt commented on #56
In GitLab by @proyan on Jan 14, 2019, 16:40

I just saw that robotpkg/wip also has talos-data. You would have to enable wip repositories
http://robotpkg.openrobots.org/robotpkg-wip.html

[2019-11-18 15:02] wxmerkt commented on #56
In GitLab by @nmansard on Jan 14, 2019, 16:41

sudo apt install robotpkg-talos-data
[sudo] password for nmansard:
Reading package lists... Done
Building dependency tree
Reading state information... Done
Some packages could not be installed. This may mean that you have
requested an impossible situation or if you are using the unstable
distribution that some required packages have not yet been creat

[2019-11-18 15:02] wxmerkt commented on #56
In GitLab by @cmastalli on Jan 14, 2019, 16:41

@rbudhira and @nmansard that an old repository. We are using this https://gepgitlab.laas.fr/pyrene-dev/talos_data. However, you should use sudo apt-get install robotpkg-talos-data.

@nmansard you can run a simple example with the Talos humanoid robot with the following script: examples/talos.py

Let me know if this help you!

[2019-11-18 15:02] wxmerkt commented on #56
In GitLab by @cmastalli on Jan 14, 2019, 16:43

Actually, in the devel branch, we are using the Talos arm (talos-data repository) for unit-testing. You can see here: https://gepgitlab.laas.fr/loco-3d/crocoddyl/blob/devel/Dockerfile

[2019-11-18 15:02] wxmerkt commented on #56
In GitLab by @cmastalli on Jan 14, 2019, 16:44

I don't think that talos-data is unstable, at least it was working in December. @nmansard You might have some issue with your package system. @nim65s do you have any clue?

[2019-11-18 15:02] wxmerkt commented on #56
In GitLab by @nim65s on Jan 14, 2019, 18:32

@nmansard I guess your `sources.list` files are incorrect.

[2019-11-18 15:02] wxmerkt commented on #56
In GitLab by @nmansard on Jan 15, 2019, 17:17

See pinocchio #546.

[2019-11-18 15:02] wxmerkt commented on #56
In GitLab by @cmastalli on Jan 15, 2019, 17:24

Yes, let's create a robot-data repository for unit-testing in all Gepetto software (not only Pinocchio). @nmansard should we add ANYmal there? is this possible?

[2019-11-18 15:02] wxmerkt commented on #56
In GitLab by @nmansard on Jan 20, 2019, 10:44

Anymal is unfortunately not free.
In previous of the class, I propose that this task becomes:
Check with @nim65s that a model repo has been created, add a dependancy to this new repo in crocodyl and add minimal examples/unittest of how to load the 3 relevant models, that should be arm, humanoid, quadruped.

[2019-11-18 15:02] wxmerkt commented on #56
In GitLab by @nmansard on Jan 20, 2019, 21:12

I finally install the talos package from robotpkg. Everything is working, except that the piece of code prodived by @rbudhira is not working directly. Instead I have:
rospack = rospkg.RosPack()
MODEL_PATH = rospack.get_path('talos_data')
MESH_DIR = MODEL_PATH+'/../'
URDF_FILENAME = "talos_left_arm.urdf"
URDF_MODEL_PATH = MODEL_PATH + "/robots/" + URDF

[2019-11-18 15:02] wxmerkt commented on #56
In GitLab by @cmastalli on Jan 20, 2019, 21:48

Please don't use the ROS package of talos-data. Under the devel branch, you can run the examples for the Talos arm and humanoid. If you're using Pinocchio v2.0.0, you need to checkout the branch pinocchio-v2.0.0.

[2019-11-18 15:02] wxmerkt commented on #56
In GitLab by @nmansard on Jan 21, 2019, 15:31

Done in refact. See !50

[2019-11-18 15:02] wxmerkt commented on #56
In GitLab by @nmansard on Jan 21, 2019, 15:31

closed

[2019-11-18 15:02] #56 closed

[2019-11-18 15:02] wxmerkt opened #57 "derivatives of contact dynamics"
In GitLab by @nmansard on Jan 8, 2019, 15:12

I checked the derivatives of contact dynamics. Pinocchio already implements aba with forces and its derivatives. It was not bound to python, so I added the bindings. You can find an open PR in pinocchio 2.0 devel, that should be merged today.

In the meantime, I checked the derivation of the "gamma" term (i.e. velocity-induced end-effector acceleration

[2019-11-18 15:02] wxmerkt commented on #57
In GitLab by @nmansard on Jan 8, 2019, 15:14

assigned to @rbudhira

[2019-11-18 15:02] wxmerkt commented on #57
In GitLab by @nmansard on Jan 8, 2019, 15:14

As discussed yesterday, @rbudhira should be implementing a minimal example of KKT-dyn derivatives in python. I allocate this issue to you.

[2019-11-18 15:02] wxmerkt commented on #57
In GitLab by @proyan on Jan 8, 2019, 15:31

I'm already working on it.
I found all of the required values in Pinocchio, except the derivative of fext wrt q. I plan to use finite differencing on the kinematics to find d(fext)/dq = d(J^T.f)/dq. Thoughts?

[2019-11-18 15:02] wxmerkt commented on #57
In GitLab by @proyan on Jan 11, 2019, 17:09

Report:
I created the unittests for comparing the derivatives of the contact dynamics from pinocchio with FD.

However, they are not equal. I have created an issue corresponding to this problem on github/pinocchio. After discussing with Justin, I'll wait for his reply to the issue before making a commit.

[2019-11-18 15:03] wxmerkt commented on #57
In GitLab by @proyan on Jan 11, 2019, 17:40

I haven't considered the 3D case yet. I have (till now) only considered the 6D case when making the unit tests.

[2019-11-18 15:03] wxmerkt commented on #57
In GitLab by @nmansard on Jan 13, 2019, 13:37

I checked the derivatives of the contact dynamics. I added unittest that implement them in the refact branch. They are working for both the 6D contact and the 3D contact, and account for the bias term Jdotqdot as well.

I would appreciate if somebody can check the code and make a clean stand-alone version of it. In particular, I am pretty sure that I

[2019-11-18 15:03] wxmerkt commented on #57
In GitLab by @proyan on Jan 14, 2019, 18:46

unassigned @rbudhira

[2019-11-18 15:03] wxmerkt commented on #57
In GitLab by @proyan on Jan 14, 2019, 18:47

I'll wait for you to finish first.

[2019-11-18 15:03] wxmerkt commented on #57
In GitLab by @cmastalli on Jan 14, 2019, 22:09

Guys this issue was duplicated. I created such kind of topic here #16. Please check current tasks before submitting a new one. I will close the previous one.

[2019-11-18 15:03] wxmerkt commented on #57
In GitLab by @nmansard on Jan 18, 2019, 17:31

This is done for the refact branch. I close the issue.

[2019-11-18 15:03] wxmerkt commented on #57
In GitLab by @nmansard on Jan 18, 2019, 17:31

closed

[2019-11-18 15:03] wxmerkt commented on #57
In GitLab by @cmastalli on Jan 19, 2019, 13:52

I would close an issue when it's under our devel branch. Do you agree?

Last time we discussed that this branch was for you a method to test current developments. So we didn't make a decision if we'll pursue this new software structure, I'm confused about our team goals.

I'll re-open it. Please let me know your thoughts.

[2019-11-18 15:03] wxmerkt commented on #57
In GitLab by @cmastalli on Jan 19, 2019, 13:52

reopened

[2019-11-18 15:03] wxmerkt commented on #57
In GitLab by @nmansard on Jan 21, 2019, 15:26

Done in refact.

[2019-11-18 15:03] wxmerkt commented on #57
In GitLab by @nmansard on Jan 21, 2019, 15:26

closed

[2019-11-18 15:03] #57 closed

[2019-11-18 15:03] wxmerkt opened #58 "Armature"
In GitLab by @nmansard on Jan 18, 2019, 17:32

Is there an armature parsed/stored somewhere? I would like to add it to the dynamics if possible.
The equations are quite clear, so I will start implement it with ad-hoc values. I would appreciate if somebody could complete the work with data red from srdf.

[2019-11-18 15:03] wxmerkt commented on #58
In GitLab by @proyan on Jan 19, 2019, 18:54

@nmansard
There is https://github.com/stack-of-tasks/pinocchio/blob/master/src/parsers/srdf.hxx#L134
loadRotorParameters which parses the srdf and saves it in Model::rotorInertia and Model::rotorGearRatio

[2019-11-18 15:03] wxmerkt commented on #58
In GitLab by @proyan on Jan 19, 2019, 18:55

Does that answer your question?

[2019-11-18 15:03] wxmerkt commented on #58
In GitLab by @nmansard on Jan 20, 2019, 10:42

Yes. Could you add a minimal example about how to load them in python and compute the armature?

[2019-11-18 15:03] wxmerkt commented on #58
In GitLab by @nmansard on Jan 23, 2019, 21:36

@rbudhira I would like to finish this issue. That should be either 10 min of work for you, or postponed eplicitely for later.

[2019-11-18 15:03] wxmerkt commented on #58
In GitLab by @nmansard on Jan 23, 2019, 21:36

assigned to @rbudhira

[2019-11-18 15:03] wxmerkt commented on #58
In GitLab by @proyan on Jan 24, 2019, 10:24

mentioned in merge request !60

[2019-11-18 15:04] wxmerkt commented on #58
In GitLab by @proyan on Jan 24, 2019, 20:57

Done with !62

[2019-11-18 15:04] wxmerkt commented on #58
In GitLab by @proyan on Jan 24, 2019, 20:57

closed

[2019-11-18 15:04] #58 closed

[2019-11-18 15:04] wxmerkt opened #59 "change names of tasks which have equivalent representation in Pinocchio"
In GitLab by @proyan on Jan 19, 2019, 19:16

I propose that we change the names of the tasks to ones that are already being used in Pinocchio

So CostModelPosition6D would become CostModelFramePlacement

CostModelPlacementVelocity would become CostModelFrameVelocity and so on...

( CostModelPosition3d might be CostModelFrameTranslation ? This is just a suggestion.)

[2019-11-18 15:04] wxmerkt commented on #59
In GitLab by @proyan on Jan 19, 2019, 19:17

assigned to @nmansard

[2019-11-18 15:04] wxmerkt commented on #59
In GitLab by @proyan on Jan 19, 2019, 19:23

changed the description

[2019-11-18 15:04] wxmerkt commented on #59
In GitLab by @nmansard on Jan 20, 2019, 10:41

+1 . Each above proposition is good to me.
Could you make the exhaustive list of changes, and possibly of missing tasks?

[2019-11-18 15:04] wxmerkt commented on #59
In GitLab by @proyan on Jan 20, 2019, 13:01

Among the missing tasks:

1) Momentum (Linear and Angular)
-------------------------------------
2) Quadratic Barrier on Posture. Something like:

    y = 0   beta*lower<=x<=beta*upper

    y = 1.*(x-beta*lower)**2/(lower-beta*lower)**2      x<= beta*lower

    y = 1.*(x-beta*upper)**2/(upper-beta*upper)**2      x<= beta*upper

a) At x = upper and x = l

[2019-11-18 15:04] wxmerkt commented on #59
In GitLab by @proyan on Jan 21, 2019, 13:05

unassigned @nmansard

[2019-11-18 15:04] wxmerkt commented on #59
In GitLab by @proyan on Jan 22, 2019, 10:58

This is a copy of #66 . I'll close this.

[2019-11-18 15:04] wxmerkt commented on #59
In GitLab by @proyan on Jan 22, 2019, 10:58

closed

[2019-11-18 15:04] #59 closed

[2019-11-18 15:04] wxmerkt opened #60 "RK4"
In GitLab by @nmansard on Jan 20, 2019, 10:49

I would like that we reintroduce the RK4 in the refact branch, and compare it with impl-eul. This means defining a new IntegratedActionModel, based on the impl-eul class.
We should have one DifferentialActionData (DAD) per integration point (each time you call a DAM.calc, it should be on a different DAD).
The calc function should just be a copy paste

[2019-11-18 15:04] wxmerkt commented on #60
In GitLab by @proyan on Jan 21, 2019, 12:36

assigned to @rbudhira

[2019-11-18 15:04] wxmerkt commented on #60
In GitLab by @proyan on Jan 21, 2019, 13:13

unassigned @rbudhira

[2019-11-18 15:04] wxmerkt commented on #60
In GitLab by @nmansard on Jan 21, 2019, 15:34

assigned to @rbudhira

[2019-11-18 15:04] wxmerkt commented on #60
In GitLab by @proyan on Jan 22, 2019, 14:30

mentioned in merge request !57

[2019-11-18 15:04] wxmerkt commented on #60
In GitLab by @proyan on Jan 24, 2019, 20:16

TODO:

Apparently, my last message here has been lost.
Obviously the method does not pass the numdiff test. So either we consider the method incorrect, or the test incorrect. But the method should be tested with a DiffActionModelLQR on vector state space with a(x,u) = Ax*Bu, before we can really decide.

In case we consider the method incorrect: it shou

[2019-11-18 15:04] wxmerkt commented on #60
In GitLab by @proyan on Jan 27, 2019, 21:28

mentioned in merge request !67

[2019-11-18 15:04] wxmerkt commented on #60
In GitLab by @nmansard on Jan 30, 2019, 17:38

solved by !67

[2019-11-18 15:05] wxmerkt commented on #60
In GitLab by @nmansard on Jan 30, 2019, 17:38

closed

[2019-11-18 15:05] #60 closed

[2019-11-18 15:05] wxmerkt opened #61 "Refactoring the refact branch"
In GitLab by @proyan on Jan 21, 2019, 11:20

We need to properly separate the various classes in different files and folders

[2019-11-18 15:05] wxmerkt commented on #61
In GitLab by @proyan on Jan 21, 2019, 12:15

assigned to @cmastalli

[2019-11-18 15:05] wxmerkt commented on #61
In GitLab by @proyan on Jan 21, 2019, 12:30

Files with following classes:
SolverDDP

SolverKKT

ShootingProblem

ActionModel with API

IAM with API

DAM with API

Costs

Contact

FloatingInContact

[2019-11-18 15:05] wxmerkt commented on #61
In GitLab by @proyan on Jan 21, 2019, 12:41

changed the description

[2019-11-18 15:05] wxmerkt commented on #61
In GitLab by @cmastalli on Jan 22, 2019, 09:03

I'll close this issue since it's been merged a basic re-organization of code (!51).

[2019-11-18 15:05] wxmerkt commented on #61
In GitLab by @cmastalli on Jan 22, 2019, 09:03

closed

[2019-11-18 15:05] #61 closed

[2019-11-18 15:05] wxmerkt opened #62 "activation and cost model for soft quadratic barriers on posture lower and upper limits"
In GitLab by @proyan on Jan 21, 2019, 11:23

We need to define a soft quadratic barrier on posture.

[2019-11-18 15:05] wxmerkt commented on #62
In GitLab by @proyan on Jan 24, 2019, 10:55

assigned to @rbudhira

[2019-11-18 15:05] wxmerkt commented on #62
In GitLab by @proyan on Jan 24, 2019, 18:32

mentioned in merge request !61

[2019-11-18 15:05] wxmerkt commented on #62
In GitLab by @proyan on Jan 24, 2019, 18:38

mentioned in merge request !62

[2019-11-18 15:05] wxmerkt commented on #62
In GitLab by @proyan on Jan 24, 2019, 20:57

Done with !62

[2019-11-18 15:05] wxmerkt commented on #62
In GitLab by @proyan on Jan 24, 2019, 20:57

closed

[2019-11-18 15:05] #62 closed

[2019-11-18 15:05] wxmerkt opened #63 "Documentation"
In GitLab by @proyan on Jan 21, 2019, 11:27

Write/move the documentation for all the classes that were recreated in topic/refact

This should be done after #56 and #61

[2019-11-18 15:05] wxmerkt commented on #63
In GitLab by @proyan on Jan 21, 2019, 12:16

assigned to @cmastalli

[2019-11-18 15:06] wxmerkt commented on #63
In GitLab by @proyan on Jan 21, 2019, 12:44

changed the description

[2019-11-18 15:06] wxmerkt commented on #63
In GitLab by @nmansard on Jan 30, 2019, 17:38

solved by !72

[2019-11-18 15:06] wxmerkt commented on #63
In GitLab by @nmansard on Jan 30, 2019, 17:38

closed

[2019-11-18 15:06] #63 closed

[2019-11-18 15:06] wxmerkt opened #64 "Locomotion Problem"
In GitLab by @proyan on Jan 21, 2019, 12:19

Walking Problem for locomotion.

Create a walking problem for locomotion.

Suggestions on the parameters of this walking (number of steps, nodes, infeasible start) are welcome.

[2019-11-18 15:06] wxmerkt commented on #64
In GitLab by @proyan on Jan 21, 2019, 12:53

assigned to @nmansard

[2019-11-18 15:06] wxmerkt commented on #64
In GitLab by @nmansard on Jan 21, 2019, 15:32

assigned to @rbudhira and unassigned @nmansard

[2019-11-18 15:06] wxmerkt commented on #64
In GitLab by @nmansard on Jan 21, 2019, 15:32

That should be for you @rbudhira

[2019-11-18 15:06] wxmerkt commented on #64
In GitLab by @nmansard on Jan 21, 2019, 15:33

Oh! You also opened dedicated task about muscod solution. Then I am not sure what you mean by this task. Could you be more specific?

[2019-11-18 15:06] wxmerkt commented on #64
In GitLab by @nmansard on Jan 21, 2019, 15:34

unassigned @rbudhira

[2019-11-18 15:06] wxmerkt commented on #64
In GitLab by @proyan on Jan 21, 2019, 15:52

I think what I understood to be the "biped problem" was to check the walking.

So I would generate the reference trajectory for one step (in #63 and #64), and then this task is to solve the ddp shooting problem for walking.

Perhaps it is too connected to be 3 separate tasks. But in my head any performance evaluation of the solver would be done here, to

[2019-11-18 15:06] wxmerkt commented on #64
In GitLab by @proyan on Jan 21, 2019, 21:31

assigned to @rbudhira

[2019-11-18 15:06] wxmerkt commented on #64
In GitLab by @proyan on Jan 21, 2019, 21:36

mentioned in merge request !52

[2019-11-18 15:06] wxmerkt commented on #64
In GitLab by @proyan on Jan 21, 2019, 22:07

mentioned in merge request !54

[2019-11-18 15:06] wxmerkt commented on #64
In GitLab by @proyan on Jan 22, 2019, 10:44

assigned to @nmansard and unassigned @rbudhira

[2019-11-18 15:06] wxmerkt commented on #64
In GitLab by @nmansard on Jan 22, 2019, 15:51

I have a hard-coded locomotion problem with 2 phases that converges. I think I will directly push the branch which mostly modified the test_ddp_track and only marginally the rest of the lib.

[2019-11-18 15:06] wxmerkt commented on #64
In GitLab by @nmansard on Jan 22, 2019, 22:46

Working, excellent convergence from scratch for a 1-step locomotion problem, in 20 iterations.

[2019-11-18 15:06] wxmerkt commented on #64
In GitLab by @nmansard on Jan 22, 2019, 22:46

closed

[2019-11-18 15:06] #64 closed

[2019-11-18 15:07] wxmerkt opened #65 "Abstraction in refact branch"
In GitLab by @proyan on Jan 21, 2019, 12:27

We need to create an abstract layer in the refact branch.

[2019-11-18 15:07] wxmerkt commented on #65
In GitLab by @proyan on Jan 21, 2019, 12:39

removed milestone

[2019-11-18 15:07] wxmerkt commented on #65
In GitLab by @proyan on Jan 21, 2019, 12:39

changed the description

[2019-11-18 15:07] wxmerkt commented on #65
In GitLab by @nmansard on Jan 30, 2019, 17:50

redundant with #74

[2019-11-18 15:07] wxmerkt commented on #65
In GitLab by @nmansard on Jan 30, 2019, 17:50

closed

[2019-11-18 15:07] #65 closed

[2019-11-18 15:07] wxmerkt opened #66 "Unittest for the refactored code"
In GitLab by @proyan on Jan 21, 2019, 12:42

We need to separate the unittests to a separate folder and files.

This should be done after #56

[2019-11-18 15:07] wxmerkt commented on #66
In GitLab by @cmastalli on Jan 22, 2019, 08:56

assigned to @cmastalli

[2019-11-18 15:07] wxmerkt commented on #66
In GitLab by @cmastalli on Jan 22, 2019, 08:58

After a quick discussion with Nicolas, this is a tentative organization:
- test_solvers
- test_basicmodels
- test_contactmodels

Changes might happen during the execution of this task.

[2019-11-18 15:07] wxmerkt commented on #66
In GitLab by @cmastalli on Jan 22, 2019, 08:59

changed title from **Unittest** to **Unittest{+ for the refactored code+}**

[2019-11-18 15:07] wxmerkt commented on #66
In GitLab by @nmansard on Jan 23, 2019, 21:36

closed

[2019-11-18 15:07] #66 closed

[2019-11-18 15:07] wxmerkt opened #67 "Feedback on the contact"
In GitLab by @proyan on Jan 21, 2019, 12:50

Add feedback stabilization on the contact (changes the derivative of the invdyn).

[2019-11-18 15:07] wxmerkt commented on #67
In GitLab by @proyan on Jan 21, 2019, 12:52

assigned to @nmansard

[2019-11-18 15:07] wxmerkt commented on #67
In GitLab by @nmansard on Jan 21, 2019, 15:34

I just tested a biped example: the feedback does not seem so critical. I postpone this task.

[2019-11-18 15:07] wxmerkt commented on #67
In GitLab by @nmansard on Jan 30, 2019, 17:39

removed milestone

[2019-11-18 15:07] wxmerkt commented on #67
In GitLab by @proyan on Feb 7, 2019, 21:04

mentioned in merge request !95

[2019-11-18 15:07] wxmerkt commented on #67
In GitLab by @proyan on Feb 8, 2019, 10:33

assigned to @rbudhira and unassigned @nmansard

[2019-11-18 15:07] wxmerkt commented on #67
In GitLab by @nmansard on Feb 8, 2019, 10:46

Done for 6d !95

[2019-11-18 15:08] wxmerkt commented on #67
In GitLab by @proyan on Feb 8, 2019, 14:07

Done for 3d !95

[2019-11-18 15:08] wxmerkt commented on #67
In GitLab by @proyan on Feb 11, 2019, 12:41

closed

[2019-11-18 15:08] #67 closed

[2019-11-18 15:08] wxmerkt opened #68 "muscod problem for one step locomotion with talos"
In GitLab by @proyan on Jan 21, 2019, 12:55

Create the CoM and forces trajectory.

[2019-11-18 15:08] wxmerkt commented on #68
In GitLab by @proyan on Jan 21, 2019, 13:13

changed due date to January 22, 2019

[2019-11-18 15:08] wxmerkt commented on #68
In GitLab by @proyan on Jan 21, 2019, 15:28

I am generating 5 phase motion: LR->L->LR->R->LR with step length of 0.4cm

[2019-11-18 15:08] wxmerkt commented on #68
In GitLab by @nmansard on Jan 21, 2019, 15:35

I believe this is the task you are working on, @rbudhira . Please confirm.

[2019-11-18 15:08] wxmerkt commented on #68
In GitLab by @proyan on Jan 21, 2019, 15:37

Yes. I'm generating the centroidal trajectories. The next task for today would be #64

[2019-11-18 15:08] wxmerkt commented on #68
In GitLab by @proyan on Jan 21, 2019, 20:57

This issue is done with recent commits in multibody_ddp (old ddp repository).

[2019-11-18 15:08] wxmerkt commented on #68
In GitLab by @proyan on Jan 21, 2019, 20:57

closed

[2019-11-18 15:08] wxmerkt commented on #68
In GitLab by @proyan on Jan 21, 2019, 21:30

mentioned in merge request !52

[2019-11-18 15:08] wxmerkt commented on #68
In GitLab by @proyan on Jan 21, 2019, 22:07

mentioned in merge request !54

[2019-11-18 15:08] #68 closed

[2019-11-18 15:08] wxmerkt opened #69 "inv dyn solution of one step locomotion with talos for warm starting."
In GitLab by @proyan on Jan 21, 2019, 12:56

[2019-11-18 15:08] wxmerkt commented on #69
In GitLab by @proyan on Jan 21, 2019, 12:57

assigned to @rbudhira

[2019-11-18 15:08] wxmerkt commented on #69
In GitLab by @proyan on Jan 21, 2019, 13:13

changed due date to January 22, 2019

[2019-11-18 15:08] wxmerkt commented on #69
In GitLab by @proyan on Jan 21, 2019, 21:30

mentioned in merge request !52

[2019-11-18 15:08] wxmerkt commented on #69
In GitLab by @proyan on Jan 21, 2019, 22:07

mentioned in merge request !54

[2019-11-18 15:08] wxmerkt commented on #69
In GitLab by @proyan on Jan 22, 2019, 09:37

This is done with !54 (even if not merged).
A continuation PR would be made today which deals with #59 as well and resolves the commit history.

[2019-11-18 15:09] wxmerkt commented on #69
In GitLab by @proyan on Jan 22, 2019, 09:37

closed

[2019-11-18 15:09] wxmerkt commented on #69
In GitLab by @nim65s on Jan 29, 2019, 09:24

mentioned in commit 3056c878382d04042ebedebdb93b1ab33162a299

[2019-11-18 15:09] #69 closed

[2019-11-18 15:09] wxmerkt opened #70 "Activation model for all costs"
In GitLab by @proyan on Jan 21, 2019, 13:08

Move all costs to be using an activation model.

[2019-11-18 15:09] wxmerkt commented on #70
In GitLab by @cmastalli on Jan 22, 2019, 14:55

is this task DONE? I see classes related to this topic.

[2019-11-18 15:09] wxmerkt commented on #70
In GitLab by @proyan on Jan 25, 2019, 10:26

assigned to @rbudhira

[2019-11-18 15:09] wxmerkt commented on #70
In GitLab by @proyan on Jan 25, 2019, 10:26

I start implementing this.

[2019-11-18 15:09] wxmerkt commented on #70
In GitLab by @proyan on Jan 25, 2019, 14:49

mentioned in merge request !65

[2019-11-18 15:09] wxmerkt commented on #70
In GitLab by @nmansard on Jan 30, 2019, 08:14

I am not sure of what happen with this work? I think we had a MR, but it was not merge, right?

[2019-11-18 15:09] wxmerkt commented on #70
In GitLab by @proyan on Jan 30, 2019, 09:46

The MR was open for too long, so the target branch diverged a lot. I'll redo this MR again.

[2019-11-18 15:09] wxmerkt commented on #70
In GitLab by @cmastalli on Jan 30, 2019, 09:57

Currently, we're working on devel branch. Please make the PR to this branch.

[2019-11-18 15:09] wxmerkt commented on #70
In GitLab by @nmansard on Jan 30, 2019, 17:37

solved by !83

[2019-11-18 15:09] wxmerkt commented on #70
In GitLab by @nmansard on Jan 30, 2019, 17:37

closed

[2019-11-18 15:09] #70 closed

[2019-11-18 15:09] wxmerkt opened #71 "Renaming some classes"
In GitLab by @cmastalli on Jan 21, 2019, 18:32

Here I have a suggestion list for different classes:
  1. StatePinocchio &rightarrow; StateRobot
  2. Cost(Data/Model)Pinocchio &rightarrow; Cost(Data/Model)Robot
  3. Cost(Data/Model)PlacementVelocity &rightarrow; Cost(Data/Model)Motion
  4. Cost(Data/Model)Position6D &rightarrow; Cost(Data/Model)SE3
  5. Cost(Data/Model)Force6D &rightarrow; Cost(Da

[2019-11-18 15:09] wxmerkt commented on #71
In GitLab by @nmansard on Jan 22, 2019, 10:50

StatePinocchio: should not change
CostBase
CostPosition6D -> CostFramePlacement
CostPlacementVel -> CostFrameVelocity
CostPosition3d   ->  CostFrameTranslation
CostForce6d  -> costWrench
In case of future work: costFrameVelocityLinear, costFrameRotation
ActionLQR should not change. We may want to introduce a ActionBase ... not done yet.
DiffAction ->

[2019-11-18 15:09] wxmerkt commented on #71
In GitLab by @proyan on Jan 28, 2019, 01:04

assigned to @rbudhira and unassigned @cmastalli

[2019-11-18 15:09] wxmerkt commented on #71
In GitLab by @proyan on Jan 28, 2019, 01:27

mentioned in merge request !68

[2019-11-18 15:10] wxmerkt commented on #71
In GitLab by @nmansard on Jan 29, 2019, 14:05

mentioned in commit 757f421c954f8aeb5b839105d1e71eef1a2843b3

[2019-11-18 15:10] wxmerkt commented on #71
In GitLab by @proyan on Jan 29, 2019, 14:26

Closed with !66

[2019-11-18 15:10] wxmerkt commented on #71
In GitLab by @proyan on Jan 29, 2019, 14:26

closed

[2019-11-18 15:10] #71 closed

[2019-11-18 15:10] wxmerkt opened #72 "Where is logger.py?"
In GitLab by @proyan on Jan 21, 2019, 22:34

I can't find the file logger.py. Has it been pushed?

[2019-11-18 15:10] wxmerkt commented on #72
In GitLab by @cmastalli on Jan 21, 2019, 23:37

Do you mean SolverLogger class? If so, this class was moved into crocoddyl/solver.py.
Please see !51 for more information.

[2019-11-18 15:10] wxmerkt commented on #72
In GitLab by @proyan on Jan 22, 2019, 10:29

Yes This is what I meant. I'll close this.

[2019-11-18 15:10] wxmerkt commented on #72
In GitLab by @proyan on Jan 22, 2019, 10:29

closed

[2019-11-18 15:10] #72 closed

[2019-11-18 15:10] wxmerkt opened #73 "Impact dynamics"
In GitLab by @nmansard on Jan 22, 2019, 22:49

I added an impact dynamics, with nu=0. The dynamics is such that:
M(vnext-v) = J^T impulse
J vnext = 0
The derivatives are computed from drnea_dq.

I would like to handle the case where there is a contact model in addition to the impulse model. I guess it should be:

$`M(v_{next}-v) = J_{impulse}^T`$

$`J_{impulse}  v_{next} = 0`$

$`J_{contact} v_{ne

[2019-11-18 15:10] wxmerkt commented on #73
In GitLab by @nmansard on Jan 22, 2019, 22:50

assigned to @nmansard

[2019-11-18 15:10] wxmerkt commented on #73
In GitLab by @ostasse on Jan 23, 2019, 15:44

For your information MathJax is integrated in gitlab.
When I translate the equation I got this:

$`M(v^{next}-v)=J^{T}\; Impl`$

$`J v^{next}=0`$

[2019-11-18 15:10] wxmerkt commented on #73
In GitLab by @nmansard on Jan 23, 2019, 15:49

changed the description

[2019-11-18 15:10] wxmerkt commented on #73
In GitLab by @nmansard on Jan 23, 2019, 15:50

changed the description

[2019-11-18 15:10] wxmerkt commented on #73
In GitLab by @nmansard on Jan 23, 2019, 15:50

changed the description

[2019-11-18 15:10] wxmerkt commented on #73
In GitLab by @nmansard on Jan 23, 2019, 15:50

changed the description

[2019-11-18 15:10] wxmerkt commented on #73
In GitLab by @nmansard on Jan 23, 2019, 15:51

changed the description

[2019-11-18 15:10] wxmerkt commented on #73
In GitLab by @nmansard on Jan 23, 2019, 15:51

changed the description

[2019-11-18 15:10] wxmerkt commented on #73
In GitLab by @nmansard on Jan 23, 2019, 15:52

Thx @ostasse .
I finally introduce the impact model with impulses from all contact point (no forces). It is working. We now have a plain optimization with impact model.

[2019-11-18 15:11] wxmerkt commented on #73
In GitLab by @nmansard on Jan 23, 2019, 15:52

closed

[2019-11-18 15:11] wxmerkt commented on #73
In GitLab by @ostasse on Jan 23, 2019, 16:39

That is very nice !

[2019-11-18 15:11] wxmerkt commented on #73
In GitLab by @cmastalli on Jan 24, 2019, 00:29

changed the description

[2019-11-18 15:11] #73 closed

[2019-11-18 15:11] wxmerkt opened #74 "Why haven't we an abstraction class for dynamics in refact code?"
In GitLab by @cmastalli on Jan 23, 2019, 15:06

I found convenient to have an abstraction for dynamics model, as cost model case. The main reason is to reuse dynamics model along different cost models.

For instance, I would like to be able to unit-test dynamics models alone, however it's only possible inside action models. Instead, unit-testing an action model doesn't make sense to me.

**This wa

[2019-11-18 15:11] wxmerkt commented on #74
In GitLab by @nmansard on Jan 23, 2019, 15:54

Ok. Please don't mix targets in your MR. Currently, you should be converting the unittest to the python unittest class, with minimal changes, in minimum time.
Please, *do not* introduce additional changes in this MR. That is bad practice, and would make back-tracking a possible bug impossible.

Merge the current unittest (or better ask me to merge) an

[2019-11-18 15:11] wxmerkt commented on #74
In GitLab by @cmastalli on Jan 23, 2019, 16:03

I just want to begin a discussion.

I agree that it has lower priority than the mileston for the Memmo school.

[2019-11-18 15:11] wxmerkt commented on #74
In GitLab by @nmansard on Jan 30, 2019, 17:42

closed

[2019-11-18 15:11] #74 closed

[2019-11-18 15:11] wxmerkt opened #75 "Crocoddyl channel in slack"
In GitLab by @nmansard on Jan 23, 2019, 15:55

https://framateam.org/gepetto/channels/crocoddyl

[2019-11-18 15:11] wxmerkt commented on #75
In GitLab by @cmastalli on Jan 24, 2019, 00:40

I'm in

[2019-11-18 15:11] wxmerkt commented on #75
In GitLab by @nmansard on Jan 24, 2019, 20:40

closed

[2019-11-18 15:11] #75 closed

[2019-11-18 15:11] wxmerkt opened #76 "Half way to friday milestone"
In GitLab by @nmansard on Jan 23, 2019, 21:49

Here is a list of the actions that remains to be done:
- locomotion from a Muscod trajectory (top priority)
- documentation
- set up of 3 examples for unicycle, arm and biped (med priority, refact mostly)
- activation model in all costs
- armature cleanly parsed from SRDF

if possible:
- joint limit model (should be discussed at least
- abstraction mo

[2019-11-18 15:11] wxmerkt commented on #76
In GitLab by @proyan on Jan 24, 2019, 10:54

The Priority list has equivalent tasks #65, #73, #72, #58, #53

[2019-11-18 15:11] wxmerkt commented on #76
In GitLab by @proyan on Jan 24, 2019, 10:57

The desirable list has equivalent tasks: #57, #66, #62, #75, #74

[2019-11-18 15:11] wxmerkt commented on #76
In GitLab by @proyan on Jan 24, 2019, 11:01

Optional list has equivalent tasks: #55, #76

[2019-11-18 15:11] wxmerkt commented on #76
In GitLab by @proyan on Jan 24, 2019, 11:02

The entire list is now accounted for. I'll close this.

[2019-11-18 15:11] wxmerkt commented on #76
In GitLab by @proyan on Jan 24, 2019, 11:02

closed

[2019-11-18 15:11] #76 closed

[2019-11-18 15:12] wxmerkt opened #77 "locomotion from a Muscod trajectory (top priority)"
In GitLab by @proyan on Jan 24, 2019, 10:45

[2019-11-18 15:12] wxmerkt commented on #77
In GitLab by @proyan on Jan 24, 2019, 10:52

assigned to @rbudhira

[2019-11-18 15:12] wxmerkt commented on #77
In GitLab by @proyan on Jan 24, 2019, 15:44

I can't run the script apps/foot_hybrid_tracking.py. No step is being accepted by the solver.

@nmansard Could you please confirm that you have pushed the current version?

[2019-11-18 15:12] wxmerkt commented on #77
In GitLab by @nmansard on Jan 24, 2019, 20:35

Just for your files: the loco DDP is running perfectly with armature of 1 or above. With armature below 1 (e.g armature = 1-1e-9), it is not working ... at all.
I will investigate later, but keep a higher armature for now.
@ostasse what is the minimal armature (i.e. gearRatio**2*inertia) value ?

[2019-11-18 15:12] wxmerkt commented on #77
In GitLab by @nmansard on Jan 25, 2019, 16:45

Status?

[2019-11-18 15:12] wxmerkt commented on #77
In GitLab by @proyan on Jan 25, 2019, 16:50

I haven't started yet :(

[2019-11-18 15:12] wxmerkt commented on #77
In GitLab by @cmastalli on Jan 26, 2019, 00:51

@nmansard you might want to use the example/talos.py

It's a clearer version of your script. I did a PR with this information.
I'm planning to improve the Walking problem class in order to re-use for HyQ.

[2019-11-18 15:12] wxmerkt commented on #77
In GitLab by @cmastalli on Jan 31, 2019, 11:25

@nmansard should we work on the class called `SimpleBipedWalkingProblem` defined inside examples/notebooks/loco3d?

I was thinking that we can elaborate this class to tackle this issue and #76? Furthermore it'd provide an easy way to run locomotion algorithm for us and our users

[2019-11-18 15:12] wxmerkt commented on #77
In GitLab by @proyan on Feb 1, 2019, 18:55

mentioned in merge request multicontact-api!2

[2019-11-18 15:12] wxmerkt commented on #77
In GitLab by @proyan on Feb 1, 2019, 20:42

mentioned in merge request multicontact-api!3

[2019-11-18 15:12] wxmerkt commented on #77
In GitLab by @proyan on Feb 4, 2019, 20:54

mentioned in merge request !85

[2019-11-18 15:12] wxmerkt commented on #77
In GitLab by @proyan on Feb 4, 2019, 21:56

changed due date to February 05, 2019

[2019-11-18 15:12] wxmerkt commented on #77
In GitLab by @proyan on Feb 5, 2019, 15:03

mentioned in merge request multicontact-api!4

[2019-11-18 15:12] wxmerkt commented on #77
In GitLab by @proyan on Feb 7, 2019, 18:02

mentioned in merge request !94

[2019-11-18 15:12] wxmerkt commented on #77
In GitLab by @nmansard on Feb 8, 2019, 10:31

mentioned in commit 17e3fad6b68618f4c6d68695de50930cdde455f1

[2019-11-18 15:12] wxmerkt commented on #77
In GitLab by @proyan on Feb 8, 2019, 10:34

Closed with !94.

[2019-11-18 15:12] wxmerkt commented on #77
In GitLab by @proyan on Feb 8, 2019, 10:34

closed

[2019-11-18 15:12] #77 closed

[2019-11-18 15:12] wxmerkt opened #78 "set up of 3 examples for unicycle, arm and biped"
In GitLab by @proyan on Jan 24, 2019, 10:47

A set of nice examples to develop:
 - unicyle,
 - reaching a point with Talos wrist (only left arm),
 - CoM-sine task for Talos biped,
 - two steps for Talos biped, and
 - four steps for HyQ.

[2019-11-18 15:13] wxmerkt commented on #78
In GitLab by @proyan on Jan 24, 2019, 10:55

assigned to @cmastalli

[2019-11-18 15:13] wxmerkt commented on #78
In GitLab by @cmastalli on Jan 24, 2019, 10:58

changed the description

[2019-11-18 15:13] wxmerkt commented on #78
In GitLab by @nmansard on Jan 25, 2019, 16:45

Status?

[2019-11-18 15:13] wxmerkt commented on #78
In GitLab by @cmastalli on Jan 26, 2019, 00:46

We have three examples:
 - Unicycle
 - Reaching a goal with the Talos wrist (talos-arm)
 - 3d walking on Talos legs (two steps)

I'm starting to work on HyQ locomotion. If I've time I'll CoM sine task for Talos

[2019-11-18 15:13] wxmerkt commented on #78
In GitLab by @cmastalli on Jan 27, 2019, 22:54

mentioned in merge request !66

[2019-11-18 15:13] wxmerkt commented on #78
In GitLab by @proyan on Jan 28, 2019, 00:15

mentioned in commit 3c94747624993a3631fad9d4876d2d9efb184576

[2019-11-18 15:13] wxmerkt commented on #78
In GitLab by @proyan on Jan 28, 2019, 00:22

closed

[2019-11-18 15:13] wxmerkt commented on #78
In GitLab by @proyan on Jan 28, 2019, 00:22

reopened

[2019-11-18 15:13] wxmerkt commented on #78
In GitLab by @proyan on Jan 28, 2019, 00:22

closed

[2019-11-18 15:13] #78 closed

[2019-11-18 15:13] wxmerkt opened #79 "Abstraction for all important classes"
In GitLab by @proyan on Jan 24, 2019, 10:58

[2019-11-18 15:13] wxmerkt commented on #79
In GitLab by @nmansard on Jan 30, 2019, 17:39

removed milestone

[2019-11-18 15:13] wxmerkt commented on #79
In GitLab by @cmastalli on Jan 31, 2019, 11:22

please see #79. This reported issue is due to lack of abstraction, my though.

Let's discuss about it. We need to focus on:
 - Action model classes (AM/DAM/IAM)
 - Cost classes
 - State classes

and I would add the needed to create an abstraction for Dynamics.

[2019-11-18 15:13] wxmerkt commented on #79
In GitLab by @cmastalli on Feb 5, 2019, 13:04

assigned to @cmastalli

[2019-11-18 15:13] wxmerkt commented on #79
In GitLab by @nmansard on Feb 5, 2019, 21:25

Please start small, by introducing a first abstraction. What about starting with state?
I think we already have cost api.

[2019-11-18 15:13] wxmerkt commented on #79
In GitLab by @nmansard on Feb 5, 2019, 21:27

Please start small, by introducing a first abstraction. What about starting with state?
I think we already have cost api.

[2019-11-18 15:13] wxmerkt commented on #79
In GitLab by @cmastalli on Feb 5, 2019, 23:35

I started with the DAM classes. Please review the PR regarding renaming of few DAM models !89.

[2019-11-18 15:13] wxmerkt commented on #79
In GitLab by @cmastalli on Feb 5, 2019, 23:35

I'll work with the State class first. Then I'll move to DAM classes

[2019-11-18 15:13] wxmerkt commented on #79
In GitLab by @cmastalli on Feb 6, 2019, 15:32

mentioned in merge request !92

[2019-11-18 15:14] wxmerkt commented on #79
In GitLab by @cmastalli on Feb 6, 2019, 15:35

@nmansard !92 proposes an abstraction for the State classes.

[2019-11-18 15:14] wxmerkt commented on #79
In GitLab by @cmastalli on Feb 7, 2019, 15:13

@nmansard we have an abstract class for cost functions that depends on Pinocchio model (`CostModelPinocchio`). However we don't have an abstraction for cost functions that don't depend on Pinocchio.

should we write an abstract class for non-dependent Pinocchio cost models? I do believe that answer is yes!

[2019-11-18 15:14] wxmerkt commented on #79
In GitLab by @cmastalli on Feb 13, 2019, 09:48

unassigned @cmastalli

[2019-11-18 15:14] wxmerkt commented on #79
In GitLab by @nmansard on Feb 13, 2019, 10:00

Duplicated of #79

[2019-11-18 15:14] wxmerkt commented on #79
In GitLab by @nmansard on Feb 13, 2019, 10:00

closed

[2019-11-18 15:14] #79 closed

[2019-11-18 15:14] wxmerkt opened #80 "add a clean impulse cost model for the impact action class"
In GitLab by @proyan on Jan 24, 2019, 10:59

[2019-11-18 15:14] wxmerkt commented on #80
In GitLab by @nmansard on Jan 25, 2019, 16:45

I had not worked on that. I suggest to remove from the necessary list.

[2019-11-18 15:14] wxmerkt commented on #80
In GitLab by @nmansard on Jan 25, 2019, 16:45

removed milestone

[2019-11-18 15:14] wxmerkt commented on #80
In GitLab by @cmastalli on Jan 31, 2019, 11:19

@nmansard could you let me know the status of the impulse action model? what problems are we facing?

[2019-11-18 15:14] wxmerkt commented on #80
In GitLab by @proyan on Feb 4, 2019, 13:18

Also fix the impact

[2019-11-18 15:14] wxmerkt commented on #80
In GitLab by @nmansard on Feb 11, 2019, 21:28

mentioned in merge request !97

[2019-11-18 15:14] wxmerkt commented on #80
In GitLab by @nmansard on Feb 13, 2019, 09:47

solved by !97

[2019-11-18 15:14] wxmerkt commented on #80
In GitLab by @nmansard on Feb 13, 2019, 09:47

closed

[2019-11-18 15:14] #80 closed

[2019-11-18 15:14] wxmerkt opened #81 "quadruped example"
In GitLab by @proyan on Jan 24, 2019, 11:00

[2019-11-18 15:14] wxmerkt commented on #81
In GitLab by @nmansard on Jan 30, 2019, 17:40

@cmastalli please add the in your todo-list.

[2019-11-18 15:14] wxmerkt commented on #81
In GitLab by @nmansard on Jan 30, 2019, 17:40

removed milestone

[2019-11-18 15:14] wxmerkt commented on #81
In GitLab by @cmastalli on Jan 31, 2019, 11:18

@nmansard do you mean to create a new milestone and put it there?

In any case, I would like that we define a milestone for the next month (or couple weeks). I saw all milestone were closed. I believe we should re-open "Improving API (Python)".

I created an issue that support my point here: #79

PD: I could add this task inside the TODO list of this

[2019-11-18 15:15] wxmerkt commented on #81
In GitLab by @nmansard on Feb 2, 2019, 11:13

No, it is not a milestone, just a task. We might want to decompose in 2-3 subtasks, but it does not need more. Next milestone is the release of a clean version 1.1. I started a discussion on that on slack, please react.

[2019-11-18 15:15] wxmerkt commented on #81
In GitLab by @cmastalli on Feb 4, 2019, 08:28

assigned to @cmastalli

[2019-11-18 15:15] wxmerkt commented on #81
In GitLab by @nmansard on Feb 5, 2019, 21:29

First action here: add the quadruped in crocoddyl/robots.py and unittest it.

[2019-11-18 15:15] wxmerkt commented on #81
In GitLab by @cmastalli on Feb 5, 2019, 23:38

We don't have binaries for hyq-description. Instead I added it as submodule inside examples folder. For the time being, I'll hack this path to make it works inside crocoddyl/robots.py.

Should we ask Guilhem to create a repository for hyq-data?

[2019-11-18 15:15] wxmerkt commented on #81
In GitLab by @cmastalli on Feb 5, 2019, 23:57

@nmansard there is a PR that tackles the first action (see here !91)

[2019-11-18 15:15] wxmerkt commented on #81
In GitLab by @cmastalli on Feb 13, 2019, 10:00

Let's have the following actions:
 1. Unitest with CoM motion for the quadruped.
 2. Quadrupedal locomotion example.

[2019-11-18 15:15] wxmerkt commented on #81
In GitLab by @nmansard on Feb 15, 2019, 21:52

Any advanced on these two points so far?

[2019-11-18 15:15] wxmerkt commented on #81
In GitLab by @nmansard on Feb 15, 2019, 21:52

I think you should open dedicated tasks to keep track of your time and duties.

[2019-11-18 15:15] wxmerkt commented on #81
In GitLab by @cmastalli on Feb 15, 2019, 22:08

Yes, HyQ moves its CoM forward with all legs on ground. You can see the code, I pushed.

Do you have any specific task in mind? I was planning to define only foot trajectory as reference, let's say sort of CPG.

All code for this is there. I just probably need to tune gains. I did it in the past so I don't expect this task time consuming.

[2019-11-18 15:15] wxmerkt commented on #81
In GitLab by @nmansard on Feb 18, 2019, 11:06

Ok, I reproduced the HyQ example. I tried (for fun) to deactivate the running COM cost: it works. I also try to crank it up to 1e6: it works as well.

I would advise to just try with a longer sequence, while removing the running COM cost and just adding to COM cost at T/2 and at T to ask the com to go 0.1 forward (like now) then 0.1 backward.

[2019-11-18 15:15] wxmerkt commented on #81
In GitLab by @cmastalli on Feb 18, 2019, 11:54

I tried the sequence 1) move forward 0.1 and then 2) move backward 0.1 cm without CoM running cost. This works well if I reduced the number of nodes to 5 per each phase.

I have similar issue with the walking problem. And I can't go further 3 steps. For this example I don't use CoM cost, only foot tracking cost.

[2019-11-18 15:15] wxmerkt commented on #81
In GitLab by @cmastalli on Feb 18, 2019, 12:30

I have wrote an issue which describes the limitations that we're facing with all the examples #114.

[2019-11-18 15:15] wxmerkt commented on #81
In GitLab by @nmansard on Feb 21, 2019, 17:16

I believe this was solved by !104. I close. Feel free to open a new one for extending the work.

[2019-11-18 15:15] wxmerkt commented on #81
In GitLab by @nmansard on Feb 21, 2019, 17:16

closed

[2019-11-18 15:15] #81 closed

[2019-11-18 15:15] wxmerkt opened #82 "Add a better callback model in the solver"
In GitLab by @nmansard on Jan 24, 2019, 20:40

Following the MR of @cmastalli !59, we discussed callback system. I suggest to have a list of callbacks instead of a single one, and call each of them in order:
for c in ddp.callback: c(ddp)

Then I suggest to introduce 3 callback classes:
- the logger, already existing, that make a collections of all relevant values of the solver, for later use.
- th

[2019-11-18 15:15] wxmerkt commented on #82
In GitLab by @cmastalli on Jan 25, 2019, 01:19

mentioned in merge request !64

[2019-11-18 15:15] wxmerkt commented on #82
In GitLab by @cmastalli on Jan 25, 2019, 01:19

I will close this issue. It's tackle in the PR.

[2019-11-18 15:15] wxmerkt commented on #82
In GitLab by @cmastalli on Jan 25, 2019, 01:19

closed

[2019-11-18 15:16] #82 closed

[2019-11-18 15:16] wxmerkt opened #83 "Jupyter unicycle: plot issue with ubuntu 1604"
In GitLab by @cmastalli on Jan 30, 2019, 10:49

You can solve them by upgrading your matplotlib

pip install --upgrade --user pip

pip install --upgrade --user matplotlib

Restart you kernel.

[2019-11-18 15:16] wxmerkt commented on #83
In GitLab by @cmastalli on Jan 30, 2019, 10:50

changed the description

[2019-11-18 15:16] wxmerkt commented on #83
In GitLab by @cmastalli on Jan 30, 2019, 14:22

sudo apt install ffmpeg

[2019-11-18 15:16] wxmerkt commented on #83
In GitLab by @nmansard on Jan 30, 2019, 17:50

@cmastalli could you please add these instructions to the jupyter in the first part?
We also needed a recent version of matplotlib.

[2019-11-18 15:16] wxmerkt commented on #83
In GitLab by @cmastalli on Jan 31, 2019, 13:33

mentioned in merge request !84

[2019-11-18 15:16] wxmerkt commented on #83
In GitLab by @cmastalli on Jan 31, 2019, 13:34

This issue will be closed after merging !84.

[2019-11-18 15:16] wxmerkt commented on #83
In GitLab by @nmansard on Feb 2, 2019, 09:24

mentioned in commit ff17958013127bddd924ca9f35967ce9381696a1

[2019-11-18 15:16] wxmerkt commented on #83
In GitLab by @nmansard on Feb 2, 2019, 09:25

closed

[2019-11-18 15:16] #83 closed

[2019-11-18 15:16] wxmerkt opened #84 "Having consistent APIs"
In GitLab by @cmastalli on Jan 31, 2019, 11:17

I believe we need to work on the API and its consistency. I saw few places where it's not intuitive or confusing. Here I want to point out an specific example.

DifferentialActionModelFloatingInContact needs during its construction process to pass the costModel. On the other hand, DifferentialActionModel (for ABA) has inside its body the cost model.

[2019-11-18 15:16] wxmerkt commented on #84
In GitLab by @cmastalli on Feb 5, 2019, 12:45

assigned to @cmastalli

[2019-11-18 15:16] wxmerkt commented on #84
In GitLab by @cmastalli on Feb 5, 2019, 13:01

This is extra information from a duplicate issue:
 - check the api for all groups of classes,
 - introduce a base class when it is missing (e.g. DAM should be renamed DAMManipulator and a basic DAM should be added)

[2019-11-18 15:16] wxmerkt commented on #84
In GitLab by @cmastalli on Feb 5, 2019, 23:58

I took a first action here: !89

[2019-11-18 15:16] wxmerkt commented on #84
In GitLab by @nmansard on Feb 21, 2019, 17:17

Done for the DAM. We have it for cost, contact and impulses. Should we work on Action Model to finish it?

[2019-11-18 15:16] wxmerkt commented on #84
In GitLab by @nmansard on Feb 28, 2019, 11:19

unassigned @cmastalli

[2019-11-18 15:16] wxmerkt commented on #84
In GitLab by @cmastalli on Mar 4, 2019, 10:12

@nmansard I have been looking for other inconsistencies. Could you let me know why we aren't using this class `ActionModelFull`?

Do we have to removed as this #117? or do we integrate to DAMFullyActuacted as DAMFiC?

These are design decisions. Before moving to any c++ code, I really would like to be happy with all these details. Currently I am not,

[2019-11-18 15:16] wxmerkt commented on #84
In GitLab by @cmastalli on Mar 7, 2019, 11:47

assigned to @cmastalli

[2019-11-18 15:16] wxmerkt commented on #84
In GitLab by @cmastalli on Mar 8, 2019, 11:15

mentioned in merge request !131

[2019-11-18 15:17] wxmerkt commented on #84
In GitLab by @cmastalli on Mar 8, 2019, 14:22

mentioned in merge request !134

[2019-11-18 15:17] wxmerkt commented on #84
In GitLab by @cmastalli on Mar 12, 2019, 15:55

mentioned in commit 7c8cdf494c2dedad7768235c21ddf12f2a7b3168

[2019-11-18 15:17] wxmerkt commented on #84
In GitLab by @cmastalli on Mar 15, 2019, 18:05

mentioned in merge request !144

[2019-11-18 15:17] wxmerkt commented on #84
In GitLab by @cmastalli on Mar 28, 2019, 13:17

mentioned in merge request !151

[2019-11-18 15:17] wxmerkt commented on #84
In GitLab by @cmastalli on Apr 3, 2019, 13:11

I haven't found any further inconsistencies. Feel free to re-open it.

[2019-11-18 15:17] wxmerkt commented on #84
In GitLab by @cmastalli on Apr 3, 2019, 13:11

closed

[2019-11-18 15:17] #84 closed

[2019-11-18 15:17] wxmerkt opened #85 "Clean up legacy branches"
In GitLab by @cmastalli on Jan 31, 2019, 11:31

Could we delete the following branches: (topic/refact, topic/nmsd, topic/debugkkt, topic/cpp)?

[2019-11-18 15:17] wxmerkt commented on #85
In GitLab by @nmansard on Feb 2, 2019, 09:25

Anything that as no commit inside: you can kill it.

[2019-11-18 15:17] wxmerkt commented on #85
In GitLab by @nmansard on Feb 2, 2019, 09:25

closed

[2019-11-18 15:17] #85 closed

[2019-11-18 15:17] wxmerkt opened #86 "Create dependency from multicontact library"
In GitLab by @proyan on Jan 31, 2019, 13:33

I propose to create a dependency with the multicontact library available here https://gepgitlab.laas.fr/loco-3d/multicontact-api. This will enable us to use the same contactphase definition that is being used for the centroidal problem.

[2019-11-18 15:17] wxmerkt commented on #86
In GitLab by @proyan on Jan 31, 2019, 13:43

Although one problem would be that the package is still using Pinocchio1.0
Could you please let us know if you are moving the package to Pinocchio2.0 @jcarpent

[2019-11-18 15:17] wxmerkt commented on #86
In GitLab by @proyan on Jan 31, 2019, 13:54

Never mind. It was just a namespace issue. Solved via https://gepgitlab.laas.fr/loco-3d/multicontact-api/merge_requests/1

[2019-11-18 15:17] wxmerkt commented on #86
In GitLab by @proyan on Jan 31, 2019, 13:54

closed

[2019-11-18 15:17] wxmerkt commented on #86
In GitLab by @proyan on Jan 31, 2019, 14:39

reopened

[2019-11-18 15:17] wxmerkt commented on #86
In GitLab by @nmansard on Feb 1, 2019, 09:47

Excellent, I plus it.

[2019-11-18 15:17] wxmerkt commented on #86
In GitLab by @cmastalli on Feb 2, 2019, 08:10

I'm not sure about it. It's like asking to include a package for kkt dynamics.

In contrast, contact phase definition isn't bit deal to do it. Adding dependencies that aren't strictly necessary isn't good software practice.

You might want to explain why it's needed this, rather than having our internal definitions.

[2019-11-18 15:17] wxmerkt commented on #86
In GitLab by @nmansard on Feb 2, 2019, 11:16

I agree we should discuss it. The MCAPI is there to represent locomotion problem. It is now the standard API for loco3d problems (contact planning, centroidal optimization). It is only an API with a simple struct to store the sequence of contact, nothing bad. And it will be needed to connect with TimeOpt that we need to do.
We might have it as a condit

[2019-11-18 15:18] wxmerkt commented on #86
In GitLab by @proyan on Feb 4, 2019, 13:38

I'll close this issue. Thanks for the discussion.

[2019-11-18 15:18] wxmerkt commented on #86
In GitLab by @proyan on Feb 4, 2019, 13:38

closed

[2019-11-18 15:18] #86 closed

[2019-11-18 15:18] wxmerkt opened #87 "(not) Using RobotWrapper in Crocoddyl"
In GitLab by @nmansard on Feb 2, 2019, 13:14

I believe that it would be a good procedure not using robot wrapper in the lib, but for loading and display. When loading a robot wrapper, we should get the robot model "rmodel = robot.model", and create a new data (do not use the one of robot wrapper, keep it for display). Then do not pass robotwrapper to your methods and classes, but directly pass rm

[2019-11-18 15:18] wxmerkt commented on #87
In GitLab by @nmansard on Feb 6, 2019, 18:11

mentioned in commit 784c686b1a10573c686e1fa388104dccd4712ac2

[2019-11-18 15:18] wxmerkt commented on #87
In GitLab by @nmansard on Feb 7, 2019, 09:29

mentioned in commit 6a271309e24f324fe95d4ed5f901283e96fd9545

[2019-11-18 15:18] wxmerkt commented on #87
In GitLab by @nmansard on Feb 13, 2019, 10:24

I would like that somebody check that robot-wrapper is minimally used everywhere.
In particular, we should only pass the viewer client (i.e. robotwrapper.viewer.gui) to the ddp display callback.
I add this in the milestone.

[2019-11-18 15:18] wxmerkt commented on #87
In GitLab by @cmastalli on Feb 23, 2019, 21:17

@nmansard I checked and the RobotWrapper (RW) is just used only in the introduction_to_crocoddyl (Jupyter notebook) for printing the final wrist position. I guess we can keep there.

On the other hand removing RW from the display callback requires to re-create a bit part of the code inside RW. Before making any action, I will like to propose to use M

[2019-11-18 15:18] wxmerkt commented on #87
In GitLab by @nmansard on Feb 27, 2019, 09:15

Meshcat and not-using-RW are not related. Here, we just need RW to load the model and possibly set up the GUI. After that, we should work with the pinocchio model rmodel=robot.model and the viewer client gv=robot.viewer.gui directly. There are plenty of places where robot is used rather than rmodel and gv.

[2019-11-18 15:18] wxmerkt commented on #87
In GitLab by @cmastalli on Feb 27, 2019, 09:45

We are passing rmodel to all crocoddyl kernel classes with the exception of the CallbackSolverDisplay. As I mentioned we can removed it but them it implicates that we need to code inside crocoddyl plenty of functions of RW (e.g. RW.initDisplay and RW.display).

[2019-11-18 15:18] wxmerkt commented on #87
In GitLab by @nmansard on Feb 28, 2019, 11:51

I agree that we cannot avoid yet to use RW in the CallbackSolverDisplay.

[2019-11-18 15:18] wxmerkt commented on #87
In GitLab by @nmansard on Feb 28, 2019, 16:28

assigned to @nmansard

[2019-11-18 15:18] wxmerkt commented on #87
In GitLab by @nmansard on Feb 28, 2019, 17:30

mentioned in merge request !118

[2019-11-18 15:18] wxmerkt commented on #87
In GitLab by @nmansard on Feb 28, 2019, 17:31

Solveby !118

[2019-11-18 15:18] wxmerkt commented on #87
In GitLab by @nmansard on Feb 28, 2019, 17:31

closed

[2019-11-18 15:18] wxmerkt commented on #87
In GitLab by @nmansard on Feb 28, 2019, 20:20

mentioned in merge request !119

[2019-11-18 15:18] wxmerkt commented on #87
In GitLab by @nmansard on Feb 28, 2019, 20:20

I change the MR to keep a nicer git tree. Solved by !119

[2019-11-18 15:18] #87 closed

[2019-11-18 15:18] wxmerkt opened #88 "clean examples and jupyter documentation"
In GitLab by @proyan on Feb 4, 2019, 13:13

This includes the loco3d example

[2019-11-18 15:18] wxmerkt commented on #88
In GitLab by @cmastalli on Feb 5, 2019, 23:57

I took a first action in the following PR: !90

[2019-11-18 15:19] wxmerkt commented on #88
In GitLab by @cmastalli on Feb 6, 2019, 15:37

mentioned in merge request !90

[2019-11-18 15:19] wxmerkt commented on #88
In GitLab by @cmastalli on Feb 6, 2019, 15:38

changed the description

[2019-11-18 15:19] wxmerkt commented on #88
In GitLab by @cmastalli on Feb 7, 2019, 16:16

I proposed the following actions:
 1. Review the text in each Jupyter notebook.
 2. Move all notebooks to example/ (instead of examples/notebooks)
 3. Add a number to each notebook so users can go through a defined sequence.
 4. Rename the notebooks with a more descriptive name, e.g loco3d -> bipedal_walking
 5. Improve the visualization for the cartp

[2019-11-18 15:19] wxmerkt commented on #88
In GitLab by @nmansard on Feb 7, 2019, 17:15

2. I would prefer to keep the notebook folder
5. Not sure this is useful.

I think we should also make a test file for checking both the .ipynb and the *_sol.py files. Could you do that?

[2019-11-18 15:19] wxmerkt commented on #88
In GitLab by @cmastalli on Feb 7, 2019, 17:48

Thanks for the feedback. Yes, I could.

[2019-11-18 15:19] wxmerkt commented on #88
In GitLab by @cmastalli on Feb 12, 2019, 23:21

mentioned in merge request !100

[2019-11-18 15:19] wxmerkt commented on #88
In GitLab by @cmastalli on Feb 12, 2019, 23:25

In the PR !100 I worked a many of the discussed points.

It remains two main tasks:
 - Reviewing/improving/cleaning-up the manipulation examples/notebooks.
 - Improving the unicycle visualization.

Additionally I proposed to write a README file which guides the user through all the Jupyter notebooks.

[2019-11-18 15:19] wxmerkt commented on #88
In GitLab by @nmansard on Feb 18, 2019, 13:18

I believe example/talos_arm is not working. Could you check?

[2019-11-18 15:19] wxmerkt commented on #88
In GitLab by @cmastalli on Feb 18, 2019, 13:59

It was a wrong construction of the CallbackDisplay due to a change in its API. I found this issue in other examples and notebooks. I pushed a commit to the devel branch that quickly fix them.

[2019-11-18 15:19] wxmerkt commented on #88
In GitLab by @cmastalli on Feb 18, 2019, 15:47

I have to review new examples (jump, salto) and added the same policy for them.

@nmansard and @proyan if you include another example please do as follows:
 - Use describe title for the examples,
 - Add vast documentation of them, and
 - Include probably a notebook if there is a new feature.

[2019-11-18 15:19] wxmerkt commented on #88
In GitLab by @nmansard on Feb 21, 2019, 17:15

This is done. I close it.

[2019-11-18 15:19] wxmerkt commented on #88
In GitLab by @nmansard on Feb 21, 2019, 17:15

closed

[2019-11-18 15:19] #88 closed

[2019-11-18 15:19] wxmerkt opened #89 "fix unittest"
In GitLab by @proyan on Feb 4, 2019, 13:15

[2019-11-18 15:19] wxmerkt commented on #89
In GitLab by @cmastalli on Feb 6, 2019, 17:30

mentioned in merge request !93

[2019-11-18 15:19] wxmerkt commented on #89
In GitLab by @nmansard on Feb 11, 2019, 21:25

Is that task about fixing the unittest themselves, or about restoring the continuous integration (i.e. unittest at merge time)?

BTW: what unittest should I run to make a global check before pushing?

[2019-11-18 15:19] wxmerkt commented on #89
In GitLab by @cmastalli on Feb 11, 2019, 21:57

@nmansard There few unit-test that are not working properly. I found issues in test_impact and test_rk4. For the test_rk4 the problem seems to be that the tolerance is too high; sometimes doesn't pass.

Normally, I un-comment the lines inside unittest/all.py (see here: https://gepgitlab.laas.fr/loco-3d/crocoddyl/blob/devel/unittest/all.py). Then I ru

[2019-11-18 15:19] wxmerkt commented on #89
In GitLab by @nmansard on Feb 12, 2019, 09:00

@rbudhira could you double check rk4 test?
I fixed the impact model in !97

[2019-11-18 15:19] wxmerkt commented on #89
In GitLab by @proyan on Feb 12, 2019, 17:43

I checked the rk4 test. The error margin is too low, so the error does sometimes exceed the margin.
I pushed directly the change(since it was just one line) of using the sqrt(eps) as the error margin. It seems okay now.

[2019-11-18 15:20] wxmerkt commented on #89
In GitLab by @cmastalli on Feb 13, 2019, 09:48

unassigned @cmastalli

[2019-11-18 15:20] wxmerkt commented on #89
In GitLab by @nmansard on Feb 13, 2019, 10:00

This task will be accomplished after pinocchio v2 release.

[2019-11-18 15:20] wxmerkt commented on #89
In GitLab by @cmastalli on Feb 18, 2019, 17:32

I checked the unit-test. These are the ones broken:
 - test_costs: (error with inequality, @proyan I think you should have a look)
 - test_robots: (fixed in this PR !96)
 - test_contacts: (error with quasiStatic call, @nmansard you should have a look)

[2019-11-18 15:20] wxmerkt commented on #89
In GitLab by @proyan on Feb 18, 2019, 17:47

I pushed directly on devel to fix the test_costs

[2019-11-18 15:20] wxmerkt commented on #89
In GitLab by @cmastalli on Feb 18, 2019, 18:15

Thanks a lot @proyan

[2019-11-18 15:20] wxmerkt commented on #89
In GitLab by @cmastalli on Feb 19, 2019, 16:55

The quasiStatic error was introduced by myself. I fixed it and pushed to the devel branch.

[2019-11-18 15:20] wxmerkt commented on #89
In GitLab by @cmastalli on Feb 20, 2019, 14:24

assigned to @cmastalli

[2019-11-18 15:20] wxmerkt commented on #89
In GitLab by @cmastalli on Feb 20, 2019, 15:24

mentioned in merge request !109

[2019-11-18 15:20] wxmerkt commented on #89
In GitLab by @cmastalli on Feb 20, 2019, 15:26

@nmansard  We can close this issue after merging !109.

[2019-11-18 15:20] wxmerkt commented on #89
In GitLab by @cmastalli on Feb 27, 2019, 12:13

closed

[2019-11-18 15:20] #89 closed

[2019-11-18 15:20] wxmerkt opened #90 "check the api for all groups of classes and introduce a base class when it is missing (eg DAM should be renamed DAMManipulator and a basic DAM should be added)"
In GitLab by @proyan on Feb 4, 2019, 13:15

[2019-11-18 15:20] wxmerkt commented on #90
In GitLab by @cmastalli on Feb 5, 2019, 13:00

assigned to @cmastalli

[2019-11-18 15:20] wxmerkt commented on #90
In GitLab by @cmastalli on Feb 5, 2019, 13:01

closed

[2019-11-18 15:20] wxmerkt commented on #90
In GitLab by @cmastalli on Feb 5, 2019, 13:02

This is issue is duplicated. Please refer to #79.

[2019-11-18 15:20] #90 closed

[2019-11-18 15:20] wxmerkt opened #91 "add activation model if missing"
In GitLab by @proyan on Feb 4, 2019, 13:16

I think it is still missing in some classes. I'll check

[2019-11-18 15:20] wxmerkt commented on #91
In GitLab by @proyan on Feb 4, 2019, 21:38

mentioned in merge request !86

[2019-11-18 15:20] wxmerkt commented on #91
In GitLab by @nmansard on Feb 5, 2019, 21:01

mentioned in commit 55f0e115b5e63c550d7692e28b61eedd334888c9

[2019-11-18 15:21] wxmerkt commented on #91
In GitLab by @nmansard on Feb 5, 2019, 21:28

Solved by !86

[2019-11-18 15:21] wxmerkt commented on #91
In GitLab by @nmansard on Feb 5, 2019, 21:28

closed

[2019-11-18 15:21] #91 closed

[2019-11-18 15:21] wxmerkt opened #92 "validate joint limits in a demo"
In GitLab by @proyan on Feb 4, 2019, 13:17

Add manipulator with joint limits.

[2019-11-18 15:21] wxmerkt commented on #92
In GitLab by @proyan on Feb 7, 2019, 18:05

unassigned @rbudhira

[2019-11-18 15:21] wxmerkt commented on #92
In GitLab by @nmansard on Feb 28, 2019, 17:25

We have several use of inequality costs by @proyan in a push-recovery example and by me on a complementarity problem resolution. This is enough to convinced me that the inequalities are working properly. And it also convince me that we need to put bound constraints in the solver.
All in all, this task is not necessary any more, I close it.

[2019-11-18 15:21] wxmerkt commented on #92
In GitLab by @nmansard on Feb 28, 2019, 17:25

closed

[2019-11-18 15:21] #92 closed

[2019-11-18 15:21] wxmerkt opened #93 "add a clean locomotion jupyter"
In GitLab by @proyan on Feb 4, 2019, 13:19

[2019-11-18 15:21] wxmerkt commented on #93
In GitLab by @cmastalli on Feb 6, 2019, 15:36

mentioned in merge request !90

[2019-11-18 15:21] wxmerkt commented on #93
In GitLab by @cmastalli on Feb 6, 2019, 15:39

This issue is duplicate here #83. I'll close it

[2019-11-18 15:21] wxmerkt commented on #93
In GitLab by @cmastalli on Feb 6, 2019, 15:39

closed

[2019-11-18 15:21] #93 closed

[2019-11-18 15:21] wxmerkt opened #94 "check that pinocchio is minimally used (no redundant calls)"
In GitLab by @proyan on Feb 4, 2019, 13:29

[2019-11-18 15:21] wxmerkt commented on #94
In GitLab by @cmastalli on Feb 8, 2019, 10:43

assigned to @rbudhira

[2019-11-18 15:21] wxmerkt commented on #94
In GitLab by @nmansard on Feb 12, 2019, 11:24

mentioned in merge request !97

[2019-11-18 15:21] wxmerkt commented on #94
In GitLab by @nmansard on Feb 21, 2019, 14:27

Issue raised in #122: Minv is computed twice!

[2019-11-18 15:21] wxmerkt commented on #94
In GitLab by @nmansard on Feb 28, 2019, 11:19

unassigned @proyan

[2019-11-18 15:21] wxmerkt commented on #94
In GitLab by @proyan on Mar 4, 2019, 13:06

There hasn't been a thorough review of the full code to remove redundancies. One source of improvement is #102, which is a subtask. However it is dependent on changes in Pinocchio, and not possible to be resolved soon.

I'll remove the milestone here as well.

[2019-11-18 15:21] wxmerkt commented on #94
In GitLab by @proyan on Mar 4, 2019, 13:06

removed milestone

[2019-11-18 15:22] wxmerkt commented on #94
In GitLab by @cmastalli on Nov 5, 2019, 15:06

Fixed in the c++ implementation. Feel free to reopen it

[2019-11-18 15:22] wxmerkt commented on #94
In GitLab by @cmastalli on Nov 5, 2019, 15:06

closed

[2019-11-18 15:22] #94 closed

[2019-11-18 15:22] wxmerkt opened #95 "raise an error for failing solve call (e.g. max reg reached and no step accepted"
In GitLab by @proyan on Feb 4, 2019, 13:30

[2019-11-18 15:22] wxmerkt commented on #95
In GitLab by @cmastalli on Feb 27, 2019, 18:05

It would be nice if you can provide some conditions when this is happening. So we can test the solution.

[2019-11-18 15:22] wxmerkt commented on #95
In GitLab by @nmansard on Mar 1, 2019, 16:22

mentioned in merge request !120

[2019-11-18 15:22] wxmerkt commented on #95
In GitLab by @proyan on Mar 6, 2019, 10:56

Solved with !120

[2019-11-18 15:22] wxmerkt commented on #95
In GitLab by @proyan on Mar 6, 2019, 10:56

closed

[2019-11-18 15:22] wxmerkt commented on #95
In GitLab by @nmansard on Mar 7, 2019, 08:38

mentioned in commit 2b24c5557a34b8e972b7b23246e18bec1e36b79a

[2019-11-18 15:22] #95 closed

[2019-11-18 15:22] wxmerkt opened #96 "solver fails when aramture is less than 1"
In GitLab by @proyan on Feb 4, 2019, 13:35

This might take a while :)

[2019-11-18 15:22] wxmerkt commented on #96
In GitLab by @cmastalli on Feb 8, 2019, 10:43

assigned to @nmansard

[2019-11-18 15:22] wxmerkt commented on #96
In GitLab by @nmansard on Feb 12, 2019, 08:59

I am working on it.

[2019-11-18 15:22] wxmerkt commented on #96
In GitLab by @nmansard on Feb 12, 2019, 11:16

The problem comes from the initialization with u=0. With armature=1, it may happen that rolling out u=0 leads to non-infinite xs. This is less probable without the armature playing as a numerical damper.

There is no magic solution here. I introduced quasi-static warm start. It helps.

We should also work on the feasibility search of the DDP solver, i

[2019-11-18 15:22] wxmerkt commented on #96
In GitLab by @nmansard on Feb 12, 2019, 20:54

mentioned in merge request !99

[2019-11-18 15:22] wxmerkt commented on #96
In GitLab by @proyan on Feb 13, 2019, 13:48

I'll close this.

[2019-11-18 15:22] wxmerkt commented on #96
In GitLab by @proyan on Feb 13, 2019, 13:48

closed

[2019-11-18 15:22] wxmerkt commented on #96
In GitLab by @nmansard on Feb 19, 2019, 16:03

mentioned in commit 73b814e094c2b34ae4294170128a8346c3e8c1f4

[2019-11-18 15:22] #96 closed

[2019-11-18 15:22] wxmerkt opened #97 "Load the centroidal output"
In GitLab by @proyan on Feb 4, 2019, 14:46

This is a partial task towards #72.

As defined in the Algorithm 1 of https://hal.laas.fr/hal-01875031/document :
1) create a centroidal phi class.
2) load the centroidal input in the class.

[2019-11-18 15:23] wxmerkt commented on #97
In GitLab by @proyan on Feb 4, 2019, 15:01

mentioned in merge request multicontact-api!3

[2019-11-18 15:23] wxmerkt commented on #97
In GitLab by @proyan on Feb 4, 2019, 20:48

mentioned in merge request !85

[2019-11-18 15:23] wxmerkt commented on #97
In GitLab by @nmansard on Feb 5, 2019, 21:04

mentioned in commit 60d58f4c67a59f7d05d723c1f01b182c0fe40af8

[2019-11-18 15:23] wxmerkt commented on #97
In GitLab by @nmansard on Feb 5, 2019, 21:22

Thanks for the MR.
I don't think that introducting the locomotion code in the kernel of Crocoddyl is a good idea. For now, I would suggest to keep this code and the corresponding dependencies as optional, by putting them in a crocoddyl/locomotion subfolder, and not introduce the corresponding symbols in the crocoddyl/__init__.py. If you agree, could yo

[2019-11-18 15:23] wxmerkt commented on #97
In GitLab by @proyan on Feb 5, 2019, 21:59

I agree that putting them in a separate folder is preferable. I'll make the required changes.

[2019-11-18 15:23] wxmerkt commented on #97
In GitLab by @proyan on Feb 5, 2019, 22:17

Done.

[2019-11-18 15:23] wxmerkt commented on #97
In GitLab by @proyan on Feb 5, 2019, 22:17

closed

[2019-11-18 15:23] #97 closed

[2019-11-18 15:23] wxmerkt opened #98 "Using tsid in crocoddyl to generate warm start"
In GitLab by @proyan on Feb 4, 2019, 21:00

Hi
This is just a question and not a task.

Currently, to create the initial trajectory for warm starting the locomotion problem, I am using tsid to solve the problem via inverse dynamics. Then I dump the output trajectories and load them in the locomotion script to initialize the shooting problem.

I would prefer directly using tsid in the script to gen

[2019-11-18 15:23] wxmerkt commented on #98
In GitLab by @nmansard on Feb 5, 2019, 21:21

Could you just try the ddp solver from scratch before introducing TSID?

[2019-11-18 15:23] wxmerkt commented on #98
In GitLab by @proyan on Feb 5, 2019, 21:55

Noted.

[2019-11-18 15:23] wxmerkt commented on #98
In GitLab by @proyan on Feb 5, 2019, 21:55

closed

[2019-11-18 15:23] #98 closed

[2019-11-18 15:23] wxmerkt opened #99 "Loco3d isn't working properly"
In GitLab by @cmastalli on Feb 5, 2019, 12:43

Last introduced changes into the devel branch have broken loco3d example.
I have a created a stable branch called ws-memmo-stable. If you run this example you will solve the problem in 12 iterations, i.e.:

[code]

Instead, in the devel branch, the solver has a different behavior. Here I copy the DDP message too:

[code]

I didn't test in other exampl

[2019-11-18 15:23] wxmerkt commented on #99
In GitLab by @cmastalli on Feb 5, 2019, 12:45

mentioned in merge request !87

[2019-11-18 15:23] wxmerkt commented on #99
In GitLab by @proyan on Feb 5, 2019, 13:51

I would guess that the problem is because of the weight on the state regularization, since that is the only thing that changed.
Please confirm that you are using ActivationModelWeightedQuad for the state cost.

[2019-11-18 15:23] wxmerkt commented on #99
In GitLab by @cmastalli on Feb 5, 2019, 13:57

I am using it just in the second result.

[2019-11-18 15:23] wxmerkt commented on #99
In GitLab by @nmansard on Feb 5, 2019, 21:19

I don't understand the MR !87. Could you please explain it better?
I understand the bug. It has been introduced by the combination of 307932dea (change the default zero state) and efea0b (change the model for weighting the state cost).
I pushed a bug fixed in apps/foot_hybrid_tracking in 9b75ef59530. Could you please get the code in this file and propa

[2019-11-18 15:23] wxmerkt commented on #99
In GitLab by @cmastalli on Feb 5, 2019, 23:11

@nmansard  I just want to have master that is stable and reliable.
Please review the !88 PR.

[2019-11-18 15:24] wxmerkt commented on #99
In GitLab by @cmastalli on Feb 7, 2019, 13:49

closed

[2019-11-18 15:24] #99 closed

[2019-11-18 15:24] wxmerkt opened #100 "Understanding the lack of numerical precision in DDP vs KKT with armature model"
In GitLab by @cmastalli on Feb 6, 2019, 18:05

We found this issue inside test_contacts.

[2019-11-18 15:24] wxmerkt commented on #100
In GitLab by @cmastalli on Feb 6, 2019, 18:06

mentioned in merge request !93

[2019-11-18 15:24] wxmerkt commented on #100
In GitLab by @cmastalli on Feb 7, 2019, 13:24

changed title from **Understanding the lack of numerical precision in DDP vs KKT** to **Understanding the lack of numerical precision in DDP vs KKT{+ with armature model+}**

[2019-11-18 15:24] wxmerkt commented on #100
In GitLab by @nmansard on Feb 13, 2019, 09:58

closed

[2019-11-18 15:24] #100 closed

[2019-11-18 15:24] wxmerkt opened #101 "We currently have to manually set the contact in the CostDataForce."
In GitLab by @proyan on Feb 7, 2019, 11:53

I see one solution to the issue of manually setting the contact in the costdataforce.
We could move the definition of ContactModel inside PinocchioModel. So instead of saving the contactmodel in IAM, we save it in IAM.pinocchioModel.ContactModel and IAM.pinocchioData.ContactData.

It is not dirty, and the dynamics and contacts go hand in hand anyways. Do

[2019-11-18 15:24] wxmerkt commented on #101
In GitLab by @cmastalli on Feb 7, 2019, 14:04

I would include few thoughts about it:
 - The contact cost information doesn't belong to any robot model (i.e. Pinocchio model). We have the same reasoning for the state cost.
 - Manual setting of each cost models (or its references) is a nice feature imposed by the action model. I don't see a problem here.
 - Pinocchio is our engine, however it would

[2019-11-18 15:24] wxmerkt commented on #101
In GitLab by @nmansard on Feb 8, 2019, 09:04

I don't understand. Let's discuss it orally.

[2019-11-18 15:24] wxmerkt commented on #101
In GitLab by @proyan on Feb 8, 2019, 10:56

changed title from **{-Defining the CostDataForce-}** to **{+We currently have to manually set the contact in the CostDataForce.+}**

[2019-11-18 15:24] wxmerkt commented on #101
In GitLab by @nmansard on Feb 13, 2019, 10:23

assigned to @rbudhira and unassigned @nmansard

[2019-11-18 15:24] wxmerkt commented on #101
In GitLab by @proyan on Feb 13, 2019, 13:50

unassigned @rbudhira

[2019-11-18 15:24] wxmerkt commented on #101
In GitLab by @nmansard on Feb 18, 2019, 13:19

@rbudhira I added something in the impact model which is kind of fixing this issue, although it is quite heavy. Could you check?

[2019-11-18 15:24] wxmerkt commented on #101
In GitLab by @nmansard on Feb 18, 2019, 13:24

After oral discussion: @proyan is ok with the idea. I will propagate that in the DAMFIC.

[2019-11-18 15:24] wxmerkt commented on #101
In GitLab by @cmastalli on Feb 27, 2019, 22:18

@nmansard any update? Did you propagate it to DAMFIC?

[2019-11-18 15:24] wxmerkt commented on #101
In GitLab by @cmastalli on Apr 3, 2019, 14:40

removed milestone

[2019-11-18 15:24] wxmerkt commented on #101
In GitLab by @cmastalli on Sep 19, 2019, 19:09

mentioned in merge request !220

[2019-11-18 15:24] wxmerkt commented on #101
In GitLab by @cmastalli on Nov 7, 2019, 10:27

@proyan this is an old thread but still valid

[2019-11-18 15:25] wxmerkt opened #102 "Moving DAMFullyActuated to fully_actuated file"
In GitLab by @cmastalli on Feb 7, 2019, 12:45

Currently this class is stored inside differential_action. However I believe it should moved to somewhere else. You can find the same pattern for the `DAMFloatingInContact`, which is stored in floating_contact.py

@nmansard let's discuss this organization.

[2019-11-18 15:25] wxmerkt commented on #102
In GitLab by @cmastalli on Feb 7, 2019, 12:47

changed title from **Moving {-DAMFullyActuated-} to fully_actuated file** to **Moving {+`DAMFullyActuated`+} to fully_actuated file**

[2019-11-18 15:25] wxmerkt commented on #102
In GitLab by @cmastalli on Feb 7, 2019, 12:47

changed the description

[2019-11-18 15:25] wxmerkt commented on #102
In GitLab by @cmastalli on Feb 7, 2019, 12:47

changed title from **Moving {-`DAMFullyActuated`-} to fully_actuated file** to **Moving {+DAMFullyActuated+} to fully_actuated file**

[2019-11-18 15:25] wxmerkt commented on #102
In GitLab by @cmastalli on Feb 7, 2019, 12:48

mentioned in merge request !89

[2019-11-18 15:25] wxmerkt commented on #102
In GitLab by @nmansard on Feb 7, 2019, 15:49

DAMFA is a pretty straightforward implementation of the DAM abstract API. I don't think we need a dedicated file, as we don't have the policy one class =  one file in crocoddyl.

[2019-11-18 15:25] wxmerkt commented on #102
In GitLab by @cmastalli on Feb 7, 2019, 15:59

I see. Then we might want to move DAMFloatingInContact class from floating_contact to differential_action file. My point is we haven't been consistent.

[2019-11-18 15:25] wxmerkt commented on #102
In GitLab by @nmansard on Feb 8, 2019, 09:04

DAMFIC is big, that's why it has its own file. We can define the following policy: more that 2000 -> move to you own file.

[2019-11-18 15:25] wxmerkt commented on #102
In GitLab by @nmansard on Feb 8, 2019, 09:04

closed

[2019-11-18 15:25] #102 closed

[2019-11-18 15:25] wxmerkt opened #103 "Faulty definition of a0 in Contact6D"
In GitLab by @proyan on Feb 7, 2019, 22:07

The definition of a0 in Contact6D is missing the vXw term in the linear part.

[2019-11-18 15:25] wxmerkt commented on #103
In GitLab by @nmansard on Feb 8, 2019, 09:03

I really don't think it is. @jcarpent  already explains that to me, but I yet do not agree. You want the spatial acceleration to be 0, and not the linear and the angular acceleration to be 0. I any case, when the landing spatial velocity is small, then v and w are small, then vxw is negligible. Finally, the current validations show that this term is no

[2019-11-18 15:25] wxmerkt commented on #103
In GitLab by @jcarpent on Feb 8, 2019, 09:08

I don't want to waste your time with my explanations, but just to convince you of the utility of such a term, just to a second order inverse kinematics with a foot which is not flat and you will see experimentally.

For the theoretical foundations, I already told you why!

[2019-11-18 15:25] wxmerkt commented on #103
In GitLab by @proyan on Feb 8, 2019, 09:48

I agree with @jcarpent here. Spatial Acceleration is the acceleration of the full body,
and not just any one point. It is possible for the "entire body" to have zero acceleration, while it is constantly rotating around an axis. We don't want that. (For reference, Figure 2.6, and equation 2.46 in Featherstone).

And as to your other point, I agree that th

[2019-11-18 15:25] wxmerkt commented on #103
In GitLab by @nmansard on Feb 8, 2019, 10:33

I convinced @rbudhira that the current implementation is ok. Let’s discuss orally.

[2019-11-18 15:25] wxmerkt commented on #103
In GitLab by @nmansard on Feb 8, 2019, 10:33

closed

[2019-11-18 15:25] #103 closed

[2019-11-18 15:25] wxmerkt opened #104 "Fix impact unittest and derivatives"
In GitLab by @proyan on Feb 8, 2019, 10:57

calcDiff of the impact model is wrong, and the corresponding unittest is bugged.

[2019-11-18 15:25] wxmerkt commented on #104
In GitLab by @nmansard on Feb 9, 2019, 15:23

I fixed it. Many bugs!
I will push once !95 is merged.

[2019-11-18 15:25] wxmerkt commented on #104
In GitLab by @nmansard on Feb 11, 2019, 21:28

mentioned in merge request !97

[2019-11-18 15:26] wxmerkt commented on #104
In GitLab by @nmansard on Feb 13, 2019, 09:59

closed

[2019-11-18 15:26] #104 closed

[2019-11-18 15:26] wxmerkt opened #105 "Contact feedback not properly tested!"
In GitLab by @nmansard on Feb 12, 2019, 09:02

@rbudhira you introduce bugs in !95 :)
When ref is not set, rMf is still computed which crashes. And you forget to have an optional gains=[0 0] to keep backcomp.
I am fixing it, but please double check.

[2019-11-18 15:26] wxmerkt commented on #105
In GitLab by @proyan on Feb 12, 2019, 10:08

I see. We should be able to solve it by just moving the line which sets data.rMf inside the if condition of gains[0].

Thanks for fixing it. Sorry about the error.

[2019-11-18 15:26] wxmerkt commented on #105
In GitLab by @nmansard on Feb 13, 2019, 10:22

assigned to @nmansard and unassigned @rbudhira

[2019-11-18 15:26] wxmerkt commented on #105
In GitLab by @proyan on Feb 13, 2019, 13:49

This is done with the !99

[2019-11-18 15:26] wxmerkt commented on #105
In GitLab by @proyan on Feb 13, 2019, 13:49

closed

[2019-11-18 15:26] #105 closed

[2019-11-18 15:26] wxmerkt opened #106 "Remove computeForwardKinematicsDerivatives in DAM"
In GitLab by @proyan on Feb 12, 2019, 10:20

Currently there is a bug in the pinocchio calculation of derivatives, where kinematics derivatives are not updated when doing RNEA derivatives (https://github.com/stack-of-tasks/pinocchio/issues/639)

We should remove computeForwardKinematicsDerivatives from DAM when the above issue is solved.

[2019-11-18 15:26] wxmerkt commented on #106
In GitLab by @jcarpent on Feb 12, 2019, 10:23

@rbudhira It is not exactly that. You cannot reuse the computations of the RNEA derivatives for getting the derivatives of the kinematics. You should then always call computeForwardKinematicsDerivatives to get the correct results!

[2019-11-18 15:26] wxmerkt commented on #106
In GitLab by @nmansard on Feb 13, 2019, 10:21

In our case, we need both the derivatives of RNEA and the derivatives of some joint jacobians. Could you confirm that we should:
- call computeForwardKinematicsDerivatives first
- then call computeRNEADerivatives
- finally call computeJointVelocityDerivatives to get the proper jacobian derivatives.
Thanks.

[2019-11-18 15:26] wxmerkt commented on #106
In GitLab by @nmansard on Feb 13, 2019, 10:22

assigned to @jcarpent

[2019-11-18 15:26] wxmerkt commented on #106
In GitLab by @jcarpent on Feb 13, 2019, 12:51

Not really, the safest way is to call first computeRNEADerivatives then followed by computeForwardKinematicsDerivatives.
Normally the call to computeForwardKinematicsDerivatives can be removed, but currently, there is a tiny bug that forces a call to computeForwardKinematicsDerivatives.
I will look to this issue next Monday.

[2019-11-18 15:26] wxmerkt commented on #106
In GitLab by @nmansard on Feb 28, 2019, 11:18

unassigned @jcarpent

[2019-11-18 15:26] wxmerkt commented on #106
In GitLab by @nmansard on Feb 28, 2019, 11:19

@jcarpent will be in Toulouse next monday to work on this issue. Let's evaluate then how to act on it.

[2019-11-18 15:26] wxmerkt commented on #106
In GitLab by @proyan on Mar 4, 2019, 14:09

https://github.com/stack-of-tasks/pinocchio/issues/639 needs to be solved before this issue can be taken care of.
This task is a subtask of #89.

I'll remove the v1.0 milestone since it is not affecting/enhancing any features in the library.

[2019-11-18 15:26] wxmerkt commented on #106
In GitLab by @proyan on Mar 4, 2019, 14:09

removed milestone

[2019-11-18 15:27] wxmerkt commented on #106
In GitLab by @cmastalli on Aug 14, 2019, 18:44

assigned to @cmastalli

[2019-11-18 15:27] wxmerkt commented on #106
In GitLab by @cmastalli on Aug 14, 2019, 18:46

mentioned in merge request !198

[2019-11-18 15:27] wxmerkt commented on #106
In GitLab by @cmastalli on Aug 14, 2019, 18:47

I have created a PR with this tiny improvements.
Do @jcarpent confirm that we can do it?

[2019-11-18 15:27] wxmerkt commented on #106
In GitLab by @cmastalli on Aug 25, 2019, 12:02

mentioned in commit 400cba6416d30c817abe398069c1684281ce891b

[2019-11-18 15:27] wxmerkt commented on #106
In GitLab by @cmastalli on Aug 26, 2019, 23:59

closed

[2019-11-18 15:27] wxmerkt commented on #106
In GitLab by @cmastalli on Aug 29, 2019, 17:01

mentioned in commit a60ec0bc27fd47442b303611a394af954cbe9554

[2019-11-18 15:27] #106 closed

[2019-11-18 15:27] wxmerkt opened #107 "Remove matrix inverse operations and use pinocchio routines for forward and impulse dynamics"
In GitLab by @proyan on Feb 12, 2019, 16:36

1) Currently we are doing inv(M) in calcdiff. This should be removed.
2) start using pinocchio routines for forward/impulse dynamics
3) I created a PR to extract the K_inv matrix from the pinocchio routines for forward/impulse dynamics. https://github.com/stack-of-tasks/pinocchio/pull/665. After it is merged, we should use this instead of doing inv(K) i

[2019-11-18 15:27] wxmerkt commented on #107
In GitLab by @jcarpent on Feb 12, 2019, 16:40

I have made the review of your PR on Pinocchio.

[2019-11-18 15:27] wxmerkt commented on #107
In GitLab by @proyan on Feb 13, 2019, 09:46

assigned to @rbudhira

[2019-11-18 15:27] wxmerkt commented on #107
In GitLab by @proyan on Feb 13, 2019, 11:34

Can't use the schur complement inverse from pinocchio because of the armature.
This issue will be dealt with after https://github.com/stack-of-tasks/pinocchio/issues/671 is resolved.

[2019-11-18 15:27] wxmerkt commented on #107
In GitLab by @proyan on Feb 19, 2019, 10:19

mentioned in merge request !105

[2019-11-18 15:27] wxmerkt commented on #107
In GitLab by @cmastalli on Feb 27, 2019, 22:14

Any update regarding this topic?

[2019-11-18 15:27] wxmerkt commented on #107
In GitLab by @nmansard on Feb 28, 2019, 11:17

unassigned @proyan

[2019-11-18 15:27] wxmerkt commented on #107
In GitLab by @proyan on Mar 4, 2019, 12:55

I'll remove the v1.0 milestone, since it looks like https://github.com/stack-of-tasks/pinocchio/issues/671 would take some time.

[2019-11-18 15:27] wxmerkt commented on #107
In GitLab by @proyan on Mar 4, 2019, 12:55

removed milestone

[2019-11-18 15:27] wxmerkt commented on #107
In GitLab by @cmastalli on Jul 15, 2019, 08:49

@proyan any update regarding this task?

[2019-11-18 15:27] wxmerkt commented on #107
In GitLab by @cmastalli on Nov 1, 2019, 10:39

solved!

[2019-11-18 15:27] wxmerkt commented on #107
In GitLab by @cmastalli on Nov 1, 2019, 10:39

closed

[2019-11-18 15:28] #107 closed

[2019-11-18 15:28] wxmerkt opened #108 "Risk on propagating Pinocchio developments"
In GitLab by @cmastalli on Feb 13, 2019, 00:01

I'm very concert with the propagation of new developments of Pinocchio (not for v2.0.0) inside crocoddyl. I understand that this is a painful necessity for crocoddyl, however I believe that this isn't a moment for doing it.

##### 1. We have disable CI jobs.
We have been already waiting a lot of time for Pinocchio v2.0.0 release. Really think that ea

[2019-11-18 15:28] wxmerkt commented on #108
In GitLab by @cmastalli on Feb 13, 2019, 00:03

changed the description

[2019-11-18 15:28] wxmerkt commented on #108
In GitLab by @ostasse on Feb 13, 2019, 06:56

Dear Carlos,
I do believe that this is related to the way we are doing CI on our repository.
Doing this on binary packages on robotpkg can be done only when we reach a stage where all releases are coherent with each other.

The appropriate solution is to have a dockerfile with the appropriate branches and releases of your dependencies.

While working o

[2019-11-18 15:28] wxmerkt commented on #108
In GitLab by @proyan on Feb 13, 2019, 09:47

Discussed orally. We'll continue with the development on devel.

[2019-11-18 15:28] wxmerkt commented on #108
In GitLab by @proyan on Feb 13, 2019, 09:49

closed

[2019-11-18 15:28] wxmerkt commented on #108
In GitLab by @nmansard on Feb 13, 2019, 09:51

Summary: we are based on current developments in Pinocchio, so we cannot have another policy. When adding new functionalities in Pinocchio, remember to not break the API, ie:
1. only add functionalities (new methods) as a rule of thumb.
2. when 1 not possible (i.e you need to change some existing method), unittest the previous API, and do not change o

[2019-11-18 15:28] #108 closed

[2019-11-18 15:28] wxmerkt opened #109 "Tune weights for locomotion 2steps"
In GitLab by @proyan on Feb 13, 2019, 09:48

Tune the weights for the locomotion task with multicontact for exp on robot.

[2019-11-18 15:28] wxmerkt commented on #109
In GitLab by @proyan on Feb 15, 2019, 14:19

Done with !103

[2019-11-18 15:28] wxmerkt commented on #109
In GitLab by @proyan on Feb 15, 2019, 14:19

closed

[2019-11-18 15:28] #109 closed

[2019-11-18 15:28] wxmerkt opened #110 "Updating Pinocchio for faster derivatives"
In GitLab by @jcarpent on Feb 13, 2019, 12:53

Next Monday, I will finish the inclusion of contact derivatives for both forward dynamics and the impact dynamics.
I will also provide new algo to compute the KKT matrix and its inverse very efficiently.

Just to mention that this work has not been published yet, but should appear in the journal version of the analytical derivatives of the rigid body

[2019-11-18 15:28] wxmerkt commented on #110
In GitLab by @nmansard on Feb 13, 2019, 20:38

That is just great, thanks a lot. I am sure that integrating the derivatives in Crocoddyl will help for writing the journal results. Let's decide that we should help you to submit the journal no later than in one month, if you want.

[2019-11-18 15:28] wxmerkt commented on #110
In GitLab by @jcarpent on Feb 14, 2019, 10:12

Yes, integrating them in Crocoddyl will help for sure.
On the other side, I have also my ceres solver which is also fast and generic. We can discuss this point later, next week for instance.

[2019-11-18 15:28] wxmerkt commented on #110
In GitLab by @cmastalli on Feb 27, 2019, 22:12

Any update regarding this topic?

[2019-11-18 15:28] wxmerkt commented on #110
In GitLab by @cmastalli on Mar 26, 2019, 17:09

@jcarpent do you have any update about it?

[2019-11-18 15:28] wxmerkt commented on #110
In GitLab by @cmastalli on Sep 25, 2019, 18:23

closed

[2019-11-18 15:29] #110 closed

[2019-11-18 15:29] wxmerkt opened #111 "Move computations from ActionModelImpact to ImpulseModel6/3D"
In GitLab by @proyan on Feb 13, 2019, 15:45

1) We should choose one of these names: Impulse, or Impact.
2) Currently ActionModelImpact is the equivalent of the IAM, and ImpulseModel6/3D are the equivalent of the DAM.
However, the computations for rollout and derivatives are being done inside ActionModelImpact.

I'm moving them to the ImpulseModel6/3D instead, so the formulation is coherent.

This

[2019-11-18 15:29] wxmerkt commented on #111
In GitLab by @proyan on Feb 13, 2019, 16:25

changed the description

[2019-11-18 15:29] wxmerkt commented on #111
In GitLab by @nmansard on Feb 13, 2019, 20:43

No, you mis-understood I think. ImpactModel is an action model, so similar to IAM, but in fact quite close to DAMFIC indeed: DAMFIC is at the differential level, but there is no such notion with the impact as it is instantaneous. ImpactActionModel is in fact what happen with DAMFIC if you push DT to zero but accept infinite forces (ie you kill any for

[2019-11-18 15:29] wxmerkt commented on #111
In GitLab by @proyan on Feb 14, 2019, 13:57

Yes, I was mistaken. Sorry for the noise, I'll close this now.

[2019-11-18 15:29] wxmerkt commented on #111
In GitLab by @proyan on Feb 14, 2019, 13:57

closed

[2019-11-18 15:29] #111 closed

[2019-11-18 15:29] wxmerkt opened #112 "NumDiff of cost model"
In GitLab by @nmansard on Feb 13, 2019, 20:45

I found an issue with the current implementation: we cannot have stand-alone num-diff of cost models. It would be good to think a little bit and find a design pattern for num-diff of the costs.

In the meantime, it is always possible to num-diff the entire DAM (but this compute the num-diff of both dynamics and costs.

[2019-11-18 15:29] wxmerkt commented on #112
In GitLab by @cmastalli on Feb 15, 2019, 15:16

Could you explain us why we cannot do it?

[2019-11-18 15:29] wxmerkt commented on #112
In GitLab by @proyan on Feb 15, 2019, 15:29

df_dq and df_dx? :D

[2019-11-18 15:29] wxmerkt commented on #112
In GitLab by @proyan on Feb 15, 2019, 16:40

For a solution, take the df_dx and run them on the calc of the model. We can create a class with it perhaps, and anyone interested can borrow from this class. In such a case, the user only has to implement the calc function.

[2019-11-18 15:29] wxmerkt commented on #112
In GitLab by @proyan on Feb 15, 2019, 16:45

or we can add a new function in the base class CostModelPinocchio, calcNumDiff. This way the user can just call calcnumdiff from calcdiff and that should be all.

I prefer this solution. If you can agree, I can implement this.

[2019-11-18 15:29] wxmerkt opened #113 "Parallel processing during the backward pass"
In GitLab by @proyan on Feb 14, 2019, 13:56

This is not a task (yet). I am just reporting on what I did.

I tried the multiprocessing library of python for doing parallel processing of the backward pass. Then I tried the multi-threading library. Neither of these worked, and here is why:
-----------------------------------------
Multiprocessing library uses os.fork() to create new child processes.

[2019-11-18 15:29] wxmerkt commented on #113
In GitLab by @jcarpent on Feb 14, 2019, 14:02

Concerning the Pickling of Pinocchio Data, it would be possible to do it.
I have implemented Pickling for Spatial objects. It is then a matter of continuing this job.

By the way, Pickling Data can be shorten as the creation of a new Data object.

[2019-11-18 15:29] wxmerkt commented on #113
In GitLab by @nmansard on Feb 14, 2019, 14:03

Clearly, we should not go with multiprocess, but with multi thread. If not possible in Python ... too bad.
Could you copy the (failed) test with multithread somewhere for archive?

[2019-11-18 15:29] wxmerkt commented on #113
In GitLab by @cmastalli on Feb 15, 2019, 15:16

Great to report this to us. I tend to think that we should keep this task for c++ implementation. Python for my is more about analysing the scientific computation, instead in c++ we should carefully address the software efficiency (and this kind of things).

[2019-11-18 15:29] wxmerkt commented on #113
In GitLab by @proyan on Feb 18, 2019, 13:29

assigned to @proyan

[2019-11-18 15:29] wxmerkt commented on #113
In GitLab by @nmansard on Feb 19, 2019, 20:36

@proyan is pushing for multiprocess as multithread is not feasible in Python. https://github.com/stack-of-tasks/pinocchio/pull/682 is one step in this direction. WIP.

[2019-11-18 15:29] wxmerkt commented on #113
In GitLab by @nmansard on Feb 28, 2019, 11:17

unassigned @proyan

[2019-11-18 15:29] wxmerkt commented on #113
In GitLab by @nmansard on Mar 4, 2019, 10:56

@proyan tried and it is more complex that expected. As it is not relevant for the C++ version (that will not use multiprocess anyway), we will stop exploring this direction.

@proyan, please record the result of your research here.

[2019-11-18 15:30] wxmerkt commented on #113
In GitLab by @nmansard on Mar 4, 2019, 10:56

closed

[2019-11-18 15:30] wxmerkt commented on #113
In GitLab by @proyan on Mar 4, 2019, 11:48

The report on what I did:

Since multitasking cannot work on python for a CPU-intensive task, I decided to try multiprocessing for the issue. multiprocessing on python requires pickling of the global dict, which requires pickling of pinocchio quantities as well (model and data). I worked on that two weeks ago, and exposed pinocchio::JointData for this pu

[2019-11-18 15:30] #113 closed

[2019-11-18 15:30] wxmerkt opened #114 "Activation runs calc twice ?"
In GitLab by @nmansard on Feb 14, 2019, 14:05

I noticed we are computing calc when computing calcDiff in all activation models. I think this is useless. Am I missing something?

`def calcDiff(model,data,r,recalc=True):`

`    if recalc: model.calc(data,r)`

[2019-11-18 15:30] wxmerkt commented on #114
In GitLab by @nmansard on Feb 14, 2019, 14:05

changed the description

[2019-11-18 15:30] wxmerkt commented on #114
In GitLab by @proyan on Feb 14, 2019, 14:37

recalc is true by default in all the Class models (cost, actuation, DAM, impact, contact...).
I agree, this seems useless.

[2019-11-18 15:30] wxmerkt commented on #114
In GitLab by @cmastalli on Feb 15, 2019, 15:26

This is a extra bit of motivation to work on an abstract API. I really believe we should put more effort on this matter. I am not able to handle each aspect of it.

[2019-11-18 15:30] wxmerkt commented on #114
In GitLab by @nmansard on Feb 28, 2019, 17:23

assigned to @nmansard

[2019-11-18 15:30] wxmerkt commented on #114
In GitLab by @nmansard on Feb 28, 2019, 17:28

mentioned in merge request !117

[2019-11-18 15:30] wxmerkt commented on #114
In GitLab by @nmansard on Feb 28, 2019, 17:29

Solved by !117

[2019-11-18 15:30] wxmerkt commented on #114
In GitLab by @nmansard on Feb 28, 2019, 17:29

closed

[2019-11-18 15:30] wxmerkt commented on #114
In GitLab by @nmansard on Mar 7, 2019, 08:38

mentioned in commit b13eabe804827262597018fdcc8b77cfc46d2337

[2019-11-18 15:30] #114 closed

[2019-11-18 15:30] wxmerkt opened #115 "Length of trajectories vs number of models in the shooting problem"
In GitLab by @proyan on Feb 14, 2019, 15:34

Currently we have asserts (e.g. https://gepgitlab.laas.fr/loco-3d/crocoddyl/blob/devel/crocoddyl/ddp.py#L61) which force the length of the trajectory to be equal to the number of models in the shooting problem.

This is not true if we add impact models at the end of a contact phase. I'm currently working to remove these asserts and solve the other error

[2019-11-18 15:30] wxmerkt commented on #115
In GitLab by @nmansard on Feb 14, 2019, 16:02

I am not sure I properly understand you point.
When you have an impact model, then you have a corresponding x variable ; you also have a u variable (although it has dimension 0).

For example, if your model sequence is [ DAM DAM ImpAM DAM DAM ],term=DAM with for "normal" integrated differential action model, and a impact model in the middle, your sequ

[2019-11-18 15:30] wxmerkt commented on #115
In GitLab by @proyan on Feb 14, 2019, 16:25

Talked orally.
The user should provide trajectories which are consistent with the size of the action models (which means that user should always be aware of the contact sequence, and the time when it happens).

I'll close this issue.

[2019-11-18 15:30] wxmerkt commented on #115
In GitLab by @proyan on Feb 14, 2019, 16:25

closed

[2019-11-18 15:30] #115 closed

[2019-11-18 15:30] wxmerkt opened #116 "Logging the full data"
In GitLab by @proyan on Feb 15, 2019, 13:07

Currently we are only saving the data.cost inside the logger.
I don't see why we can't save directly the shooting.datas after the iteration.
This would be really helpful for debugging purposes.

[2019-11-18 15:31] wxmerkt commented on #116
In GitLab by @cmastalli on Feb 15, 2019, 15:24

We're copying shooting.datas each iterates. Could you explain what do you mean with data.cost?

Callbacks are aim to be flexible, and the user is free to design its own one. We have coded some general purpose callback functions, and it's always possible to have a custom one.

[2019-11-18 15:31] wxmerkt commented on #116
In GitLab by @nmansard on Feb 15, 2019, 15:46

Ok, why not. I suggest to introduce a new call back for that, as I am afraid of the computation cost when copying the data.
The question is: is copy.copy() able to directly copy a ActionData, including the pinocchio data, our should we do some specific implementation for that.

[2019-11-18 15:31] wxmerkt commented on #116
In GitLab by @proyan on Feb 15, 2019, 19:55

pinocchio data would be useful. Currently we would need to enable pickling of the pinocchio data in order to do that, and that might take some time.

Meanwhile, just copying the other data elements might be a good solution.

I would suggest Logging levels, instead of a new callback.

[2019-11-18 15:31] wxmerkt commented on #116
In GitLab by @proyan on Feb 15, 2019, 23:12

I created a PR which makes all elements of pinocchio data copyable. https://github.com/stack-of-tasks/pinocchio/pull/682/files. This should partially help towards this issue and #108

[2019-11-18 15:31] wxmerkt commented on #116
In GitLab by @cmastalli on Feb 18, 2019, 08:12

I agreed with the logging levels. It seems a simpler approach for both: users, developers and maintainers. Just keep in mind that there are action models which doesn't use Pinocchio data.

[2019-11-18 15:31] wxmerkt opened #117 "Logging information for indiviual cost functions"
In GitLab by @cmastalli on Feb 15, 2019, 15:19

I found that it's only possible to get the cost data for the set of cost functions using in an OC problem. However it's very convenient, for debugging and analysing, to get access of each individual derivatives and cost value.

We should figure out a pattern that allows us to do this. Please see a similar topic here: #107.

[2019-11-18 15:31] wxmerkt commented on #117
In GitLab by @nmansard on Feb 15, 2019, 15:45

You already can: define a cost model, create a data by giving the pinocchio data you like (for example the one of the corresponding DAM), and it will work.

[2019-11-18 15:31] wxmerkt commented on #117
In GitLab by @nmansard on Feb 18, 2019, 11:18

I will close this issue as I believe the solution works. Re-open it if need be.

[2019-11-18 15:31] wxmerkt commented on #117
In GitLab by @nmansard on Feb 18, 2019, 11:18

closed

[2019-11-18 15:31] #117 closed

[2019-11-18 15:31] wxmerkt opened #118 "Bug in load hyq when trying to display in GV"
In GitLab by @nmansard on Feb 18, 2019, 11:16

I have a bug when trying to display HyQ in Gepetto Viewer, when using the loadHyQ macros. The error message is below. I am on the branch quadruped-example.

The bug is indeed coming from the path that contains symbolic elements. The DAE plugin is apparently to de-reference them. It is working when removing the symbolic part.

Currently, I by-passed th

[2019-11-18 15:31] wxmerkt commented on #118
In GitLab by @nmansard on Feb 18, 2019, 11:16

[code]

[2019-11-18 15:31] wxmerkt commented on #118
In GitLab by @cmastalli on Feb 18, 2019, 12:56

You need to create by hand *.dae.osgb files. I don't remember exactly how to do it. @nim65s can explain you

[2019-11-18 15:31] wxmerkt commented on #118
In GitLab by @cmastalli on Feb 18, 2019, 12:58

@nim65s do you know the reason why this is happening?

[2019-11-18 15:31] wxmerkt commented on #118
In GitLab by @nim65s on Feb 18, 2019, 14:08

I don't know why this is happening, maybe @jmirabel can help. I workaround the issue in @cmastalli case by following the logs, with something like:
[code]

[2019-11-18 15:31] wxmerkt commented on #118
In GitLab by @jmirabel on Feb 19, 2019, 15:25

No idea why symbolic links do not work. It might be because I never tried myself :) (although I think I did)

Does `osgviewer /home/nmansard/src/crocoddyl/examples/crocoddyl/../examples/hyq_description/meshes/leg/hipassembly.dae` work ?

[2019-11-18 15:31] wxmerkt commented on #118
In GitLab by @cmastalli on Feb 19, 2019, 16:37

@jmirabel  it was working for me something similar (i.e. osgviewer ./examples/hyq_description/meshes/leg/lowerleg.dae).

[2019-11-18 15:31] wxmerkt commented on #118
In GitLab by @nmansard on Feb 19, 2019, 20:08

osgviewer does not accept symlink neither.

[2019-11-18 15:31] wxmerkt commented on #118
In GitLab by @nmansard on Feb 19, 2019, 20:09

@cmastalli could you take care of this bug please? The solution is "simply" to make the path of the HyQ model not depending on any symlink.

[2019-11-18 15:31] wxmerkt commented on #118
In GitLab by @cmastalli on Feb 20, 2019, 09:21

I created a repository for all URDF data. I suppose to have a first release (through robotpkg) this afternoon. After that, I will create a PR where crocoddyl/robot.py parses the data only from there. This should solve this issue too. I created an issue here #118, and WIP PR here !107.

[2019-11-18 15:32] wxmerkt commented on #118
In GitLab by @nmansard on Feb 21, 2019, 17:19

Yes, that is nice. But please patch this error before.

[2019-11-18 15:32] wxmerkt commented on #118
In GitLab by @cmastalli on Feb 23, 2019, 10:13

@nmansard hyq_description is a submodule inside crocoddyl. This PR !107 will fix this bug.

[2019-11-18 15:32] wxmerkt commented on #118
In GitLab by @nmansard on Feb 28, 2019, 11:28

MR !107 cannot be merged before https://gepgitlab.laas.fr/gepetto/example-robot-data/issues/1 . We should either have a very nearby date for solving https://gepgitlab.laas.fr/gepetto/example-robot-data/issues/1 or provide a patch before.

[2019-11-18 15:32] wxmerkt commented on #118
In GitLab by @cmastalli on Mar 7, 2019, 08:45

I will close this issue since we are ready to merge !107. Feel free to open it.

[2019-11-18 15:32] wxmerkt commented on #118
In GitLab by @cmastalli on Mar 7, 2019, 08:45

closed

[2019-11-18 15:32] #118 closed

[2019-11-18 15:32] wxmerkt opened #119 "Single shooting limitations"
In GitLab by @cmastalli on Feb 18, 2019, 12:29

I have been playing significantly with the bipedal and walking examples. For these examples, I just defined a foot desired tracking along with hight penalization in the impact velocities and positions. Furthermore there isn't smart warm point here.

I encountered that our DDP solver is able to solve a solution for a limited number of contact phases:

[2019-11-18 15:32] wxmerkt commented on #119
In GitLab by @cmastalli on Feb 18, 2019, 15:30

mentioned in merge request !104

[2019-11-18 15:32] wxmerkt commented on #119
In GitLab by @nmansard on Feb 27, 2019, 11:24

This is not for v1. Let's discuss this orally, and after relase of v1.

[2019-11-18 15:32] wxmerkt commented on #119
In GitLab by @nmansard on Feb 27, 2019, 11:24

closed

[2019-11-18 15:32] wxmerkt commented on #119
In GitLab by @cmastalli on Feb 28, 2019, 15:23

reopened

[2019-11-18 15:32] wxmerkt commented on #119
In GitLab by @cmastalli on Feb 28, 2019, 15:25

I agree this doesn't belong to v1.0.0. I created a milestone called `Future directions`. I moved it there and changed its status as open.

[2019-11-18 15:32] wxmerkt opened #120 "Make Crocoddyl a Python library"
In GitLab by @nmansard on Feb 18, 2019, 13:11

This implies:
- installing the crocoddyl module
- remove the symbolic link
- test the examples with unittest
- put the locomotion submodule back to crocoddyl

[2019-11-18 15:32] wxmerkt commented on #120
In GitLab by @nmansard on Feb 20, 2019, 10:00

Following the advice of @nim65s , this is what we should do:
- remove the symlinks and call the python script from the root of the repo.
- move locomotion back in croco folder, to make it a submodule. Locomotion object would be used with

`from crocoddyl.locomotion import *`

- move the example / unittest related to locomotion in the example / unittes

[2019-11-18 15:32] wxmerkt commented on #120
In GitLab by @nmansard on Feb 20, 2019, 10:03

For future work, we will make crocoddyl a mixed c++/python package, to be installed by robotpkg. This is what are the additional steps:
- add a src folder where c++ sources are added. Keep crocoddyl folder for python code.
- add a cmakelist, derived from Pinocchio. @nim65s is working on this at low priority. We should have it sometime.
- c++ and pytho

[2019-11-18 15:32] wxmerkt commented on #120
In GitLab by @cmastalli on Feb 23, 2019, 10:08

@nmansard I will add that we need to format all Python files:
 - Sorting Python module inclusion (isort)
 - Linting analyses (e.g flake8)

This is a easy task that can be done automatically using your prefered IDE. However it can create plenty of conflicts during the merge request if we do it in a wrong moment. I would like to do it in order to ship

[2019-11-18 15:32] wxmerkt commented on #120
In GitLab by @nim65s on Feb 23, 2019, 16:46

If you want to add this now, the best is to make on commit / MR just for it. I can do that if you want. After that, I can set it up to be ran in the CI, to enforce those rules to be followed.

[2019-11-18 15:32] wxmerkt commented on #120
In GitLab by @nmansard on Feb 28, 2019, 11:19

assigned to @nmansard

[2019-11-18 15:33] wxmerkt commented on #120
In GitLab by @nmansard on Feb 28, 2019, 11:49

I think we have to conflicting discussion here. This issue is about making crocoddyl a library, not about indenting the code.
@cmastalli please refer to #125 for discussion about indentation, it has nothing to do here.
@nim65s are you proposing to implement the indentation and enforce it? Or is your answer related to the initial topic of making it a l

[2019-11-18 15:33] wxmerkt commented on #120
In GitLab by @nmansard on Feb 28, 2019, 11:50

@proyan if I move the locomotion files this afternoon, is it endangering your local development branch?

[2019-11-18 15:33] wxmerkt commented on #120
In GitLab by @nim65s on Feb 28, 2019, 11:51

I am proposing to implement standard style rules and enforce them, but this has nothing to do with the current issue.

[2019-11-18 15:33] wxmerkt commented on #120
In GitLab by @proyan on Feb 28, 2019, 12:23

@nmansard
I'm okay with moving the locomotion files.

[2019-11-18 15:33] wxmerkt commented on #120
In GitLab by @nmansard on Feb 28, 2019, 16:23

And ... it is not working as expected. We forget the specific case of the notebooks. They will not work anymore without either a symlink to the crocoddyl folder, or a proper installation in a path covered by PYTHONPATH.

@nim65s what would you propose to cope with this issue?

@proyan please let me handle the issue entirely (well, with the advises of

[2019-11-18 15:33] wxmerkt commented on #120
In GitLab by @nmansard on Mar 7, 2019, 13:55

After discussing with @nim65s here is how we will process:

1. I will remove the symlinks as initially decided, except in the notebook subfolder. This is still an expected step for the V1.

2. Later, @nim65s will set up a cmakelist and reorganize the lib, to have a make install that would then allow to generate a robotpkg packet and enable the CI.

[2019-11-18 15:33] wxmerkt commented on #120
In GitLab by @nmansard on Mar 22, 2019, 15:43

mentioned in merge request !147

[2019-11-18 15:33] wxmerkt commented on #120
In GitLab by @nmansard on Mar 22, 2019, 15:43

Solved by !147

[2019-11-18 15:33] wxmerkt commented on #120
In GitLab by @nmansard on Mar 22, 2019, 15:44

closed

[2019-11-18 15:33] wxmerkt commented on #120
In GitLab by @cmastalli on Mar 23, 2019, 02:35

mentioned in commit 77c18f366345eba100bae67fc33f6bed69845e18

[2019-11-18 15:33] wxmerkt commented on #120
In GitLab by @wxmerkt on May 9, 2019, 22:52

Does it make sense to add a `setup.py` for installation via setuptools?

[2019-11-18 15:33] wxmerkt commented on #120
In GitLab by @nim65s on May 9, 2019, 23:55

This library strongly depends on Pinocchio which is not packaged with setuptools, so I don't see much interest in doing so.
Moreover, packaging pure python libraries with setuptools makes sense, but we are going to switch most of the backend to C++, so this will become less straitforward.

Also, I spend most of my time trying to make people avoid using m

[2019-11-18 15:33] wxmerkt commented on #120
In GitLab by @wxmerkt on May 10, 2019, 13:29

Okay, we do have use cases were people have Pinocchio from either robotpkg, source, or ROS and it would make it easier to install PyCrocoddyl from source (I am not suggesting a pip install for the C++ version). Happy to do a local workaround for now./

[2019-11-18 15:33] wxmerkt commented on #120
In GitLab by @nim65s on May 10, 2019, 13:46

Pinocchio & Crocoddyl are using the same CMake submodule, and they are packaged in the same way on robotpkg.

So if you want to install Crocoddyl from source, you can run the usual `mkdir build; cd build; cmake -DCMAKE_INSTALL_PREFIX=… ..; make -j8; make install`. Or you can also use robotpkg for source build & install.

About ROS… You are the expert :P

[2019-11-18 15:33] #120 closed

[2019-11-18 15:33] wxmerkt opened #121 "Force inequality cost"
In GitLab by @proyan on Feb 18, 2019, 13:18

Create an inequailty cost for the force. The goals are:
1) positiveness of the force
2) weighted force cost
3) force inside cone.

[2019-11-18 15:33] wxmerkt commented on #121
In GitLab by @nmansard on Feb 21, 2019, 17:15

removed milestone

[2019-11-18 15:33] wxmerkt commented on #121
In GitLab by @cmastalli on Feb 27, 2019, 22:09

What is the status of this task? @proyan are you working on it?

[2019-11-18 15:33] wxmerkt commented on #121
In GitLab by @proyan on Mar 4, 2019, 15:19

mentioned in merge request !123

[2019-11-18 15:34] wxmerkt commented on #121
In GitLab by @proyan on Mar 4, 2019, 15:20

* !123 implements point 3.
* Since 1. and 2. can be implemented by simply using different activations, I'll close this issue if !123 is merged.

[2019-11-18 15:34] wxmerkt commented on #121
In GitLab by @proyan on Mar 6, 2019, 18:13

closed

[2019-11-18 15:34] #121 closed

[2019-11-18 15:34] wxmerkt opened #122 "Deprecated `DifferentialActionModelActuated` and `DifferentialActionDataActuated` classes"
In GitLab by @cmastalli on Feb 19, 2019, 09:35

These are legacy classes that they're not used any more. @nmansard noticed in this PR !96.

[2019-11-18 15:34] wxmerkt commented on #122
In GitLab by @cmastalli on Feb 19, 2019, 09:36

mentioned in merge request !96

[2019-11-18 15:34] wxmerkt commented on #122
In GitLab by @nmansard on Mar 6, 2019, 17:18

assigned to @nmansard

[2019-11-18 15:34] wxmerkt commented on #122
In GitLab by @nmansard on Mar 6, 2019, 21:01

mentioned in merge request !127

[2019-11-18 15:34] wxmerkt commented on #122
In GitLab by @nmansard on Mar 6, 2019, 21:05

Solved by !127

[2019-11-18 15:34] wxmerkt commented on #122
In GitLab by @nmansard on Mar 6, 2019, 21:05

closed

[2019-11-18 15:34] wxmerkt commented on #122
In GitLab by @nmansard on Mar 6, 2019, 21:18

mentioned in merge request !128

[2019-11-18 15:34] #122 closed

[2019-11-18 15:34] wxmerkt opened #123 "Reading robot data from example-robot-data"
In GitLab by @cmastalli on Feb 20, 2019, 09:14

I have created a repository that contains all robot URDFs (see here https://gepgitlab.laas.fr/gepetto/example-robot-data). The milestone idea is to collect a reasonable among of robots used for examples in crocoddyl (or any other repository).

After having a binary release, we need to parse (robot.py) the URDFs and SRDFs only from this repository.

[2019-11-18 15:34] wxmerkt commented on #123
In GitLab by @nmansard on Feb 28, 2019, 15:53

@cmastalli proposed to use this issue as a way to solve #113. I don't care which one, but one of the two issues should be handle as a priority task. @cmastalli: choose which one and solve it.

[2019-11-18 15:34] wxmerkt commented on #123
In GitLab by @cmastalli on Feb 28, 2019, 15:58

I vote to make this as priority! The other options will require more time and probably looking for a bug in gepetto-viewer software.

[2019-11-18 15:34] wxmerkt commented on #123
In GitLab by @nmansard on Feb 28, 2019, 16:00

Ok. Then please deliver by tomorrow night.

[2019-11-18 15:34] wxmerkt commented on #123
In GitLab by @nmansard on Feb 28, 2019, 16:02

And to say it once more: fix the example-data package before introducing it to crocoddyl.

[2019-11-18 15:34] wxmerkt commented on #123
In GitLab by @cmastalli on Feb 28, 2019, 17:56

assigned to @cmastalli

[2019-11-18 15:34] wxmerkt commented on #123
In GitLab by @cmastalli on Feb 28, 2019, 17:58

This should be done before tomorrow noon.

/spend 1d

[2019-11-18 15:34] wxmerkt commented on #123
In GitLab by @cmastalli on Feb 28, 2019, 17:59

changed due date to February 01, 2019

[2019-11-18 15:35] wxmerkt commented on #123
In GitLab by @cmastalli on Mar 7, 2019, 12:41

Done in !107.

[2019-11-18 15:35] wxmerkt commented on #123
In GitLab by @cmastalli on Mar 7, 2019, 12:41

closed

[2019-11-18 15:35] #123 closed

[2019-11-18 15:35] wxmerkt opened #124 "Add log files to compare example runs with previous version"
In GitLab by @nmansard on Feb 20, 2019, 10:24

[2019-11-18 15:35] wxmerkt commented on #124
In GitLab by @nmansard on Feb 21, 2019, 17:00

I added the logs. It would be nice to have them integrated for a true test. Later

[2019-11-18 15:35] wxmerkt commented on #124
In GitLab by @nmansard on Feb 21, 2019, 17:00

closed

[2019-11-18 15:35] wxmerkt commented on #124
In GitLab by @nmansard on Mar 22, 2019, 15:44

Humm ... wrong closed here. I reopen.

[2019-11-18 15:35] wxmerkt commented on #124
In GitLab by @nmansard on Mar 22, 2019, 15:44

reopened

[2019-11-18 15:35] wxmerkt commented on #124
In GitLab by @nmansard on Mar 22, 2019, 15:44

assigned to @nim65s and unassigned @nmansard

[2019-11-18 15:35] wxmerkt commented on #124
In GitLab by @nim65s on Mar 26, 2019, 12:19

cf https://gepgitlab.laas.fr/gsaurel/crocoddyl/merge_requests/2

[2019-11-18 15:35] wxmerkt commented on #124
In GitLab by @cmastalli on Apr 18, 2019, 08:39

The log files were added, we just need to assert them. The latter is reported in #142, so I will close this issue.

[2019-11-18 15:35] wxmerkt commented on #124
In GitLab by @cmastalli on Apr 18, 2019, 08:39

closed

[2019-11-18 15:35] #124 closed

[2019-11-18 15:35] wxmerkt opened #125 "Defining a proper disturbance value"
In GitLab by @cmastalli on Feb 20, 2019, 14:49

We have hard-coded a disturbance value (1e-5) for each piece of code that applies numerical differentiation. You can see this in the following classes:
 - `ActionModelNumDiff`
 - `CostModelNumDiff`
 - `DifferentialActionModelNumDiff`

Despite this value produces reasonable good estimation of the derivatives is not the most effective value. Let me exp

[2019-11-18 15:35] wxmerkt commented on #125
In GitLab by @cmastalli on Feb 20, 2019, 15:19

mentioned in commit f8f0bebf8e6032dba7edebcc9e425d5747aec478

[2019-11-18 15:35] wxmerkt commented on #125
In GitLab by @cmastalli on Feb 20, 2019, 15:24

mentioned in merge request !109

[2019-11-18 15:35] wxmerkt commented on #125
In GitLab by @cmastalli on Feb 20, 2019, 15:26

We can close this issue after merging !109.

[2019-11-18 15:35] wxmerkt commented on #125
In GitLab by @cmastalli on Feb 20, 2019, 16:50

mentioned in commit 46aaa2a8192e7aa5c7024e1a36d97a05c161bcba

[2019-11-18 15:35] wxmerkt commented on #125
In GitLab by @nmansard on Feb 21, 2019, 17:14

removed milestone

[2019-11-18 15:36] wxmerkt commented on #125
In GitLab by @cmastalli on Feb 23, 2019, 17:27

mentioned in commit a3d5e91c4a351956a0075510a4675d5413c9846d

[2019-11-18 15:36] wxmerkt commented on #125
In GitLab by @nmansard on Feb 27, 2019, 14:59

Related to #126

[2019-11-18 15:36] wxmerkt commented on #125
In GitLab by @nmansard on Mar 6, 2019, 15:19

Related to #133

[2019-11-18 15:36] wxmerkt commented on #125
In GitLab by @nmansard on Mar 6, 2019, 15:19

closed

[2019-11-18 15:36] #125 closed

[2019-11-18 15:36] wxmerkt opened #126 "Some issues regarding the examples in Gepetto class"
In GitLab by @cmastalli on Feb 21, 2019, 13:31

These are little points to improve in our Jupyter notebooks:
 1. The total mass  of the cartpole isn't described in the notebook.
 2. DAMABA is doing an useless computation of Minv.
 3. Added the solution for printing Fx and Fu (cartpole_sol).
 4. costWeights are not used in the cartpole example.
 5. Removed _sol.ipynb

[2019-11-18 15:36] wxmerkt commented on #126
In GitLab by @cmastalli on Feb 21, 2019, 13:37

changed the description

[2019-11-18 15:36] wxmerkt commented on #126
In GitLab by @cmastalli on Feb 21, 2019, 14:06

changed the description

[2019-11-18 15:36] wxmerkt commented on #126
In GitLab by @nmansard on Feb 21, 2019, 14:32

1,3,4: solved

[2019-11-18 15:36] wxmerkt commented on #126
In GitLab by @nmansard on Feb 21, 2019, 14:35

mentioned in merge request !111

[2019-11-18 15:36] wxmerkt commented on #126
In GitLab by @nmansard on Feb 21, 2019, 15:26

See !111

[2019-11-18 15:36] wxmerkt commented on #126
In GitLab by @cmastalli on Feb 21, 2019, 16:05

mentioned in commit 81cfb617a81f1108a9833f7ca207647fbbcb8182

[2019-11-18 15:36] wxmerkt commented on #126
In GitLab by @cmastalli on Feb 21, 2019, 16:19

changed the description

[2019-11-18 15:36] wxmerkt commented on #126
In GitLab by @nmansard on Feb 21, 2019, 17:00

closed

[2019-11-18 15:36] wxmerkt commented on #126
In GitLab by @nmansard on Feb 26, 2019, 16:21

mentioned in commit 26294de8961f2db1d443a31cb71cd23977ba82f2

[2019-11-18 15:36] #126 closed

[2019-11-18 15:36] wxmerkt opened #127 "Redundant computations in example"
In GitLab by @gbuondon on Feb 21, 2019, 14:09

In the example `introduction_to_crocoddyl`, class `DifferentialActionModelABA`, function `calcDiff`, you are doing `pinocchio.computeABADerivatives` and then `pinocchio.computeMinverse`.
In fact, I believe the second call is redundant. `pinocchio.computeABADerivatives` already fills `data.Minv`

[2019-11-18 15:36] wxmerkt commented on #127
In GitLab by @nmansard on Feb 21, 2019, 14:27

Related to #89

[2019-11-18 15:36] wxmerkt commented on #127
In GitLab by @cmastalli on Feb 23, 2019, 18:58

assigned to @cmastalli

[2019-11-18 15:37] wxmerkt commented on #127
In GitLab by @cmastalli on Feb 23, 2019, 19:02

mentioned in merge request !112

[2019-11-18 15:37] wxmerkt commented on #127
In GitLab by @cmastalli on Feb 23, 2019, 19:02

Nice to catch out this inefficiency. I also detected it inside `DifferentialActionModelFullyActuated` class. We can close this issue after merging !112.

[2019-11-18 15:37] wxmerkt commented on #127
In GitLab by @nmansard on Feb 27, 2019, 09:08

Thanks @gbuondon for pointing this issue.
If you want to go through the code and check that no other redundant computations are set, please be my guest :)

[2019-11-18 15:37] wxmerkt commented on #127
In GitLab by @nmansard on Feb 27, 2019, 09:08

closed

[2019-11-18 15:37] #127 closed

[2019-11-18 15:37] wxmerkt opened #128 "Numerical differentiation (or analitycal one) seems to be wrong for the Floating in Contact DAM"
In GitLab by @cmastalli on Feb 23, 2019, 18:35

I was analyzing a bit the effect of disturbance values for the numerical computation of derivatives. And I found a huge error in the computation of Fx, Lx and Lxx. Unfortunately we don't have unit-test for NumDiff withi this problem. I have attached the code which I used for it
[test_floating_contact_numdiff.py](/uploads/f7d7d71d9b21d138e7a7b1af2fec2

[2019-11-18 15:37] wxmerkt commented on #128
In GitLab by @cmastalli on Feb 23, 2019, 18:35

mentioned in merge request !109

[2019-11-18 15:37] wxmerkt commented on #128
In GitLab by @cmastalli on Feb 23, 2019, 18:52

changed the description

[2019-11-18 15:37] wxmerkt commented on #128
In GitLab by @nmansard on Feb 27, 2019, 09:01

What is this bug and how is it related to !109? Does it mean that !109 cannot be merged? Are you 100% confident that there is no other bugs related to !109 that are hidden somewhere?
Again, I am very reluctant to commit this changes, as the ratio benefit over time-cost and risk is very high. I want a strong commitment that it *is* working, and I am af

[2019-11-18 15:37] wxmerkt commented on #128
In GitLab by @cmastalli on Feb 27, 2019, 09:23

@nmansard this probably bug is orthogonal (i.e. unrelated) to !109, you can merge it. That PR fixed some few problems with the unit-test and modify the default disturbance value.

Instead I tried different disturbance values (not using default one) for both DAMFullyActuated and DAMFloatingInContact. I did it in order to understand the numerical error

[2019-11-18 15:37] wxmerkt commented on #128
In GitLab by @proyan on Feb 27, 2019, 09:49

I checked and this is not a bug. The problem is in your code.
You are using a random state to check the numdiff of floatingincontact. This won't work. You need to account for the shape of the manifold.

[2019-11-18 15:37] wxmerkt commented on #128
In GitLab by @proyan on Feb 27, 2019, 09:49

I'll close this. Feel free to open it if the issue persists.

[2019-11-18 15:37] wxmerkt commented on #128
In GitLab by @proyan on Feb 27, 2019, 09:49

closed

[2019-11-18 15:37] wxmerkt commented on #128
In GitLab by @cmastalli on Feb 27, 2019, 09:51

@proyan thanks a lot. Could you share the modified code here? I would like to try it and it's nice to share here for future references.

[2019-11-18 15:37] wxmerkt commented on #128
In GitLab by @proyan on Feb 27, 2019, 09:53

Just use state.rand instead of np.rand to generate the random states.

[2019-11-18 15:37] #128 closed

[2019-11-18 15:37] wxmerkt opened #129 "Maintaining a clean git tree"
In GitLab by @nmansard on Feb 27, 2019, 12:02

Don't push on origin! Please, stop pushing new branches on the main repo. You have your own forks for that.

When possible, rebase your MR. If you are the developers of two simultaneous MR, try to rank them by priority so that they are merge one after the other, with one depending on the other (do it when it is evidently easy).

This is a tree, not a

[2019-11-18 15:38] wxmerkt commented on #129
In GitLab by @cmastalli on Feb 27, 2019, 12:23

I moved all my branches inside origin to my own fork. If you want to clean up your local copy do:
`git fetch -p`.

[2019-11-18 15:38] wxmerkt commented on #129
In GitLab by @cmastalli on Feb 27, 2019, 22:09

I removed all branches and now everything is cleaned. I will close this issue. Feel free to open it if it's needed.

[2019-11-18 15:38] wxmerkt commented on #129
In GitLab by @cmastalli on Feb 27, 2019, 22:09

closed

[2019-11-18 15:38] #129 closed

[2019-11-18 15:38] wxmerkt opened #130 "Formatting the crocoddyl library, examples and apps (i.e. every single line of code)"
In GitLab by @cmastalli on Feb 27, 2019, 12:30

We need to clean up the format inside our library. This task can be achieved by running a console command for each file inside crocoddyl. It will take few minutes of seconds.

I plan to use yapf for that (tool that @nim65s is using). The only important thing is I need to agree a time for doing with you (@proyan and @nmansard). **I propose to do it th

[2019-11-18 15:38] wxmerkt commented on #130
In GitLab by @cmastalli on Feb 27, 2019, 12:31

mentioned in merge request !113

[2019-11-18 15:38] wxmerkt commented on #130
In GitLab by @cmastalli on Feb 27, 2019, 12:32

unassigned @nmansard

[2019-11-18 15:38] wxmerkt commented on #130
In GitLab by @cmastalli on Feb 28, 2019, 12:48

If you have any opinion/suggestion regarding reformatting please let me know asap. I want to avoid unnecessary extra work for anyone.

[2019-11-18 15:38] wxmerkt commented on #130
In GitLab by @nmansard on Feb 28, 2019, 14:05

@nim65s proposed to handle this one, and add CI to assert it in the future. I suggest to let him handle it.

[2019-11-18 15:38] wxmerkt commented on #130
In GitLab by @cmastalli on Mar 1, 2019, 10:45

assigned to @nim65s

[2019-11-18 15:38] wxmerkt commented on #130
In GitLab by @cmastalli on Mar 1, 2019, 10:46

sounds great to me.

@nim65s could you let us know when you plan to do it? (if that possible)

[2019-11-18 15:38] wxmerkt commented on #130
In GitLab by @nim65s on Mar 1, 2019, 12:52

I will do this today

[2019-11-18 15:38] wxmerkt commented on #130
In GitLab by @cmastalli on Mar 4, 2019, 09:33

@nim65s Before deciding you will take this task, I have cleaned formatted the ddp.py filed. Additionally, I improved slightly the documentation. You can see this commit these changes in topics/format branch.

I suggested that you take changes from that branch whenever you decide to do this task.

[2019-11-18 15:38] wxmerkt commented on #130
In GitLab by @nim65s on Mar 4, 2019, 09:39

I decided to do this task Friday, but tests where not passing, and I will not touch anything until tests are not passing :P

[2019-11-18 15:38] wxmerkt commented on #130
In GitLab by @cmastalli on Mar 4, 2019, 09:46

Yes, that was right. I created a PR (last Friday !121) that should solve this issue. @nmansard have to review it.

The problem is some tolerance values were too hight. NumDiff unit-test errors depends on the disturbance value, function to derive, and its value. They were passing but whenever someone changes the crocoddyl code, the random function can

[2019-11-18 15:38] wxmerkt commented on #130
In GitLab by @nmansard on Mar 7, 2019, 13:58

We have an open issue with the test costs #139. However, this test is patched and is working. I think you can use the current all.py if uncommenting all the tests lines 5 to 19.

[2019-11-18 15:38] wxmerkt commented on #130
In GitLab by @nim65s on Mar 11, 2019, 13:01

mentioned in merge request !137

[2019-11-18 15:38] wxmerkt commented on #130
In GitLab by @nmansard on Mar 22, 2019, 15:47

This can be finalized once #153 is solved.

[2019-11-18 15:38] wxmerkt commented on #130
In GitLab by @nim65s on Apr 5, 2019, 17:30

mentioned in commit d42e2654ebabf92d7bc7b693158987459274bf07

[2019-11-18 15:39] wxmerkt commented on #130
In GitLab by @cmastalli on Apr 18, 2019, 08:36

This issues was tackled in !137.

[2019-11-18 15:39] wxmerkt commented on #130
In GitLab by @cmastalli on Apr 18, 2019, 08:36

closed

[2019-11-18 15:39] #130 closed

[2019-11-18 15:39] wxmerkt opened #131 "Unittest are not passing any more ... numdiff errors !"
In GitLab by @nmansard on Feb 27, 2019, 14:15

mansard@koyasan:unittest [15:14] ipython test_costs.py -i
Python 2.7.12 (default, Nov 12 2018, 14:36:49)
Type "copyright", "credits" or "license" for more information.

IPython 5.8.0 -- An enhanced Interactive Python.
?         -> Introduction and overview of IPython's features.
%quickref -> Quick reference.
help      -> Python's own help system.
obje

[2019-11-18 15:39] wxmerkt commented on #131
In GitLab by @nmansard on Feb 27, 2019, 14:15

And by the way, this is not what I meant by "strong commitment that it is actually working".

[2019-11-18 15:39] wxmerkt commented on #131
In GitLab by @cmastalli on Feb 27, 2019, 15:40

uhm ... weird!!
I just try in devel branch and it's working well in my PC; I'm using Numpy v1.16.1 and EigenPy v1.5.0

@nmansard could you provide extra information about your setup? (i.e. name of branch, Numpy and EigenPy versions).

**I tried 100 times in my PC without any failure**

[2019-11-18 15:39] wxmerkt commented on #131
In GitLab by @cmastalli on Feb 27, 2019, 15:44

@proyan could you try this in your PC too (devel branch)? Remember to uncomment lines inside unittest/all.py.

Please also let me know your setup.

[2019-11-18 15:39] wxmerkt commented on #131
In GitLab by @nmansard on Feb 27, 2019, 20:51

I have eigenpy 1.4.4 from robotpkg, and numpy 1.15.4 from pip.

I don't need to run many times, but just once: it is failing at every single try.

[2019-11-18 15:39] wxmerkt commented on #131
In GitLab by @cmastalli on Feb 27, 2019, 22:08

I have looked for different explanations of this. From one side, EigenPy v1.5.0 provides a support for Numpy Array, and from another side, Numpy v1.16.0 has fixed plenty of bugs that aren't clearly reported here (https://docs.scipy.org/doc/numpy/release.html).

I would like that you first try if the errors disappears when you only update EigenPy to 1

[2019-11-18 15:39] wxmerkt commented on #131
In GitLab by @nmansard on Feb 28, 2019, 11:12

I have eigenpy 1.4.4 from robotpkg, and numpy 1.15.4 from pip.

I don't need to run many times, but just once: it is failing at every single try.

[2019-11-18 15:39] wxmerkt commented on #131
In GitLab by @proyan on Feb 28, 2019, 12:33

The unittests work for me.
*  Eigenpy: Current devel at c524d8e54ed3505671b89c88500653fd36c32819
*  Numpy: 1.11.0

iter 	 cost 	      theta 	    gamma 	  muV 	      muLM 	 alpha

   0  1.56734e+03  4.44481e+03  1.93281e+04  1.00000e-02  1.00000e-02  1.0000

   1  4.92685e+02  8.89079e+01  1.83517e+03  1.00000e-03  1.00000e-03  1.0000

   2  2.05571e+02

[2019-11-18 15:39] wxmerkt commented on #131
In GitLab by @nmansard on Feb 28, 2019, 12:47

could you be more specific: which test passes?

[2019-11-18 15:39] wxmerkt commented on #131
In GitLab by @proyan on Feb 28, 2019, 12:55

I am running all the tests via all.py (I uncomment the tests before this time :))

I see that you posted this issue for test_costs. I ran it separately, and don't have an issue with the test.

[2019-11-18 15:39] wxmerkt commented on #131
In GitLab by @proyan on Feb 28, 2019, 12:57

The file test_costs only has 416 lines. Why do you get an assertion error at line 420?

[2019-11-18 15:39] wxmerkt commented on #131
In GitLab by @cmastalli on Feb 28, 2019, 12:59

I have noticed the same @proyan. Very important point

[2019-11-18 15:39] wxmerkt commented on #131
In GitLab by @nmansard on Feb 28, 2019, 13:02

i have added a test for linear velocity.
When I run on devel, I got the error on line 388, and it is the same error.

[2019-11-18 15:39] wxmerkt commented on #131
In GitLab by @nmansard on Feb 28, 2019, 14:01

I pushed the linear velocity in case you are interested !115

[2019-11-18 15:39] wxmerkt commented on #131
In GitLab by @nmansard on Feb 28, 2019, 14:02

It might come from changes in eigenpy. @cmastalli could you try with eigenpy master (apt installed) and pinocchio devel?

[2019-11-18 15:40] wxmerkt commented on #131
In GitLab by @cmastalli on Feb 28, 2019, 15:52

@nmansard This is the setup that I have and it works. EigenPy master is same as v1.5.0.

[2019-11-18 15:40] wxmerkt commented on #131
In GitLab by @nmansard on Feb 28, 2019, 16:00

I upgraded my eigenpy to version 1.5.0. I am still on the head of pinocchio devel. I upgraded my numpy to 1.16.2. I still cannot pass the test.

@cmastalli you introduced it despite my observations, could you please fix it?

[2019-11-18 15:40] wxmerkt commented on #131
In GitLab by @cmastalli on Mar 1, 2019, 08:53

@nmansard please push your branch. I will check myself.

[2019-11-18 15:40] wxmerkt commented on #131
In GitLab by @nmansard on Mar 6, 2019, 13:09

I have the same error in the virtual box of the class

`python unittest/test_costs.py
Traceback (most recent call last):
  File "unittest/test_costs.py", line 422, in <module>
    assert( norm(data.Fx-dnum.Fx) < 1e2*mnum.disturbance )
AssertionError
`

[2019-11-18 15:40] wxmerkt commented on #131
In GitLab by @cmastalli on Mar 6, 2019, 13:42

I have looked more about this problem. I saw the follows:
 1. Original the tolerance was $`\sqrt{1e-5}*10\approx 3.16e-2`$. This was the code `assert( norm(data.Fx-dnum.Fx) < np.sqrt(mnum.disturbance)*10 )`. I supposed you add that value.
 2. Then I changed the tolerance value to $`\sqrt{eps}*1e2\approx 1.49e-06`$ (in my PC). You can find the change h